// Default breakpoints from Frontend
$mq-breakpoints: ( mobile: 320px, mobileLandscape: 480px, phablet: 660px, tablet: 740px, desktop: 980px, leftCol: 1140px, wide: 1300px);
@import 'shared/_imports';
// .fc-container {
//     background-color: #333;
// }
// .fc-container__header__title {
//     color: #dcdcdc;
// }
// .fc-container__inner {
//     border-top: solid 0.0625rem #757575!important;
// }
#beyond-the-blade.fc-container {
    padding-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #fff;
    .facia-snap {
        overflow: hidden;
        @include mq($until: leftCol) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .beyond-the-blade-header__wrapper {
        width: 100%;
        background-color: #333;
    }
}

.blade-header {
    &--wrapper {
        background-color: #161616;
        padding: 0 20px;
        height: 330px;
        @include mq($until: desktop) {
            height: 300px;
        }
        @include mq($until: tablet) {
            height: auto;
        }
        @include mq($until: mobileLandscape) {
            padding-left: 10px;
            padding-right: 10px;
        }
        svg {
            position: absolute;
            right: -100px;
            top: -15px;
            transform: scale(1, 1);
            @include mq($until: desktop) {
                top: -43px;
                right: -146px;
                transform: scale(.85, .85);
            }
            @include mq($until: tablet) {
                display: none;
            }
        }
        h3 {
            color: #fff;
            font-size: 20px;
            margin: 0;
            padding: 10px 0 0 10px;
            border-left: solid 1px #fff;
            font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
            font-weight: 600;
        }
    }
    &--copy {
        margin: 30px 0 0 240px;
        width: 520px;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
        @include mq($until: wide) {
            margin-left: 240px;
        }
        @include mq($until: wide) {
            margin-left: 160px;
        }
        @include mq($until: leftCol) {
            margin-left: 0px;
        }
        @include mq($until: desktop) {
            width: 460px;
        }
        @include mq($until: tablet) {
            width: 100%;
            margin: 20px 0px 0px;
            padding-bottom: 30px;
        }
        h2 {
            color: #DCDCDC;
            font-weight: 600;
            font-size: 35px;
            line-height: 35px;
            margin: 0;
            @include mq($until: desktop) {
                font-size: 30px;
                line-height: 30px;
            }
            @include mq($until: phablet) {
                font-size: 25px;
                line-height: 25px;
            }
            span {
                color: #FF5B3A;
            }
            &:nth-of-type(2) {
                margin: 5px 0 10px 130px;
                @include mq($until: phablet) {
                    margin-left: 80px;
                }
                @include mq($until: tablet) {
                    margin-left: 0px;
                }
            }
        }
        p {
            font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
            color: #dcdcdc;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 15px;
            @include mq($until: desktop) {
                font-size: 14px;
                line-height: 20px;
            }
        }
        &__CTA {
            display: inline-block;
            color: #FF5B3A;
            border: 1px solid #FF5B3A;
            border-radius: 25px;
            padding: 0px 3px 0px 13px;
            &:after {
                height: 30px;
                width: 30px;
                content: '';
                display: block;
                float: right;
                margin-top: -2px;
                margin-left: 0px;
                background-image: url('https://uploads.guim.co.uk/2017/03/06/arrow-red.svg');
                background-size: 50%;
                background-position: center center;
                background-repeat: no-repeat;
            }
            &:hover {
                background-color: #FF5B3A;
                & p {
                    color: #161616;
                }
                &:after {
                    height: 30px;
                    width: 30px;
                    content: '';
                    display: block;
                    float: right;
                    margin-top: -2px;
                    margin-left: 0px;
                    background-image: url('https://uploads.guim.co.uk/2017/03/06/arrow-black.svg');
                    background-size: 50%;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
            &:hover p {}
        }
        a {
            text-decoration: none;
        }
        &__CTA p {
            color: #FF5B3A;
            display: inline-block;
            margin: 0;
            margin-top: 3px;
            font-size: 14px;
            font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 600;
        }
    }
}
