// Default breakpoints from Frontend
$mq-breakpoints: ( mobile: 320px,
mobileSneaky: 375px,
mobileLandscape: 480px,
phablet: 660px,
tablet: 740px,
desktop: 980px,
leftCol: 1140px,
wide: 1300px);

@import 'shared/_imports';


@include base(close-encounters-header, #240D12);
#close-encounters-header {
    padding-top: 0;
}


#virtual-reality.fc-container {
    overflow: hidden;
    background: #333;
    .facia-snap {
        overflow: hidden;
        @include mq($until: leftCol) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}


.vr-app-launch-update__wrapper {
    width: 100%;
    background: #000;
    background-image: url('@@assetPath@@/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include mq($until: phablet) {
        background-image: none;
    }
}

#close-encounters-header-inner {
    position: relative;
    height: 190px;
    width: 100%;
    @include mq($until: desktop) {
        height: 150px;
    }
    @include mq($until: phablet) {
        height: 300px;
    }
    @include mq($until: mobileLandscape) {
        height: 345px;
    }
    @include mq($until: mobileSneaky) {
        height: 345px;
    }
    font-family: 'Guardian Egyptian Web',
    serif;
    color: #fff;
    .logo {
        position: absolute;
        top: 10px;
        left: 19px;
        transform-origin: top left;
        transform: scale(0.80); // @include mq($until: desktop) {
        //     transform-origin: top left;
        //     transform: scale(0.85);
        // }
        @include mq($until: phablet) {
            left: 12px;
        }

        @include mq($until: mobileSneaky) {
            transform: scale(0.70);
        }
    }
    .logo-cardboard {
        position: absolute;
        bottom: 10px;
        left: 19px;

        img {
            width: 45px;
        }
        @include mq($until: phablet) {
            display: none
        }
    }
    .subscribe {
        width: 232px;
        position: absolute;
        left: 980px;

        @include mq($until: wide) {
            left: 900px;
        }
        @include mq($until: leftCol) {
            left: 740px;
        }
        @include mq($until: desktop) {
            left: 560px;
            width: 200px;
            transform-origin: top left;
            transform: scale(0.9);
        }
        @include mq($until: tablet) {
            left: auto;
            right: 3px;
            transform-origin: top left;
            transform: scale(0.9);
        }
        @include mq($until: phablet) {
            left: 10px;
            top: 200px;
            width: 100%;
            transform: scale(1);
            width: 56%;
        }
        @include mq($until: mobileLandscape) {
            top: 240px;
            width: 80%;
        }
        @include mq($until: mobileSneaky) {
            top: 240px;
            width: 90%;
        }
        top: 10px; // color: #CC8F79;
        &__headline {
            color: #D9D5DB;
            font-size: 24px;
            font-weight: 600;
            line-height: 20px;
            padding-bottom: 4px; // color: #F7E4D5;
            @include mq($until: mobileSneaky) {
                font-size: 20px;
                line-height: 15px;
            }
        }
        &__strap {
            line-height: 20px;
        }
        &__option {
            font-size: 16.5px;
            font-weight: 700;
            padding-left: 23px;
            position: relative;
            display: block;
            line-height: 24px;
            height: 24px;
            color: #43C6E1;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 3px;
                left: 0;
                width: 18px;
                height: 18px;
                background-image: url(@@assetPath@@/arrow.svg);
                background-repeat: no-repeat;
            }
        }
        &__google_play {
            display: none;
        }
    }

    .visible {
        opacity: 1!important;
    }

    .hidden {
        opacity: 0;
    }

    .invisible {
        display: none;
        position: absolute;
        top: 30px;
        left: 260px;
        width: 600px;
        height: 125px;
    }
    .description {
        position: absolute;
        top: 12px;
        left: 260px;
        width: 600px;
        height: 125px;
        @include mq($until: wide) {
            left: 180px;
        }
        @include mq($until: leftCol) {}
        @include mq($until: desktop) {
            transform: scale(0.7);
            transform-origin: top left;
        }
        @include mq($until: phablet) {
            left: 10px;
            top: 45px;
            transform: scale(0.95);
        }
        @include mq($until: mobileLandscape) {
            left: 9px;
            top: 43px;
            transform: scale(0.84);
            width: 100%;
        }
        @include mq($until: mobileSneaky) {
            left: 9px;
            top: 45px;
            transform: scale(.81);
            width: 100%;
        }
        &__word {
            position: absolute;
            font-size: 44px;
            line-height: 46px;
            font-family: Guardian Sans Web;
            margin-top: -5px;
            font-weight: lighter;
            z-index: 10;
            opacity: 0;
            animation-name: fadeIn;
            animation-duration: 1800ms;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
        .full-tone {
            color: #fff;

            span {
                color: #43C6E1;
            }
            .big-link {
                text-decoration: none;
            }
        }
        .mid-tone {
            color: #8D8294;
        }
        .light-tone {
            color: #675970;
        }
        .visible {
            .honest {
                top: 0px;
                left: 70px;
                animation-delay: 2000ms;
                @include mq($until: tablet) {
                    left: 0px;
                }
            }
            .unguarded {
                top: 38px;
                left: 220px;
                animation-delay: 3300ms;
                @include mq($until: desktop) {
                    left: 120px;
                }
                @include mq($until: tablet) {
                    left: 0;
                }
            }
            .conversations {
                top: 76px;
                left: 100px;
                animation-delay: 4300ms;
                @include mq($until: desktop) {
                    left: 60px;
                }
                @include mq($until: tablet) {
                    left: 0;
                }
            }
            .about {
                top: 114px;
                left: 220px;
                animation-delay: 5300ms;
                @include mq($until: desktop) {
                    left: 120px;
                }
                @include mq($until: tablet) {
                    left: 0;
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes connectLogo {
    0% {
        left: 9px;
    }
    100% {
        left: -9px;
    }
}

@font-face {
    font-family: 'Guardian Sans Web';
    src: url('https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands1thi-webfont.woff2') format('woff2'),
    url('https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands1thi-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}