// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'components/guss-colours/_colours';
@import 'components/pasteup-palette/src/_palette';
@import 'components/sass-mq/_mq';
