// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-background: #2b3a42;
$c-text: #333;
$c-accent: #f4e225;
$c-accent-dark: #fbae15;

@import 'shared/_imports';

@include base(keep-it-in-the-ground, $c-background);

.fc-container--first.fc-container--thrasher {
    padding-top: 0;
}

.keep-it-in-the-ground-header__wrapper {
    position: relative;
    width: 100%;

    @include mq(desktop) {
        display: table;
        table-layout: fixed;
    }
}

.keep-it-in-the-ground-header__content {
    position: relative;
    background: $c-background;

    @include mq(desktop) {
        width: 320px;
        display: table-cell;
        vertical-align: top;
    }
}

.keep-it-in-the-ground-header__image {
    background-image: url("@@assetPath@@/bg.jpg");
    width: 100%;
    background-size: 130%;
    background-position: center top;
    padding-top: 42%;
    height: 0;
    background-size: 110%;

    @include mq($until: tablet) {
        padding-left: 20px;
        margin-left: -10px;
    }

    @include mq(phablet) {
        height: 300px;
        padding-top: 0;
    }

    @include mq(desktop) {
        display: table-cell;
        height: 500px;
        background-size: 130%;
    }
}

.keep-it-in-the-ground-header__copy {
    position: absolute;
    top: 0px;
    left: 10px;
    padding-right: 10px;
    margin-right: 20px;

    @include mq(mobileLandscape) {
        left: 20px;
    }

    @include mq(phablet) {
        margin-right: 100px;
    }

    @include mq(leftCol) {
        left: 170px;
        border-left: 1px solid $c-text;
        padding-left: 10px;
    }

    @include mq(wide) {
        left: 250px;
    }
}

.keep-it-in-the-ground-header__headline {
    font-family: $f-serif-headline;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.1;
    max-width: 700px;
    color: white;
    margin-top: 6px;
    padding-right: 50px;
    margin-bottom: 1.5em;

    @include mq(phablet, desktop) {
        margin-left: 140px;
        border-left: 1px solid rgba(white, 0.4);
        margin-top: 0;
        padding-top: 6px;
        padding-left: 10px;
        padding-right: 150px;
    }

    @include mq(desktop) {
        font-size: 2rem;
        padding-left: 10px;
    }

    strong {
        color: $c-accent;
    }
}

.keep-it-in-the-ground-header__button {
    background-color: $c-accent;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;

    @include mq(desktop) {
        width: 30px;
        height: 30px;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

.keep-it-in-the-ground-header__credit {
    font-size: 14px;
    line-height: 18px;
    font-family: $f-sans-serif-headline;
    color: rgba(white, 0.4);

    @include mq(phablet, desktop) {
        padding-left: 10px;
        margin-left: 140px;

        .credit-break {
            display: none;
        }
    }

    @include mq(desktop) {
        position: absolute;
        bottom: 0;
        left: 10px;
    }
}

.keep-it-in-the-ground-header__logo {
    fill: white;
    width: 80px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 0;

    @include mq(phablet, desktop) {
        left: 20px;
        top: 8px;
        width: 70px;
    }

    @include mq(desktop) {
        left: auto;
        top: auto;
        width: 100px;
        right: 20px;
        bottom: 12px;
    }
}

.keep-it-in-the-ground-header__anchor {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10 !important;

    &:hover ~ .keep-it-in-the-ground-header__content {
        strong {
            color: $c-accent-dark;
        }
    
        .keep-it-in-the-ground-header__button {
            background-color: $c-accent-dark;
        }
    }
}