// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.close-to-my-heart__wrapper {
  margin: auto;
  width: 100%;
}

.close-to-my-heart__block {

  width: 100%;
  max-width: 1300px;
  display: inline-block;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
  }

  #videoplayer {
    width: 100%;
    overflow: hidden;

    @include mq($until: desktop) {
      display: none;
    }


    @include mq($until: desktop) {


    }


  }

  #videoplayer video {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  .background {

    /*
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
    */

    width: 100%;
    height: 0px;
    background-image: url("../@@assetPath@@/desktop.jpg");

    @include mq($until: mobile) {

      display:  inline-block;
      position: relative;
      padding-bottom: 27%;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    @include mq($from: mobile, $until: mobileLandscape) {

      display:  inline-block;
      position: relative;
      padding-bottom: 27%;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    @include mq($from: mobileLandscape, $until: phablet) {

      display:  inline-block;
      position: relative;
      padding-bottom: 27%;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    @include mq($from: phablet, $until: tablet) {

      display:  inline-block;
      position: relative;
      padding-bottom: 27%;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    @include mq($from: tablet, $until: desktop) {

      display:  inline-block;
      position: relative;
      padding-bottom: 27%;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    @include mq($from: desktop) {

      position: relative;
      padding-bottom: 20%;
      background-size: cover;
      background-position: right center;

    }

  }

  .foreground {

    @include mq($until: desktop) {

      position: relative;
      box-sizing: border-box;
      width: 100%;
      background-color: #6c9f8a; /*#5f9ce0; */
      color: white;
      padding: 10px;

    }

    @include mq($from: desktop) {

      position: absolute;
      box-sizing: border-box;
      padding: 20px;
      width: 100%;
      top: 0px;
      bottom: 0px;

    }

  }

  .type_block {

    height: 100%;
    display: inline-block;
    

    @include mq($until: desktop) {

      padding-right: 30px;
      border-right: 1px dotted white;
      margin-left: 30px;

    }

    @include mq($until: mobile) {

      max-width: 60px;
      max-height: 60px;
      margin-left: 30px;
      
    }

    @include mq($from: mobile, $until: mobileLandscape) {

      max-width: 80px;
      max-height: 80px;
      margin-left: 30px;

    }

    @include mq($from: mobileLandscape, $until: phablet) {

      max-width: 100px;
      max-height: 100px;
      margin-left: 30px;

    }

    @include mq($from: phablet, $until: tablet) {

      max-width: 150px;
      max-height: 150px;
      margin-left: 30px;

    }

    @include mq($from: tablet, $until: desktop) {

      max-width: 150px;
      max-height: 150px;
      margin-left: 30px;

    }

    @include mq($from: desktop) {

      margin-left: 10px;
      height: 100%;

    }


  }

  .type_block img {

    height: 100%;
    width: auto;

    @include mq($until: mobile) {

      max-width: 60px;
      max-height: 60px;

    }

    @include mq($from: mobile, $until: mobileLandscape) {

      max-width: 80px;
      max-height: 80px;

    }

    @include mq($from: mobileLandscape, $until: phablet) {

      max-width: 100px;
      max-height: 100px;

    }

    @include mq($from: phablet, $until: tablet) {

      max-width: 150px;
      max-height: 150px;

    }

    @include mq($from: tablet, $until: desktop) {

      max-width: 150px;
      max-height: 150px;

    }

  }

  .celebratory_squares img {
    width: 100%;
    height: auto;
  }

  .celebratory_squares {
    position: absolute;
    bottom: -7px;
    overflow: hidden;
    
    @include mq($until: mobile) {
      width: 100px;
      right: 10px;
    }

    @include mq($from: mobile, $until: mobileLandscape) {
      width: 100px;
      right: 20px;
    }

    @include mq($from: mobileLandscape, $until: phablet) {
      width: 140px;
      right: 30px;
    }

    @include mq($from: phablet, $until: tablet) {
      width: 150px;
      right: 50px;
    }

    @include mq($from: tablet, $until: desktop) {
      width: 150px;
      right: 100px;
    }

    @include mq($from: desktop) {
      width: 220px;
      left: 240px;
    }

  }

  .branding {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 52px;
    height: 33px
  }

  .branding svg {
    width: 100%;
    height: 100%
  }

  @media (max-width:81.24em) {
    .branding {
      right: 20px
    }
  }

  @media (max-width:71.24em) {
    .branding {
      right: 18px
    }
  }

  @media (max-width:61.24em) {
    .branding {
      right: 16px;
      width: 41px;
      height: 26px
    }
  }

  @media (max-width:46.24em) {
    .branding {
      right: 19px;
      width: 35px;
      height: 22px
    }
  }

  @media (max-width:41.24em) {
    .branding {
      top: 8px;
      right: 9px
    }
  }

}

.has-active-pageskin .close-to-my-heart__wrapper .celebratory_squares {
    @include mq($from: desktop) {
      width: 120px;
      left: 240px;
    }
}