// Default breakpoints from Frontend
$mq-breakpoints: (
  mobile:          320px,
  mobileMedium:    375px,
  mobileLandscape: 480px,
  phablet:         660px,
  tablet:          740px,
  desktop:         980px,
  leftCol:         1140px,
  wide:            1300px
);

@import 'shared/_imports';

$c-background: #87be27;

@mixin backgroundimage($background, $url, $size){
  background: $background;
  background-image: $url;
  background-size: $size;
}

@include base(membership-ab-thrasher, $c-background);

section#membership-ab-thrasher a.fc-trail__count{
  display: none !important;
}

#membership-ab-thrasher.fc-container--thrasher{
	@include mq($until: mobile) {
		display: none;
	}
	.fc-container__inner{
		overflow: visible;

		.fc-container__body{
			.fc-slice-wrapper{
				ul{
					overflow: visible
				}

				.facia-snap{
					overflow: visible;
				}
			}
		}
	}
}

.membership-ab-thrasher__wrapper {
	background-position: center;
  font-family: $f-serif-headline;
  color: #005689;
  width: 1300px;
  height: 300px;
	font-weight: normal;

  @include mq($from: mobile, $until: mobileMedium) {
    height: 150px;
  }

	.membership-ab-thrasher--wrapper {
	  overflow: visible !important;
    @include mq($from: mobile, $until: mobileMedium) {
      width: 300px;
    }
	}

  .main_title {
    position: relative;
    float: left;
  	display: inline-block;
  	font-family: $f-serif-headline;
  	color: #ffffff;
    margin-top: 12px;
    margin-left: 0;
    
    @include mq($from: mobile, $until: mobileMedium) {
      width: 120px;
      font-size: 20px;
      line-height: 20px;
      margin-top: 10px;
    }

    // TODO
    //@include mq($from: mobileMedium, $until: mobileLandscape) {
    //}
    //@include mq($from: mobileLandscape, $until: phablet) {
    //}
    //@include mq($from: phablet, $until: tablet) {
    //}

    @include mq($from: tablet, $until: desktop) {
      width: 300px;
      font-size: 48px;
      line-height: 48px;
    }

    @include mq($from: desktop) {
      font-size: 56px;
      line-height: 56px;
    }

  	p {
  		margin-bottom: 0px;
  	}
  }

  .sub_title {
  	position: relative;
    display: inline-block;
    float: left;

  	font-family: $f-serif-headline;
  	color: #333333;
  	font-weight: normal;
    
    @include mq($from: mobile, $until: mobileMedium) {
      margin-top: 60px;
      margin-left: -120px;
      width: 120px;
      font-size: 12px;
      line-height: 12px;
    }
    
    // TODO
    //@include mq($from: mobileMedium, $until: mobileLandscape) {
    //}
    //@include mq($from: mobileLandscape, $until: phablet) {
    //}
    //@include mq($from: phablet, $until: tablet) {
    //}
    
    @include mq($from: tablet, $until: desktop) {
      width: 300px;
      font-size: 20px;
      line-height: 24px;
    }
    
    @include mq($from: desktop) {
      font-size: 24px;  
      line-height: 28px;
    }
  	
    .strong {
  		font-weight: 900;
  	}
  }

  .link-button {
    @include mq($from: mobile, $until: mobileMedium) {
      position: relative;
      float: right;
      top: 110px;
      margin-right: -155px;
    }

    // TODO
    //@include mq($from: mobileMedium, $until: mobileLandscape) {
    //}
    //@include mq($from: mobileLandscape, $until: phablet) {
    //}
    //@include mq($from: phablet, $until: tablet) {
    //}
  }

  .membership-ab-thrasher__cta {
    margin-top: 0;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 100px;
    svg path {
        stroke: #ffffff;
        fill: #ffffff;
    }
    color: #ffffff;
    background-color: #005689;

    @include mq($from: mobile, $until: mobileMedium) {
      height: 15px;
      width: 140px;
      padding-left: 5px;
      padding-right: 5px;
    }
    // TODO
    //@include mq($from: mobileMedium, $until: mobileLandscape) {
    //}
    //@include mq($from: mobileLandscape, $until: phablet) {
    //}
    //@include mq($from: phablet, $until: tablet) {
    //}
		@include mq($from: tablet, $until: desktop) {
      margin-left: 20px;
    }
    @include mq($from: desktop, $until: leftCol) {
      margin-left: 20px;
    }
    @include mq($from: leftCol, $until: wide) {
			margin-left: 180px;
		}
		@include mq($from: wide) {
			margin-left: 260px;
		}

    .inline-arrow-white-right {
        display: block;
        float: right;
        height: 30px;
        margin-left: 10px;

        @include mq($from: mobile, $until: mobileMedium) {
          svg {
            position: absolute;
            top: -2px;
            left: 110px;
          }
        }
        // TODO
        //@include mq($from: mobileMedium, $until: mobileLandscape) {
        //}
        //@include mq($from: mobileLandscape, $until: phablet) {
        //}
        //@include mq($from: phablet, $until: tablet) {
        //}        
    }

  	p {
  		font-family: Guardian Text Sans Web;
  		font-weight: 600;
  		font-size: 15px;
  		line-height: 30px;
  		display: inline-block;
      margin: 0;

      @include mq($from: mobile, $until: mobileMedium) {
        position: relative;
        float: right;
        margin-right: 45px;
        font-size: 12px;
        line-height: 12px;
        margin-top: 2px;
        padding-top: 0;
      }
  	}
  }

  .membership-ab-thrasher__cta:hover {
  	background-color: #00456e;
  }

  .membership-ab-thrasher__cta:hover p {
  	color: #fff;
  }

  .membership-ab-thrasher__logo {
  	position: absolute;
  	bottom: 15px;
  	right: 10px;
  	width: 160px;
  	z-index: 2;
  }

  .main_image {
		padding: 0;
    margin: 0;
    position: relative;
    float: right;
    display: inline-block;
    top: 0px;
    height: 300px;
    width: 480px;   
    
    @include mq($from: mobile, $until: mobileMedium) {
      margin-right: 0;            
      width: 160px;
      height: 100px;
      margin-top: 0;
      img {
        width: 160px;
      }
    }

    // TODO
    //@include mq($from: mobileMedium, $until: mobileLandscape) {
    //}
    //@include mq($from: mobileLandscape, $until: phablet) {
    //}
    //@include mq($from: phablet, $until: tablet) {
    //}

    @include mq($from: tablet, $until: desktop) {
      left: 340px;
      height: 300px;
      width: 380px;
      margin-top: 62px;
      img {
        width: 380px;
      }
    }

    @include mq($from: desktop, $until: leftCol) {
      left: 480px;
    }

  	@include mq($from: leftCol, $until: wide) {
			left: 640px;
  	}

  	@include mq($from: wide) {
  		left: 720px;
  	}

    .membership-ab-thrasher__figure {
	  	z-index: 1;
	  }
  }
}
