// Default breakpoints from Frontend
$mq-breakpoints: (
  mobile:          320px,
  mobileMedium:    375px,
  mobileLandscape: 480px,
  phablet:         660px,
  tablet:          740px,
  desktop:         980px,
  leftCol:         1140px,
  wide:            1300px
);

@import 'shared/_imports';

$c-background: #87be27;

@mixin backgroundimage($background, $url, $size){
  background: $background;
  background-image: $url;
  background-size: $size;
}

@include base(membership-ab-thrasher, $c-background);

section#membership-ab-thrasher a.fc-trail__count{
  display: none !important;
}

#membership-ab-thrasher.fc-container--thrasher{
	@include mq($until: mobile) {
		display: none;
	}
	.fc-container__inner{
		overflow: visible;

		.fc-container__body{
			.fc-slice-wrapper{
				ul{
					overflow: visible
				}

				.facia-snap{
					overflow: visible;
				}
			}
		}
	}
}

.membership-ab-thrasher__wrapper {
	background-position: center;
  font-family: $f-serif-headline;
  color: #005689;
  width: 100%;
  max-width: 1300px;
  height: 300px;
	font-weight: normal;

  @include mq($from: mobile, $until: mobileMedium) {
    height: 320px;
  }

  @include mq($from: mobileMedium, $until: mobileLandscape) {
    height: 290px;
  }

	.membership-ab-thrasher--wrapper {
	  overflow: visible !important;
/*    @include mq($from: mobile, $until: mobileMedium) {
      width: 300px;
    }
    @include mq($from: mobileMedium, $until: mobileLandscape) {
      width: 355px;
    }
    @include mq($from: mobileLandscape, $until: tablet) {
      width: 440px;
    }
*/
    max-width: 620px;
    margin: 0 auto;
    @include mq($from: mobileLandscape, $until: tablet) {
        max-width: 440px;
        padding: 0 10px;
    }
    @include mq(tablet) {
        padding: 0 20px;
        max-width: none;
    }
    @include mq(leftCol) {
        margin-left: 160px;
    }
    @include mq(wide) {
        margin-left: 240px;
    }

  }

/*  .membership-ab-thrasher_header {
    @include mq($from: mobileLandscape, $until: phablet) {
      margin-left: 10px;
    }
    @include mq($from: phablet, $until: tablet) {
      width: 90%;
      margin-left: 5%;
    }
  }
*/
  .main_title {
    position: absolute;
  	display: block;
  	font-family: $f-serif-headline;
  	color: #ffffff;
    margin-top: 12px;
    margin-left: 20px;

    @include mq($from: mobile, $until: tablet) {
      margin-top: 3px;
      margin-left: 0px;  
      font-size: 36px;
      line-height: 36px;
    }

    @include mq($from: mobile, $until: mobileMedium) {
      width: 300px;
    }

    @include mq($from: mobileMedium, $until: mobileLandscape) {
      height: 36px;
      width: 350px;
    }

    @include mq($from: mobileLandscape, $until: tablet) {
      width: 440px;
    }
    
    @include mq($from: tablet, $until: desktop) {
      width: 300px;
      font-size: 48px;
      line-height: 48px;
    }

    @include mq($from: desktop) {
      font-size: 56px;
      line-height: 56px;
    }
    
    @include mq($from: leftCol) {
      margin-left: 0;
    }

  	p {
  		margin-bottom: 0px;
  	}
  }

  .sub_title {
  	position: absolute;
    display: block;
    margin-top: 110px;
    margin-left: 20px;

  	font-family: $f-serif-headline;
  	color: #333333;
  	font-weight: normal;

    @include mq($from: mobile, $until: tablet) {
      max-width: 440px;
      margin-left: 0px;
      font-size: 18px;
      line-height: 22px;
    }

    @include mq($from: mobile, $until: mobileMedium) {
      margin-top: 75px;
    }
    
    @include mq($from: mobileMedium, $until: tablet) {
      margin-top: 42px;
    }

    @include mq($from: tablet, $until: desktop) {
      width: 300px;
      font-size: 20px;
      line-height: 24px;
    }
    
    @include mq($from: desktop) {
      margin-top: 130px;
      width: 450px;
      font-size: 24px;  
      line-height: 28px;
    }

    @include mq($from: leftCol) {
      margin-left: 0;
    }

    .strong {
  		font-weight: 900;
  	}
  }

  .link-button {
    top: 245px;
    margin-left: 0;      

    @include mq($from: mobile, $until: mobileMedium) {
      top: 190px;
    }

    @include mq($from: mobileMedium, $until: tablet) {
      top: 135px;
    }

    @include mq($from: tablet, $until: leftCol) {
      margin-left: 20px;
    }

    @include mq($from: leftCol) {
      margin-left: 0;
    }
  }

  .membership-ab-thrasher__cta {
    margin-top: 0;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 100px;
    svg path {
        stroke: #ffffff;
        fill: #ffffff;
    }
    color: #ffffff;
    background-color: #005689;
    margin-left: 0;

    .inline-arrow-white-right {
      display: block;
      float: right;
      height: 30px;
      margin-left: 10px;

      @include mq($from: mobile, $until: tablet) {        
        svg {
          position: absolute;
          margin-top: 0px;
          margin-left: 110px;
        }
      }

    }

  	p {
  		font-family: Guardian Text Sans Web;
  		font-weight: 600;
  		font-size: 15px;
  		line-height: 30px;
  		display: inline-block;
      margin: 0;

      @include mq($from: mobile, $until: mobileMedium) {
        position: relative;
        float: right;
        margin-right: 45px;
        margin-top: 2px;
        padding-top: 0;
      }

      @include mq($from: mobileMedium, $until: mobileLandscape) {
        position: relative;
        float: right;
        margin-right: 45px;
        margin-top: 2px;
        padding-top: 0;
      }

      @include mq($from: mobileLandscape, $until: tablet) {
        position: relative;
        float: right;
        margin-right: 45px;
        margin-top: 2px;
        padding-top: 0;      
      }

  	}
  }

  .membership-ab-thrasher__cta:hover {
  	background-color: #00456e;
  }

  .membership-ab-thrasher__cta:hover p {
  	color: #fff;
  }

  .membership-ab-thrasher__logo {
  	position: absolute;
  	bottom: 15px;
  	right: 10px;
  	width: 160px;
  	z-index: 2;
  }

  .main_image {
		padding: 0;
    margin: 0;
    position: absolute;
    display: block;
    top: 0px;
    height: 300px;
    width: 480px;   

    @include mq($from: mobile, $until: tablet) {
      max-width: 440px;
      text-align: right;
      img {
        width: 300px;
      }
    }

    @include mq($from: mobile, $until: mobileMedium) {
      max-width: 300px;
      margin-top: 225px;
    }

    @include mq($from: mobileMedium, $until: mobileLandscape) {
      max-width: 355px;
      margin-top: 180px;
    }

    @include mq($from: mobileLandscape, $until: phablet) {
      margin-top: 180px;
    }
    
    @include mq($from: phablet, $until: tablet) {
      margin-top: 170px;
    }

    @include mq($from: tablet, $until: desktop) {
      left: 340px;
      height: 300px;
      width: 380px;
      margin-top: 62px;
      img {
        width: 380px;
      }
    }

    @include mq($from: desktop, $until: leftCol) {
      left: 480px;
    }

  	@include mq($from: leftCol, $until: wide) {
			left: 640px;
  	}

  	@include mq($from: wide) {
  		left: 720px;
  	}

    .membership-ab-thrasher__figure {
	  	z-index: 1;
	  }
  }
}
