// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$red: #C70000;
$grey: #F1F1F1;
$blue: #0084c6;
$black: #121212;

@import 'shared/_imports';
@include base(midterms-2018, $grey);

#midterms-2018 {
    @include mq(tablet) {
        background-color: transparent;
    }
}

.midterms-2018__wrapper {
    background-color: $grey;
}

.midterms-2018__lockup {
    display: flex;
    padding: 10px 0;

    @include mq(mobileLandscape) {
        padding-left: 10px;
    }
}

.midterms-2018__logo {
    max-height: 56px;
    padding-right: 10px;

    @include mq(tablet) {
        max-height: 100px;
    }

    @include mq(desktop) {
        max-height: none;
        max-width: 180px;
        padding-right: 20px;
    }
}

.midterms-2018__title {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    color: $black;

    @include mq(tablet) {
        font-size: 39px;
        line-height: .92;
        margin-top: -3px;
    }

    @include mq(desktop) {
        font-size: 52px;
        line-height: .92;
        margin-top: 2px;
    }
}

.midterms-2018__color-arrows {
    display: none;

    @include mq(desktop) {
        display: block;
        position: absolute;
        bottom: -32px;
        height: 50%;
        left: 44%;
    }

    @include mq(leftCol) {
        bottom: -40px;
        height: 80%;
        left: 40%;
    } 
}

.midterms-2018__dash-arrows {
    display: none;

    @include mq(desktop) {
        display: block;
        position: absolute;
        top: -10%;
        height: 50%;
        left: 62%;
    }

    @include mq(leftCol) {
        top: -20%;
        height: 90%;
        left: 62%;
    }
}

.midterms-2018__senate {
    position: absolute;
    bottom: 0;
    right: 20px;
    height: 95%;

    @include mq(tablet) {
        right: 240px;
    }

    @include mq(desktop) {
        right: 300px;
    }

    @include mq(leftCol) {
        right: 460px;
    }
}

.midterms-2018__nav {
    background-color: $grey;
    background-image: linear-gradient(to right, #dcdcdc 50%, transparent 0%);
    background-size: 10px 1px;
    background-position: left top;
    background-repeat: repeat-x;
    display: flex;
    white-space: nowrap;
    padding: 4px 0;

    @include mq(mobileLandscape, tablet) {
        margin-left: 10px;
        margin-right: 10px;
    }

    @include mq(tablet) {
        display: block;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(#dcdcdc 50%, transparent 0%);
        background-size: 1px 10px;
        background-repeat: repeat-y;
        width: 160px;
        padding: 12px 0 0 10px;
    }

    @include mq(desktop) {
        width: 220px;
    }

    @include mq(wide) {
        right: 100px;
    }
}

.midterms-2018__nav-title {
    background-color: $red;
    color: #fff;
    padding: 0 6px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
    display: none;

    @include mq(tablet) {
        display: inline-block;
    }

    @include mq(desktop) {
        font-size: 22px;
        padding: 2px 6px;
        margin: 4px 0 12px;
    }
}

.midterms-2018__nav-item {
    position: relative;
    display: table;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    color: $black;
    padding-right: 22px;
    text-decoration: none;
    transition: color 0.2s linear;
    font-size: 16px;
    margin-right: 6px;

    @include mq(desktop) {
        font-size: 22px;
        padding-right: 26px;
    }

    &:nth-of-type(3) {
        display: none;

        @include mq(mobileLandscape) {
            display: table;
        }
    }

    &:after {
        content: '';
        position: absolute;
        right: 3px;
        top: 5px;
        bottom: 4px;
        width: 18px;
        background-image: url('@@assetPath@@/logo-color-half.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        transition: transform 0.2s linear;
    }

    &:hover {
        color: $red;
        text-decoration: none;

        &:after {
            transform: translateX(3px);
        }
    }
}

// Page Changers
.fc-container--story-package .fc-container__inner {
	background-color: transparent !important;
}

#explore-the-result .tone-news--item.fc-item {
	background-color: transparent !important;
}

.fc-container--first {
    padding-top: 0 !important;
}

.fc-container .fc-container__inner {
    border-top: 0;
    background-image: linear-gradient(to right, #dcdcdc 50%, transparent 0%);
    background-size: 10px 1px;
    background-position: left top;
    background-repeat: repeat-x;
}

.fc-container__header__title:after, .fc-container__header__title--sticky:after, .container__title:after {
    background-color: transparent;
    background-image: linear-gradient(#dcdcdc 50%, transparent 0%);
    background-size: 1px 10px;
    background-repeat: repeat-y;
}

.treats__container {
    bottom: 1.5rem;
}

.treats__treat {
    position: relative;
    border-color: transparent;
    background-image: linear-gradient(to right, #dcdcdc 50%, transparent 0%);
    background-size: 10px 1px;
    background-position: left top;
    background-repeat: repeat-x;
    padding-right: 20px;

    &:after {
        content: '';
        position: absolute;
        right: 3px;
        top: 5px;
        bottom: 4px;
        width: 30px;
        background-image: url('@@assetPath@@/logo-color-half.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        transition: transform 0.2s linear;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background-image: linear-gradient(#dcdcdc 50%, transparent 0%);
        background-size: 1px 10px;
        background-repeat: repeat-y;
    }

    &:hover {
        border-color: transparent;

        &:after {
            transform: translateX(3px);
        }
    }
}

.l-side-margins:after, .l-side-margins:before {
    opacity: 0;
}

.facia-page {
    @include mq(tablet) {
        background-color: $grey;
        background-image: url('@@assetPath@@/bg.svg');
        background-position: center top;
        background-size: 35%;
    }
}

.fc-container__inner {
    padding-bottom: .75rem;
    background-color: white;
}

.fc-container {
    padding-bottom: 0;
}

.fc-container--thrasher {
    margin-bottom: 0px;
}

.fc-container--thrasher .fc-container__inner {
    padding-bottom: 0;
}
