// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.full-story__wrapper {
	
	background-color: #ffa200;
	width: 100%;
	position: relative;
	display: inline-block;


.GetThe{ background-image: url("@@assetPath@@/GetThe.png");}
.Dots{  }
.Logo{ background-image: url("@@assetPath@@/Thrasher_HeroLogo.svg");}
.G_Listen{ background-image: url("@@assetPath@@/Thrasher_RoundelLogo.svg");}
.ListenCopy a{ background-image: url("@@assetPath@@/Thrasher_Button.svg");}
.GuardianLogo{ background-image: url("@@assetPath@@/Thrasher_GuardianLogo.svg");}


/* **************************************************************************** */
/* Outer Container  */
/* **************************************************************************** */
.Container_FullStory{
    height: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    background-color: #ffa200;
    cursor: pointer;
}

/* **************************************************************************** */
/* Left Side */ 
/* **************************************************************************** */
.Title{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}


.GetThe{
    flex-basis: 25%;
    align-self: auto;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 80%;
}

.Dots{
    flex-basis: 75%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    background-size: contain;

}

.Logo{
    flex-basis: 100%;
    align-self: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}



/* **************************************************************************** */
/* Right Side  */ 
/* **************************************************************************** */
.Meta{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}

.G_Listen{
    flex-basis: 15%;
    background-position: top right;
    background-repeat: no-repeat;
    margin: 10px 10px 0 0;
    
}
.cta{
    flex-basis: 15%;
    background-position: top left;
    background-repeat: no-repeat;
    
    background-size: 150px;
}
.ListenCopy{ 
    flex-basis: 20%; 
    color:white;
}

    .ListenCopy p{
        margin: 0;
        width: 70%;
        font-size: 27px;
        line-height: 1.8rem;
        font-family: "Guardian Egyptian Web",Georgia,serif;
    }
    .ListenCopy a{
        width: 120px;
        height: 25px;
        background-size: contain;
        display: inline-block;
        background-repeat: no-repeat;
        margin: 10px 0 0 0;
        text-decoration: none;
        font-family: "Guardian Egyptian Web",Georgia,serif;
    }

.GuardianLogo{
    flex-basis: 15%;
    background-position: top right;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 0;
}




/* **************************************************************************** */
/* Full Width  */ 
/* **************************************************************************** */
@media only screen and (min-width : 1300px) {
    .Logo{background-size: 60%;} 
    .Meta{ padding: 0 1% 0 0;}
}

@media only screen and (min-width : 922px) and (max-width : 1024px) {
    .Logo{background-size: 75%;} 
}
@media only screen and (min-width : 768px) and (max-width : 922px) {
    .Logo{background-size: 80%;} 
    .ListenCopy{ padding: 0 0 0 5%;}
    .ListenCopy p{  width: 95%; }
}

@media only screen and (max-width : 768px) {
    .ListenCopy p{  width: 95%; }
    .GetThe{  display: none; }
    .Dots {flex-basis: 100%;}
}


@media only screen and (min-width : 576px) and (max-width : 768px) {
    .ListenCopy{ padding: 0 0 0 2%;}
    .Logo{background-size: 90%;}
}


/* **************************************************************************** */
/* Change Thraser Layout */ 
/* FLEX ROWS */
/* **************************************************************************** */


@media only screen and  (max-width : 576px) {
    .Container_FullStory{
        flex-wrap: wrap;
        height: 450px;
    }
    .Title,.Meta{
        flex-basis: 100%;
        height: 250px;
    }
    .ListenCopy p{  
            width: 95%; 
            font-size: 27px;
            line-height: 1.8rem;        
    }

    .Dots {flex-basis: 100%; background-size: contain;}
    .Logo{background-size: 70%;}

    .Meta{ flex-direction: row;
        flex-wrap: wrap; }
    .ListenCopy{ 
            order:1; flex-basis: 100%;
            padding: 5%;
            text-align: center;
    }

    .GuardianLogo{  order: 2;   flex-basis: 70%;     height: 50px;  margin: 0 0 0 10px; background-position: left top;     background-size: 60%;}
    .G_Listen{      order:3;    flex-basis: 20%;     height: 50px;  margin: 0 10px 0 0; background-position: right top;     background-size: 60%;}
}


/* Small Phones ----------- */
@media only screen and (min-width : 480px) and  (max-width : 576px) {
    .Logo{background-size: 50%;}
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .Logo{background-size: 75%;}
}
    
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {}


}