// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

section#coming-soon {
    margin-bottom: 0;
}

.docs-coming-soon {
    font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    max-width: 620px;
    margin: 0 auto;
    @include mq(tablet) {
        max-width: none;
    }
    @include mq(phablet) {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            // background-color: #ffe500;
            background-color: #333;
        }
    }
    &__wrapper {
        margin: 0 -10px;
        position: relative;
        padding-bottom: 32px;
        background-color: #121212;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        @include mq(phablet) {
            width: 100%;
        }
        @include mq(tablet) {
            margin: 0;
        }
        @include mq(leftCol) {
            padding-top: 12px;
        }
    }
    &__container-meta {
        padding: 0 10px;
        position: absolute;
        z-index: 20;
        @include mq(mobileLandscape) {
            padding: 0 20px;
        }
        @include mq(phablet) {
            position: relative;
            padding: 5px 0 6px;
        }
        @include mq(tablet) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include mq(leftCol) {
            float: left;
            width: 140px;
            padding-right: 0;
            margin-top: -12px;
        }
        @include mq(wide) {
            width: 220px;
        }
        .title,
        .description {
            color: #EAEAEA;
            @include mq(phablet) {
                color: #ffe500;
            }
        }
        .title {
            float: none;
            &:after {
                background-color: #333;
            }
        }
        .description {
            display: none;
            @include mq(tablet) {
                display: block;
            }
            @include mq(phablet) {
                color: #767676;
            }
            @include mq(leftCol) {
                margin-top: -4px;
            }
        }
    }
    &__next-doc {
        position: relative;
        @include mq(tablet) {
            margin: 0 20px;
        }
        @include mq(desktop) {
            width: 620px;
            float: left;
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: -1px;
                right: -10px;
                bottom: -1px;
                width: 1px;
                background-color: #333;
            }
        }
        .title {
            position: absolute;
            top: 95px;
            color: #FFF;
            font-size: 32px;
            line-height: 30px;
            left: 10px;
            font-weight: 500;
            @include mq(mobileLandscape) {
                top: 134px;
                left: 20px;
            }
            @include mq(phablet) {
                top: 11px;
                left: 6px;
            }
        }
        .description {
            padding: 2px 10px 0;
            font-size: 20px;
            line-height: 22px;
            color: #F6F6F6;
            max-width: 380px;
            @include mq(mobileLandscape) {
                padding-left: 20px;
                padding-right: 20px;
            }
            @include mq(phablet) {
                padding-left: 6px;
                padding-right: 6px;
            }
            @include mq(phablet) {
                position: absolute;
                bottom: 5px;
                left: 0;
                font-weight: 600;
                text-shadow: 0 0 12px rgba(0,0,0,0.67);
                max-width: 380px;
            }
        }
        .still {
            width: 100%;
            background-size: cover;
            height: 128px;
            @include mq(mobileLandscape) {
                height: 168px;
            }
            @include mq(phablet) {
                height: 216px;
            }
        }
        .release-date {
            position: absolute;
            top: 107px;
            right: 12px;
            line-height: 16px;
            font-size: 14px;
            color: #F6F6F6;
            font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            // font-weight: 600;
            &:before {
                content: '';
                position: absolute;
                top: 0px;
                left: -6px;
                width: 1px;
                height: 22px;
                display: block;
                background-color: currentColor;
                opacity: 0.5;
            }
            @include mq(mobileLandscape) {
                top: 146px;
                right: 20px;
            }
            @include mq(phablet) {
                top: 194px;
                right: 12px;
            }
        }
    }
    &__sign-up {
        position: relative;
        margin: 12px auto 0;
        padding: 12px 10px;
        border-top: 1px solid #333;
        color: #EAEAEA;
        font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        @include mq(mobileLandscape) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include mq(phablet) {
            padding-left: 6px;
            padding-right: 6px;
        }
        @include mq(tablet) {
            margin-left: 20px;
            margin-right: 20px;
        }
        @include mq(desktop) {
            width: 300px;
            float: left;
            margin: 0;
            padding: 0;
            border-top: 0;
            height: 216px;
        }
        .logo {
            display: none;
            @include mq(desktop) {
                display: block;
            }
        }
        .intro,
        .iframe-form {
            max-width: 380px;
            @include mq(desktop) {
                position: absolute;
                left: 0;
                right: 0;
            }
        }
        .intro {
            font-size: 15px;
            line-height: 18px;
            @include mq(desktop) {
                bottom: 60px;
            }
        }
        .iframe-form {
            margin: 12px -1px;
            width: 100%;
            height: 50px;
            @include mq(desktop) {
                bottom: -11px;
            }
        }
    }
}
