// Default breakpoints from Frontend
$mq-breakpoints: ( mobile: 320px, mobileLandscape: 480px, phablet: 660px, tablet: 740px, desktop: 980px, leftCol: 1140px, wide: 1300px);
@import 'shared/_imports';
.new-arrivals-partners__wrapper {
    width: 100%;
    background-color: #89A4B5;
}

#new-arrivals-partners {
    background: rgba(108, 141, 162, .5);
    .facia-snap {
        background-color: #89A4B5;
    }
}

.arrivals-partners {
    &--wrapper {
        background-color: #89A4B5;
        width: 100%;
    }
    a {
        text-decoration: none;
    }
    &--header {
        font-family: $f-serif-headline;
        font-weight: 200;
        font-size: 26px;
        line-height: 30px;
        padding: 10px 0 15px 0px;
    }
    &--cta {
        font-family: $f-serif-headline;
        display: inline-block;
        font-weight: 900;
        margin-right: 15px;
        margin-bottom: 15px;
        @include mq($from: phablet) {
            margin-right: 40px;
        }
        &:after {
        	display: none;
            @include mq($from: mobile) {
                border: 2px solid rgba(255, 255, 255, 0.5);
                border-radius: 50%;
                height: 20px;
                width: 20px;
                content: '';
                display: block;
                float: right;
                margin-top: 0;
                margin-left: 6px;
                background-image: url('https://uploads.guim.co.uk/2017/02/24/arrow.svg');
                background-size: 50%;
                background-position: center center;
                background-repeat: no-repeat;
                height: 30px;
                width: 30px;
                margin-top: -6px;
            }
        }
    }
}
