// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

section#documentaries {
    background-color: #161616;
}

.docs-mosul__wrapper {
    margin: 0 -10px;
    padding: 0 10px;
    width: calc(100% - 20px);
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }
    @include mq(tablet) {
        margin: 0;
    }
    background-color: #050509;
    color: #EAEAEA;
    font-size: 0;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;

    .inner {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            left: 0;
            right: 0;
            width: auto;
            min-width: 100%;
            height: 1px;
            background-color: #FB0;
            z-index: 1;
            @include mq(tablet) {
                left: -20px;
                right: -20px;
            }
        }
        max-width: 640px;
        @include mq(tablet) {
            max-width: none;
        }
        @include mq(leftCol) {
            padding-bottom: 24px;
        }
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        .container-link {
            // display: none;
            display: block;
            // background-color: rgba(255,0,0,0.2);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 20;
            &:hover ~ .main .meta__play__button {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -moz-transform: scale(1.1);
                transform: scale(1.1);
            }
            @include mq(desktop) {
                bottom: -24px;
            }
        }
    }

    .container-title {
        font-size: 22px;
        margin-top: 1px;
        font-weight: 900;
        position: relative;
        z-index: 1;
        @include mq(leftCol) {
            margin-left: -1px;
        }
        @include mq(wide) {
            margin-left: 0;
        }

    }
    .background-image {
        display: none;
        img {
            width: 100%;
        }
        @include mq(phablet) {
            display: block;
            z-index: 0;
            position: absolute;
            top: -74px;
            right: -410px;
            width: 1200px;
        }
        @include mq(tablet) {
            top: -116px;
            right: -317px;
            width: 1100px;
        }
        @include mq(desktop) {
            top: -135px;
            right: -382px;
            width: 1400px;
        }
        @include mq(leftCol) {
            top: -150px;
            right: -375px;
        }
        @include mq(wide) {
            right: -300px;
        }
    }
    .main {
        position: relative;
        @include mq(desktop) {
            width: 900px;
        }
        @include mq(leftCol) {
            margin-left: 160px;
            margin-top: -24px;
        }
        @include mq(wide) {
            margin-left: 240px;
            margin-top: -24px;
        }
    }
    .card,
    .meta {
        display: inline-block;
        vertical-align: top;
    }
    .card {
        width: calc(50% - 16px);
        max-width: 220px;
        @include mq(tablet) {
            max-width: 160px;
        }
        @include mq(desktop) {
            max-width: 220px;
        }
        margin-right: 10px;
        img {
            width: 100%;
        }
    }

    .meta {
        width: calc(50% + 6px);
        max-width: 100%;
        @include mq(desktop) {
            width: 500px;
        }
        padding-bottom: 54px;
        &__text {
            &__quote {
                font-weight: 500;
                font-size: 28px;
                line-height: 28px;
                color: #FEFEFE;
                svg {
                    display: inline;
                }
                @include mq(desktop) {
                    font-size: 42px;
                    line-height: 42px;
                    svg {
                        -webkit-transform: scale(1.45);
                        -ms-transform: scale(1.45);
                        -moz-transform: scale(1.45);
                        transform: scale(1.45);
                        -webkit-transform-origin: bottom left;
                        -ms-transform-origin: bottom left;
                        -moz-transform-origin: bottom left;
                        transform-origin: bottom left;
                        margin-right: 10px;
                    }
                }
            }
            &__warning {
                margin-top: 3px;
                font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
                font-size: 12px;
                color: #DCDCDC;
            }
        }
        &__play {
            position: absolute;
            bottom: 0;
            margin-top: 12px;
            &__button,
            &__text {
                display: inline-block;
                vertical-align: middle;
                margin-left: -1px;
                transition: transform 360ms;
            }
            &__text {
                font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
                color: #FB0;
                font-size: 16px;
                line-height: 42px;
                margin-left: 6px;
            }
        }
    }

    .association {
        opacity: 0.7;
        width: 60%;
        padding-top: 4px;
        padding-bottom: 12px;
        &__text,
        &__img {
            display: inline-block;
            vertical-align: bottom;
        }
        &__text {
            font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-size: 12px;
        }
        &__img {
            display: block;
            margin-left: -5px;
            img {
                width: 100px;
            }
        }
        @include mq(mobileLandscape) {
            .association__img {
                display: inline-block;
                margin-left: 0;
                margin-top: -1px;
            }
            padding-top: 2px;
        }
        @include mq(leftCol) {
            position: absolute;
            bottom: 20px;
            left: 0;
            .association__img {
                display: block;
                img {
                    width: 140px;
                    margin-left: -7px;
                    margin-top: -2px;
                }
            }
        }
    }
}
