$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import "components/sass-mq/_mq.scss";
@import "shared/_imports";

$c-commentBackground: #eae8e3;
$c-commentAccent: #e6711b;
$contributors: jess-zimmerman, jeb-lund, trevor-timm, roxane-gay, steven-thrasher;

.comment-us__wrapper {
    width: 100%;
    background-color: $c-commentBackground;
    position: relative;
    overflow: hidden;

    @include mq(tablet) {
        padding-top: 4px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Content and Type */

.comment-us__content,
.comment-us__article {
    position: relative;
    width: 36%;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    float: left;

    @include mq(tablet) {
        height: 160px;
    }

    @include mq(desktop) {
        height: 200px;
    }

    @include mq(leftCol) {
        height: 230px;
    }
}

.comment-us__title {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;

    @include mq(tablet) {
        font-size: 26px;
        line-height: 30px;
        font-weight: 200;
        color: $c-commentAccent;
    }

    @include mq(desktop) {
        font-size: 36px;
        line-height: 36px;
    }

    @include mq(leftCol) {
        font-size: 44px;
        line-height: 44px;
    }

    br {
        @include mq($until: tablet) {
            display: none;
        }
    }
}

.comment-us__standfirst {
    font-size: 16px;
    line-height: 20px;

    @include mq(tablet) {
        font-weight: 200;
    }

    @include mq(desktop) {
        font-size: 20px;
        line-height: 24px;
    }

    @include mq(leftCol) {
        font-size: 28px;
        line-height: 32px;
    }
}

.comment-us__content,
.comment-us__article,
.comment-us__contributors__wrapper {
    @include mq($until: tablet) {
        width: 100%;
        box-sizing: border-box;
        padding: 2px 20px 0;
        float: none;
    }

    @include mq($until: mobileLandscape) {
        padding: 2px 10px 0;
    }
}

@include mq(phablet, tablet) {
    .comment-us__content .comment-us__title,
    .comment-us__standfirst,
    .comment-us__contributors__wrapper {
        max-width: 620px;
        margin: 0 auto;
        padding-left: 0;
    }
}

.comment-us__content {
    @include mq($until: tablet) {
        padding-bottom: 16px;
        background-color: $c-commentAccent;
        color: #333;
    }
}

.button.comment-us__button {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $c-commentAccent;
    border-color: $c-commentAccent;
    background-color: transparent;

    @include mq($until: tablet) {
        display: none;
    }

    &:hover {
        color: #ffffff;
        border-color: $c-commentAccent;
        background-color: $c-commentAccent;

        .comment-us__button__icon path {
            fill: #ffffff;
        }
    }
}

.button.comment-us__button:hover {
    color: #ffffff;
    border-color: $c-commentAccent;
    background-color: $c-commentAccent;
}

.comment-us__button__icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;

    path {
        fill: $c-commentAccent;
    }
}

/* Articles */

.comment-us__article,
.comment-us__link--mobile {
    display: none;

    .comment-us__title {
        color: #333;
        font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
        font-size: 16px;
        line-height: 20px;

        @include mq(mobileLandscape) {
            font-size: 20px;
            line-height: 24px;
        }

        @include mq(desktop) {
            font-size: 28px;
            line-height: 32px;
        }

        &:before {
            content: "";
            display: inline-block;
            width: 1.25em;
            height: 0.7em;
            margin-right: 0.1em;
            vertical-align: baseline;
            background-size: contain;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMyIgaGVpZ2h0PSIyMCI+PHBhdGggZD0iTTkuMDAyIDIwYzMuODUuMDY4IDYuOTMyLTMuMTA0IDctNi45OTQuMDY4LTMuODkyLTMuMTUtNi45MzctNy03LjAwNi0yLjAxNi0uMDM2LTMuNTkuNjk0LTQuODg4IDIuMDUzLS4wNy0uNDgtLjEyMi0xLjA0LS4xMTMtMS41NTNDNC4wNjUgMi45NyA3LjQxNS45MzcgMTEuMDA0IDFsLTEtMUMzLjk4IDAgLjA5OCA0LjQ0Ny4wMDMgMTAuMDA2Yy0uMDk4IDUuNTU3IDMuMzUgOS44OTIgOSA5Ljk5NHptMTcgMGMzLjg1LjA2OCA2LjkzMi0zLjEwNCA3LTYuOTk0LjA2OC0zLjg5Mi0zLjE1LTYuOTM3LTctNy4wMDYtMi4wMTYtLjAzNi0zLjU5LjY5NC00Ljg4OCAyLjA1My0uMDctLjQ4LS4xMjItMS4wNC0uMTEzLTEuNTUzLjA2NC0zLjUzIDMuNDE0LTUuNTYzIDcuMDAzLTUuNWwtMS0xYy02LjAyMiAwLTkuOTA0IDQuNDQ3LTEwIDEwLjAwNi0uMDk3IDUuNTU3IDMuMzUgOS44OTIgOSA5Ljk5NHoiIGZpbGw9IiM3Njc2NzYiLz48L3N2Zz4=);
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        .comment-us__byline {
            display: block;
            color: $c-commentAccent;
        }
    }

    .comment-us__tagline {
        position: absolute;
        bottom: 0;
        padding-right: 40px;
        margin-bottom: 0;
        color: #767676;
        font-size: 14px;
        line-height: 18px;

        @include mq(desktop) {
            font-size: 16px;
            line-height: 20px;
            padding-right: 80px;
        }
    }
}

/* Cutouts */

.comment-us__contributors__wrapper {
    @include mq($until: tablet) {
        -ms-overflow-style: none;
        overflow-x: scroll;
        overflow-x: -moz-scrollbars-none;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @include mq(tablet) {
        position: relative;
        margin-bottom: -3px;
        width: 64%;
        float: left;
        height: 170px;
    }

    @include mq(desktop) {
        height: 220px;
    }

    @include mq(leftCol) {
        height: 250px;
    }
}

.comment-us__contributors {
    margin: 0;
    padding: 0;
    list-style: none;

    @include mq($until: tablet) {
        width: 440%;
    }

    @include mq($until: mobileLandscape) {
        width: 400%;
    }

    @include mq(tablet) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        float: right;
    }
}

.comment-us__contributor {
    line-height: 0;
    float: left;
    position: relative;
    width: 20%;

    @include mq($until: tablet) {
        height: 160px;
        overflow: hidden;
    }

    img {
        @include mq($until: tablet) {
            position: absolute;
            right: -8%;
            bottom: -10%;
            width: auto;
            height: 120%;
        }


        @include mq($until: mobileLandscape) {
            height: 100%;
            right: -20%;
        }

        @include mq($until: mobile) {
            height: 80%;
            right: -18%;
        }

        @include mq(tablet) {
            height: auto;
            width: 235%;
            margin-left: -70%;
        }

        @include mq(wide) {
            width: 205%;
        }
    }
}

@each $contributor in $contributors {
    .comment-us__link--#{$contributor}:hover {
        ~ .comment-us__article--#{$contributor} {
            display: block;
        }

        ~ .comment-us__content {
            display: none;
        }

        @each $contributor in $contributors {
            ~ .comment-us__contributors__wrapper .comment-us__contributor--#{$contributor} {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
        
        ~ .comment-us__contributors__wrapper .comment-us__contributor--#{$contributor} {
            -webkit-filter: none;
            filter: none;
        }
    }
}

/* Links */

a.comment-us__link {
    @include mq($until: tablet) {
        display: none;
    }

    @include mq(tablet) {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 12.8%;
        margin-left: 33%;
        z-index: 20 !important;
        display: block;
    }
}

@for $i from 2 through 5 {
    a.comment-us__link:nth-of-type(#{$i}) {
        margin-left: 12.8% * ($i - 1) + 33%;
    }

    .comment-us__contributor:nth-of-type(#{$i}) {
        @include mq($until: tablet) {
            .comment-us__title {
                padding-left: 10px;
            }
    
            &:before {
                content: "";
                background-color: #ccc;
                width: 1px;
                float: left;
                position: absolute;
                top: 3px;
                bottom: 3px;
                left: 0;
            }
        }
    }
}

a.comment-us__link--mobile {
    display: block;

    @include mq(tablet) {
        display: none;
    }

    .comment-us__title {
        width: 60%;
        margin-bottom: 48px;
        font-weight: 400;
    }
}


@include base(comment-us-container, $c-commentBackground);
@include rule(comment-us-container, $c-commentAccent);
