// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.dear-australia-header__wrapper {
  width: 100%;
  position: relative;

  .dear-australia-background {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url('@@assetPath@@/dear-australia-graphic.gif') no-repeat center top;
    height: 325px;
    @include mq($until: phablet) {
      background-position: -660px 0;
    }
  }

  .dear-australia-header {
    background: url('@@assetPath@@/dear-australia-text.png') no-repeat 200px -30px;
    width: 100%;
    position: absolute;
    z-index: 100;
    height: 325px;
    top: 0;

    @include mq($until: desktop) {
      background-position: 0 top;
    }
    @include mq($until: phablet) {
      background-size: 75%;
    }
  }
  
  .dear-australia-button {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #3da68e;
    border: none;
    height: 30px;
    line-height: 32px;
    display: block;
    color: #fff;
    z-index: 100;

    .arrow-icon {
      height: auto!important;
      width: auto!important;
      float: right;
      fill: #fff;
    }
    @include mq($until: phablet) {
      bottom: 5px;
      left: 10px;
      top: initial;
      right: initial;
    }
  }

  .dear-australia-supported-by {
    color: #333;
    background: transparent;
    width: 100px;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: $f-sans-serif-text;
    font-size: 12px;

    h3 {
      font-size: inherit;
      margin: 0;
    }

    a {
      z-index: 100;
    }

    .dear-australia-sponsor-logo {
      background: url('@@assetPath@@/mb-logo-95.png') no-repeat;
      width: 95px;
      height: 50px;
      display: block;
    }

    .about {
      color: inherit;
      margin-top: 5px;
      font-size: 11px;
      display: block;

    }

    @include mq($until: desktop) {
      top: initial;
      left: initial;
      bottom: 5px;
      right: 10px;
    }
  }
}
