// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.breadcrumbs__wrapper {

  width: 100%;

  .background {
    width: 100%;
    max-width: 1300px;
    height: 280px;
    background-repeat:   no-repeat;
    background-color: #f6e6d7;

    @include mq($until: tablet) {
      background-position: center center; 
      background-image: url(@@assetPath@@/background-image-12.jpg);
    }

    @include mq($from: tablet, $until: desktop) {
      background-position: center right; 
      background-image: url(@@assetPath@@/background-image-12.jpg);
    }

    @include mq($from: desktop) {
      background-position: center right; 
      background-image: url(@@assetPath@@/background-image-11.jpg);
    }


  }

  .foreground {
    
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-width: 1300px;
    
    @include mq($until: desktop) {
      background-color: #1e2b34;
    }

    @include mq($from: desktop) {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 280px;
    }

    .saul_bass {

      @include mq($from: desktop) {
        position: absolute;
        top: 80px;
      }

      @include mq($from: desktop, $until: leftCol) {
        left: 40px;
      }

      @include mq($from: leftCol, $until: wide) {
        left: 150px;
      }

      @include mq($from: wide) {
        left: 150px;
      }


    }

    .strapline {
      font-weight: 200;
      line-height: 2rem;
      font-size: 2rem;
      margin-bottom: 10px;
      width: 200px;
    }

    .strapline div span {
      
      padding: 5px;
      

      @include mq($until: mobileLandscape) {
        color: white;
      }


      @include mq($from: mobileLandscape) {
        color: white;
      }

      @include mq($from: desktop) {
        background-color: #445040;
      }


    }

    .play_text {

      -webkit-animation-name: fade;
      animation-name: fade;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation-timing-function: cubic-bezier(.71, .55, .62, 1.57);
      animation-timing-function: cubic-bezier(.71, .55, .62, 1.57);
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;

      font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 700;
      font-size: 16px;
      margin-top: 5px;
      color: white;
      line-height: 1.3rem;
      display: inline-block;


      @include mq($from: desktop) {
        max-width: 250px;
        color: #445040;
      }

    }

  }
  
  .branding {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 52px;
    height: 33px
  }

  .branding svg {
    width: 100%;
    height: 100%
  }

  @media (max-width:81.24em) {
    .branding {
      right: 20px
    }
  }

  @media (max-width:71.24em) {
    .branding {
      right: 18px
    }
  }

  @media (max-width:61.24em) {
    .branding {
      right: 16px;
      width: 41px;
      height: 26px
    }
  }

  @media (max-width:46.24em) {
    .branding {
      right: 19px;
      width: 35px;
      height: 22px
    }
  }

  @media (max-width:41.24em) {
    .branding {
      top: 8px;
      right: 9px
    }
  }

}

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.has-active-pageskin .breadcrumbs__wrapper .foreground {
  padding-left: 20px
}
