// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

@include base(le-carre-on-le-carre, #161616);

#le-carre-on-le-carre .fc-item {
  padding-left: 0;
  padding-right: 0;
}

#le-carre-on-le-carre-thrasher-inner {
  position: relative;
  height: 360px;
  @include mq(tablet) {
    height: 320px;
  }
  .logo {
    width: 160px;
    z-index: 30;
    position: absolute;
    top: 10px;
    left: 10px;
    @include mq(tablet) {
      width: 237px;
      top: 10px;
      left: 15px;
    }
    @include mq(leftCol) {
      left: 77px;
    }
    @include mq(wide) {
      left: 157px;
    }
    &__inner {
      width: 100%;
      padding-bottom: 112.5%;
      position: relative;
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  .text {
    z-index: 30;
    position: absolute;
    left: 9px;
    right: 7px;
    bottom: 10px;
    max-width: 345px;
    font-weight: 600;
    @include mq(tablet) {
      bottom: 15px;
      left: 380px;
    }
    @include mq(desktop) {
      left: 570px;
      bottom: 10px;
    }
    @include mq(leftCol) {
      left: 740px;
    }
    @include mq(wide) {
      left: auto;
      right: 55px;
    }
    .link {
      display: inline-block;
      &:after {
        content: '';
        background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%22194%2024%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(194%2024)%22%3E%3Cellipse%20fill%3D%22%23F6F6F6%22%20cx%3D%2211%22%20cy%3D%2211%22%20rx%3D%2211%22%20ry%3D%2211%22%2F%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M11.66%205L18%2011.203v.594L11.66%2018l-.592-.58%204.56-5.326H4v-1.188h11.63L11.067%205.58%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        width: 1em;
        height: 1em;
        display: inline-block;
        margin-left: 0.2em;
        position: relative;
        bottom: 0.1em;
        background-size: 100% 100%;
        vertical-align: middle;
      }
    }
    &__main {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 6px;
      em {
        white-space: nowrap;
        font-style: inherit;
        font-weight: inherit;
      }
      .intro {
        color: #dcdcdc;
      }
      .link{
        color: #F3B229;
        &:after {
          background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%22194%2024%2022%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(194%2024)%22%3E%3Cellipse%20fill%3D%22%23F3B229%22%20cx%3D%2211%22%20cy%3D%2211%22%20rx%3D%2211%22%20ry%3D%2211%22%2F%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M11.66%205L18%2011.203v.594L11.66%2018l-.592-.58%204.56-5.326H4v-1.188h11.63L11.067%205.58%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        }
        em {
          display: inline-block;
        }
        &:hover em {
          text-decoration: underline;
        }
      }
    }
    &__sublinks {
      font-size: 16px;
      line-height: 16px;
      .link {
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .overlay {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51,51,51,0.5);
  }
  .video,
  .placeholder_image {
    position: absolute;
  }
  .placeholder_image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 20;
    top: -50%;
    left: -35%;
    right: -50%;
    bottom: -50%;
    opacity: 1;
    transition: opacity 240ms;
    @include mq(tablet) {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    @include mq(desktop) {
      bottom: -10%;
    }
    @include mq(leftCol) {
      bottom: -16%;
    }
    @include mq(wide) {
      bottom: -30%;
    }
  }
  .video {
    z-index: 21;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 120ms;
    video {
      transform: translateX(-50%);
      position: absolute;
      left: 60%;
      height: 100%;
      width: auto;
      @include mq(tablet) {
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        top: 40%;
        height: auto;
        width: 100%;
      }
      @include mq(desktop) {
        top: 48%;
      }
      @include mq(leftCol) {
        top: 52%;
      }
      @include mq(wide) {
        top: 55%;
      }
    }
  }
  &.video-only {
    .placeholder_image {
      opacity: 0;
      visibility: hidden;
    }
    .video {
      opacity: 1;
    }
  }
}
