// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    375px,
    mobileLandscape: 480px,
    mobileLong:      520px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.vr-first-impressions__wrapper {
    font-family: "Guardian Sans Web", Georgia, serif;
    position: relative;
    margin: 0 -10px;
    background-color: #C34A85;
    color: #F6F6F6;
    font-size: 30px;
    line-height: 30px;
    overflow: hidden;
    @include mq(tablet) {
        width: 100%;
        margin: 0;
    }
    @include mq(desktop) {
        font-size: 40px;
        line-height: 40px;
    }
    .background {
        position: relative;
        z-index: 10;
        height: 216px;
        @include mq(phablet) {
            height: 280px;
        }
        @include mq(desktop) {
            height: 330px;
        }
        .image {
            height: 100%;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100px;
                z-index: 13;
                opacity: 0.45;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
                background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
                @include mq(phablet) {
                    height: 100%;
                    width: 480px;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,1+0,0+100 */
                    background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
                }
                @include mq(desktop) {
                    width: 620px;
                }
                @include mq(leftCol) {
                    opacity: 0.45;
                    width: 680px;
                }
                @include mq(wide) {
                    width: 820px;
                }
            }
            img,
            video {
                height: 100%;
                width: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                transform: translateX(-45%);
                @include mq(mobileMedium) {
                    transform: translateX(-38%);
                }
                @include mq(mobileLandscape) {
                    transform: translateX(-33%);
                }
                @include mq(mobileLong) {
                    transform: translateX(-22%);
                }
                @include mq(desktop) {
                    transform: translateX(-5%);
                }
                @include mq(leftCol) {
                    transform: translateX(0);
                }
                @include mq(wide) {
                    width: 100%;
                    height: auto;
                }
            }
            img {
                z-index: 10;
            }
            video {
                z-index: 11;
            }
        }
        .vr-logo {
            position: absolute;
            top: 10px;
            z-index: 15;
            transform-origin: top left;
            @include mq(mobile) {
                left: 10px;
                transform: scale(0.28);
            }
            @include mq(tablet) {
                left: 20px;
                transform: scale(0.3);
            }
        }
    }
    .foreground {
        position: relative;
        z-index: 10;
        padding: 7px 10px 18px;
        @include mq(phablet) {
            position: absolute;
            top: 43%;
            left: 0;
            right: 0;
        }
        @include mq(tablet) {
            padding: 7px 20px 18px;
        }
         @include mq(desktop) {
          
        }
        @include mq(leftCol) {
            padding-left: 180px;
            top: 27%;
            left: 0;
        }
        @include mq(wide) {
            padding-left: 260px;
        }
        .strapline,
        .play {
            color: #fff;
        }
        .title {
            color: #3F2961;
            font-weight: 700;
        }
        .strapline {
            max-width: 90%;
            font-weight: 200;
        }
        .play {
            font-family: "Guardian Sans Bold", Georgia, serif;
            font-size: 15px;
            border: 1px solid #3F2961;
            background: #3F2961;
            border-radius: 40px;
            color: #fff;
            line-height: 15px;
            clear: both;
            display: table;
            padding: 2px 10px 7px;
            margin-top: 10px;
            cursor: pointer;
            font-weight: bolder;
            p {
                margin: -5px 5px 0;
                display: inline-block;
            }
            svg {
                width: 23px;
                height: 19px;
                position: relative;
                top: 5px;
            }
        }
    }

    .full-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 15 !important;
        color: transparent;
        &:hover ~ .foreground .play {
            background: #fff;
            border: 1px solid #fff;
            color: #3F2961;
            .arrow {
                fill: #3F2961;
            }  
        }
    }
}


@font-face {
    font-family: "Guardian Sans Bold";
    src: url('https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Sans+Web-Regular.eot');
    src: url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Sans+Web-Regular.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Sans+Web-Regular.woff) format('woff'), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Sans+Web-Regular.ttf) format('truetype'), url(https://s3.amazonaws.com/gdn-cdn/fonts/ascii/Guardian+Sans+Web-Regular.svg#Guardian+Sans+Web-Regular) format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Guardian Sans Web';
    src: url('https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands6bol-webfont.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands6bol-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Guardian Sans Web';
    src: url('https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands3reg-webfont.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands3reg-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Guardian Sans Web';
    src: url('https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands1thi-webfont.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands1thi-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}


