// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

@font-face {
    font-family: "GuardianTitlepiece";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

$beigeColor:#FEF9F5;
$redColor:#C70000;
$blueColor:#0084C6;
$yellowColor:#FFE500;
$orangeColor:#FF7F0F;
$turqColor:#69D1CA;
$blackColor:#121212;
$greyColor:#767676;

section#election-header {
    position: relative;
    background-color: $beigeColor;
    color: $blackColor;
    padding: 0 !important;
    overflow: hidden;
  
    .fc-container__inner,
    .fc-slice,
    .facia-snap {
      overflow: visible;
    }
  
    .facia-snap {
      padding: 0;
    }
  }

.election-header {
    overflow:hidden;
    min-width:1300px;
    height:225px;
    background-color:$beigeColor;

    &__election-logo {
        width:100%;
        margin-left:20px;
        margin-top:6px;
    }

    h1 {
        color:$greyColor;
        width:400px;
        top:63px;

        font-family:"GuardianTitlepiece";
        font-size:32px;
        line-height:110%;

        position:relative;
        left:20px;
    }

    &__people {
        height:auto;
        padding-bottom: 20px;
        float:right;
        display:flex;
        margin-top:-110px;
        margin-right:241px;
        position: relative;
        z-index: 2;
    }


    &__person1 {
        position: relative;
        overflow: visible;
        padding-top:4px;
    }
    &__person2 {
        position: relative;
        overflow: visible;
        margin-left:-23px;
    }
    &__person3 {
        position: relative;
        overflow: visible;
        padding-top:11px;
        margin-left:5px;
    }
    &__person4 {
        position: relative;
        overflow: visible;
        padding-top:10px;
        margin-left:30px;
    }
    &__person5 {
        width: 25.5%;
        padding-top: 3px;
        position: relative;
        overflow: visible;
        // padding-top:6px;
        margin-left:2px;
    }


    &__coloured-stripes {
        transform:rotate(-45deg);
        display:inline-block;
        overflow:hidden;
        margin-top: -233px;
        margin-left: 542px;
        position: relative;
    }
    
    &__red-stripe {
        width:800px;
        height:60px;
        background-color:$redColor
    }

    &__blue-stripe {
        width:800px;
        height:60px;
        background-color:$blueColor
    }
    &__yellow-stripe {
        width:800px;
        height:60px;
        background-color:$yellowColor
    }
    &__orange-stripe {
        width:800px;
        height:60px;
        background-color:$orangeColor
    }
    &__turq-stripe {
        width:800px;
        height:60px;
        background-color:$turqColor
    }

    &__people-lines {
        transform: scale(1.06);
        padding-right:791px;
    }

    @media only screen and (max-width: 1300px) {
        .election-header {
            width:1300px;
        }
        &__people {
            margin-right: -501px;
            margin-top: -114px;
        }
        &__coloured-stripes {
            margin-left: 530px;
        }
        @-moz-document url-prefix() {
            &__people {
                margin-right:0;
                right:240px;
            }
        }
    }

    @media only screen and (max-width: 1139px) {
        &__people {
            margin-right: -436px;
        }
        &__coloured-stripes {
            margin-left: 463px;
        }
        @-moz-document url-prefix() {
            &__people {
                margin-right:0;
                right:240px;
            }
        }
    }

    @media only screen and (max-width: 980px) {
        height:205px;
        &__people-lines {
            margin-top:-25px;
            padding-right:11310px;
            transform:scale(1);
        }
        &__people {
            margin-right: -886px;
            margin-top:-97px;
        }

        @-moz-document url-prefix() {
            &__people {
                margin-right:0;
                right:200px;
            }
        }

        &__coloured-stripes {
            margin-top:-192px;
            margin-left: 380px
        }

        h1 {
            top:48px;
            font-size:28px;
            width:360px;

        }
    }

    @media only screen and (max-width: 979px) {
        height:205px;
        &__people-lines {
            margin-top:-25px;
            padding-right:11310px;
            transform:scale(1);
        }
        &__people {
            margin-right:-730px;
            margin-top: -129px;
        }

        &__coloured-stripes {
            margin-top:-192px;
            margin-left: 191px;
        }

        @-moz-document url-prefix() {
            &__people {
                margin-right:0;
                right:62px;
            }
            &__coloured-stripes {
                margin-left:0;
                right:-135px;
            }
        }

        h1 {
            top:17px;
            font-size:28px;
            width:300px;

        }
    }

    @media only screen and (max-width: 739px) {
        height: 190px;
        h1 {
            top:12px;
        }
        &__people-lines {
            margin-top:-118px;
            padding-right: 530px;
        }
        &__people {
            margin-right: 115px;
            margin-top: -40px;
        }
        &__coloured-stripes {
            margin-top: -223px;
            margin-left: 0;
            right: -181px;
        }
        &__person5 {
            display:none;
        }
        &__turq-stripe {
            display:none;
        }

        @-moz-document url-prefix() {
            &__people {
                margin-right:45px;
            }
        }

    }
    @media only screen and (max-width: 660px) {
        &__coloured-stripes {
            right: -135px;
        }
        &__people-lines {
            padding-right: 580px;
        }
    }
    @media only screen and (max-width: 620px) {
        &__person4 {
            display:none;
        }
        &__orange-stripe {
            display:none;
        }
        &__coloured-stripes {
            right: -77px;
        }
        &__people {
            margin-right: 162px;
        }
        @-moz-document url-prefix() {
            &__people {
                margin-right:112px;
            }
        }
    }

    @media only screen and (max-width: 570px) {
        &__coloured-stripes {
            right:-38px;
        }
        &__people {
            margin-right: 202px;
        }
        @-moz-document url-prefix() {
            &__people {
                margin-right:152px;
            }
        }
    }

    @media only screen and (max-width: 530px) {
        &__coloured-stripes {
            right:-23px;
        }
        &__people {
            margin-right:236px;
        }
        @-moz-document url-prefix() {
            &__people {
                margin-right:176px;
            }
        }
    }

    @media only screen and (max-width: 479px) {
        height:150px;
        &__election-logo {
            margin-top: 2px;
            margin-left:10px;
        }
        &__election-logo svg {
            width: 130px;
            height:auto;
        }
        h1 {
            font-size: 20px;
            width: 210px;
            top:4px;
            left:10px;
        }
        &__people-lines {
            transform: scale(0.7);
            padding-right: 565px;
        }
        &__people {
            margin-top: -36px;
            margin-right: 415px;
        }
        &__coloured-stripes {
            right: 148px;
        }
        @-moz-document url-prefix() {
            &__coloured-stripes {
                right:205px;
            }
        }
    }

    @media only screen and (max-width:430px) {
        &__people {
            right:66px;
        }
        &__coloured-stripes {
            right:210px;
        }
    }

    @media only screen and (max-width: 360px) {
        height:125px;
        h1 {
            font-size: 18px;
            width: 190px;
        }
        &__election-logo svg {
            width: 110px;
        }
        &__people-lines {
            transform: scale(0.6);
            padding-right:867px;
        }
        &__coloured-stripes {
            right: 354px;
        }
        &__people {
            margin-right: 256px;
            margin-top: -31px;
        }
    }
    @media only screen and (max-width:320px) {
        height:125px;
        h1 {
            font-size: 18px;
            width: 190px;
        }
        &__election-logo svg {
            width: 110px;
        }
        &__people-lines {
            transform: scale(0.5);
            padding-right: 867px;
        }
        &__coloured-stripes {
            right: 515px;
        }
        &__people {
            margin-right: 418px;
            margin-top: -25px;
        }
    }

    
}

@media only screen and (max-width: 1300px) {
    .election-header-2019__wrapper {
        overflow:hidden;
    }
}