// Default breakpoints from Frontend
$mq-breakpoints: ( mobile: 320px, mobileLandscape: 480px, phablet: 660px, tablet: 740px, desktop: 980px, leftCol: 1140px, wide: 1300px);
@import 'shared/_imports';
section#documentaries.fc-container--thrasher {
    background-color: #161616;
    border-top: solid 1px #fb0;
    .fc-slice__item {
        margin: 0;
    }
    .fc-container__inner {
        overflow: visible;
        .fc-container__body {
            .fc-slice-wrapper {
                ul {
                    overflow: visible;
                }
                .facia-snap {
                    overflow: visible;
                }
            }
        }
    }
}

section#documentaries .facia-snap {
    @include mq($until: tablet) {
        padding: 0;
    }
}

section#documentaries a.fc-trail__count.fc-trail__count--commentcount {
    display: none !important;
}

.docs-radical-brownies__wrapper {
    background-color: #161616;
    width: 100%;
}

// **************************** FEATURED DOC **************************** //
.featured-doc {
    width: 100%;
    height: 320px;
    display: block;
    padding: 0 20px;
    @include mq($until: desktop) {
        height: 240px;
    }
    @include mq($until: tablet) {
        height: 260px;
    }
    @include mq($until: phablet) {
        height: 320px;
    }
    @include mq($until: mobileLandscape) {
        height: 280px;
        padding: 0 10px;
    }
    .background-image {
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        height: 320px;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include mq($until: desktop) {
            height: 240px;
        }
        @include mq($until: tablet) {
            height: 260px;
        }
        @include mq($until: phablet) {
            opacity: 0!important;
            height: 320px;
        }
        @include mq($until: mobileLandscape) {
            height: 280px;
        }
    }
    &-poster,
    &-toggle-more,
    &-info {
        display: inline-block;
        margin: 10px 10px 0 0px;
        vertical-align: top;
        width: 220px;
        height: 320px;
        position: relative;
        h2 {
            color: #f4f4f4;
            font-size: 22px;
        }
    }
    &-poster {
        @include mq($until: phablet) {
            width: 160px!important;
            border-left: none;
            padding-left: 0;
            margin-left: 0!important;
        }
        @include mq($until: mobileLandscape) {
            width: 130px!important;
        }
    }
    &-poster,
    &-info {
        @include mq($until: desktop) {
            margin: 10px 10px 0 10px;
            height: auto;
            width: 160px;
        }
        @include mq($until: tablet) {
            margin: 10px 8px 0 8px;
            width: 180px;
        }
        @include mq($until: phablet) {
            margin-top: 45px;
            height: 215px;
        }
    }
    &-toggle-more {
        margin-right: 15px;
        @include mq($until: wide) {
            width: 140px;
            h2 {
                font-size: 20px;
            }
        }
        @include mq($until: leftCol) {
            width: 220px;
            h2 {
                font-size: 22px;
            }
        }
        @include mq($until: desktop) {
            margin-left: 0;
            margin: 10px 10px 0 10px;
            height: 240px;
            width: 160px;
        }
        @include mq($until: tablet) {
            margin: 10px 8px 0 8px;
            width: 180px;
            height: 260px;
            h2 {
                font-size: 20px;
            }
        }
        @include mq($until: phablet) {
            height: 305px;
            position: absolute;
            top: 0px;
        }
        @include mq($until: mobileLandscape) {
            height: 280px;
        }
    }
    &-toggle-more {
        margin-left: 0;
        .toggle-button {
            display: inline-block;
            padding: 0 10px;
            border: solid 1px #f4f4f4;
            border-radius: 100px;
            position: absolute;
            bottom: 30px;
            @include mq($until: tablet) {
                bottom: 20px;
            }
            @include mq($until: phablet) {
                bottom: 10px;
                z-index: 9;
            }
            @include mq($until: mobileLandscape) {
                bottom: 30px;
            }
            &-svg {
                margin: 0 5px 0 0;
                position: relative;
                top: 2px;
                @include mq($until: wide) {
                    display: none;
                }
                @include mq($until: leftCol) {
                    display: inline-block;
                }
                @include mq($until: mobileLandscape) {
                    width: 10px;
                    margin-right: 0;
                }
            }
            &-text {
                display: inline-block;
                font-family: 'Guardian Text Sans Web', serif;
                font-size: 12px;
                line-height: 26px;
                color: #f4f4f4;
                margin: 0;
                padding: 0;
            }
        }
        .toggle-button:hover {
            background: #fff;
            text-decoration: none;
            cursor: pointer;
            .toggle-button-text {
                color: #333;
            }
            .toggle-button-svg-fill {
                fill: #333;
            }
        }
    }
    &-poster img {
        width: 220px;
        @include mq($until: desktop) {
            width: 160px;
        }
        @include mq($until: tablet) {
            width: 180px;
        }
        @include mq($until: phablet) {
            border-right: solid .5px #525252;
            padding: 0 8px 0 0;
            width: 160px;
        }
        @include mq($until: mobileLandscape) {
            width: 130px;
        }
    }
    &-info {
        color: #f4f4f4;
        font-family: 'Guardian Egyptian Web', serif;
        font-weight: 100;
        font-size: 24px;
        line-height: 26px;
        @include mq($until: desktop) {
            font-size: 20px;
            line-height: 22px;
        }
        @include mq($until: phablet) {
            width: 50%;
            font-size: 22px;
            line-height: 24px;
            padding-left: 0;
            margin-left: 8px;
        }
        @include mq($until: mobileLandscape) {
            width: 40%;
            font-size: 16px;
            line-height: 18px;
        }
        &-cta {
            display: inline-block;
            border: solid 1px #fb0;
            background-color: #fb0;
            border-radius: 100px;
            padding: 0 10px;
            position: absolute!important;
            bottom: 30px;
            line-height: 22px;
            transition: all .2s ease-in-out;
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 16px;
                top: 6px;
                left: 30px;
                width: 1px;
                background-color: #333;
                @include mq($until: desktop) {
                    height: 14px;
                    left: 29px;
                }
            }
            @include mq($until: desktop) {
                position: relative!important;
                bottom: 0;
                margin-bottom: 30px;
            }
            @include mq($until: phablet) {
                margin-top: 10px;
            }
            &:hover {
                transform: scale(1.1);
                text-decoration: none;
            }
            &-svg {
                display: inline-block;
                padding: 0 5px 0 0;
                position: relative;
                top: 1px;
            }
            &-text {
                color: #333333;
                display: inline-block;
                font-family: 'Guardian Text Sans Web', serif;
                font-size: 12px;
                line-height: 26px;
                padding: 0 0 0 8px;
                margin: 0;
            }
        }
    }
}

// **************************** DROPDOWN - MORE DOCS **************************** //
.more-docs-dropdown {
    width: 100%;
    height: 320px;
    display: none;
    padding: 0 20px;
    @include mq($until: leftCol) {
        height: auto;
    }
    @include mq($until: desktop) {
        padding: 0 20px;
    }
    @include mq($until: phablet) {
        margin-top: -55px;
    }
    @include mq($until: mobileLandscape) {
        padding: 0 10px;
    }
    .second-doc-poster,
    .third-doc-poster,
    .more-docs-toggle-close,
    .second-doc-info,
    .third-doc-info {
        display: inline-block;
        margin: 10px 10px 0 0px;
        vertical-align: top;
        width: 220px;
    }
    .more-docs-toggle-close {
        margin-right: 15px;
        @include mq($until: wide) {
            width: 140px;
            h2 {
                font-size: 20px;
            }
        }
        @include mq($until: leftCol) {
            width: 220px;
            h2 {
                font-size: 22px;
            }
        }
        @include mq($until: desktop) {
            margin: 10px 10px 0 0;
            height: 240px;
            width: 160px;
        }
        @include mq($until: tablet) {
            margin: 10px 8px 0 8px;
            width: 180px;
            height: 260px;
            h2 {
                font-size: 20px;
            }
        }
        @include mq($until: phablet) {
            height: auto;
        }
    }
    .more-docs-toggle-close,
    .second-doc-info,
    .third-doc-info {
        margin-left: 0;
    }
    .toggle-button-close {
        display: inline-block;
        padding: 0 10px;
        border: solid 1px #f4f4f4;
        border-radius: 100px;
        position: absolute;
        bottom: 20px;
        @include mq($until: tablet) {
            bottom: 20px;
        }
        @include mq($until: phablet) {
            position: absolute;
            bottom: 10px;
        }
        @include mq($until: mobileLandscape) {
            bottom: 15px;
        }
        &-svg {
            margin: 0 5px 0 0;
            position: relative;
            top: 2px;
            @include mq($until: wide) {
                display: none;
            }
            @include mq($until: leftCol) {
                display: inline-block;
            }
            @include mq($until: mobileLandscape) {
                width: 10px;
                margin-right: 0;
            }
        }
        &-text {
            display: inline-block;
            font-family: 'Guardian Text Sans Web', serif;
            font-size: 12px;
            line-height: 26px;
            color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        &:hover {
            background: #fff;
            text-decoration: none;
            cursor: pointer;
            .toggle-button-close-text {
                color: #333;
            }
            .toggle-button-close-svg-fill {
                fill: #333;
            }
        }
    }
    .responsive-stack {
        @include mq($until: leftCol) {
            display: inline-block;
        }
        @include mq($until: phablet) {
            display: block;
        }
    }
    .pad {
        @include mq($until: phablet) {
            padding-bottom: 50px;
        }
    }
    .second-doc-poster,
    .third-doc-poster {
        img {
            width: 220px;
            @include mq($until: desktop) {
                width: 160px;
            }
            @include mq($until: tablet) {
                width: 180px;
            }
            @include mq($until: phablet) {
                border-right: solid .5px #525252;
                padding: 0 8px 0 0;
                width: 160px;
            }
            @include mq($until: mobileLandscape) {
                width: 130px;
            }
        }
        @include mq($until: leftCol) {
            display: block;
        }
        @include mq($until: desktop) {
            margin: 10px 10px 0 10px;
            height: auto;
            width: 160px;
        }
        @include mq($until: tablet) {
            margin: 10px 8px 0 8px;
            width: 180px;
        }
        @include mq($until: phablet) {
            width: 160px;
            border-left: none;
            padding-left: 0;
            margin: 10px 8px 0 0;
            display: inline-block;
        }
        @include mq($until: mobileLandscape) {
            width: 130px;
            margin-left: 0;
        }
    }
    .second-doc-info {
        color: #f4f4f4;
        font-family: 'Guardian Egyptian Web', serif;
        font-weight: 100;
        font-size: 18px;
        line-height: 22px;
        @include mq($until: leftCol) {
            height: auto;
        }
        @include mq($until: desktop) {
            font-size: 16px;
            line-height: 20px;
            margin: 10px 10px 0 10px;
            width: 160px;
        }
        @include mq($until: tablet) {
            margin: 10px 8px 0 8px;
            width: 180px;
        }
        @include mq($until: phablet) {
            width: 50%;
            padding-left: 0;
            margin: 10px 8px 0 8px;
        }
        @include mq($until: mobileLandscape) {
            width: 40%;
            font-size: 16px;
            line-height: 18px;
        }
        &-title {
            font-weight: 900;
        }
        &-cta {
            display: inline-block;
            border: solid 1px #999;
            border-radius: 100px;
            padding: 0 10px;
            position: absolute;
            bottom: 20px;
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 15px;
                top: 6px;
                left: 30px;
                width: 1px;
                background-color: #f4f4f4;
                opacity: 0.5;
                @include mq($until: leftCol) {
                    display: none;
                }
            }
            &:hover {
                background: #fff;
                border: solid 1px #fff;
                text-decoration: none;
                .second-doc-info-cta-text {
                    color: #333;
                }
                &:after {
                    background-color: #333;
                }
                #secondary-doc-cta-svg-fill {
                    fill: #333;
                }
            }
            @include mq($until: leftCol) {
                &:hover {
                    background: #161616;
                    border: none;
                    text-decoration: none;
                    .second-doc-info-cta-text {
                        color: #f4f4f4;
                    }
                    #secondary-doc-cta-svg-fill {
                        fill: #f4f4f4;
                    }
                }
            }
            @include mq($until: leftCol) {
                border: none;
                padding: 0;
                margin: 2px 0 20px 0;
                position: relative;
                bottom: 0;
            }
        }
        &-cta-svg {
            display: inline-block;
            padding: 0 5px 0 0;
            position: relative;
            top: 1.5px;
            @include mq($until: leftCol) {
                top: 3px;
                left: 8px;
                width: 11px;
            }
            @include mq($until: mobileLandscape) {
                top: 4px;
            }
        }
        &-cta-text {
            color: #999;
            display: inline-block;
            font-family: 'Guardian Text Sans Web', serif;
            font-size: 12px;
            line-height: 26px;
            padding: 0 0 0 8px;
            margin: 0;
            @include mq($until: leftCol) {
                font-weight: 800;
                padding: 0;
                float: left;
                font-size: 14px;
            }
        }
    }
    .third-doc-poster {
        border-left: solid .5px #525252;
        padding-left: 13px;
        margin-left: 0;
        @include mq($until: desktop) {
            margin-left: 0;
        }
        @include mq($until: phablet) {
            border-left: none;
            padding-left: 0;
            margin-left: 0;
        }
    }
    .third-doc-info {
        @extend .second-doc-info;
        @include mq($until: leftCol) {
            padding-left: 13px;
        }
        @include mq($until: desktop) {
            margin-left: 0;
        }
        @include mq($until: phablet) {
            padding-left: 0;
            margin-left: 8px;
        }
        &-title {
            @extend .second-doc-info-title;
        }
        &-cta {
            @extend .second-doc-info-cta;
            &:hover {
                @extend .second-doc-info-cta;
                .third-doc-info-cta-text {
                    @extend .second-doc-info-cta-text:hover!optional;
                }
            }
        }
        &-cta-svg {
            @extend .second-doc-info-cta-svg;
        }
        &-cta-text {
            @extend .second-doc-info-cta-text;
            &:hover {
                @extend .second-doc-info-cta-text;
            }
        }
    }
}
