// Default breakpoints from Frontend
$mq-breakpoints: ( mobile: 320px, mobileLandscape: 480px, phablet: 660px, tablet: 740px, desktop: 980px, leftCol: 1140px, wide: 1300px);
@import 'shared/_imports';
section#documentaries.fc-container--thrasher {
    background-color: #161616;
    border-top: solid 1px #fb0;
    .fc-slice__item {
        margin: 0;
    }
    .fc-container__inner {
        overflow: visible;
        .fc-container__body {
            .fc-slice-wrapper {
                ul {
                    overflow: visible;
                }
                .facia-snap {
                    overflow: visible;
                }
            }
        }
    }
}

section#documentaries a.fc-trail__count.fc-trail__count--commentcount {
    display: none !important;
}

.docs-radical-brownies__wrapper {
    background-color: #161616;
    width: 100%;
}

// **************************** FEATURED DOC **************************** //
.featured-doc {
    width: 100%;
    height: 320px;
    display: block;
    padding: 0 1.25rem;
    .background-image {
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        height: 320px;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .featured-doc-poster,
    .featured-doc-toggle-more,
    .featured-doc-info {
        display: inline-block;
        margin: 0.625rem 10px 0 0px;
        vertical-align: top;
        width: 220px;
        height: 320px;
        position: relative;
        h2 {
            color: #f4f4f4;
            font-size: 22px;
        }
    }
    .featured-doc-toggle-more {
        margin-right: 15px;
    }
    .featured-doc-toggle-more,
    .featured-doc-info {
        margin-left: 0;
        .toggle-button {
            display: inline-block;
            padding: 2px 10px;
            border: solid 1px #f4f4f4;
            border-radius: 100px;
            position: absolute;
            bottom: 30px;
            .toggle-button-svg {
                margin: 0 5px 0 0;
                position: relative;
                top: 2px;
            }
            .toggle-button-text {
                display: inline-block;
                font-family: 'Guardian Text Sans Web', serif;
                font-weight: bold;
                font-size: 12px;
                color: #f4f4f4;
                margin: 0;
                padding: 0;
            }
        }
        .toggle-button:hover {
            background: #fff;
            text-decoration: none;
            cursor: pointer;
            .toggle-button-text {
                color: #333;
            }
            .toggle-button-svg-fill {
                fill: #333;
            }
        }
    }
    .featured-doc-poster img {
        width: 220px;
    }
    .featured-doc-info {
        color: #f4f4f4;
        font-family: 'Guardian Egyptian Web', serif;
        font-weight: 100;
        font-size: 24px;
        line-height: 26px;
        .featured-doc-cta {
            display: inline-block;
            border: solid 1px #fb0;
            border-radius: 100px;
            background: #fb0;
            padding: 0 15px;
            position: absolute;
            bottom: 30px;
            transition: all .2s ease-in-out;
            .featured-doc-cta-svg {
                display: inline-block;
                padding: 0 3px 0 0;
                position: relative;
                top: 2px;
            }
            .featured-doc-cta-text {
                border-left: solid 1px rgba(51, 51, 51, 0.6);
                color: #333333;
                display: inline-block;
                font-family: 'Guardian Text Sans Web', serif;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                padding: 0 0 0 8px;
                position: relative;
                top: .5px;
            }
        }
    }
    .featured-doc-cta:hover {
        transform: scale(1.1);
        text-decoration: none;
    }
}

// **************************** DROPDOWN - MORE DOCS **************************** //
.more-docs-dropdown {
    width: 100%;
    height: 320px;
    display: none;
    padding: 0 1.25rem;
    .second-doc-poster,
    .third-doc-poster,
    .more-doc-toggle-close,
    .second-doc-info,
    .third-doc-info,
    {
        display: inline-block;
        margin: 0.625rem 10px 0 0px;
        vertical-align: top;
        width: 220px;
    }
    .more-doc-toggle-close {
        margin-right: 15px;
    }
    .more-doc-toggle-close,
    .second-doc-info,
    .third-doc-info,
    {
        margin-left: 0;
    }
    .toggle-button-close {
        display: inline-block;
        padding: 2px 10px;
        border: solid 1px #f4f4f4;
        border-radius: 100px;
        position: absolute;
        bottom: 20px;
        .toggle-button-close-svg {
            margin: 0 5px 0 0;
            position: relative;
            top: 2px;
        }
        .toggle-button-close-text {
            display: inline-block;
            font-family: 'Guardian Text Sans Web', serif;
            font-weight: bold;
            font-size: 12px;
            color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
    }
    .toggle-button-close:hover {
        background: #fff;
        text-decoration: none;
        cursor: pointer;
        .toggle-button-close-text {
            color: #333;
        }
        .toggle-button-close-svg-fill {
            fill: #333;
        }
    }
    .third-doc-poster {
        border-left: solid .5px #525252;
        padding-left: 13px;
        margin-left: 0;
    }
    .second-doc-poster img,
    .third-doc-poster img {
        width: 220px;
    }
    .second-doc-info,
    .third-doc-info {
        color: #f4f4f4;
        font-family: 'Guardian Egyptian Web', serif;
        font-weight: 100;
        font-size: 18px;
        line-height: 22px;
        .second-title,
        .third-title {
            font-weight: 900;
        }
        .second-doc-cta,
        .third-doc-cta {
            display: inline-block;
            border: solid 1px #f4f4f4;
            border-radius: 100px;
            padding: 5px 15px;
            position: absolute;
            bottom: 20px;
            .second-doc-cta-svg,
            .third-doc-cta-svg {
                display: inline-block;
                padding: 0 5px 0 0;
                position: relative;
                top: 1.5px;
            }
            .second-doc-cta-text,
            .third-doc-cta-text {
                border-left: solid 1px #f4f4f4;
                color: #f4f4f4;
                display: inline-block;
                font-family: 'Guardian Text Sans Web', serif;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                padding: 0 0 0 8px;
                margin: 0;
            }
        }
        .second-doc-cta:hover,
        .third-doc-cta:hover {
            background: #fff;
            text-decoration: none;
            .second-doc-cta-text,
            .third-doc-cta-text {
                color: #333;
                border-left: solid 1px #333;
            }
            #secondary-doc-cta-svg-fill {
                fill: #333;
            }
        }
    }
}

// **************************** RESPONSIVE **************************** //
@include mq($until: wide) {
    .featured-doc,
    .more-docs-dropdown {
        .featured-doc-toggle-more,
        .more-doc-toggle-close {
            margin-right: 15px;
            width: 140px;
            h2 {
                font-size: 20px;
            }
            .featured-doc-poster,
            .featured-doc-info,
            .second-doc-poster,
            .third-doc-poster,
            .second-doc-info,
            .third-doc-info {
                margin: 0.625rem 5px 0 5px;
            }
            .toggle-button-svg,
            .toggle-button-close-svg {
                display: none;
            }
        }
    }
}

@include mq($until: leftCol) {
    .more-docs-dropdown {
        height: auto;
        .more-doc-toggle-close {
            display: inline-block;
        }
        .second-doc-poster,
        .third-doc-poster {
            display: block;
        }
        .third-doc-info {
            padding-left: 13px;
        }
        .third-doc-info,
        .second-doc-info {
            height: auto;
            .featured-doc-cta,
            .second-doc-cta,
            .third-doc-cta {
                border: none;
                padding: 0;
                margin: 2px 0 20px 0;
                position: relative;
                bottom: 0;
                .second-doc-cta-text,
                .third-doc-cta-text {
                    border-left: none;
                    padding: 0;
                    float: left;
                    font-size: 14px;
                }
                .second-doc-cta-svg,
                .third-doc-cta-svg {
                    top: -2px;
                    left: 8px;
                    width: 11px;
                }
            }
        }
    }
    .responsive-stack {
        display: inline-block;
    }
    .featured-doc,
    .more-docs-dropdown {
        .featured-doc-toggle-more,
        .more-doc-toggle-close {
            margin-right: 15px;
            width: 220px;
            h2 {
                font-size: 22px;
            }
            .toggle-button-svg,
            .toggle-button-close-svg {
                display: inline-block;
            }
        }
    }
}

@include mq($until: desktop) {
    .featured-doc {
        height: 240px;
        .background-image {
            height: 240px;
        }
    }
    .more-docs-dropdown {
        height: auto;
        .responsive-stack {
            .second-doc-info,
            .third-doc-info {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .featured-doc,
    .more-docs-dropdown {
        padding: 0 10px;
        .featured-doc-poster,
        .featured-doc-info,
        .second-doc-poster,
        .third-doc-poster,
        .second-doc-info,
        .third-doc-info {
            margin: 0.625rem 10px 0 10px;
            height: auto;
            width: 160px;
        }
        .featured-doc-toggle-more,
        .more-doc-toggle-close {
            margin-left: 0;
            margin: 0.625rem 10px 0 10px;
            height: 240px;
            width: 160px;
        }
        .featured-doc-poster img,
        .second-doc-poster img,
        .third-doc-poster img {
            width: 160px;
        }
        .featured-doc-info,
        .second-doc-info,
        .third-doc-info {
            font-size: 20px;
            line-height: 22px;
            .featured-doc-cta {
                position: relative;
                bottom: 0;
                margin-bottom: 30px;
            }
        }
        .third-doc-poster,
        .third-doc-info {
            margin-left: 0;
        }
    }
}

@include mq($until: tablet) {
    section#documentaries .facia-snap {
        padding: 0;
    }
    .featured-doc {
        height: 260px;
        .background-image {
            height: 260px;
        }
    }
    .featured-doc,
    .more-docs-dropdown {
        .more-doc-toggle-close,
        .featured-doc-toggle-more,
        {
            margin: 0.625rem 0.5rem 0 0.5rem;
            width: 180px;
            height: 260px;
            h2 {
                font-size: 20px;
            }
        }
        .featured-doc-poster,
        .featured-doc-info,
        .second-doc-poster,
        .third-doc-poster,
        .second-doc-info,
        .third-doc-info {
            margin: 0.625rem 0.5rem 0 0.5rem;
            width: 180px;
            height: auto;
        }
        .featured-doc-toggle-more,
        .more-doc-toggle-close {
            .toggle-button,
            .toggle-button-close {
                bottom: 20px;
            }
        }
        .featured-doc-poster img,
        .second-doc-poster img,
        .third-doc-poster img {
            width: 180px;
        }
        .featured-doc-info,
        .second-doc-info,
        .third-doc-info {
            font-size: 22px;
            line-height: 24px;
        }
        .third-doc-poster,
        .third-doc-info {
            margin-left: 0px;
        }
    }
}

@include mq($until: phablet) {
    .featured-doc {
        height: 320px;
    }
    .more-docs-dropdown {
        height: auto;
        margin-top: -55px;
        .more-doc-toggle-close {
            height: auto;
            .toggle-button-close {
                position: absolute;
                bottom: 10px;
                padding: 2px 14px;
            }
        }
        .responsive-stack {
            .second-doc-poster,
            .third-doc-poster {
                display: inline-block;
                margin-left: 8px;
            }
        }
    }
    .responsive-stack {
        display: block;
    }
    .pad {
        padding-bottom: 50px;
    }
    .featured-doc,
    .more-docs-dropdown {
        .background-image {
            opacity: 0!important;
            height: 320px;
        }
        .featured-doc-toggle-more {
            height: 305px;
            position: absolute;
            top: 0px;
            .toggle-button {
                bottom: 10px;
                padding: 2px 14px;
                z-index: 9;
            }
        }
        .featured-doc-info,
        .featured-doc-poster {
            margin: 45px 0.5rem 0 0.5rem;
            height: 215px;
        }
        .second-doc-info,
        .second-doc-poster,
        .third-doc-info,
        .third-doc-poster {
            margin: 10px 0.5rem 0 0.5rem;
        }
        .featured-doc-poster,
        .second-doc-poster,
        .third-doc-poster {
            width: 160px;
            border-left: none;
            padding-left: 0;
        }
        .featured-doc-poster img,
        .second-doc-poster img,
        .third-doc-poster img {
            border-right: solid .5px #525252;
            padding: 0 0.5rem 0 0;
            width: 160px;
        }
        .featured-doc-info,
        .second-doc-info,
        .third-doc-info {
            width: 50%;
            font-size: 22px;
            line-height: 24px;
            padding-left: 0;
            .featured-doc-cta {
                position: relative;
                margin-top: 10px;
                padding: 2px 15px;
            }
            .second-doc-cta:hover,
            .third-doc-cta:hover {
                background: #161616;
                text-decoration: none;
                .second-doc-cta-text,
                .third-doc-cta-text {
                    color: #f4f4f4;
                }
                #secondary-doc-cta-svg-fill {
                    fill: #f4f4f4;
                }
            }
        }
    }
}

@include mq($until: mobileLandscape) {
    .featured-doc {
        height: 280px;
        .background-image {
            height: 280px;
        }
    }
    .more-docs-dropdown {
        height: auto;
    }
    .featured-doc,
    .more-docs-dropdown {
        padding: 0 5px;
        .featured-doc-poster,
        .featured-doc-poster img,
        .second-doc-poster,
        .second-doc-poster img,
        .third-doc-poster,
        .third-doc-poster img {
            width: 130px;
        }
        .featured-doc-toggle-more {
            height: 280px;
        }
        .featured-doc-toggle-more,
        .more-doc-toggle-close {
            .toggle-button {
                bottom: 30px;
            }
            .toggle-button-close {
                bottom: 15px;
            }
            .toggle-button,
            .toggle-button-close {
                padding: 2px 8px;
                .toggle-button-svg,
                .toggle-button-close-svg {
                    width: 10px;
                    margin-right: 0;
                }
            }
        }
        .featured-doc-info,
        .second-doc-info,
        .third-doc-info {
            width: 40%;
            font-size: 16px;
            line-height: 20px;
            .featured-doc-cta {
                .featured-doc-cta-svg {
                    padding: 0 5px 0 0;
                    top: 4.5px;
                }
                .featured-doc-cta-text {
                    top: 2.5px;
                }
            }
        }
    }
}
