// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-live-main-1: #b51800;
$c-neutral-1: #333;

@import 'shared/_imports';

@include base(je-suis-charlie, $c-neutral-1);

#je-suis-charlie {
    .fc-container__inner,
    .has-page-skin &,
    .fc-item,
    .fc-slice,
    .je-suis-charlie__wrapper {
        overflow: visible;
    }
}

.je-suis-charlie__marque {
    position: absolute;
    top: 12px;
    right: 6px;
}

.je-suis-charlie__anchor {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: -8px;
    left: 0;
    z-index: 4 !important;
    background: transparent;
    cursor: pointer;

    &:hover ~ .je-suis-charlie__content a.je-suis-charlie__button {
        background-color: lighten($c-live-main-1, 5%);
    }
}

.je-suis-charlie__wrapper {
    background: url('http://interactive.guim.co.uk/thrashers/je-suis-charlie/source/fabric.png') repeat;
    background-size: 102px;
    padding: 10px 10px 0;

    @include mq(mobileLandscape) {
        padding: 10px 20px 0;
    }
}

.je-suis-charlie__content {
    @include box-sizing(border-box);
    position: relative;
    height: 100%;

    @include mq(mobileLandscape) {
        float: right;
        width: 59%;
    }
}

.je-suis-charlie__marque {
    position: absolute;
    right: 20px;
    bottom: 6px;
    z-index: 2;

    @include mq($until: phablet) {
        display: none;
    }
}

.je-suis-charlie__title {
    color: #fff;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1;
    margin: 12px 10px 0 -5px;
    display: inline-block;
    max-width: 75%;
    
    @include mq(desktop) {
        margin: 2px 40px 0 -10px;
    }
}

.je-suis-charlie__title-paint {
    width: 100%;

    @include mq(desktop) {
        width: auto;
        height: 3.5rem;
    }
}

.je-suis-charlie__subtitle {
    color: #fff;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.4;

    @include mq(phablet, desktop) {
        margin-right: 60px;
    }

    @include mq(leftCol) {
        font-size: 1rem;
        line-height: 1.45;
    }

    span {
        @include mq(desktop) {
            display: block;
        }
    }
}

.je-suis-charlie__subtitle--1,
.je-suis-charlie__subtitle--2 {
    font-weight: bold;
}

@include mq(desktop) {
    .je-suis-charlie__subtitle--2 {
        margin-left: -60px;
    }
    
    .je-suis-charlie__subtitle--3 {
        padding-left: 40px;
    }
    
    .je-suis-charlie__subtitle--4 {
        margin-left: -20px;
    }
}

.je-suis-charlie__pins {
    @include box-sizing(border-box);
    padding: 10px 20px 10px 0;
    text-align: center;

    @include mq(mobileLandscape) {
        padding: 6px 20px 6px 0;
        float: left;
        width: 41%;
        text-align: right;
    }
}

.je-suis-charlie__pin {
    width: 40%;
    display: inline;

    @include mq(mobileLandscape) {
        width: 50%;
    }

    @include mq(tablet) {
        width: auto;
        height: 6rem;
    }

    @include mq(desktop) {
        height: 8rem;
    }

    @include mq(leftCol) {
        height: 9rem;
    }

    .has-page-skin & {
        @include mq(wide) {
            height: 8rem;
        }
    }
}

.je-suis-charlie__pin--colour {
    @include mq(mobileLandscape) {
        margin-left: -10%;
    }

    @include mq(leftCol) {
        margin-left: -7%;
    }
}

a.je-suis-charlie__button {
    display: inline-block;
    color: #fff;
    background-color: $c-live-main-1;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 13px;
    margin-bottom: -8px;
    line-height: 1.1;
    font-weight: bold;
    text-align: center;

    @include mq(tablet) {
        width: 38px;
        height: 38px;
        padding: 16px 13px 10px 13px;
    }
}
