// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.political_transparency__wrapper {
  width: 100%;
  display: none;

  .guardian_supporters_block {
    width: 100%;
    text-align: center;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    color: #767676;
  }
  

  @include mq($until: tablet) {
    
  }

  @include mq($from: tablet) {
    padding-top: 15px;
  }

  #app {

    width: 100%;
    position: relative;
    display: inline-block;

    @include mq($until: tablet) {
      padding: 10px;
    }

    @include mq($from: tablet) {

    }

  }

  a:link {
      text-decoration: none;
      color: black;
  }

  a:visited {
      text-decoration: none;
      color: black;
  }

  a:hover {
      text-decoration: none;
      color: black;
  }

  a:active {
      text-decoration: none;
      color: black;
  }

  .political_expander {
    width: 100%;
    display: inline-block;
  }


  .political_block {

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    background-repeat: no-repeat;

    @include mq($until: tablet) {
      width: 100%;
      margin-bottom: 10px;
      padding-right: 30px;
    }

    @include mq($from: tablet) {
      position: absolute;
      width: calc(100% - 20px);
      top: 0px;
      left: 10px;
      bottom: 20px;
    }

  }

  .political_block:hover {
    opacity: 0.7;
  }

  .political_block span {
    font-family: "Guardian Egyptian Web", Georgia, serif;
    font-weight: 900;

    @include mq($until: tablet) {
      font-size: 18px;
      line-height: 18px;
    }

    @include mq($from: tablet, $until: desktop) {
      font-size: 20px;
      line-height: 24px;
    }

    @include mq($from: desktop) {
      font-size: 22px;
      line-height: 26px;
    }


  }
  .political_block p {
    font-family: "Guardian Egyptian Web", Georgia, serif;
    font-weight: 400;
    margin-top: 5px;

    @include mq($until: tablet) {
      font-size: 16px;
      line-height: 20px;
    }

    @include mq($from: tablet, $until: desktop) {
      font-size: 16px;
      line-height: 20px;
    }

    @include mq($from: desktop) {
      font-size: 18px;
      line-height: 22px;
    }


  }
  .political__horizantal__block__2 {


    @include mq($until: tablet) {
      width: 100%;
    }

    @include mq($from: tablet) {
      width: 50%;
      height: 0px;
      padding-bottom: 25%;
      float: left;
    }


    position: relative;
  }
  .political__vertical__block__2 {

    @include mq($until: tablet) {
      width: 100%;
    }

    @include mq($from: tablet) {
      width: 25%;
      padding-bottom: 50%;
      height: 0px;
      float: left;
    }

    position: relative;
  }
  .political__square__block__1 {

    @include mq($until: tablet) {
      width: 100%;
    }

    @include mq($from: tablet) {
      width: 25%;
      padding-bottom: 25%;
      height: 0px;
      float: left;
    }

    position: relative;
  }

.dead_drop {
  background-color: #ffe500;
  display: inline-block;
  width: 100%;

  a:link {
      text-decoration: underline;
  }

  a:visited {
      text-decoration: underline;
  }

  a:hover {
      text-decoration: underline;
  }

  a:active {
      text-decoration: underline;
  }



  .tipster_container {
    width: calc(100% - 40px);
    display: inline-block;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .tipster_container p {
    font-size: 14px;
  }

  .dead_drop__roundel {
    float: right;
    width: 30px;
  }



  .story_block {
    float: left;
    margin-bottom: 20px;
    margin: auto;
    width: calc(100% - 70px);
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .read-more-state {
    display: none;
  }

  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
    display: none;
  }

  .read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    display: block;
    font-size: inherit;
    max-height: 999em;
  }

  .message_types {
    display: inline-block;
    width: 100%;
  }


  .read-more-trigger {
    float: right;
    background-color: white;
    cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      transition: opacity .5s ease-out;
      flex-shrink: 0;
      transition: transform 0.2s ease-out;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(https://interactive.guim.co.uk/atoms/2018/07/mr-sound-selector/v/1536882470131/assets/plus.svg);
  }

  .message_types ul {
      padding: 0 0 0 20px;
  }

  .message_types ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  .message_types li {
      float: left;
      margin-right: 20px;
  }

  .message_types .selected {
      color: #121212;
  }

  .message_types .gv-chiclet {
      display: block;
      font-size: 14px;
      line-height: 20px;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      line-height: 30px;
      color: black;
      padding: 6px 3px 6px 0;
      margin: 0;
      border-radius: 1000px;
  }

  .message_types .selected:before {
      background-image: url(https://interactive.guim.co.uk/atoms/2018/08/contact-the-guardian-securely/v/1535990295722/assets/tick.svg);
      background-color: #ffe500;;
      opacity: 1;
  }

  .selected:before {
      background-image: url(https://interactive.guim.co.uk/atoms/2018/08/contact-the-guardian-securely/v/1535990295722/assets/arrow-down.svg);
      opacity: 1;
  }

  .unselected:before, .selected:before {
      content: ' ';
      width: 30px;
      height: 30px;
      opacity: 0.5;
      border-radius: 1000px;
      border: 1px solid #767676;
      background-image: url(https://interactive.guim.co.uk/atoms/2018/08/contact-the-guardian-securely/v/1535990295722/assets/arrow-right.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 28px;
      float: left;
      margin-right: 5px;
  }

  ::selection {
      background: #ffe500;
      color: #121212;
  }


}



  

}
.political_transparency__wrapper .political-transparency-container__inner {
  overflow: hidden;
  position: relative;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
@media (min-width: 30em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 38.75rem;
  }
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 43.75rem;
  }
}
@media (min-width: 61.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 58.75rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 68.75rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 78.75rem;
  }
}
.political_transparency__wrapper .political-transparency-container .political-transparency-container__inner {
  border-top: 0.0625rem solid #dfdfdf;
}
.political_transparency__wrapper .political-transparency-container {
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: 0;
}
.political_transparency__wrapper .political-transparency-container:after, .political_transparency__wrapper .political-transparency-container:before {
  content: '';
  display: table;
}
.political_transparency__wrapper .political-transparency-container:after {
  clear: both;
}
.political_transparency__wrapper .political-transparency-container__inner {
  padding-top: 0.1875rem;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    padding-top: 0.375rem;
  }
}
.political_transparency__wrapper .political-transparency-slice-wrapper {
  padding-top: 0.00063rem;
  margin: 0 -0.625rem;
}
.political_transparency__wrapper .political-transparency-container__header {
  position: relative;
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__header {
    float: left;
    width: 8.75rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__header {
    width: 13.75rem;
  }
}
@media (max-width: 71.24em) {
  .political_transparency__wrapper .political-transparency-container__header {
    overflow: hidden;
  }
  .political_transparency__wrapper .political-transparency-container__header .political-transparency-container__header__title {
    float: left;
    padding-right: 0.3125rem;
  }
  .political_transparency__wrapper .political-transparency-container__header .political-transparency-container__header__description {
    margin-top: 0.3125rem;
    text-align: left;
  }
}
.political_transparency__wrapper .political-transparency-container__header__title {
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
  font-weight: 900;
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 0.25rem;
  line-height: 1.5rem;
  color: black;
}
@media (min-width: 71.25em) and (max-width: 81.24em) {
  .political_transparency__wrapper .political-transparency-container__header__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.political_transparency__wrapper .political-transparency-container__header__title:after {
  content: '';
  display: none;
  position: absolute;
  height: 1.875rem;
  width: 0.0625rem;
  background-color: #dcdcdc;
  right: -0.6875rem;
  top: -0.375rem;
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__header__title:after {
    display: block;
  }
}
.political_transparency__wrapper .political-transparency-container__header__description {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
  font-weight: normal;
  padding-bottom: 0.375rem;
  color: #767676;
  font-weight: 500;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__header__description {
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__header__description {
    width: 8.75rem;
    clear: left;
    float: left;
    margin-top: 0;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__header__description {
    width: 13.75rem;
  }
}
.political_transparency__wrapper .political-transparency-container__body {
  padding-top: 0.375rem;
  padding-bottom: 0.75rem;
  opacity: 1;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    padding-top: 0.1875rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    margin-left: 10rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    margin-left: 15rem;
    width: 58.75rem;
  }
}
@media (max-width: 71.24em) {
  .political_transparency__wrapper .political-transparency-container__body {
    clear: left;
  }
}
.political_transparency__wrapper .political-transparency-slice {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-slice {
    overflow: visible;
  }
}
.political_transparency__wrapper section {
  display: block;
}
.political_transparency__wrapper ::-moz-selection {
  background: #ffe500;
  color: #121212;
}
.political_transparency__wrapper ::selection {
  background: #ffe500;
  color: #121212;
}
.political_transparency__wrapper ul {
  list-style-position: inside;
}
.political_transparency__wrapper p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.political_transparency__wrapper .u-unstyled {
  margin: 0;
  list-style: none;
}
.political_transparency__wrapper ul {
  padding: 0;
  margin-left: 1.5625rem;
}
.political_transparency__wrapper .political-transparency-container__inner {
  overflow: hidden;
  position: relative;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
@media (min-width: 30em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 38.75rem;
  }
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 43.75rem;
  }
}
@media (min-width: 61.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 58.75rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 68.75rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 78.75rem;
  }
}
.political_transparency__wrapper .political-transparency-container .political-transparency-container__inner {
  border-top: 0.0625rem solid #dcdcdc;
}
.political_transparency__wrapper .political-transparency-container {
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: 0;
}
.political_transparency__wrapper .political-transparency-container:after, .political_transparency__wrapper .political-transparency-container:before {
  content: '';
  display: table;
}
.political_transparency__wrapper .political-transparency-container:after {
  clear: both;
}
.political_transparency__wrapper .political-transparency-container__inner {
  padding-top: 0.1875rem;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    padding-top: 0.375rem;
  }
}
.political_transparency__wrapper .political-transparency-slice-wrapper {
  padding-top: 0.00063rem;
  margin: 0 -0.625rem;
}
.political_transparency__wrapper .political-transparency-container__header {
  position: relative;
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__header {
    float: left;
    width: 8.75rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__header {
    width: 13.75rem;
  }
}
@media (max-width: 71.24em) {
  .political_transparency__wrapper .political-transparency-container__header .political-transparency-container__header__title {
    float: left;
    padding-right: 0.3125rem;
  }
}
.political_transparency__wrapper .political-transparency-container__header__title {
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-family: "Guardian Egyptian Web", Georgia, serif;
  font-weight: 900;
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 0.25rem;
  line-height: 1.5rem;
}
@media (min-width: 71.25em) and (max-width: 81.24em) {
  .political_transparency__wrapper .political-transparency-container__header__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.political_transparency__wrapper .political-transparency-container__header__title:after {
  content: '';
  display: none;
  position: absolute;
  height: 1.875rem;
  width: 0.0625rem;
  background-color: #dcdcdc;
  right: -0.6875rem;
  top: -0.375rem;
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__header__title:after {
    display: block;
  }
}
.political_transparency__wrapper .political-transparency-container__header__description {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Guardian Egyptian Web", Georgia, serif;
  font-weight: normal;
  padding-bottom: 0.375rem;
  color: #767676;
  clear: left;
  font-weight: 500;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__header__description {
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__header__description {
    width: 8.75rem;
    float: left;
    margin-top: 0;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__header__description {
    width: 13.75rem;
  }
}
.political_transparency__wrapper .political-transparency-container__body {
  padding-top: 0.375rem;
  padding-bottom: 0.75rem;
  opacity: 1;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    padding-top: 0.1875rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    margin-left: 10rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    margin-left: 15rem;
    width: 58.75rem;
  }
}
@media (max-width: 71.24em) {
  .political_transparency__wrapper .political-transparency-container__body {
    clear: left;
  }
}
.political_transparency__wrapper .political-transparency-slice {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-slice {
    overflow: visible;
  }
}