// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

/*! CSS Used from: http://localhost:9000/main.css */

.political_transparency__wrapper {
  width: 100%;
}

.political_transparency__wrapper .dead_drop {
  background-color: #ffe500;
  display: inline-block;
  width: 100%;
}
.political_transparency__wrapper .dead_drop .story_block {
  float: left;
  margin-bottom: 20px;
  margin: auto;
  width: calc(100% - 70px);
  font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.political_transparency__wrapper .dead_drop .read-more-state {
  display: none;
}
.political_transparency__wrapper .dead_drop ::selection {
  background: #ffe500;
  color: #121212;
}
.political_transparency__wrapper .political-transparency-container__inner {
  overflow: hidden;
  position: relative;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
@media (min-width: 30em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 38.75rem;
  }
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 43.75rem;
  }
}
@media (min-width: 61.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 58.75rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 68.75rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 78.75rem;
  }
}
.political_transparency__wrapper .political-transparency-container .political-transparency-container__inner {
  border-top: 0.0625rem solid #dfdfdf;
}
.political_transparency__wrapper .political-transparency-container {
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: 0;
}
.political_transparency__wrapper .political-transparency-container:after, .political_transparency__wrapper .political-transparency-container:before {
  content: '';
  display: table;
}
.political_transparency__wrapper .political-transparency-container:after {
  clear: both;
}
.political_transparency__wrapper .political-transparency-container__inner {
  padding-top: 0.1875rem;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    padding-top: 0.375rem;
  }
}
.political_transparency__wrapper .political-transparency-container__body {
  padding-top: 0.375rem;
  padding-bottom: 0.75rem;
  opacity: 1;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    padding-top: 0.1875rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    margin-left: 10rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    margin-left: 15rem;
    width: 58.75rem;
  }
}
@media (max-width: 71.24em) {
  .political_transparency__wrapper .political-transparency-container__body {
    clear: left;
  }
}
.political_transparency__wrapper ::-moz-selection {
  background: #ffe500;
  color: #121212;
}
.political_transparency__wrapper ::selection {
  background: #ffe500;
  color: #121212;
}
.political_transparency__wrapper p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.political_transparency__wrapper .political-transparency-container__inner {
  overflow: hidden;
  position: relative;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
@media (min-width: 30em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 38.75rem;
  }
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 43.75rem;
  }
}
@media (min-width: 61.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 58.75rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 68.75rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    width: 78.75rem;
  }
}
.political_transparency__wrapper .political-transparency-container .political-transparency-container__inner {
  border-top: 0.0625rem solid #dcdcdc;
}
.political_transparency__wrapper .political-transparency-container {
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: 0;
}
.political_transparency__wrapper .political-transparency-container:after, .political_transparency__wrapper .political-transparency-container:before {
  content: '';
  display: table;
}
.political_transparency__wrapper .political-transparency-container:after {
  clear: both;
}
.political_transparency__wrapper .political-transparency-container__inner {
  padding-top: 0.1875rem;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__inner {
    padding-top: 0.375rem;
  }
}
.political_transparency__wrapper .political-transparency-container__body {
  padding-top: 0.375rem;
  padding-bottom: 0.75rem;
  opacity: 1;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
@media (min-width: 46.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    padding-top: 0.1875rem;
  }
}
@media (min-width: 71.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    margin-left: 10rem;
  }
}
@media (min-width: 81.25em) {
  .political_transparency__wrapper .political-transparency-container__body {
    margin-left: 15rem;
    width: 58.75rem;
  }
}
@media (max-width: 71.24em) {
  .political_transparency__wrapper .political-transparency-container__body {
    clear: left;
  }
}
