.docs-open-water__wrapper .image {
  .sea-group {
    position: absolute;
    width: 1300px;
    top: -81px;
    left: 0;
    transform: rotate(0);

    transition: all 1.8s ease-in-out, top 1.2s ease-in-out;
    &__overview {
      width: 100%;
    }
    &__detail {
      width: 11.51%;
      height: 11.58%;
      position: absolute;
      top: 36.30%;
      left: 78.2%;
      transform: rotate(-80deg);
    }

    :hover &,
    &[data-step="1"] {
      width: 1300px;
      top: -81px;
      left: -267px;
      transform: rotate(0);
      @include mq(tablet) {
        width: 1040px;
        top: -41px;
        left: -224px;
        transform: rotate(0);
      }
      @include mq(desktop) {
        width: 1040px;
        top: -9px;
        left: -46px;
        transform: rotate(-4deg);
      }
      @include mq(leftCol) {
        width: 1200px;
        top: -81px;
        left: -36px;
        transform: rotate(0);
      }
      @include mq(wide) {
        width: 1300px;
        top: -81px;
        left: 0;
        transform: rotate(0);
      }
    }

    &[data-step="2"] {
      width: 1220px;
      top: -61px;
      left: -730px;
      transform: rotate(0);
      @include mq(mobileLandscape) {
        width: 1220px;
        top: -61px;
        left: -460px;
        transform: rotate(0);
      }
      @include mq(tablet) {
        width: 1100px;
        top: -41px;
        left: -360px;
        transform: rotate(0);
      }
      @include mq(desktop) {
        width: 1240px;
        top: -30px;
        left: -232px;
        transform: rotate(-4deg);
      }
      @include mq(leftCol) {
        width: 1380px;
        top: -81px;
        left: -234px;
        transform: rotate(0);
      }
      @include mq(wide) {
        width: 1600px;
        top: -81px;
        left: -250px;
        transform: rotate(-12deg);
      }
    }

    &[data-step="3"] {
      width: 5771px;
      transform: rotate(-9deg);
      left: -4610px;
      top: -336px;
      @include mq(tablet) {
        width: 6400px;
        transform: rotate(-9deg);
        left: -4920px;
        top: -406px;
      }
      @include mq(desktop) {
        width: 6441px;
        transform: rotate(-20deg);
        left: -4660px;
        top: -140px;
      }
      @include mq(leftCol) {
        width: 6441px;
        transform: rotate(-20deg);
        left: -4352px;
        top: -134px;
      }
      @include mq(wide) {
        width: 6441px;
        transform: rotate(-20deg);
        left: -4272px;
        top: -134px;
      }
    }
  }
}
