// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';
@import 'sea-group';

.fc-container--thrasher#documentary {
  background-color: #fff;
}

.docs-open-water__wrapper {
  width: auto;
  position: relative;
  z-index: 10;
  margin: 0 -10px;
  background-color: #002754;
  @include mq(tablet) {
    width: 100%;
    margin: 0;
  }
}

.open-water-thrasher {
  overflow: hidden;
  padding: 0 10px;
  @include mq(mobileLandscape) {
    padding: 0 20px;
  }
  .container-title {
    display: none;
    @include mq(wide) {
      display: block;
      position: absolute;
      left: 20px;
      top: 6px;
      font-family: "Guardian Egyptian Web",Georgia,serif;
      color: #fff;
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      z-index: 30;
    }
  }
  a.main-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 20;
    &:hover {
      & ~ .image {
        opacity: 0.9;
      }
      & ~ .copy .copy__button__icon {
        transform: scale(1.1);
      }
    }
  }
  .copy {
    font-family: "Guardian Egyptian Web",Georgia,serif;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    z-index: 10;
    padding: 6px 38px 0 0;
    margin-bottom: 18px;
    text-shadow: #00254B 0 0 10px;
    @include mq(leftCol) {
      margin-left: 150px;
      border-left: 1px solid #697792;
      border-bottom: 1px solid #697792;
      padding-left: 10px;
      padding-bottom: 9px;
      width: 420px;
      margin-bottom: 24px;
    }
    @include mq(wide) {
      margin-left: 230px;
    }
    &__title {
      font-weight: 700;
      max-width: 340px;
    }
    &__logline {
      font-weight: 200;
      max-width: 340px;
    }
    &__button {
      margin-top: 238px;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 14px;
      color: #121212;
      @include mq(desktop) {
        margin-top: 36px;
      }
      &__icon {
        width: 42px;
        height: 42px;
        background-color: #ffe500;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        transition: all 240ms ease-in-out;
        svg {
          position: absolute;
          top: 13px;
          left: 13px;
        }
      }
      &__time {
        display: inline-block;
        vertical-align: middle;
        text-shadow: #00254B 0 0 10px;
        margin-bottom: -1px;
        margin-left: 1px;
        @include mq(desktop) {
          text-shadow: none;
          color: #ffe500;
        }
      }
    }
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
  }

  .roundel {
    position: absolute;
    top: 9px;
    right: 10px;
    @include mq(mobileLandscape) {
      right: 20px;
    }
    svg {
      display: block;
    }
  }
}
