// Default breakpoints from Frontend
$mq-breakpoints: (
	slim:          	190px,
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';


.facia-snap[data-snap-uri="https://interactive.guim.co.uk/thrashers/songs-of-brisbane/source.json"], [data-snap-uri="https://interactive.guim.co.uk/thrashers/songs-of-brisbane/source.json"] {
	overflow-y: visible !important;
}

.songs-of-brisbane__wrapper {
    width: 100%;
    display: inline-block;
    height: 200px;
    overflow-x: hidden !important;

	.songs-of-brisbane__block {
		width: 100%;
		background-color: #ffbb00;
	    position: absolute;
	    bottom: 0px;
	    top: 0px;
	}

	.songs-of-brisbane-infobox {
		display: inline-block;
		padding-right: 10px;
		position: absolute;
		top: 20px;
		box-sizing: border-box;
		border: 0px;
		margin: 0px;
		font-family: 'Guardian Text Egyptian Web';
		z-index: 1000;
		left: 20px;
	}

	.songs-of-brisbane-infobox h4 {
		padding: 0px;
		border: 0px;
		margin: 0px;
		color: white;
	}

	.songs-of-brisbane-infobox h2 {
		padding: 0px;
		border: 0px;
		margin: 0px;
    	

  @include mq($until: slim) {
		font-size: 20px;
    	line-height: 24px;
  }

  @include mq($from: slim) {
		font-size: 25px;
    	line-height: 29px;
  }


	}

	#timeEnd {
	  @include mq($until: slim) {
			font-size: 20px;
	    	line-height: 24px;
	  }

	  @include mq($from: slim) {
			font-size: 21px;
	    	line-height: 25px;
	  }
	}

	a.songs-of-brisbane--cta {

		position: absolute;
		text-align: right;
		cursor: pointer;
		background-color: black;
		border-radius: 9999px;
		box-sizing: border-box;
		color: #ffbb00;
		display: inline-block;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		line-height: 36px;
		text-decoration: none;
		padding-right: 50px;
		padding-left: 20px;
		z-index: 10001;
		right: 25px;
		bottom: 20px;

		@media (max-width: 190px) {
	    	font-size: 14px;
		}

		@media (min-width: 191px) {
	    	font-size: 16px;
		}


	}

	a.songs-of-brisbane--cta svg {
		fill: currentColor;
		height: 40px;
		position: absolute;
		right: 5px;
		top: 50%;
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
		width: 40px;
		transition: -webkit-transform .3s;
		transition: transform .3s
	}


	.songs-of-brisbane--roundel {
		position: absolute;
		right: 20px;
		top: 20px

	}



	/*! CSS Used from: Embedded */

	::-moz-selection {
		background: #ffe500;
		color: #121212;
	}
	::selection {
		background: #ffe500;
		color: #121212;
	}
	p {
		margin-top: 0;
		margin-bottom: 0.5rem;
	}
	.gs-container {
		position: relative;
		margin: 0 auto;
	}
	@media (min-width: 46.25em) {
		.gs-container {
			max-width: 46.25rem;
		}
	}
	@media (min-width: 61.25em) {
		.gs-container {
			max-width: 61.25rem;
		}
	}
	@media (min-width: 71.25em) {
		.gs-container {
			max-width: 71.25rem;
		}
	}
	@media (min-width: 81.25em) {
		.gs-container {
			max-width: 81.25rem;
		}
	}
	@media (min-width: 46.25em) {
		.gs-container {
			max-width: 46.25rem;
		}
	}
	@media (min-width: 61.25em) {
		.gs-container {
			max-width: 61.25rem;
		}
	}
	@media (min-width: 71.25em) {
		.gs-container {
			max-width: 71.25rem;
		}
	}
	@media (min-width: 81.25em) {
		.gs-container {
			max-width: 81.25rem;
		}
	}
	/*! CSS Used from: https://assets.guim.co.uk/stylesheets/9b949eb3732143df2f623cbadefbb708/print.css ; media=print */

	@media print {
		* {
			max-width: 100%!important;
			margin: 0!important;
			padding: 0!important;
			border: 0!important;
			min-height: 0!important;
			background-color: #ffffff!important;
			color: #000000!important;
		}
		p {
			margin-bottom: 1rem!important;
		}
	}
	/*! CSS Used from: Embedded */

	.gs-container {
		position: relative;
		margin: 0 auto;
	}
	@media (min-width: 46.25em) {
		.gs-container {
			max-width: 740px;
		}
	}
	@media (min-width: 61.25em) {
		.gs-container {
			max-width: 980px;
		}
	}
	@media (min-width: 71.25em) {
		.gs-container {
			max-width: 1140px;
		}
	}
	@media (min-width: 81.25em) {
		.gs-container {
			max-width: 1300px;
		}
	}
	.sound-of-header {
		position: absolute;
		width: 100%;
		top: 0px;
		overflow: hidden;
		bottom: 0px;
	}
	.sound-of-header .gs-container {
		height: 100%;
	}
	.sound-of-header__content {
		padding: 10px 10px;
	}
	@media (min-width: 30em) {
		.sound-of-header__content {
			padding: 10px 20px;
		}
	}
	.sound-of-header__standfirst {
		font-size: 18px;
		line-height: 1.2;
		max-width: 620px;
		margin: 0;
	}
	@media (min-width: 61.25em) {
		.sound-of-header__standfirst {
			font-size: 24px;
		}
	}
	.sound-of-header__buildings {
		position: absolute;
		bottom: -10px;
		width: 100%;
		left: -999px;
		right: -999px;
		margin: auto;
	}
	.sound-of-header__building {
		position: absolute;
		bottom: 0;
		background: rgba(230, 69, 0, 0.3);
		mix-blend-mode: multiply;
		z-index: 5;
		pointer-events: none;
		animation: bounce .35s ease-in-out infinite alternate;
		will-change: transform;
	}
	.sound-of-header__building--1 {
		animation-delay: -0.35s;
	}
	.sound-of-header__building--2 {
		animation-delay: -0.92s;
	}
	.sound-of-header__building--3 {
		animation-delay: -0.02s;
	}
	.sound-of-header__building--4 {
		animation-delay: -0.81s;
	}
	.sound-of-header__building--5 {
		animation-delay: -0.5s;
	}
	.sound-of-header__building--6 {
		animation-delay: -0.8s;
	}
	.sound-of-header__building--7 {
		animation-delay: -0.69s;
	}
	.sound-of-header__building--8 {
		animation-delay: -0.53s;
	}
	.sound-of-header__building--10 {
		animation-delay: -0.18s;
	}
	.sound-of-header__building--11 {
		animation-delay: -0.09s;
	}
	.sound-of-header__building--13 {
		animation-delay: -0.15s;
	}
	.sound-of-header__building--14 {
		animation-delay: -0.32s;
	}
	.sound-of-header__building--15 {
		animation-delay: -0.84s;
	}
	.sound-of-header__building--16 {
		animation-delay: -0.44s;
	}
	.sound-of-header__building--17 {
		animation-delay: -0.6s;
	}
	.sound-of-header__building--19 {
		animation-delay: -0.21s;
	}
	.sound-of-header__building--20 {
		animation-delay: -0.27s;
	}
	.sound-of-header__building--21 {
		animation-delay: -0.34s;
	}
	.sound-of-header__building--22 {
		animation-delay: -0.18s;
	}
	.sound-of-header__building--23 {
		animation-delay: -0.61s;
	}
	.sound-of-header__building--24 {
		animation-delay: -0.85s;
	}
	.sound-of-header__building--25 {
		animation-delay: -0.95s;
	}
	.sound-of-header__building--1 {
		display: none;
		left: -60px;
		width: 95px;
		height: 130px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--1 {
			display: block;
		}
	}
	.sound-of-header__building--2 {
		display: none;
		left: -20px;
		width: 82px;
		height: 48px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--2 {
			display: block;
		}
	}
	.sound-of-header__building--3 {
		left: -5px;
		width: 55px;
		height: 83px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--3 {
			left: 50px;
		}
	}
	.sound-of-header__building--3:before {
		position: absolute;
		top: -20px;
		height: 20px;
		background: rgba(230, 69, 0, 0.3);
		width: 2px;
		left: 10px;
		content: '';
	}
	.sound-of-header__building--4 {
		display: none;
		left: 90px;
		width: 138px;
		height: 68px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--4 {
			display: block;
		}
	}
	.sound-of-header__building--5 {
		left: 20px;
		height: 78px;
		width: 120px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--5 {
			left: 200px;
		}
	}
	.sound-of-header__building--6 {
		display: none;
		left: 280px;
		height: 200px;
		width: 95px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--6 {
			display: block;
		}
	}
	.sound-of-header__building--6:before {
		position: absolute;
		top: -40px;
		height: 40px;
		background: rgba(230, 69, 0, 0.3);
		width: 75px;
		left: 10px;
		right: 0;
		margin: 0;
		content: '';
		border-radius: 10px 10px 0 0;
	}
	.sound-of-header__building--7 {
		display: none;
		left: 360px;
		height: 180px;
		width: 68px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--7 {
			display: block;
		}
	}
	.sound-of-header__building--8 {
		display: none;
		left: 385px;
		width: 138px;
		height: 40px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--8 {
			display: block;
		}
	}
	.sound-of-header__building--10 {
		left: 100px;
		width: 160px;
		height: 180px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--10 {
			left: 490px;
		}
	}
	.sound-of-header__building--11 {
		display: none;
		left: 575px;
		width: 55px;
		height: 160px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--11 {
			display: block;
		}
	}
	.sound-of-header__building--13 {
		display: none;
		left: 670px;
		width: 120px;
		height: 80px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--13 {
			display: block;
		}
	}
	.sound-of-header__building--14 {
		display: none;
		left: 755px;
		width: 40px;
		height: 190px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--14 {
			display: block;
		}
	}
	.sound-of-header__building--15 {
		display: none;
		left: 820px;
		width: 120px;
		height: 200px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--15 {
			display: block;
		}
	}
	.sound-of-header__building--16 {
		left: 230px;
		width: 80px;
		height: 210px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--16 {
			left: 865px;
			height: 220px;
		}
	}
	.sound-of-header__building--17 {
		left: 283px;
		width: 140px;
		height: 200px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--17 {
			left: 960px;
		}
	}
	.sound-of-header__building--19 {
		display: none;
		left: 1060px;
		width: 30px;
		height: 230px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--19 {
			display: block;
		}
	}
	.sound-of-header__building--20 {
		display: none;
		left: 1050px;
		height: 40px;
		width: 320px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--20 {
			display: block;
		}
	}
	.sound-of-header__building--21 {
		display: none;
		left: 1180px;
		height: 167px;
		width: 50px;
	}
	.sound-of-header__building--22 {
		display: none;
		left: 1200px;
		width: 60px;
		height: 100px;
	}
	@media (min-width: 46.25em) {
		.sound-of-header__building--22 {
			display: block;
		}
	}
	.sound-of-header__building--22:before {
		position: absolute;
		top: -30px;
		height: 30px;
		background: rgba(230, 69, 0, 0.3);
		width: 2px;
		left: 40px;
		content: '';
	}
	.sound-of-header__building--23 {
		display: none;
		left: 1250px;
		width: 40px;
		height: 200px;
		display: none;
	}
	.sound-of-header__building--24 {
		display: none;
		left: 1330px;
		width: 80px;
		height: 120px;
	}
	.sound-of-header__building--25 {
		display: none;
		left: 1340px;
		width: 48px;
		height: 130px;
	}
	.sound-of-cities-landmark_1 {
		position: absolute;
		left: 100px;
		width: 610px;
		height: 110px;
		bottom: -10px;
		animation: bounce .45s ease-in-out infinite alternate;
	}
	.sound-of-cities-landmark_2 {
		right: 100px;
		width: 200px;
		height: 200px;
		float: right;
		margin-right: 150px;
		animation: bounce .35s ease-in-out infinite alternate;


		@include mq($until: desktop) {
			display: none;
		}


	}

	.sound-of-header__title_block {
		background-size: cover;
	}
	@media (max-width: 19.99em) {
		.sound-of-header__title_block {
			width: 100%;
			height: 0px;
			padding-bottom: 100%;
		}
	}
	@media (min-width: 20em) and (max-width: 46.24em) {
		.sound-of-header__title_block {
			margin-top: 10px;
			width: 300px;
			height: 300px;
		}
	}
	@media (min-width: 46.25em) and (max-width: 61.24em) {
		.sound-of-header__title_block {
			margin-top: 20px;
			width: 350px;
			height: 350px;
		}
	}
	@media (min-width: 61.25em) {
		.sound-of-header__title_block {
			margin-top: 20px;
			width: 400px;
			height: 400px;
		}
	}
	.primary_background_colour {
		background-color: #fb0;
	}
	p:first-letter {
		text-transform: capitalize;
	}
	/*! CSS Used keyframes */

	@keyframes bounce {
		0% {
			transform: translateY(-10px);
		}
		100% {
			transform: translateY(0px);
		}
	}
	@keyframes bounce {
		0% {
			transform: translateY(-10px);
		}
		100% {
			transform: translateY(0px);
		}
	}


}