// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#recipe-header {
  &.fc-container {
    margin-top: 0px !important;
    @include mq($from: tablet) {
      margin-top: -6px !important;
    }
  }
  .fc-item {
    @include mq($until: tablet) {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}

.jones__header {
  height: 200px;
  position: relative;

  @include mq($from: tablet) {
    width: 740px;
    height: 270px;
  }

  @include mq($from: desktop) {
    width: 980px;
  }

  @include mq($from: leftCol) {
    width: 1140px;
  }

  @include mq($from: wide) {
    width: 1300px;
  }
}

.jones__image--foreground {
  position: absolute;
  z-index: 10;

  img {
    object-fit: cover;
    height: 100%;

    @include mq($from: desktop) {
      width: 113%;
      margin-left: -158px;
    }

    @include mq($from: leftCol) {
      width: 97%;
      margin-left: -78px;
    }

    @include mq($from: wide) {
      width: 85%;
      margin-left: 0px;
    }
  }
}

.jones__image {
  position: absolute;
  height: 200px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    @include mq($from: tablet) {
      height: 270px;
    }

    @include mq($until: desktop) {
      object-position: 33%;
    }

    @include mq($until: mobileLandscape) {
      object-position: 33%;
    }

    @include mq($until: 321px) {
      object-position: 36%;
    }
  }
}

.jones__type {
  position: absolute;
  top: 40px;
  overflow: hidden;

  @include mq($from: desktop) {
    right: 20px;
  }

  @include mq($from: leftCol) {
    right: 10px;
  }

  @include mq($from: wide) {
    right: 50px;
  }

  svg {
    @include mq($from: desktop) {
      height: 160px;
      width: 580px;
      margin-top: 16px;
    }
    @include mq($from: leftCol) {
      height: 180px;
      width: 690px;
      margin-top: 0px;
    }
    @include mq($from: wide) {
      height: 200px;
      width: 730px;
    }
  }
}

.jones__type-mobile {
  font-family: $f-serif-headline;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 20px;

  @include mq($from: mobileLandscape) {
    right: 110px;
  }

  @include mq($from: tablet) {
    right: 110px;
  }

  h1 {
    font-weight: 200;
    font-size: 45px;
    text-align: left;

    @include mq($from: mobileLandscape) {
      font-size: 50px;
    }

    @include mq($from: tablet) {
      font-size: 70px;
    }

    span {
      display: block;
      line-height: 10px;
      margin-bottom: 15px;
      margin-left: 30px;

      @include mq($from: mobileLandscape) {
        margin-bottom: 30px;
        margin-left: 60px;
      }
    }
  }
}

.chefs-container--nav {
  width: 100%;
  overflow: auto;
}

.page-container-list {
  margin: 0;
  padding: 0;
  overflow: auto;
  margin-left: 6px;
  padding-bottom: 6px;

  @include mq($from: tablet) {
    margin-top: 6px;
  }

  li {
    float: left;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    box-sizing: border-box;
    height: 25px;
    font-family: $f-sans-serif-text;
    font-weight: 600;
    color: #333;

    &:hover {
      border-bottom: 1px solid #b72166;
      color: #b72166;
    }

    @include mq($from: tablet) {
      float: right;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
