// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.lives-of-grenfell__wrapper {
  background-color: #121212;
  margin: 0 -10px;
  padding: 0 10px;
  overflow: hidden;
  @include mq(mobileLandscape) {
    padding: 0 20px;
  }
  @include mq(tablet) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

section#the-lives-of-grenfell-tower,
section#the-lives-of-grenfell-tower- {
  background-color: #fff;
  .fc-container__inner,
  .fc-slice,
  .facia-snap {
    overflow: visible;
  }
}

.lives-of-grenfell__wrapper {
  a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000 !important;
  }
}

.lives-of-grenfell {
  position: relative;
  padding: 6px 0 12px;
  @include mq(tablet) {
    padding: 6px 20px 12px;
  }
  @include mq(desktop) {
    padding: 6px 20px 15px;
  }
  @include mq(leftCol) {
    margin-left: 160px;
  }
  @include mq(wide) {
    margin-left: 240px;
  }
  &__roundel {
    position: absolute;
    top: 9px;
    right: 0;
    @include mq(tablet) {
      right: 20px;
    }
  }
  &__heading {
    width: 159px;
    max-width: 100%;
    svg {
      width: 100%;
      height: auto;
      display: block;
      padding-left: 60px;
      padding-top: 14px;
      @include mq(mobileMedium) {
        padding-left: 100px;
      }
      @include mq(mobileLandscape) {
        padding-left: 130px;
      }

      @include mq(tablet) {
        padding-left: 0px;
        padding-top: 8px;
      }
    }
    @include mq(tablet) {
      width: 368px;
      padding-left: 146px;
    }
  }
  &__copy {
    font-family: 'Guardian Text Egyptian Web', Georgia, serif;
	  font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-top: 9px;
    padding-left: 60px;
    max-width: 220px;
    @include mq(mobileMedium) {
      padding-left: 100px;
    }
    @include mq(mobileLandscape) {
      padding-left: 130px;
    }
    @include mq(tablet) {
      margin-top: 6px;
      padding-left: 146px;
      max-width: 390px;
    }
    @include mq(desktop) {
      width: 720px;
    }
  }
  .lives-of-grenfell {
    @include mq(tablet) {
      font-size: 16px;
      line-height: 30px;
      height: 30px;
      border-radius: 15px;
      right: 20px;
    }
    @include mq(desktop) {
      right: 20px;
      bottom: 10px;
    }
    @include mq(wide) {
      right: 100px;
    }

  }

  .mob-only {
    display: block;
    @include mq(tablet) {
      display: none;
    }
  }
  .dsk-only {
    display: none;
    @include mq(tablet) {
      display: block;
    }
  }

  .tower {
    position: absolute;
    display: block;
    top: 10px;
    // bottom: 0px;
    left: -178px;
    width: auto;
    height: 247px;
    @include mq(mobileMedium) {
      left: -138px;
    }
    @include mq(mobileLandscape) {
      left: -108px;
    }
    @include mq(tablet) {
      bottom: 0px;
      left: 20px;
      height: 148px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
