// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-feature: #b72166;

@import 'components/sass-mq/_mq';
@import 'shared/_css3';
@import 'shared/_mixins';

@include full-width(great-white, #a0abc1);

.great-white__anchor {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    background: transparent;
    position: absolute !important;
    z-index: 3 !important;

    &:hover ~ .great-white__content .great-white__button {
        background-color: darken($c-feature, 10%) !important;

        .great-white__button__fin {
            @include mq(tablet) {
                @include animation(jaws 4s linear);
            }
        }

        .great-white__button__fin path {
            fill: darken($c-feature, 10%) !important;
        }
    }
}

.great-white__content {
    position: relative;
    z-index: 2;
    padding: 0px 20px;
    height: 170px;

    @include mq(tablet) {
        height: 200px;
        padding: 10px 20px;
    }

    @include mq(desktop) {
        height: 240px;
    }
}

@include keyframes(textToggle) {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.great-white__headline {
    position: absolute;
    color: white;
    font-size: 26px;
    line-height: 26px;
    top: 8px;
    
    @include mq(mobileLandscape) {
        width: 40%;
    }

    @include mq(tablet) {
        width: 340px;
        font-size: 38px;
        line-height: 36px;
        top: 10px;
    }

    @include mq(desktop) {
        font-size: 52px;
        line-height: 48px;
    }

    &.great-white__headline--1 {
        @include animation(textToggle 14s linear infinite);
    }

    &.great-white__headline--2 {
        @include animation(textToggle 14s linear infinite);
        @include animation-delay(7s);
        opacity: 0;
    }

    .great-white__headline__alt {
        color: #333;
    }
}

@include keyframes(jaws) {
    0% {
        top: 5px;
        left: 10px;
    }
    10% {
        top: -8px;
        left: 30px;
    }
    35% {
        top: -8px;
        left: 125px;
    }
    50% {
        top: 5px;
        left: 145px;
    }
}

.button.great-white__button {
    position: absolute;
    bottom: 10px;
    background-color: $c-feature;
    border: none;
    margin-left: -6px;
    height: 30px;

    @include mq(tablet) {
        line-height: 32px;
    }

    .great-white__button__fin {
        content: '';
        height: 9px;
        width: 15px;
        position: absolute;
        top: 5px;
        left: 10px;
        z-index: 3;
        background: url('https://s3.amazonaws.com/gdn-cdn/thrashers/great-white/source/fin.svg') no-repeat;

        @include mq($until: tablet) {
            @include animation(jaws 4s linear infinite);
        }
    }

    .great-white__button__label {
        position: relative;
        z-index: 5;
    }

    .great-white__button__icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
    }
}

.great-white__guardian-logo {
    bottom: 10px;
    position: absolute;
    z-index: 2;
    right: 20px;


    @include mq($until: phablet) {
        display: none;
    }

    @include mq(leftCol) {
        bottom: 10px;
    }
}

.great-white__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #c3cadc;

    @include mq($until: 1024px) {
        background: url('https://s3.amazonaws.com/gdn-cdn/thrashers/great-white/source/video-poster.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
    }

    @include mq($until: mobileLandscape) {
        background-position-x: 70%;
    }

    video {
        width: 100%;
        margin-top: -100px;

        @include mq($until: 1024px) {
            display: none;
        }
    }
}