$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-commentBackground: #eae8e3;
$c-commentAccent: #e6711b;
$contributors: jason-wilson, larissa-behrendt, jeff-sparrow, ranjana-srivastava, eleanor-robertson;

.comment-au__wrapper {
    width: 100%;
    background-color: $c-commentBackground;
    position: relative;
    overflow: hidden;

    @include mq(tablet) {
        padding-top: 4px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Content and Type */

.comment-au__content,
.comment-au__article {
    position: relative;
    width: 36%;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    float: left;

    @include mq(tablet) {
        height: 160px;
    }

    @include mq(desktop) {
        height: 200px;
    }

    @include mq(leftCol) {
        height: 230px;
    }
}

.comment-au__title {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;

    @include mq(tablet) {
        font-size: 26px;
        line-height: 30px;
        font-weight: 200;
        color: $c-commentAccent;
    }

    @include mq(desktop) {
        font-size: 36px;
        line-height: 36px;
    }

    @include mq(leftCol) {
        font-size: 44px;
        line-height: 44px;
    }

    br {
        @include mq($until: tablet) {
            display: none;
        }
    }
}

.comment-au__standfirst {
    font-size: 16px;
    line-height: 20px;

    @include mq(tablet) {
        font-weight: 200;
    }

    @include mq(desktop) {
        font-size: 20px;
        line-height: 24px;
    }

    @include mq(leftCol) {
        font-size: 28px;
        line-height: 32px;
    }
}

.comment-au__content,
.comment-au__article,
.comment-au__contributors__wrapper {
    @include mq($until: tablet) {
        width: 100%;
        box-sizing: border-box;
        padding: 2px 20px 0;
        float: none;
    }

    @include mq($until: mobileLandscape) {
        padding: 2px 10px 0;
    }
}

@include mq(phablet, tablet) {
    .comment-au__content .comment-au__title,
    .comment-au__standfirst,
    .comment-au__contributors__wrapper {
        max-width: 620px;
        margin: 0 auto;
        padding-left: 0;
    }
}

.comment-au__content {
    @include mq($until: tablet) {
        padding-bottom: 16px;
        background-color: $c-commentAccent;
        color: #333;
    }
}

.button.comment-au__button {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $c-commentAccent;
    border-color: $c-commentAccent;
    background-color: transparent;

    @include mq($until: tablet) {
        display: none;
    }

    &:hover {
        color: #ffffff;
        border-color: $c-commentAccent;
        background-color: $c-commentAccent;

        .comment-au__button__icon path {
            fill: #ffffff;
        }
    }
}

.button.comment-au__button:hover {
    color: #ffffff;
    border-color: $c-commentAccent;
    background-color: $c-commentAccent;
}

.comment-au__button__icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;

    path {
        fill: $c-commentAccent;
    }
}

/* Articles */

.comment-au__article,
.comment-au__link--mobile {
    display: none;

    .comment-au__title {
        color: #333;
        font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
        font-size: 16px;
        line-height: 20px;

        @include mq(mobileLandscape) {
            font-size: 20px;
            line-height: 24px;
        }

        @include mq(desktop) {
            font-size: 28px;
            line-height: 32px;
        }

        .comment-au__byline {
            display: block;
            color: $c-commentAccent;
        }
    }

    .comment-au__tagline {
        position: absolute;
        bottom: 0;
        padding-right: 40px;
        margin-bottom: 0;
        color: #767676;
        font-size: 14px;
        line-height: 18px;

        @include mq(desktop) {
            font-size: 16px;
            line-height: 20px;
            padding-right: 80px;
        }
    }
}

/* Cutouts */

.comment-au__contributors__wrapper {
    @include mq($until: tablet) {
        -ms-overflow-style: none;
        overflow-x: scroll;
        overflow-x: -moz-scrollbars-none;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @include mq(tablet) {
        position: relative;
        margin-bottom: -3px;
        width: 64%;
        float: left;
        height: 170px;
    }

    @include mq(desktop) {
        height: 220px;
    }

    @include mq(leftCol) {
        height: 250px;
    }
}

.comment-au__contributors {
    margin: 0;
    padding: 0;
    list-style: none;

    @include mq($until: tablet) {
        width: 440%;
    }

    @include mq($until: mobileLandscape) {
        width: 400%;
    }

    @include mq(tablet) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        float: right;
    }
}

.comment-au__contributor {
    line-height: 0;
    float: left;
    position: relative;
    width: 20%;

    @include mq($until: tablet) {
        height: 160px;
        overflow: hidden;
    }

    img {
        @include mq($until: tablet) {
            position: absolute;
            right: -8%;
            bottom: -10%;
            width: auto;
            height: 120%;
        }


        @include mq($until: mobileLandscape) {
            height: 100%;
            right: -20%;
        }

        @include mq($until: mobile) {
            height: 80%;
            right: -18%;
        }

        @include mq(tablet) {
            height: auto;
            width: 235%;
            margin-left: -70%;
        }

        @include mq(wide) {
            width: 205%;
        }
    }
}

@each $contributor in $contributors {
    .comment-au__link--#{$contributor}:hover {
        ~ .comment-au__article--#{$contributor} {
            display: block;
        }

        ~ .comment-au__content {
            display: none;
        }

        @each $contributor in $contributors {
            ~ .comment-au__contributors__wrapper .comment-au__contributor--#{$contributor} {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
        
        ~ .comment-au__contributors__wrapper .comment-au__contributor--#{$contributor} {
            -webkit-filter: none;
            filter: none;
        }
    }
}

/* Links */

a.comment-au__link {
    @include mq($until: tablet) {
        display: none;
    }

    @include mq(tablet) {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 12.8%;
        margin-left: 33%;
        z-index: 20 !important;
        display: block;
    }
}

@for $i from 2 through 5 {
    a.comment-au__link:nth-of-type(#{$i}) {
        margin-left: 12.8% * ($i - 1) + 33%;
    }

    .comment-au__contributor:nth-of-type(#{$i}) {
        @include mq($until: tablet) {
            .comment-au__title {
                padding-left: 10px;
            }
    
            &:before {
                content: "";
                background-color: #ccc;
                width: 1px;
                float: left;
                position: absolute;
                top: 3px;
                bottom: 3px;
                left: 0;
            }
        }
    }
}

a.comment-au__link--mobile {
    display: block;

    @include mq(tablet) {
        display: none;
    }

    .comment-au__title {
        width: 60%;
        margin-bottom: 48px;
        font-weight: 400;
    }
}

/* Facia Stuff */

#australian-opinion {
    background-color: $c-commentBackground;
    border-top: 0;
    margin-top: 0;
    margin-bottom: 24px;
    padding-bottom: 0;

    @include mq($until: tablet) {
        border-top: 1px solid #333;
    }
}

#australian-opinion .fc-container__inner {
    border-top: none;
    padding-top: 0px;

    @include mq($until: tablet) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    @include mq(tablet) {
        border-top: 1px solid $c-commentAccent;
    }
}

#australian-opinion .fc-container__header {
    display: none;
}

#australian-opinion .fc-slice {
    margin: 0;
    width: 100%;
}

#australian-opinion .fc-slice-item {
    width: 100%;
}

.has-no-flex-wrap #australian-opinion .comment-au__wrapper {
    width: 96%;
}

#australian-opinion .fc-slice-wrapper {
    margin-left: 0;
    margin-right: 0;

    @include mq(tablet){
        margin-left: -20px;
        margin-right: -20px;
    }
}

#australian-opinion .fc-slice__item {
    margin-bottom: 0px !important;
    width: 100%;
}

#australian-opinion .fc-container__body {
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    overflow: initial;
}

#australian-opinion .fc-item {
    margin: 0;
    overflow: auto;
}
