// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-background: #ece8e0;
$c-accent: #f78d2f;
$c-text: #4e3c31;

@include base(keep-it-in-the-ground, $c-background);

@include keyframes(textToggle) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#keep-it-in-the-ground {
    padding-top: 0;
}

.keep-it-in-the-ground__wrapper {
    overflow: auto;
    padding: 12px 10px;
    background: $c-background;
    color: $c-text;
    @include box-sizing(border-box);
}

.keep-it-in-the-ground__image {
    width: 100%;

    @include mq(tablet) {
        width: 50%;
        float: left;
    }
}

.keep-it-in-the-ground__content {
    @include mq(tablet) {
        width: 50%;
        float: right;
        padding-left: 20px;
        @include box-sizing(border-box);
    }
}

.keep-it-in-the-ground__quote {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 2.5em;

    @include mq(tablet) {
        margin-bottom: 0;
    }

    @include mq(desktop) {
        font-size: 26px;
        line-height: 1.2;
    }

    @include mq(leftCol) {
        font-size: 28px;
    }
}

.keep-it-in-the-ground__title {
    @include animation(textToggle 1s linear);
    @include animation-fill-mode(forwards);
    opacity: 0;

    @include mq(tablet) {
        display: block;
        margin-bottom: .5em;
    }
}

.keep-it-in-the-ground__title--2 {
    @include animation-delay(4s);
}

.keep-it-in-the-ground__title--3 {
    @include animation-delay(8s);
}

.keep-it-in-the-ground__title--byline {
    display: block;
    color: $c-accent;
    @include animation-delay(10s);

    @include mq(tablet) {
        margin-top: -.5em;
    }
}

.keep-it-in-the-ground__marque {
    position: absolute;
    right: 12px;
    bottom: 6px;

    @include mq(tablet) {
        right: 20px;
    }
}

a.keep-it-in-the-ground__button {
    position: absolute;
    left: 8px;
    bottom: 12px;
    border: none;
    line-height: 2.4;
    background-color: $c-accent;

    @include mq(tablet) {
        left: 50%;
        margin-left: 14px;
        min-width: 200px;
    }
}

.keep-it-in-the-ground__label {
    color: $c-text;
}
