// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-background: #2c1b10;
$c-accent: #f78d2f;
$c-text: #ece8e0;

@include base(keep-it-in-the-ground, $c-background);

@include keyframes(fade) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#keep-it-in-the-ground {
    padding-top: 0;
}

.keep-it-in-the-ground__wrapper {
    overflow: auto;
    padding: 12px 10px;
    background: $c-background;
    color: $c-text;
    @include box-sizing(border-box);
}

.keep-it-in-the-ground__image {
    width: 100%;
    @include animation(fade 1s linear);

    @include mq(tablet) {
        width: 50%;
        float: left;
    }
}

.keep-it-in-the-ground__content {
    @include mq(tablet) {
        width: 50%;
        float: right;
        padding-left: 20px;
        @include box-sizing(border-box);
    }
}

.keep-it-in-the-ground__quote {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: 2.5em;

    @include mq(tablet) {
        margin-bottom: 0;
    }

    @include mq(desktop) {
        padding: 0 39% 0 12%;
        font-size: 28px;
        line-height: 1.1;
    }

    @include mq(leftCol) {
        font-size: 36px;
    }
}

.keep-it-in-the-ground__title {
    // @include animation(fade 1s linear);
    @include animation-delay(1s);
    @include animation-fill-mode(forwards);
    // opacity: 0;

    @include mq(tablet) {
        display: block;
    }
}

.keep-it-in-the-ground__title--1 {
    color: darken($c-accent, 20%);
}

.keep-it-in-the-ground__title--2 {
    @include animation-delay(5s);
    color: darken($c-accent, 10%);
}

.keep-it-in-the-ground__title--3 {
    @include animation-delay(8s);
    color: $c-accent;
}

.keep-it-in-the-ground__title--byline {
    display: block;
    color: $c-text;
    font-weight: normal;
    @include animation-delay(8s);
}

.keep-it-in-the-ground__marque,
.keep-it-in-the-ground__button {
     // @include animation(fade 1s linear);
     @include animation-delay(8s);
     @include animation-fill-mode(forwards);
     // opacity: 0;
}

.keep-it-in-the-ground__marque {
    position: absolute;
    right: 12px;
    top: 12px;

    @include mq(tablet) {
        right: 20px;
    }
}

a.keep-it-in-the-ground__button {
    position: absolute;
    top: 50%;
    right: 4%;
    display: inline-block;
    color: #fff;
    background-color: $c-accent;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 13px;
    margin-bottom: -8px;
    line-height: 1.1;
    font-weight: bold;
    text-align: center;

    @include mq(tablet) {
        width: 52px;
        height: 52px;
        padding: 9px 20px 30px 20px;
        margin-top: -45px;
    }
}

.keep-it-in-the-ground__label {
    color: $c-text;
}

a.keep-it-in-the-ground__anchor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    &:hover ~ .keep-it-in-the-ground__content .keep-it-in-the-ground__button {
        background-color: mix($c-accent, $c-background, 85%);
    }
}
