// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#original-drama {
    background-color: #fff;
}

.the-intelligence-explosion__wrapper {
    position: relative;
    height: 312px;
    overflow: hidden;
    width: calc(100% + 20px);
    margin: 0 -10px;
    @include mq(tablet) {
        width: 100%;
        margin: 0;
        height: 284px;
    }
    @include mq(desktop) {
        height: 314px;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#523043+0,523043+50,555258+51,555258+100 */
        background: rgb(82,48,67); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(83,51,68,1) 0%, rgba(83,51,68,1) 50%, rgba(76,73,82,1) 51%, rgba(76,73,82,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(83,51,68,1) 0%,rgba(83,51,68,1) 50%,rgba(76,73,82,1) 51%,rgba(76,73,82,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(83,51,68,1) 0%,rgba(83,51,68,1) 50%,rgba(76,73,82,1) 51%,rgba(76,73,82,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#533344', endColorstr='#504B53',GradientType=1 ); /* IE6-9 */
    }
    .foreground {
        @include mq(phablet, $until: tablet) {
            width: 660px;
            margin: 0 auto;
            height: 100%;
            position: relative;
        }
    }
    .original-drama-logo {
        pointer-events: none;
        position: absolute;
        top: 5px;
        left: 9px;
        @include mq(mobileLandscape) {
            left: 19px;
        }
        @include mq(desktop) {
            transform-origin: top left;
            transform: scale(1.31);
        }
    }
    .roundel {
        pointer-events: none;
        position: absolute;
        top: 7px;
        right: 11px;
        @include mq(mobileLandscape) {
            right: 20px;
        }
    }
    .film-title {
        pointer-events: none;
        position: absolute;
        top: 87px;
        left: 10px;
        @include mq(mobileLandscape) {
            left: 20px;
        }
        @include mq(tablet) {
            transform-origin: top left;
            transform: scale(1.125);
            top: 24px;
            left: 114px;
        }
        @include mq(desktop) {
            transform: scale(1.46);
            top: 30.5px;
            left: 166px;
        }
        @include mq(leftCol) {
            left: 180px;
        }
        @include mq(wide) {
            left: 164px;
        }
    }
    .tagline {
        pointer-events: none;
        position: absolute;
        top: 161px;
        left: 10px;
        font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
        font-size: 25px;
        line-height: 23px;
        color: #FDADBA;
        font-weight: 900;
        @include mq(mobileLandscape) {
            left: 20px;
        }
        @include mq(tablet) {
            top: 110px;
            left: 117px;
            transform-origin: top left;
            transform: scale(1.125);
        }
        @include mq(desktop) {
            transform: scale(1.5);
            left: 167px;
            top: 149px;
        }
        @include mq(leftCol) {
            left: 183px;
        }
        @include mq(wide) {
            left: 258px;
        }
        .word {
            opacity: 0;
        }
        &.animate .word {
            animation-name: switchOn;
            animation-fill-mode: forwards;
        }
        &__how {
            animation-delay: 800ms;
            animation-duration: 120ms;
        }
        &__to {
            animation-delay: 1150ms;
            animation-duration: 120ms;
        }
        &__stop {
            animation-delay: 1400ms;
            animation-duration: 120ms;
        }
        &__a {
            animation-delay: 1850ms;
            animation-duration: 120ms;
        }
        &__robot {
            animation-delay: 2100ms;
            animation-duration: 120ms;
        }
        &__from {
            animation-delay: 2600ms;
            animation-duration: 1200ms;
        }
        &__turning {
            animation-delay: 3400ms;
            animation-duration: 1200ms;
        }
        &__evil {
            animation-delay: 4300ms;
            animation-duration: 2400ms;
        }
    }
    .watch-now {
        pointer-events: none;
        position: absolute;
        bottom: 38px;
        right: 21px;
        cursor: pointer;
        @include mq(mobileLandscape) {
            right: auto;
            left: 19px;
            bottom: 42px;
        }
        @include mq(tablet) {
            top: 192px;
            left: 117px;
            right: auto;
            bottom: auto;
        }
        @include mq(desktop) {
            top: 253px;
            left: 165px;
        }
        @include mq(leftCol) {
            left: 183px;
        }
        @include mq(wide) {
            left: 258px;
        }
        &__play,
        &__text {
            display: inline-block;
            vertical-align: middle;
            transition: transform 300ms;
        }
        &__text {
            font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-size: 18px;
            padding-top: 4px;
            line-height: 38px;
            color: #333;
            @include mq(mobileLandscape) {
                color: #FB0;
            }
        }
    }
    .photography {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 32px;
        z-index: -1;
        max-width: 588px;
        margin: 0 auto;
        @include mq(tablet) {
            left: 218px;
            height: 285px;
            width: 598px;
            max-width: none;
        }
        @include mq(desktop) {
            height: 354px;
            width: 743px;
            left: 330px;
        }
        @include mq(leftCol) {
            left: 402px;
        }
        @include mq(wide) {
            left: 442px;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            z-index: 1;
        }
        &:before {
            left: -1px;
            width: 50%;
            max-width: 230px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#644252+0,644252+100&1+0,0.9+65,0+100 */
            background: -moz-linear-gradient(left, rgba(83,51,68,1) 0%, rgba(83,51,68,0.9) 50%, rgba(83,51,68,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(83,51,68,1) 0%,rgba(83,51,68,0.9) 50%,rgba(83,51,68,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(83,51,68,1) 0%,rgba(83,51,68,0.9) 50%,rgba(83,51,68,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#533344', endColorstr='#00533344',GradientType=1 ); /* IE6-9 */
        }
        @include mq(mobileLandscape) {
            &:after {
                right: -1px;
                width: 30px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#644252+0,644252+100&1+0,0.9+65,0+100 */
                background: -moz-linear-gradient(left, rgba(76,73,82,0) 0%, rgba(76,73,82,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(76,73,82,0) 0%,rgba(76,73,82,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(76,73,82,0) 0%,rgba(76,73,82,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#533344', endColorstr='#00533344',GradientType=1 ); /* IE6-9 */
            }
        }
        img,
        video {
            position: absolute;
            height: 100%;
            left: -80px;
            @include mq(340px) {
                left: -70px;
            }
            @include mq(365px) {
                left: -60px;
            }
            @include mq(390px) {
                left: -45px;
            }
            @include mq(420px) {
                left: -30px;
            }
            @include mq(450px) {
                left: -15px;
            }
            @include mq(mobileLandscape) {
                left: 0;
            }
        }
        .video+img {
            z-index: -1;
        }
    }
    .supported-by {
        pointer-events: none;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        padding-top: 2px;
        background-color: #fff;
        &__text,
        &__logo {
            vertical-align: top;
        }
        &__text {
            margin-left: 10px;
            font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-size: 13px;
            color: #333;
            opacity: 0.5;
            @include mq(mobileLandscape) {
                margin-left: 20px;
            }
            @include mq(tablet) {
                font-size: 12px;
            }
        }
        &__logo {
            opacity: 0.4;
        }
        @include mq(desktop) {
            position: absolute;
            right: auto;
            background-color: transparent;
            height: auto;
            bottom: 15px;
            &__text {
                display: inline-block;
                font-size: 14px;
                color: #F6F6F6;
            }
            &__logo {
                display: block;
                margin-left: 20px;
                position: relative;
                bottom: 5px;
                path {
                    fill: #eaeaea;
                }
            }
        }
    }
    .big-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 32px;
        z-index: 101;
        &:hover ~ .watch-now .watch-now__play {
            transform: scale(1.08);
        }
        @include mq(desktop) {
            bottom: 0;
        }
    }
}

@keyframes switchOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
