// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

section#podcast,
section#today-in-focus,
section#today-in-focus-weekend,
section#podcast-weekend {
  background-color: #F0DBBC;
  .facia-snap {
    background-color: transparent;
  }
}

.today-in-focus-launch-weekend__wrapper {
  background-color: #F0DBBC;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-family: "Guardian Egyptian Web",Georgia,serif;
  @include mc(mobileLandscape) {
    margin: 0 20px;
  }
  @include mc(tablet) {
    width: 100%;
  }
  .tif {
    &__title {
      padding: 9px 0 3px;
      font-weight: 900;
      @include mc(tablet) {
        padding-top: 6px;
      }
      @include mc(leftCol) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &__the-guardian-audio {
      position: absolute;
      top: 5px;
      right: 0;
      @include mc(tablet) {
        right: -2px;
      }
    }
    &__podcast-artwork {
      display: none;
      @include mc(leftCol) {
        display: block;
        position: absolute;
        bottom: 3px;
        left: 0;
      }
    }
    &__lines {
      width: 100%;
      margin-top: 6px;
      font-size: 0;
      @include mc(tablet) {
        position: absolute;
        top: 54px;
        right: -4px;
        width: 346px;
      }
      @include mc(desktop) {
        width: 466px;
      }
      @include mc(leftCol) {
        top: 32px;
      }
      @include mc(wide) {
        top: 24px;
        right: 74px;
      }
      .ratio-box__outer {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 27%;
      }
      .ratio-box__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
      }
      .line {
        position: relative;
        height: 100%;
        width: 6px;
        display: inline-block;
        vertical-align: top;
        margin-right: 3px;
        top: 50%;
        transform: translateY(-50%) scaleY(1.01);
        background-color: #FF6A56;
        margin-bottom: 100%;
        animation-duration: 1.8s;
        animation-iteration-count: infinite;
        .disable-flashing-elements & {
          animation: none !important;
        }
      }

      @for $i from 1 through 51 {
        .line-#{$i} {
          animation-delay: 15ms * $i;
        }
      }

      .line-1 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 19%;
      }
      .line-2 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 29%;
      }
      .line-3 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 60%;
      }
      .line-4 {
        animation-name: bounceHigh;
        height: 52%;
      }
      .line-5 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 44%;
      }
      .line-6 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 29%;
      }
      .line-7 {
        animation-name: bounceHigh;
        height: 27%;
      }
      .line-8 {
        animation-name: bounceHigh;
        height: 33%;
      }
      .line-9 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 48%;
      }
      .line-10 {
        animation-name: bounceHigh;
        height: 63%;
      }
      .line-11 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 58%;
      }
      .line-12 {
        animation-name: bounceHigh;
        height: 89%;
      }
      .line-13 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 93%;
      }
      .line-14 {
        animation-name: bounceHigh;
        height: 100%;
      }
      .line-15 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 87%;
      }
      .line-16 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 93%;
      }
      .line-17 {
        animation-name: bounceHigh;
        height: 69%;
      }
      .line-18 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 58%;
      }
      .line-19 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 68%;
      }
      .line-20 {
        animation-name: bounceHigh;
        height: 51%;
      }
      .line-21 {
        animation-name: bounceHigh;
        height: 85%;
      }
      .line-22 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 79%;
      }
      .line-23 {
        animation-name: bounceHigh;
        height: 68%;
      }
      .line-24 {
        animation-name: bounceHigh;
        height: 58%;
      }
      .line-25 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 50%;
      }
      .line-26 {
        animation-name: bounceHigh;
        height: 74%;
      }
      .line-27 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 68%;
      }
      .line-28 {
        animation-name: bounceHigh;
        height: 58%;
      }
      .line-29 {
        animation-name: bounceHigh;
        height: 61%;
      }
      .line-30 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 35%;
      }
      .line-31 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 25%;
      }
      .line-32 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 18%;
      }
      .line-33 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 35%;
      }
      .line-34 {
        animation-name: bounceHigh;
        height: 29%;
      }
      .line-35 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 13%;
      }
      .line-36 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 17%;
      }
      .line-37 {
        animation-name: bounceHigh;
        height: 23%;
      }
      .line-38 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 13%;
      }
      .line-39 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 9%;
      }
      .line-40 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 16%;
      }
      .line-41 {
        animation-name: bounceHigh;
        height: 40%;
      }
      .line-42 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 57%;
      }
      .line-43 {
        animation-name: bounceHigh;
        height: 98%;
      }
      .line-44 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 89%;
      }
      .line-45 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 85%;
      }
      .line-46 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 43%;
      }
      .line-47 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 51%;
      }
      .line-48 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 28%;
      }
      .line-49 {
        animation-name: bounceHigh;
        height: 39%;
      }
      .line-50 {
        // animation-name: bounceMid;
        animation-name: bounceHigh;
        height: 23%;
      }
      .line-51 {
        animation-name: bounceLow;
        // animation-name: bounceHigh;
        height: 19%;
      }
    }
    &__contents {
      margin-top: 24px;
      @include mc(tablet) {
        width: 300px;
        margin-top: 18px;
      }
      @include mc(desktop) {
        width: 460px;
      }
      @include mc(leftCol) {
        margin-top: 6px;
        margin-left: 160px;
      }
      @include mc(wide) {
        margin-left: 240px;
      }
      &__name {
        font-weight: 900;
      }
      &__description {
        font-weight: 300;
      }
      &__cta,
      &__subscription {
        font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      }
      &__cta {
        display: inline-block;
        font-size: 18px;
        background-color: #ffe500;
        line-height: 32px;
        padding: 3px 44px 5px 16px;
        border-radius: 32px;
        margin-left: -2px;
        margin-top: 24px;
        background-image: url(https://uploads.guim.co.uk/2018/11/02/image.svg);
        background-repeat: no-repeat;
        background-position: top 9px right 7px;
        text-decoration: none;
        transition: background-color 360ms, background-position 300ms;
        &:hover {
          // background-color: #FF6A56;
          background-color: #FFBB50;
          background-position: top 9px right 10px;
        }
      }
      &__subscription {
        font-size: 12px;
        margin-left: -9px;
        &__network {
          display: inline-block;
          margin-top: 6px;
          padding-bottom: 3px;
          padding-left: 10px;
          position: relative;
          opacity: 0.8;
          &:nth-child(n+2) {
            &:before {
              content: '';
              position: absolute;
              top: 7px;
              left: 5px;
              bottom: 0;
              width: 1px;
              height: 100%;
              background-color: #121212;
              opacity: 0.25;
            }
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}


// @keyframes bounceLow {
//   0% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   10% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   14% {
//     transform: translateY(-50%) scaleY(0.7);
//   }
//   18% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   30% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   34% {
//     transform: translateY(-50%) scaleY(0.8);
//   }
//   38% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   46% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   50% {
//     transform: translateY(-50%) scaleY(0.6);
//   }
//   54% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   74% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   78% {
//     transform: translateY(-50%) scaleY(0.9);
//   }
//   82% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   90% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   94% {
//     transform: translateY(-50%) scaleY(0.6);
//   }
//   98% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   100% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
// }
// 
// @keyframes bounceMid {
//   0% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   10% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   14% {
//     transform: translateY(-50%) scaleY(0.7);
//   }
//   18% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   30% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   34% {
//     transform: translateY(-50%) scaleY(0.8);
//   }
//   38% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   46% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   50% {
//     transform: translateY(-50%) scaleY(0.6);
//   }
//   54% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   74% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   78% {
//     transform: translateY(-50%) scaleY(0.9);
//   }
//   82% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   90% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   94% {
//     transform: translateY(-50%) scaleY(0.6);
//   }
//   98% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   100% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
// }
// 
// @keyframes bounceHigh {
//   0% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   10% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   14% {
//     transform: translateY(-50%) scaleY(0.7);
//   }
//   18% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   30% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   34% {
//     transform: translateY(-50%) scaleY(0.8);
//   }
//   38% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   46% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   50% {
//     transform: translateY(-50%) scaleY(0.6);
//   }
//   54% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   74% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   78% {
//     transform: translateY(-50%) scaleY(0.9);
//   }
//   82% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   90% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   94% {
//     transform: translateY(-50%) scaleY(0.6);
//   }
//   98% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
//   100% {
//     transform: translateY(-50%) scaleY(0.2);
//   }
// }


@keyframes bounceLow {
  0% {
    transform: translateY(-50%) scaleY(1.01) rotate(0.1deg);
  }
  14% {
    transform: translateY(-50%) scaleY(1.01) rotate(0.1deg);
  }
  21% {
    transform: translateY(-50%) scaleY(1.05) rotate(0.1deg);
  }
  33% {
    transform: translateY(-50%) scaleY(0.7) rotate(0.1deg);
  }
  41% {
    transform: translateY(-50%) scaleY(0.95) rotate(0.1deg);
  }
  56% {
    transform: translateY(-50%) scaleY(0.9) rotate(0.1deg);
  }
  71% {
    transform: translateY(-50%) scaleY(1.01) rotate(0.1deg);
  }
  86% {
    transform: translateY(-50%) scaleY(0.85) rotate(0.1deg);
  }
  91% {
    transform: translateY(-50%) scaleY(0.85) rotate(0.1deg);
  }
  100% {
    transform: translateY(-50%) scaleY(1.01) rotate(0.1deg);
  }
}
@keyframes bounceHigh {
  0% {
    transform: translateY(-50%) scaleY(1.01) rotate(0.1deg);
  }
  14% {
    transform: translateY(-50%) scaleY(1.01) rotate(0.1deg);
  }
  21% {
    transform: translateY(-50%) scaleY(1.1) rotate(0.1deg);
  }
  33% {
    transform: translateY(-50%) scaleY(0.7) rotate(0.1deg);
  }
  41% {
    transform: translateY(-50%) scaleY(1.05) rotate(0.1deg);
  }
  56% {
    transform: translateY(-50%) scaleY(0.9) rotate(0.1deg);
  }
  71% {
    transform: translateY(-50%) scaleY(1.05) rotate(0.1deg);
  }
  86% {
    transform: translateY(-50%) scaleY(0.85) rotate(0.1deg);
  }
  91% {
    transform: translateY(-50%) scaleY(0.85) rotate(0.1deg);
  }
  100% {
    transform: translateY(-50%) scaleY(1.01) rotate(0.1deg);
  }
}
