// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

//hide yourself
#winter-olympics-style {
    display: none;
}

//style the winter olympics container
#winter-olympics {



    .fc-container__inner {
        border-top: 0px;

        &:before {
            height: 13px;
            width: 100%;
            content: '';
            display: block;
            background-image: url('https://uploads.guim.co.uk/2018/02/09/dot_repeat_better.svg');
            background-size: 10px;
            transform: translateY(-6px);
        }
    }

    .fc-container__header__title {
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        margin-bottom: 8px;
        margin-top: 6px;

        @include mq($from: tablet) {
            margin-top: 0px;
        }

        & > span,
        & > a span 
         {
            position: relative;
            background-color: #ffe500;
            padding: 0 4px 4px 4px;
            @include mq($from: tablet) {
                position: relative;
                top: 6px;
           }
        }
    }

    .l-row {
        flex-direction: row;
    }

    .fc-slice {
        .fc-slice__item {
            .fc-item--standard-mobile {

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 0.0625rem;
                    height: 100%;
                    border-left: 0.0625rem solid #dfdfdf;
                }

                &:before {
                    display: none;

                    @include mq($from: leftCol) {
                        display: block;
                    }
                }

                .fc-item__container {
                    min-height: 340px;

                    &:before {
                        background-color: #00B0FF;
                    }
                }

                .fc-item__image-container {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    padding-bottom: 0;

                    img {
                        object-fit: cover;
                        z-index: 1;
                    }
                }

                .fc-item__content  {
                    padding: 0;
                }

                .fc-item__title {
                    padding-left: 6px;
                    background-color: #00B0FF;
                    position: absolute;
                    bottom: 0;
                    width: 70%;
                    z-index: 2;
                    padding-bottom: 12px;
                    padding-right: 12px;

                    @include mq($from: desktop) {
                        width: 60%;
                    }

                    .fc-item__kicker {
                        color: #ffffff;
                        display: block;
                        font-size: 22px;
                        line-height: 24px;

                        &:after {
                            display: none;
                        }
                    }

                    .fc-item__headline {
                        color: #ffffff;
                        font-size: 22px;
                        line-height: 24px;
                        display: block;

                        &:after {
                            height: 20px;
                            width: 20px;
                            margin-left: 3px;
                            bottom: -3px;
                            position: relative;
                            border-radius: 50%;
                            background-color: #FFE500;
                            display: inline-block;
                            content:'';
                            background-image: url('https://uploads.guim.co.uk/2018/02/06/arrow.svg');
                            background-position:center center;
                            background-repeat: no-repeat;
                            background-size: 60%;
                        }
                    }
                }
            }
            .fc-item--list-media-mobile {
                background-color: #ffffff;

                .fc-item__container {
                    &:before {
                        background-color: transparent;
                    }
                    &:after {
                        content: '';
                        background-color: #d6d6d6;
                        display: block;
                        height: 1px;
                        width: 100%;
                    }
                }

                .fc-item__media-wrapper {
                    margin: 0;
                    margin-top: 5px;
                }

                .fc-item__kicker {
                    color: #00B0FF;
                    &:after {
                        display: none;
                    }
                }

                .fc-item__headline {
                    color: #005689;
                    // font-weight: 900;
                }

                .fc-item__headline, .fc-item__kicker {
                    font-size: 18px;

                    @include mq($from: tablet) {
                        font-size: 20px;
                    }
                }

                .fc-item__standfirst-wrapper {
                    display: none;
                }

                .fc-item__content  {
                    margin-left: -6px;
                    margin-top: 6px;
                    margin-bottom: 10px;

                    @include mq($from: tablet) {
                        margin-left: 6px;
                    }
                }

                &.fc-item--has-cutout {
                    .fc-item__content  {
                        padding-left: 0px;
                        margin-left: 0px;
                        margin-bottom: 0px;
                    }
                }
            }
            .u-faux-block-link--hover {
                background-color: #ffffff;
            }

            .fc-slice__item {
                padding-bottom: 0px;
            }

            .fc-item__title {
                margin-top: -4px;
            }
        }
    }
}
