// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#people,
#guardian-weekly-thrasher {
    background: #ffffff;
    z-index: 0;
}

.GuardianWeekly__wrapper {
    box-sizing: border-box;
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 -10px;

    @include mq(tablet) {
        width: 100%;
        margin: 0;
    }
}

.GuardianWeekly__wrapper {
    .link-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 30 !important;
        overflow: hidden;
        text-indent: 200%;
        white-space: nowrap;
        background: transparent;
    }

    .wrapper {
        background-color: #66c2e9;
        color: #ffffff;
        display: block;
        height: 300px;
        position: relative;
        width: auto;
        transition: background-color .3s ease-in-out;
        margin-top: 12px;

        @include mq(tablet) {
            height: 160px;
            margin: 24px 0 0;
        }
        @include mq(desktop) {
            height: 180px;
        }
    }

    &:hover .wrapper {
        background-color: #4fb7e3;
    }

    .tagline {
        position: absolute;
        top: 12px;
        left: 10px;
        right: 10px;

        @include mq(mobileLandscape) {
            left: 20px;
            right: 20px;
        }

        @include mq(tablet) {
            right: auto;
        }
        @include mq(desktop) {
            top: 6px;
        }

        @include mq(leftCol) {
            left: 180px;
        }

        @include mq(wide) {
            left: 260px;
        }

        svg {
            width: 250px;
            height: auto;

            @include mq(tablet) {
                width: 360px;
            }

            @include mq(desktop) {
                max-width: 560px;
                width: 560px;
            }
        }

        &__a,
        &__b {
            display: block;
            font-size: 32px;
            font-family: GuardianTitlepiece,"Guardian Headline Full","Guardian Egyptian Web",Georgia,serif;
            font-family: "Guardian Titlepiece","GuardianTitlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
            line-height: 115%;
            @include mq(mobileMedium) {
                font-size: 34px;
            }
            @include mq(desktop) {
                font-size: 48px;
            }
        }
        &__a {
            color: #121212;
        }
        &__b {
            color: #fff;
        }
    }


    .roundel {
        position: absolute;
        right: 10px;
        bottom: 12px;
        height: 42px;
        width: 42px;

        @include mq(mobileLandscape) {
            right: 20px;
        }
    }

    .pack-shots {
        position: absolute;
        display: block;
        left: 70px;
        bottom: 0;
        z-index: 10;

        @include mq(tablet) {
            left: auto;
            right: 275px;
        }

        @include mq(desktop) {
            right: 290px;
        }

        @include mq(leftCol) {
            right: 330px;
        }

        @include mq(wide) {
            right: 360px;
        }
    }

    .pack-shot_img {
        position: absolute;
        height: auto;
        width: 130px;
        bottom: 0;
        box-shadow: 1px 2px 9px -2px rgba(0,0,0,0.75);
        animation-name: pack-shot_reveal;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        transform: translateY(100%);

        @include mq(desktop) {
            width: 150px;
        }
    }

    .pack-shot_img--A {
        z-index: 0;
        margin-left: -65px;
        animation-delay: .6s;
        bottom: -12px;
        z-index: 8;

        @include mq(tablet) {
            bottom: -18px;
        }


        @include mq(leftCol) {
            margin-left: -70px;
        }

        @include mq(wide) {
            margin-left: -110px;
        }
    }

    .pack-shot_img--B {
        z-index: 0;
        animation-delay: .8s;
        z-index: 9;
    }

    .pack-shot_img--C {
        z-index: 1;
        animation-delay: 1s;
        margin-left: 65px;
        bottom: -12px;
        z-index: 7;

        @include mq(tablet) {
            bottom: -18px;
        }

        @include mq(leftCol) {
            margin-left: 70px;
        }

        @include mq(wide) {
            margin-left: 110px;
        }
    }

    .cta {
        color: #121212;
        font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        border: none;
        box-sizing: border-box;
        font-weight: 600;
        line-height: 40px;
        position: absolute;
        cursor: pointer;
        outline: none;
        border-radius: 21px;
        -webkit-backface-visibility: hidden;

        background-color: #ffe500;
        color: #121212;
        bottom: 12px;
        left: 10px;
        padding-left: 18px;
        padding-right: 4px;
        z-index: 20;

        @include mq(mobileLandscape) {
            left: 18px;
        }

        @include mq(leftCol) {
            left: 178px;
        }
        @include mq(wide) {
            left: 258px;
        }

        .circle {
            background: #ffe500;
            height: 42px;
            width: 42px;
            border-radius: 50%;
            display: block;
            position: relative;
            float: right;
            margin-left: 8px;
            transform: translateX(0);
            transition: transform .3s ease-in-out;
            -webkit-backface-visibility: hidden;
            svg path {
              fill: #121212;
            }
            @include mq(tablet) {
              background: #ffe500;
              svg path {
                fill: #333333;
              }
            }
        }

        .icon {
            fill: #333333;
            position: absolute;
            right: 7px;
            top: 9px;
            height: auto;
            width: 26px;
        }
    }

    &:hover .cta,
    &:focus .cta {
        @include mq(desktop) {
            .circle {
                transform: translateX(4px);
            }
        }
    }
}

@keyframes pack-shot_reveal {
    from {transform: translateY(100%);}
    to {transform: translateY(0);}
}
