// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-yellow: #F5B227;
$c-white: #fff;

@import 'shared/_imports';
@include base(strange-bird, $c-yellow);
@include base(podcast-strange-bird, $c-yellow);

.podcast-strange-bird__wrapper {
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    position: relative;
    padding: 6px 10px 12px;
    margin-left: -10px;
    overflow: hidden;

    @include mq(mobileLandscape) {
        padding: 6px 20px 12px;
        width: calc(100% + 20px);
        box-sizing: border-box;
    }

    @include mq(tablet) {
        width: 100%;
        margin: 0;
        box-sizing: padding-box;
    }
}

.strange-bird__bird {
    position: absolute;
    bottom: 0;
    left: 180px;
    width: 400px;

    @include mq(mobileLandscape) {
        left: 210px;
        width: auto;
    }

    @include mq(tablet) {
        left: 320px;
    }

    @include mq(desktop) {
        left: 360px;
    }

    @include mq(leftCol) {
        left: 540px;
    }

    @include mq(wide) {
        left: 640px;
    }
}

.strange-bird__intro {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    padding-right: 60px;
    max-width: 240px;

    @include mq(tablet) {
        padding-right: 0;
        max-width: 320px;
    }

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

.strange-bird__head {
    font-size: 48px;
    line-height: 46px;
    font-weight: 800;
    margin: 3px 0 68px;

    @include mq(tablet) {
        margin: 3px 0 42px;
    }

    @include mq(desktop) {
        font-size: 56px;
        line-height: 54px;
    }

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

.strange-bird__title {
    span {
        display: block;
    }
}

.strange-bird__cta {
    font-size: 16px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 800;
    display: inline-block;
    border-radius: 36px;
    line-height: 32px;
    padding: 3px 40px 1px 15px;
    transition: background 160ms;
    background-color: $c-white;

    &:hover {
        text-decoration: none;
        background-color: #ddd;

        &:after {
            transform: translateX(2px);
        }
    }

    &:after {
        position: absolute;
        right: 9px;
        top: 7px;
        content: '';
        transition: transform 160ms;
        display: inline-block;
        background-image: url(https://uploads.guim.co.uk/2018/01/23/arrow.svg);
        background-repeat: no-repeat;
        width: 22px;
        height: 21px;
        background-size: 100% 100%;
    }

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

.strange-bird__roundel {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 80px;

    @include mq(mobileLandscape) {
        right: 20px;
    }
}
