// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#environment-takeover {
    background: #444;
}

.environment-takeover__wrapper {
    background-image:
        url(http://localhost:8000/embeds/environment-takeover/_source/logo.png),
        url(http://localhost:8000/embeds/environment-takeover/_source/background.jpg);
    background-repeat: no-repeat;
    background-position:
        right 10px bottom 10px,
        top center;
    background-size:
        170px,
        100vmax 100vmax;
    padding: 60px 0;
    width: 100%;
    top: 80%;
    transition: top 2s;
    transition-timing-function: ease-out;
}

.environment-takeover__heading {
    color: #CCC;
}

.environment-takeover__content {
    @media (min-width: 30em) {
        padding: 6px 20px;
    }
}

.environment-takeover__active {
    position: fixed;
    top: 4%;
    bottom: 4%;
    left: 4%;
    width: 92%;
    z-index: 200;
}

.environment-takeover__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 10px;
  cursor: pointer;
}
