// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);



$brownColour: #ff9b0b;
$ligthBrownColour: #ff9b0b;
$transLegnth: 1s;
$pauseLength: 3s;

@import 'shared/_imports';

.environment-takeover__wrapper {
    bcakground-color: #000;
    box-sizing: border-box;
    background-image:   url(http://interactive.guim.co.uk/thrashers/environment-takeover/hashed/kiitg-logo.png),
                        url(http://interactive.guim.co.uk/thrashers/environment-takeover/hashed/coal.jpg);
    background-repeat: no-repeat;
    background-position: bottom 1.25rem right 1.25rem, top left;
    background-size: 150px, cover;
    width: 100%;
    padding: 1.25rem;
}

.environment-takeover__t1,
.environment-takeover__t2 {
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    color: $brownColour;
}

.environment-takeover__t1 span {
    display: inline-block;
    margin-left: 3rem;
}

.environment-takeover__mainlink {
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 0;
}
.environment-takeover__mainlink:hover,
.environment-takeover__mainlink:focus {
    text-decoration: none;
    border: none;
}

.environment-takeover__t2 {
    color: #FFF;
}

.environment-takeover__button-inner:hover,
.environment-takeover__button-inner:focus {
    background-color: $ligthBrownColour;
}

#environment-takeover {
    background: #444;
}

.environment-takeover__heading {
    color: #CCC;
}

.environment-takeover__overlay {
    background-color: #000;
    box-sizing: border-box;
    background-image: url(http://interactive.guim.co.uk/thrashers/environment-takeover/hashed/oil.jpg);
    background-repeat: repeat-x;
    background-position: center 20px;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
    display: none;
}

.environment-takeover__overlay-inner {
    background-image: url(http://interactive.guim.co.uk/thrashers/environment-takeover/hashed/oil-logos.jpg);
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0;

    -webkit-animation: fadeIn $transLegnth ease $pauseLength + $transLegnth*2 1 normal forwards, fadeOut $transLegnth ease ($pauseLength * 3) + $transLegnth*2 1 normal forwards;
    animation:  fadeIn $transLegnth ease $pauseLength + $transLegnth*2 1 normal forwards, fadeOut $transLegnth ease ($pauseLength * 3) + $transLegnth*2 1 normal forwards;
}


.environment-takeover__active   {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: $transLegnth;
    animation-duration: $transLegnth;

    display: block;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // Higher z-index than app banner but lower than breaking news
    z-index: 10000000;
}

.environment-takeover__col1,
.environment-takeover__col2 {
    width: 70%;
    margin: 0 auto;
    max-width: 790px;
}

.environment-takeover__col2 {
    left: auto;
    right: 0;
    padding: 0 3rem;
}

// Animation
// Adding second property (text-indet) to fix Chrome bug not triggering anim
@-webkit-keyframes fadeIn {
    0%   { opacity: 0; text-indent: 0;}
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0%   { opacity: 1; text-indent: 0;}
    100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.environment-takeover__screen1,
.environment-takeover__screen2,
.environment-takeover__screen3,
.environment-takeover__screen4,
.environment-takeover__screen5 {
    -webkit-animation: fadeIn $transLegnth ease $pauseLength 1 normal forwards, fadeOut $transLegnth ease $pauseLength 1 normal forwards;
    animation:  fadeIn $transLegnth ease $pauseLength 1 normal forwards, fadeOut $transLegnth ease $pauseLength 1 normal forwards;
}

.environment-takeover__screen {
    box-sizing: border-box;
    color: #FFF;

    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;

    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
    padding: 2rem;
    left: 0;
    text-align: left;
    margin: 0 auto;
    width: 100%;
}


.environment-takeover__screen1 {
    -webkit-animation: fadeIn 1s ease 1 normal forwards, fadeOut 0s ease ($pauseLength + $transLegnth) + 1s 1 normal forwards;
    animation: fadeIn 1s ease 1 normal forwards, fadeOut 0s ease ($pauseLength + $transLegnth) + 1s  1 normal forwards;
    // -webkit-animation: fadeOut 0s ease ($pauseLength + $transLegnth) 1 normal forwards;
    // animation: fadeOut 0s ease ($pauseLength + $transLegnth) 1 normal forwards;
    

    .environment-takeover__header {
        color: $brownColour;
    }

    .environment-takeover__col1 {
        top: 40%;
    }

    .environment-takeover__header2 {
        visibility: hidden;
    }
}

.environment-takeover__screen2 {
    -webkit-animation-delay: $pauseLength - 1s, $pauseLength + $transLegnth*2;
    animation-delay: $pauseLength - 1s, $pauseLength + $transLegnth*2;

    .environment-takeover__header {
        color: $brownColour;
    }

    .environment-takeover__col1 {
        top: 40%;
    }
}

 .environment-takeover__screen3 {
    -webkit-animation-delay: $pauseLength + $transLegnth*2, ($pauseLength * 2) + $transLegnth*2  + 1s;
    animation-delay: $pauseLength + $transLegnth*2, ($pauseLength * 2) + $transLegnth*2  + 1s; 

    .environment-takeover__logo-text {
        color: $brownColour;
    }
    .environment-takeover__logo-text2 {
        visibility: hidden;
    }
}


.environment-takeover__screen4 {
    -webkit-animation-delay: ($pauseLength * 2) + $transLegnth*2, ($pauseLength * 3) + $transLegnth*2; 
    animation-delay: ($pauseLength * 2) + $transLegnth*2, ($pauseLength * 3) + $transLegnth*2; 

    .environment-takeover__logo-text {
        color: $brownColour;
    }
}



.environment-takeover__screen5 {
    -webkit-animation-delay: ($pauseLength * 3) + $transLegnth*2, ($pauseLength * 4) + $transLegnth*2  + 1s; 
    animation-delay: ($pauseLength * 3) + $transLegnth*2, ($pauseLength * 4) + $transLegnth*2  + 1s; 
}
.environment-takeover__screen5 .environment-takeover__header {
    color: $brownColour;
}
.environment-takeover__screen5 .environment-takeover__header2,
.environment-takeover__screen5 .environment-takeover__button {
    visibility: hidden;
}

.environment-takeover__screen6 {
    -webkit-animation: fadeIn $transLegnth ease 1 normal forwards;
    animation: fadeIn $transLegnth ease 1 normal forwards;
    -webkit-animation-delay: ($pauseLength * 4) + $transLegnth*2;
    animation-delay: ($pauseLength * 4) + $transLegnth*2;

    .environment-takeover__header1 {
        color: $brownColour;
    }
}
.environment-takeover__screen6 .environment-takeover__header {
    color: $brownColour;
}

.environment-takeover__logo {
    width: 60%;
    float: left;
}

.environment-takeover__button-inner {
    background-color: $brownColour;
    color: #333;
    border: none;
}



// G logo
.environment-takeover__marque {
    position: absolute;
    top: 2rem;
    left: 20px;
}

// Campaign logo
.environment-takeover__main-logo {
    margin: 2rem auto 0 auto;
    /*width: 200px;*/
    width: 28vh;
    display: block;
}


// Close btn
.environment-takeover__close-wrapper {
  position: absolute;
  top: 2rem;
  right: 17px;
  cursor: pointer;
  z-index: 9999;
}
.environment-takeover__close {
  background: rgba(0,0,0,0.5);
  fill: #fff;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}


@media (max-width: map-get($mq-breakpoints, phablet)) {
    .environment-takeover__screen {
        padding: 1rem;
        font-size: 1rem;
    }

    .environment-takeover__marque {
        top: 0.5rem;
        left: 0.5rem;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);

    }
    .environment-takeover__close-wrapper {
        top: 0.5rem;
        right: 0.5rem;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }


    .environment-takeover__overlay,
    .environment-takeover__overlay-inner{
        background-position: center 60px;
    }

    .environment-takeover__main-logo {
        width: 150px;
    }

}


.environment-takeover__no-animation .environment-takeover__screen6 {
    opacity: 1 !important;
}