// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.the-frontline__wrapper {

	width: 100%;
	display: inline-block; 

    .the-frontline_container {
    	width: 100%;
    	max-width: 1300px;
    	height: 300px;
    	position: relative;
    }

    .the-topline_container {

		width: 100%;
    	background-repeat:   no-repeat;
    	background-size: cover;
    	height: 150px;

	    @include mq($until: mobile) {
			background-position: right;
			background-image: url('@@assetPath@@/background-480.jpg');
			height: 150px;
	    }

	    @include mq($from: mobile, $until: tablet) {
			background-position: right;
			background-image: url('@@assetPath@@/background-740.jpg');
			height: 150px;
	    }

	    @include mq($from: tablet, $until: desktop) {
	    	background-position: right;
	      	background-image: url('@@assetPath@@/background-980.jpg');
	      	height: 150px;
	    }

	    @include mq($from: desktop) {
	    	background-position: left;
	      	background-image: url('@@assetPath@@/background.jpg');
	      	height: 150px;
	    }


    }

    .the-bottomline_container {

		width: 100%;
    	background-repeat:   no-repeat;
    	background-size: cover;
    	height: 150px;
    	background-color: #fbf6ef;

    	@include mq($until: desktop) {
			min-height: 300px;
		}

		@include mq($from: desktop) {
			height: 150px;
		}


    }

    .the-bottomline_left_container {
    	
    	
    	float: left;
    	box-sizing: border-box;

		@include mq($until: desktop) {
			width: 100%;
			padding: 20px;
			height: 160px;
		}

		@include mq($from: desktop) {
			width: 50%;
	    	padding-left: 15px;
	    	padding-top: 10px;
	    	padding-right: 40px;
			height: 150px;
		}


    }

    .the-bottomline_right_container {
    	float: right;
    	height: 150px;
    	padding: 20px;
    	padding-top: 10px;
    	box-sizing: border-box;

		@include mq($until: desktop) {
			width: 100%;
		}

		@include mq($from: desktop) {
			width: 50%;
		}

    }


    .title_block {

        position: absolute;
        
	    @include mq($until: mobile) {
	      left: 20px;
	      top: 50px;
	      padding-right: 20px;
	    }

	    @include mq($from: mobile, $until: tablet) {
	      left: 20px;
	      top: 40px;
	      padding-right: 20px;
	    }

	    @include mq($from: tablet, $until: desktop) {
	      left: 100px;
	      top: 20px;
	    }

		@include mq($from: desktop) {
	      left: 100px;
	      top: 25px;
		}

    }

    .pre-title {
    	color: #ffe500;
		font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
		font-weight: 700;
    	float: left;
    	font-size: 20px;
    	line-height: 24px;
    	padding: 15px;

	    @include mq($until: mobile) {

	    }


	    br {

	    	@include mq($until: tablet) {
				display: none;
	    	}
		}

    }

    .headline {
		
		position: absolute;
		
		font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
		font-weight: 700;
		color: #ffe500;		
		margin-bottom: 10px;
		margin-bottom: 20px;

	    @include mq($until: mobile) {
			max-width: 600px;
			font-size: 40px;
			line-height: 30px;
			left: 40px;
	    }

	    @include mq($from: mobile, $until: tablet) {
			max-width: 600px;
			font-size: 40px;
			line-height: 45px;
			left: 40px;
	    }

	    @include mq($from: tablet, $until: desktop) {
			max-width: 600px;
			font-size: 60px;
			line-height: 45px;
			left: 100px;
	    }

		@include mq($from: desktop) {
			max-width: 600px;
			font-size: 60px;
			line-height: 45px;
			left: 100px;
		}

    }

    .subhead {
		font-family: "Guardian Text Egyptian Web",Georgia,serif;
		font-weight: 300;
		color: black;		

	    @include mq($until: mobile) {
			font-size: 12px;
			line-height: 15px;
	    }

	    @include mq($from: mobile, $until: tablet) {
			font-size: 14px;
			line-height: 16px;
	    }

	    @include mq($from: tablet, $until: desktop) {
			font-size: 15px;
			line-height: 20px;
	    }

		@include mq($from: desktop) {
			font-size: 15px;
			line-height: 20px;
		}

    }

    .subhead span {
    	background-color: #ffe500;
    	display: inline; /* keep the background color wrapped tight */
    	box-shadow: 0.5em 0 0 #ffe500,-0.5em 0 0 #ffe500;
    	margin: 0px auto 0px auto; /* keep the table centered #ffe500 */ 
		opacity: 1;
    }

	.branding {
		position: absolute;
		width: 40px;
		height: 40px;

	    @include mq($until: mobile) {
			display: none;
	    }

	    @include mq($from: mobile, $until: tablet) {
			display: none;
	    }	

	    @include mq($from: tablet, $until: desktop) {
			top: 20px;
			right: 20px;
	    }

		@include mq($from: desktop) {
			top: 20px;
			right: 20px;
		}


	}

	.branding svg {
		width: 100%;
		height: 100%;
	}

	.frontline-contribution-block {
		position: absolute;
		bottom: 20px;
		right: 30px;
		

		@include mq($until: tablet) {
			height: 100px;
			width: calc(100% - 60px);
		}

		@include mq($from: tablet) {
			width: calc(100% - 60px);
			height: 40px;
		}


	}

	.component-button {
		font-size: 1rem;
		line-height: 1.375rem;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		text-decoration: none;
		font-weight: 700;
		height: 2.625rem;
		padding: .375rem 1.25rem;
		border: none;
		border-radius: 0px 37.5rem 37.5rem 0;
		box-sizing: border-box;
		cursor: pointer;
		-webkit-transition: .2s;
		transition: .2s;
		background-color: #ffe500;
		color: #121212;
		border-radius: 37.5rem 37.5rem 37.5rem 37.5rem;
		width: 210px;
		height: 40px;
		white-space: nowrap;
		bottom: 20px;
		right: 20px;
		float: right;


	}

	.component-button .icon {
		margin: -.75rem -.625rem -.75rem .625rem;
		height: auto;
		width: 21px;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: -webkit-transform .3s ease-in-out;
		transition: transform .3s ease-in-out;
	}
	.component-button:focus, .component-button:hover {
		outline: 0;
	}
	.component-button:hover {
		background-color: #ffbb50;
	}
	.component-button:hover .icon {
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}

	.contributions-landing-ticker {
		width:100%;
		margin: 0 -.625rem;
		padding-bottom: 30px;
		margin-bottom: 20px;
		font-family: Guardian Egyptian Web, Georgia, serif;
	}
	.contributions-landing-ticker {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	.contributions-landing-ticker__progress-bar, .contributions-landing-ticker__values {
		margin: 0 .625rem;
	}
	.contributions-landing-ticker__values {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: flex-end;
		align-items: flex-end;
		padding-bottom: .375rem;
		line-height: 1;
	}
	.contributions-landing-ticker__goal, .contributions-landing-ticker__so-far {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.contributions-landing-ticker__so-far .contributions-landing-ticker__count {
		font-size: 1.5rem;
		font-weight: 800;
	}
	.contributions-landing-ticker__goal {
		-webkit-align-items: flex-end;
		align-items: flex-end;
	}
	.contributions-landing-ticker__goal .contributions-landing-ticker__count {
		font-weight: 700;
	}
	.contributions-landing-ticker__label {
		font-style: italic;
	}
	.contributions-landing-ticker__progress-bar {
		position: relative;
	}
	.contributions-landing-ticker__progress {
		width: 100%;
		height: .625rem;
		overflow: hidden;
		background-color: #dcdcdc;
		position: absolute;
	}
	.contributions-landing-ticker__filled-progress {
		background-color: #ffe500;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		transition: -webkit-transform 3s cubic-bezier(.25, .55, .2, .85);
		transition: transform 3s cubic-bezier(.25, .55, .2, .85);
		transition: transform 3s cubic-bezier(.25, .55, .2, .85), -webkit-transform 3s cubic-bezier(.25, .55, .2, .85);
	}

}