// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

// Party Colours
$c-con:     #005789;
$c-green:   #33A22B;
$c-labour:  #E31F26;
$c-libdem:  #FFB900;
$c-others:  #B3B3B4;
$c-snp:     #FCDD03;
$c-ukip:    #7D0069;
$c-plaid:   #868686;
$c-dup:     #9A1A33;
$c-sdlp:    #008689;
$c-sf:      #7EAA57;

.treats__treat.js-snappable {
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow: auto;
    padding: 0;
    height: auto;
    white-space: normal;
    width: 140px;

    @include mq(wide) {
        width: 200px;
    }
}

.election-treat__wrapper {
    border-top: 1px solid guss-colour(neutral-3, $pasteup-palette);
    padding-top: 3px;
    padding-bottom: 24px;
    border-bottom: 1px solid guss-colour(neutral-3, $pasteup-palette);
}

.election-treat__title {
    color: guss-colour(news-support-7, $pasteup-palette);
    font-size: 1.2rem;
    font-family: $f-serif-headline;
}

.election-treat__subtitle {
    color: guss-colour(neutral-2, $pasteup-palette);
    font-size: 0.8rem;
    letter-spacing: 0.02em;
    line-height: 1.1rem;
    font-family: $f-sans-serif-headline;
}

.election-treat__graphic {
    position: relative;
    background: url("http://interactive.guim.co.uk/thrashers/election-treat/hashed/westminster-07.svg") no-repeat;
    background-size: contain;
    background-position: left bottom;
    height: 190px;
    width: 100%;
}

@include keyframes(cloudWobble) {
    0% {
        @include transform(translateX(5px));
    }
    50% {
        @include transform(translateX(-5px));
    }
    100% {
        @include transform(translateX(5px));
    }
}

$a-cloudDuration: 15s;

svg.election-treat__cloud {
    position: absolute;
    width: 3rem;
    height: 3rem;
    @include animation(cloudWobble $a-cloudDuration infinite);

    &--labour {
        top: 64px;
        left: 69px;

        .election-treat__rain {
            fill: $c-labour;
        }

        .election-treat__rain--4,
        .election-treat__rain--6 {
            display: none;
        }
    }

    &--con {
        top: 42px;
        left: 5px;
        @include animation-delay(-2s);

        .election-treat__rain {
            fill: $c-con;
        }
    }

    &--others {
        top: 13px;
        left: 86px;
        @include animation-delay(-1s);

        .election-treat__rain--1 {
            fill: $c-snp;
        }

        .election-treat__rain--2 {
            fill: $c-snp;
        }

        .election-treat__rain--3 {
            fill: $c-libdem
        }

        .election-treat__rain--4 {
            fill: $c-ukip;
        }

        .election-treat__rain--5 {
            fill: $c-green;
        }

        .election-treat__rain--6 {
            fill: $c-others;
        }
    }
}

.election-treat__cloud--sun {
    top: 20px;
    left: 5px;
}

svg.election-treat__sun {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    top: 20px;
    left: 5px;
}

@include keyframes(hiddenSun) {
    0% {
        @include transform(translate(-12px, 22px));
    }
    100% {
        @include transform(translate(0px, 0px));
    }
}

.election-treat__hidden-sun {
    @include animation(hiddenSun 2s 1);
    @include animation-delay(1s);
    @include animation-fill-mode(forwards);
    @include transform(translate(-12px, 22px));
}

@include keyframes(rain) {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

$a-rainDuration: 5s;

.election-treat__rain {
    opacity: 0;
    @include animation(rain $a-rainDuration 1);
    @include animation-fill-mode(forwards);
}

.election-treat__rain--3,
.election-treat__rain--5 {
    @include animation-delay($a-rainDuration / 3);
}

.election-treat__rain--4,
.election-treat__rain--6 {
    @include animation-delay($a-rainDuration / 3 * 2);
}

.election-treat__clock {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 5px;
    top: 107px;
    @include transform(rotate(180deg));

    @include mq(wide) {
        right: 43px;
        top: 94px;
    }
}

.election-treat__center-point {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1px;
    margin-top: -1px;
    width: 2px;
    height: 2px;
    z-index: 5;
    background-color: #333;
}

.election-treat__hour-hand,
.election-treat__minute-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform-origin(50% 0px);
    background-color: #005689;
}

.election-treat__hour-hand {
    width: 1px;
    height: 5px;
    @include transform(rotate(20deg));

    @include mq(wide) {
        height: 7px;
    }
}

.election-treat__minute-hand {
    width: 1px;
    height: 10px;
    @include transform(rotate(75deg));
}
