// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$mobileLandscapeHeight:290px;
$phabletHeight:390px;
$tabletHeight:460px;
$desktopheight:;
$leftColHeight:490px;
$wideHeight:530px;


#ottolenghi .facia-snap{
  background-color: white !important;
}
.ottolenghi{

    &__wrapper {
      width: 100%;
      height: 410px;
      overflow: hidden;

      @include mq($from:mobileLandscape) {
        height: 390px;
      }
      @include mq($from: phablet) {
        height: 490px;
      }
      @include mq($from: tablet) {
        height: $tabletHeight;
      }
      @include mq($from:leftCol) {
        height: $leftColHeight;
      }
      @include mq($from: wide) {
        height: $wideHeight;
      }
    }

    &--background {
      img{
        width: 140%;
        position: absolute;
        bottom: -6vw;
        left: 0;
        right: 0;
        transform: translateX(-12%);

        @include mq($from: tablet) {
          width: 100%;
          transform: translateX(0%);
          bottom: -40px;
        }

        @include mq($from: desktop) {
          width: 100%;
          transform: none;
        }
      }
    }
    &--overlay{
      img{
        width: 120%;
        position: absolute;
        bottom: 300px;
        bottom: 19vw;
        transform: translateX(-7%);
        z-index: 1000;

        @include mq($from: tablet) {
          width: 86%;
          transform: translateX(7%);
          bottom: 100px;
        }

        @include mq($from: desktop) {
          width: 86%;
          transform: translateX(7%);
          bottom: 145px;
        }

      }
    }

    &--title{
      position: absolute;
      bottom: 0px;
      width: 98%;
      margin-left: 8px;

      svg{
        width: 96%;
        height: auto;

        @include mq($from: tablet) {
          width: 70%;
        }

        @include mq($from: desktop) {
          width: 73%;
        }

        @include mq($from: leftCol) {
          width: 60%;
        }
      }
    }

    &--header{
      height: 250px;
      position: relative;
      overflow: hidden;

      @include mq($from: mobileLandscape) {
          height: calc(#{$mobileLandscapeHeight} - 30px);
      }

      @include mq($from: phablet) {
        height: calc(#{$phabletHeight} - 30px);
      }

      @include mq($from: tablet) {
        height: calc(#{$tabletHeight} - 60px);
      }

      @include mq($from: leftCol) {
        height: calc(#{$leftColHeight} - 30px);
      }

      @include mq($from: wide) {
        height: calc(#{$wideHeight} - 30px);
      }
    }

    &--link {
      height: 68px;
      background-color: #ececec;
      display: block;
      padding-top: 6px;
      padding-left: 6px;
      line-height: 20px;
      font-weight: 900;
      font-family: $f-serif-headline;

      .ottolenghi--headline {
        width: 210px;
        float: left;
        color: #333;

        @include mq($from: desktop) {
          color: white;
        }
      }

      svg {
        float: right;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        polygon {
          fill: #333;
        }

        path {
          fill: #333;
        }
      }

      span {
        display: block;
      }

      @include mq($from: tablet) {
        display: none;
      }
    }

    &--link_desktop {
      display: none;
      position: absolute;
      right: 0px;
      color: white;
      bottom: 12px;
      line-height:20px;
      font-weight: 900;
      font-family: $f-serif-headline;

      span{
        display: block;
      }

      svg {
        width: 34px;
        height: 34px;
        margin-top: 4px;
      }

      @include mq($from: tablet) {
        display: block;
        width: 170px;
      }

      @include mq($from: desktop) {
        width: 240px;
      }

      @include mq($from: wide) {
        right: 80px;
      }
    }

    &--kicker {
      color: #F7ACBB;
    }
}

.page--nav {
  height: 200px;
  width: 100%;
  margin-top: 6px;
  font-family: $f-serif-headline;

  ul{
    margin: 0;
    @include mq($from: tablet) {
      margin-left: 20px;
      margin-right: 20px;
      float: right;
    }

    li{
      display: inline;
      list-style: none;
      font-weight: 900;
      color: #00456E;
      line-height: 23px;
      font-size: 19px;

      &.explore--category {
        font-family: $f-sans-serif-headline;
        font-size: 14px;
        color: #b6b6b6;
      }
    }
  }
}
