// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-background: #a8a8a8;
$c-liveRed: #e31f26;

@import 'components/guss-colours/_colours';
@import 'components/pasteup-palette/src/_palette';
@import 'components/sass-mq/_mq';
@import 'shared/_css3';
@import 'embeds/alan-sydney/partials/_full-width';

.alan-sydney__anchor {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    background: transparent;
    position: absolute !important;
    z-index: 6 !important;
    cursor: pointer;

    &:hover ~ .alan-sydney__content .alan-sydney__button {
        background-color: #b51800 !important;
    }
}

.alan-sydney__wrapper {
    width: 100%;
    background-color: $c-background;
    position: relative;
    overflow: hidden;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
}

.alan-sydney__content {
    color: white;
    padding: 10px 20px;
    height: 280px;
    position: relative;
    z-index: 3;

    @include mq($until: mobileLandscape) {
        padding-top: 25px;
    }

    @include mq(mobileLandscape) {
        height: 240px;
        width: 400px;
    }

    @include mq(mobileLandscape, phablet) {
        width: 50%;
    }

    @include mq(desktop) {
        height: 220px;
        width: 540px;
    }

    @include mq(leftCol) {
        height: 260px;
    }
}

.alan-sydney__title,
.alan-sydney__subtitle {
    font-size: 28px;
    line-height: 28px;

    @include mq(phablet) {
        font-size: 38px;
        line-height: 36px;
    }

    @include mq(desktop) {
        font-size: 48px;
        line-height: 46px;
    }
}

.alan-sydney__title {
    font-weight: 500;
}

.alan-sydney__subtitle {
    font-weight: 200;
}

.alan-sydney__lower {
    position: absolute;
    bottom: 10px;
}

.alan-sydney__trail,
.alan-sydney__details {
    font-family: "Guardian Text Egyptian Web",Georgia,serif;
    position: relative;
    padding-top: 4px;
    font-size: 14px;
    line-height: 16px;

    @include mq($until: mobileLandscape) {
        width: 60%;
    }

    @include mq(desktop) {
        font-size: 16px;
        line-height: 20px;
    }

    &:before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        top: 0;
        left: 0;
        background-color: #767676;

        @include mq(mobileLandscape) {
            width: 180px;
        }
    }
}

.alan-sydney__details {
    font-weight: bold;

    @include mq($until: mobileLandscape) {
        margin-bottom: 36px;
    }
}

.alan-sydney__details__detail {
    @include mq($until: mobileLandscape) {
        display: block;
    }

    &:after {
        @include mq(mobileLandscape) {
            content: ' |';
        }
    }
}

.alan-sydney__details__detail--last:after {
    content: "";
}

// Button

.alan-sydney__button {
    background-color: $c-liveRed !important;
    border: none !important;
    margin-left: -4px;
    
    @include mq($until: mobileLandscape) {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    @include mq(tablet) {
        height: 26px !important;
    }

    .alan-sydney__button__icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
    }
}

// Cutout

.alan-sydney__cutout {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    
    @include mq($until: mobileLandscape) {
        max-height: 200px;
        left: 52%;
    }
    
    @include mq(mobileLandscape, phablet) {
        max-height: 220px;
        left: 58%;
    }

    @include mq(phablet) {
        left: 380px;
        top: 0;
        height: 100%;
    }

    @include mq(tablet) {
        left: 420px;
    }

    @include mq(desktop) {
        left: 600px;
    }

    @include mq(leftCol) {
        left: 680px;
    }

    @include mq(wide) {
        left: 800px;
    }
}

// Logos

.alan-sydney__live-logo {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 0;

    @include mq($until: mobileLandscape) {
        top: -5px;
        left: 20px;
        right: inherit;
    }

    @include mq(leftCol) {
        top: 10px;
    }

    svg {
        width: 110px;

        @include mq(mobileLandscape) {
            width: 140px;
        }

        @include mq(leftCol) {
            width: 200px;
        }
    }
}

.alan-sydney__carriage {
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: 10px;

    @include mq($until: phablet) {
        display: none;
    }

    @include mq(leftCol) {
        bottom: 10px;
    }

    .alan-sydney__carriage__label {
        font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-size: 12px;
        line-height: 14px;
        color: #dedede;
        display: block;
        text-align: right;
    }

    .alan-sydney__carriage__logo {
        width: 140px;
        height: 24px;

        @include mq(desktop) {
            width: 160px;
            height: 26px;
        }
    }
}

// Background
.alan-sydney__background {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 380px;

    @include mq($until: tablet) {
        left: -100px;
    }
}

@include keyframes(circleLoop) {
    0% {
        @include transform(scale(1));
    }

    50% {
        @include transform(scale(1.2));
    }

    100% {
        @include transform(scale(1));
    }
}

.alan-sydney__circle {
    position: absolute;
    margin: auto;
    opacity: .13;
    border-radius: 380px;
    height: 380px;
    width: 380px;
    top: 0;
    bottom: 0;
    left: 20px;
    @include animation(circleLoop 20s ease-in-out infinite);
}

$circle-colours: #000, #fff, #000, #b51800, #b51800, #000, #000, #b51800, #fff, #000, #fff, #b51800, #000;
$circle-size: 380px, 320px, 220px, 380px, 195px, 140px, 240px, 210px, 300px, 226px, 400px, 140px, 180px;
$circle-position: -100px, 30px, 230px, 300px, 430px, 580px, 600px, 695px, 760px, 980px, 1080px, 1160px, 1260px;
$circle-outlines: false, true, false, false, true, false, true, false, false, false, true, false, false;

@for $i from 1 through 13 {
    .alan-sydney__circle--#{$i} {
        height: nth($circle-size, $i);
        width: nth($circle-size, $i);
        border-radius: nth($circle-size, $i);
        left: nth($circle-position, $i);
        @include animation-duration(random(15) + 8s);
        @include animation-delay(random(10) + -20s);

        @if nth($circle-outlines, $i) {
            border: 3px nth($circle-colours, $i) solid;
        } @else {
            background-color: nth($circle-colours, $i);
        }
    }
}
