// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.podcasts-directory__grid ul {
  width: 100%;
}

.podcasts-directory__grid ul.l-row {
  flex-wrap: wrap;

  li.fc-slice__item {
    flex: 0 0 25%;
  }
}

.podcasts-directory__grid img {
  object-fit: cover;
}
