// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-commentBackground: #e4e0e0;
$c-commentAccent: #e6711b;

@import 'components/guss-colours/_colours';
@import 'components/pasteup-palette/src/_palette';
@import 'components/sass-mq/_mq';

@import 'embeds/coal-us/full-width';

.coal-us__wrapper {
    width: 100%;
    background-color: $c-commentBackground;
    position: relative;
    overflow: hidden;
}

// Link

.coal-us__anchor {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    background: transparent;
    position: absolute !important;
    z-index: 3 !important;
}

// Typography

.coal-us__type {
    min-height: 140px;
    position: relative;
    z-index: 2;
    padding: 10px 20px;

    @include mq(mobileLandscape) {
        height: 170px;
    }

    @include mq(desktop) {
        height: 220px;
    }

    @include mq(leftCol) {
        height: 250px;
    }
}

.coal-us__title,
.coal-us__subtitle {
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;

    @include mq(mobileLandscape) {
        font-size: 28px;
        line-height: 30px;
    }
}

.coal-us__title {
    color: white;

    @include mq(tablet) {
        font-size: 48px;
        line-height: 52px;
    }
}

.coal-us__subtitle {
    color: #951c55;

    @include mq(tablet) {
        font-size: 23px;
        line-height: 22px;
        bottom: 10px;
        position: absolute;
    }
    
    @include mq(desktop) {
        font-size: 28px;
        line-height: 26px;
    }

    br {
        @include mq($until: tablet) {
            display: none;
        }
    }

    .coal-us__firstbreak {
        @include mq(tablet, desktop) {
            display: none;
        }
    }
}

// Video

.coal-us__video-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    @include mq($until: tablet) {
        background: url('http://i.guim.co.uk/static/w-640/h--/q-95/sys-images/Guardian/Pix/pictures/2014/11/6/1415275497050/292bf780-2054-4f3a-878b-aa508f35c97b-2060x1236.jpeg') no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    @include mq(tablet) {
        top: -75%;
    }

    @include mq(desktop) {
        top: -83%;
    }

    @include mq(leftCol) {
        top: -91%;
    }

    @include mq(wide) {
        top: -120%;
    }

    video {
        display: none;

        @include mq(tablet) {
            display: block;
            width: 100%;
        }
    }
}
