// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';



//
// LAYOUT
//

.fc-container__header .fc-container__header__title {
    float: none;
    display: block;
    padding-right: 36px;
    width: auto;
}
.fc-container__header .fc-container__header__description {
    float: none;
    text-align: left;
}
.fc-container__header .fc-container__toggle {
    right: -16px;
    outline: none;
}


// dont let 3 items in a 4-col expand to fill width
.has-flex .fc-slice-wrapper {
    .fc-slice:not(.l-row--cols-1) {
        display: block;
        font-size: 0;
        .fc-slice__item {
            display: inline-block;
            vertical-align: top;
            padding-top: 0;
            margin-bottom: 20px;
            width: 50%;
            @include mq(phablet) {
                width: 25%;
            }
            .fc-item,
            .fc-item:hover {
                background-color: transparent;
            }
            .fc-trail__count {
                display: none;
            }
        }
    }
    &.js-show-more {
        .fc-slice .fc-slice__item .fc-item__container {
            color: #F6F6F6;
            .inline-icon {
                display: none;
            }
            &:before {
                background-color: #FB0;
            }
        }
    }
}
// .has-flex .fc-slice-wrapper {
//     .l-row--cols-4,
//     .fc-slice {
//         display: flex;
//         .l-row__item--span-1 {
//             flex: 0 1 auto;
//             flex-basis: 50%;
//             flex-wrap: wrap;
//             flex-direction: row;
//             .fc-item {
//                 background-color: transparent;
//             }
//         }
//     }
// }


.has-flex .fc-slice {
    .l-row--cols-4 .l-row__item--span-1 {
        flex: 0 1 auto;
        flex-basis: 50%;
        @include mq(desktop) {
            flex-basis: 33%;
        }
    }
}

.has-flex-wrap .linkslist .fc-slice__item {
    flex-basis: 33%;
}



//
// COLOURS
//

// black page background
body,
.facia-page {
    background-color: #161616;
}

// dark side margins
.l-side-margins {
    &:before,
    &:after {
        background-color: rgba(0,0,0,0.2);
    }
}

// container rulers
.fc-container .fc-container__inner,
.fc-slice__item+.fc-slice__item:before {
    border-color: #333;
}

// container meta text
.fc-container__header__title,
.fc-container__header__description {
    color: #767676;
}

// remove containers
.fc-trending-topics,
.fc-container--commercial {
    display: none;
}

// mobile container toggle
.fc-container__toggle {
    .fc-container__toggle__text:hover,
    .fc-container__toggle__text:focus {
        color: #EAEAEA;
    }
    .inline-icon path {
        fill: #767676;
    }
}

// Show more button
.button--primary,
.button--medium.collection__show-more {
    color: #DCDCDC;
    background-color: transparent;
    border-color: currentColor;
    padding: 0 12px 0 30px;
    line-height: 32px;
    height: 32px;
    svg {
        transform-origin: 0 50%;
        transform: scale(0.9);
        path {
            fill: currentColor;
        }
    }
    &:hover,
    &:active {
        background-color: #EAEAEA;
        color: #161616;
        border-color: #EAEAEA;
    }
}

// Remove thrashers’ background colour
.fc-container--thrasher {
    &,
    .facia-snap {
        background-color: transparent;
    }
}
