// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#ofm-awards-2017.fc-container--thrasher,
#ofm-awards-2018.fc-container--thrasher,
#observer-food-monthly-awards-2018.fc-container--thrasher {
  background-color: #475a7a;
  padding-top: 0;
  .fc-item {
      background-color: #475a7a;
      @include mq($until:tablet) {
        padding-right: 0;
      }
  }
}

.ofm-awards-2018__wrapper {
  overflow: hidden;
  width: 100%;
}
.ofm-awards-2018-header {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-bottom: calc(-4px + 55%);
  padding: 120px 0 6px;
  @include mq(tablet) {
    padding: 0 19px 0 20px;
    height: 144px;
  }
  @include mq(desktop) {
    height: 180px;
  }
  .title {
    color: #fff;
    font-size: 32px;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    font-weight: 600;
    line-height: 1em;
    white-space: nowrap;
    position: relative;
    z-index: 5;
    @include mq(desktop) {
      font-size: 42px;
      line-height: 0.95em;
      padding-top: 1px;
    }
    @include mq(leftCol) {
      transform: translateX(51px);
    }
    @include mq(wide) {
      transform: translateX(131px);
    }
    &__line {
      display: block;
    }
    &__line-1 {
      padding-left: 1.15em;
    }
    &__line-2 {
      
    }
    &__line-3 {
      padding-left: 2.6em;      
    }
  }
  .plate {
    position: absolute;
    left: 152px;
    top: 0;
    width: 100%;
    transform: translateY(-42%);
    margin: 0 auto;
    width: 340px;
    @include mq(tablet) {
      transform: translateY(42%);
      top: auto;
      left: auto;
      bottom: 0;
      right: 59px;
      width: 340px;
    }
    @include mq(desktop) {
      transform: translateY(45%);
      width: 460px;
    }
    @include mq(wide) {
      right: 140px;
    }
  }
}
