// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$light-blue: #4bc6df;
$blue: guss-colour(guardian-brand, $pasteup-palette);

.the-purpose-of-the-guardian__wrapper {
  height: 280px;
}

.purpose {
  &__container {

    @include mq(mobileLandscape) {
      padding-left: 10px;
    }

    @include mq(tablet) {
      padding-left: 20px;
    }
  }

  &__gu-roundel {
    position: absolute;
    top: 10px;
    right: 10px;

    & > svg {
      path {
        fill: $blue;
      }      

      height: auto;

      width: 25px;

      @include mq(desktop) {
        width: 36px; 
      }
    }

    @include mq(tablet) {
      & > svg {
        width: 42px;
      }
    }
  }

  &__line {
    border-top: 10px solid $light-blue;
    position: absolute;
    top: 0;

    width: 80px;

    @include mq(desktop) {
      border-top: 20px solid $light-blue;
      width: 230px;
    }
  }

  &__quote {
    @include f-headline;

    display: flex;
    align-items: start;

    color: $blue;
    font-weight: 100;

    font-size: 24px;
    line-height: 24px;

    max-width: 327px;

    margin: 15px 0 0 0;

    svg {
      flex-shrink: 0;
      height: auto;

      width: 26px;
      padding-top: 3px;
      padding-right: 3px;

      path {
        fill: $light-blue;
      }
    }

    @include mq(tablet) {
      font-size: 30px;
      line-height: 30px;
      max-width: none;
      width: 380px;

      svg {
        width: 32px;
        padding-top: 5px;
      }
    }

    @include mq(desktop) {
      width: 540px;

      svg {
        width: 40px;
        padding-top: 3px;
      }
    }

    @include mq(desktop) {
      margin-top: 25px;
      width: 550px;
      font-size: 32px;
      line-height: 32px;
    }

    @include mq(leftCol) {
      font-size: 34px;
      line-height: 34px;

      svg {
        width: 51px;
      }
    }

    @include mq(wide) {
      margin-left: 70px;
    }
  }


  @mixin image-width($width, $offset: 10px) {
    img {
      width: $width;
    }

    .purpose__cta {
      padding-left: $width + $offset;
    }
  }

  &__cutout {
    height: auto;
    position: absolute;
    bottom: 0;
  }

  &__cutout-and-cta {
    position: absolute;
    justify-content: flex-end;

    bottom: 0;
    right: 20px;

    width: 245px;

    @include image-width(100px);

    @include mq(tablet) {
      width: 335px;
    }

    @include mq(desktop) {
      @include image-width(150px);
      width: 400px;
    }

    @include mq(leftCol) {
      @include image-width(200px);
      width: 520px;
    }

    @include mq(wide) {
      @include image-width(200px, 30px);
    }
  }

  &__cta {
    
    text-align: left;

    @include f-header;
    color: $blue;
    font-size: 18px;
    line-height: 20px;

    font-weight: 500;

    padding-bottom: 10px;

    padding-top: 14px;

    @include mq($until: tablet) {
      width: 150px;      
    }

    @include mq(tablet) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__link:hover {
    text-decoration: none;
  }

  @mixin round($radius) {
    border-radius: $radius;
    height: $radius;
    width: $radius;
    line-height: $radius;

    svg {
      height: $radius;
      width: $radius;
    }
  }

  &__arrow {
    display: inline-block;
    vertical-align: middle;
    background-color: $blue;
    @include round(20px);

    path {
      fill: #fff;
    }

    @include mq(tablet) {
      display: block;
      @include round(30px);
    }
  }

  &__quote-name {
    font-weight: bold;
  }

  &__quote-icon {
    position: absolute;
    left: -6px;
    top: 0;
    fill: guss-colour(guardian-brand, $pasteup-palette);
  }

}