// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-title: #eaaf05;
$c-subtitle: #fff;
$c-names:#999;
$c-background: #000;

@import 'shared/_imports';
@include base(the-counted, $c-background);

.the-counted__wrapper{
  height:180px;
  width:100%;
  background-color: #333;
  z-index: 0;


  @include mq(desktop) {
    height:230px;
  }
}

/* Headline container */
.the-counted__heading-type{
    min-height: 230px;
    position: absolute;
    z-index:1;

    .the-counted__title{
      font-size: 30px;
      line-height:64px;
      font-weight:900;
      color: $c-title;
      padding: 0px 0px 0px 10px;
      background-color:#333;
      width:100%;

      @include mq(phablet) {
        font-size: 35px;
      }

      @include mq(tablet) {
        background-color: transparent;
      }

      @include mq(desktop) {
        font-size: 45px;
        padding: 10px 0px 0px 20px;
      }

    }

    .the-counted__subtitle{
      float: left;
      color: $c-subtitle;
      font-size: 12px;
      font-weight: 300;
      margin-top: -15px;
      padding: 0px 0px 10px 10px;
      background-color:#333;

      @include mq(phablet) {
        font-size: 17px;
      }

      @include mq(tablet) {
        background-color: transparent;
      }

      @include mq(desktop) {
        font-size: 25px;
        margin-top: -10px;
        padding-left: 20px;
        padding-right:40px;
      }


    }
}/* End Headline container */

/* Left hand type */
.the-counted__list-holding{
  position: absolute;
  top: 0px;
  position:fixed;
  z-index: -1;
  text-align: right;
  right:180px;
  overflow: hidden !important;

  @include mq(mobileLandscape) {
    right: 130px;
    }

  @include mq(phablet) {
      right:165px;
      }

  @include mq(tablet) {
      right:200px;
      }


  @include mq(desktop) {
      right:290px;
      }


  .the-counted__list-names{
    font-size: 15px;
    line-height:18px;
    font-weight:300;
    color: $c-names;

    @include mq(phablet) {
      font-size: 20px;
      line-height: 24px;
    }


    @include mq(desktop) {
      font-size: 30px;
      line-height:35px;
      }

  }
}

.the-counted__killed-by-police{
  text-align: left;
  position: absolute;
  bottom:10px;
  right:70px;
  font-size: 15px;
  font-weight:300;
  color: $c-subtitle;

  @include mq(mobileLandscape) {
    right: 20px;
    }

    @include mq(phablet) {
      font-size: 20px;
    }



  @include mq(desktop) {
    font-size: 30px;
    line-height:40px;
    }
}
