// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.fc-container--thrasher#modern-masculinity {
  background-color: #fff;
}

#modern-masculinity.fc-container--thrasher {
  &,
  .fc-container__inner,
  .facia-snap,
  .fc-slice {
    overflow: visible;
  }
}

.modern-masculinity__wrapper {
  width: auto;
  position: relative;
  z-index: 10;
  margin: 0 -10px;
  background-color: #257A9F;
  overflow: hidden;
  @include mq(tablet) {
    width: 100%;
    margin: 0;
    overflow: visible;
  }
  &:hover {
    background-color: #196D91;
  }
}

.mm-thrasher {
  padding: 0 10px 12px;
  @include mq(mobileLandscape) {
    padding: 0 20px 12px;
  }
  @include mq(leftCol) {
    padding-bottom: 0;
  }
  .container-title {
    display: none;
    @include mq(leftCol) {
      display: block;
      position: absolute;
      left: 17px;
      top: 10px;
      img {
        display: block;
        width: 81px;
        height: 82px;
      }
    }
  }
  a.main-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 20;
    &:hover {
      & ~ .copy .copy__button__icon {
        transform: scale(1.06);
      }
    }
  }
  .copy {
    font-family: "Guardian Egyptian Web",Georgia,serif;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    z-index: 10;
    padding: 6px 38px 0 0;
    @include mq(leftCol) {
      margin-left: 150px;
      border-left: 1px solid rgba(#dedede, 0.9);
      border-bottom: 1px solid rgba(#dedede, 0.9);
      padding-left: 10px;
      padding-bottom: 9px;
      width: 420px;
      margin-bottom: 24px;
    }
    @include mq(wide) {
      margin-left: 230px;
    }
    &__title {
      font-weight: 700;
      max-width: 300px;
    }
    &__logline {
      font-weight: 200;
      max-width: 300px;
    }
    &__button {
      margin-top: 154px;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 14px;
      color: #121212;
      @include mq(tablet) {
        margin-top: 64px;
      }
      @include mq($from:desktop, $until: leftCol) {
        margin-top: 76px;
      }
      &__icon {
        width: 42px;
        height: 42px;
        background-color: #ffe500;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        transition: all 240ms ease-in-out;
        svg {
          position: absolute;
          top: 13px;
          left: 13px;
        }
      }
      &__time {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: -1px;
        margin-left: 1px;
        color: #ffe500;
      }
    }
  }


  .roundel {
    position: absolute;
    top: 9px;
    right: 10px;
    @include mq(mobileLandscape) {
      right: 20px;
    }
    svg {
      display: block;
    }
  }
}



// MM

.mm-thrasher {
  .circ__inner {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: #FF1655;
  }
  .image {
    img {
      position: absolute;
      &.mobile {
        display: block;
      }
      &.desktop {
        display: none;
      }
      @include mq(tablet) {
        &.mobile {
          display: none;
        }
        &.desktop {
          display: block;
        }
      }
    }
    &__iman,
    &__guest {
      position: absolute;
      @include mq(tablet) {
        transform: scale(0.8);
      }
      @include mq(desktop) {
        transform: scale(1);
      }
    }
    &__guest {
      bottom: 0;
      right: 0;
      transform-origin: top right;
      @include mq(tablet) {
        bottom: auto;
        top: 0;
        right: 184px;
      }
      @include mq(desktop) {
        right: 248px;
      }
      @include mq(wide) {
        right: 330px;
      }
      .circ {
        &__outer {
          overflow: hidden;
          width: 213px;
          height: 190px;
          @include mq(tablet) {
            width: 240px;
            height: 196px;
          }
        }
        &__inner {
          @include mq(tablet) {
            margin-top: -44px;
          }
        }
      }
      .guest {
        transform: translateY(-24px);
        @include mq(tablet) {
          transform: translateY(-21px);
        }
      }
      .pick-me {
        display: none;
        &.picked {
          display: block;
        }
      }
    }
    &__iman {
      display: none;
      transform-origin: bottom right;
      img {
        bottom: 0;
      }
      .circ {
        &__outer {
          width: 240px;
          height: 160px;
          overflow: hidden;
        }
      }

      @include mq(tablet) {
        display: block;
        right: 15px;
        bottom: 0;
      }
      @include mq(wide) {
        right: 96px;
      }
    }
  }
}
