// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#dynamo{
    &.fc-container--story-package{
        background-color: white !important;
        margin-bottom: 0px;
    }
    .fc-container__inner{
        border: none;
        background-color: white;

        @include mq($until: tablet){
            overflow:visible !important;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
    .fc-container__header{
        display: none;
    }
    .fc-container__body{
        @include mq(leftCol){
            width: 67em;
            margin: 0;
        }
        @include mq(wide){
            margin: 0px;
            width: 75em;
        }

    }
    .facia-snap{
        position: absolute !important;
        width: 142% !important;
        margin-left: -0.6em !important;
        z-index: 0;
        height: 102%;
        background-color: grey !important;
        background-image: url('@@assetPath@@/background__fallback.png');
        background-position-y: -150px;
        background-size: cover;
        font-family: $f-sans-serif-headline;
        overflow: hidden;
        padding-top: 6px;
        
        @include mq($until:tablet){
            position: absolute !important;
            height: 600px !important;
        }
    } 
    
    .fc-slice__item{
         .fc-item__media-wrapper{

            &:first-child{
                @include mq($until: tablet){
                    margin-top:300px;
                }
            }
        }
        
        &:before{
            display: none;
        }

        .fc-item{
            @include mq($until: tablet){
                padding-left:0px !important;
                padding-right: 0px !important;
            }
        }
    }
    
    .fc-slice__item:first-child{
        .fc-item__container{
            height: max-content;
        }
        
        .fc-item__avatar{
            display: block;
        }
        
        .fc-item__media-wrapper{
            display: block !important;
        }
    }
    .fc-slice__item:last-child{
        .fc-item__container{
            height: max-content;
        }
        
        .fc-item__avatar{
            display: none;
        }
        
        .fc-item__media-wrapper{
            display: none;
        }
    }
    
    .l-row__item--span-1{
        margin-top: 6px;
    }
    
    .l-list{
        width: 78% !important;
        margin-left: 46px !important;
        
        @include mq($until: wide){
            width: 90% !important;
            margin-left: 62px !important;
            margin-right: -20px !important;
        }

        @include mq($until: leftCol){
            width: 99% !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
        
        @include mq($until: desktop){
            width: 99% !important;
            margin-left: -2px !important;
            margin-right: -80px !important;
        }

        @include mq($until: tablet){
            width: 86% !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }

        @include mq($until: phablet){
            width: 92% !important;
        }
    }
    
    .js-save-for-later-link{
        display: none;
    }
    
    //This is the styles for the snap
    .sixbynine-rotate{
        position: absolute;
        width: 100%;
        height: 880px;
        margin-top: -330px;
    }
    .sixbynine-logo{
        position: absolute;
        left: 20px;
        height: 100px;
        width: 100px;
        
        @include mq($until: desktop){
            left: 30px;
        }
        
        
        svg{
            width: 80px;
            height: 80px;
        }
    }
    .sixbynine-headline{     
        position: absolute;
        left: 20px;
        width: 430px;
        top: 112px;
        
        @include mq($until:desktop){
            left: 20px;
        }

        
        h1{
            color: white;
            font-size: 70px;
            line-height: 60px;


            @include mq($until: mobileLandscape){
                font-size: 40px;
                line-height: 35px;
                width: 275px;
                margin-top: 12px;
            }
        }
        
        h2{
            font-family:$f-serif-headline;
            color: white;
            font-size: 18px;

            @include mq($until: mobileLandscape){
                width:215px;
                line-height: 20px;
            }
        }

        @include mq($until:tablet){
            left: 40px;
        }

        @include mq($until: mobileLandscape){
            left:30px;
        }
    }
    .sixbynine-link{
        position: absolute;
        bottom: 30px;
        background-color: #ffffff;
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 6px;
        padding-bottom: 0px;
        border-radius: 40px;
        color: #333;
        left: 20px;
        cursor: pointer;
        
        p{
            float: left;
        }
        
        svg{
            float: left;
            width: 25px;
            height: 25px;
            margin-left: 10px;
        }
        
        &:hover{
            background-color:darken(#ffffff, 10%);
        }
        
        @include mq($until: desktop){
            left: 20px;
        }

        @include mq($until: tablet){
            bottom:350px;
            left: 300px;
        }

        @include mq($until: mobileLandscape){
            left: 30px;
            bottom: 310px;
        }
    }
    
    .cylinder {
      -webkit-perspective: 300px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .ring {
      -webkit-transform-style: preserve-3d;
      -webkit-animation: infinite rotate 60s linear;
      width: 100%;
      height: 100%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
      -webkit-transform-origin: 50%;
    }
    $height: 200%;
    $width: 240px;
    .poly {
      width: $width;
      height: $height;
      background-image: url('@@assetPath@@/cell3.jpg');
      background-repeat: no-repeat;
      background-color: rgba(#f00,0.5);
      -webkit-background-size: $width * 16 $height / 2;
      background-size: $width * 16 $height / 2;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    @mixin generateRing($ring, $panels, $transform) {
      @for $i from 0 through $panels - 1 {
      $c: $i * 15;
      $z: $i * (360 / $panels);
      .ring-#{$ring} .poly:nth-child(#{$i + 1}) {
          background-color: rgba(255,0,$i * 5, 0.5);
          background-position: -$i * $width center;
          -webkit-transform: rotateY(#{$z}deg) unquote($transform);
        }
      }
    }
    @include generateRing(0, 16, "translateZ(600px)");
    @-webkit-keyframes rotate {
      0% {
        -webkit-transform: scale(3) translateZ(0) rotateY(0deg);// rotateX(0deg);
      }
      100% {
        -webkit-transform: scale(3) translateZ(0) rotateY(360deg);// rotateX(360deg);
      }
    }
}