// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$pink: #ec2991;
$green: #aad801;
$bg: #2A2A2A;

@import 'shared/_imports';

#nextgen17.fc-container--thrasher {
    background: #333;
    .fc-item {
        background: #2A2A2A;
    }
}

@keyframes nextgen17__slide {
  from {
      transform: translate(0,-40px);
  }
  to {
      transform: translate(-40px,-300px);
  }
}

.nextgen17__wrapper {
    position: relative;
    width: 100%;
    .nextgen17 {
        color: #fff;
        &__logo {
            position: absolute;
            bottom: 5px;
            left: 10px;
            z-index: 10;
            width: 180px;
            @include mq(phablet) {
                bottom: 10px;
                left: 20px;
            }
            @include mq(desktop) {
                width: 260px;
                top: 10px;
                bottom: auto;
            }
        }
        &__bg {
            position: absolute;
            margin: auto;
            left: -20px;
            opacity: .65;
            height: 200px;
            @include mq(tablet) {
                height: 400px;
                animation: nextgen17__slide 60s linear;
            }
        }
        &__hero {
            position: absolute;
            right: 0;
            top: 5px;
            z-index: 1;
            height: 160px;
            left: -40px;
            @include mq(phablet) {
                height: 300px;
            }
            @include mq(desktop) {
                margin: auto;
                left: 0;
                height: 500px;
            }
        }
        &__cta {
            strong {
                color: $green;
            }
        }
        &__content {
            z-index: 2;
            position: relative;
            font-weight: 100;
            text-align: right;
            padding: 40px 0 60px;
            float: right;
            width: 60%;
            @include mq(tablet) {
                text-align: left;
                width: 240px;
                padding: 30px 80px 30px 0;
            }
        }
        &__roundel {
            float: right;
            margin-top: 5px;
            position: absolute;
            top: 5px;
            right: 10px;
            @include mq(phablet) {
                top: 10px;
                right: 20px;
            }
            svg {
                path {
                    fill: $pink;
                }
            }
        }
        &__button {
            background: $green;
            color: $bg;
            border-color: transparent;
            vertical-align: middle;
            margin-top: 10px;
            margin-right: 0;
            transition: background-color .025s linear;
            svg {
                vertical-align: middle;
                transition: transform .25s linear;
            }
            svg path {
                fill: $bg;
            }
            &:hover {
                background-color: #c8ff00;
                svg {
                    transform: translateX(3px);
                }
            }
        }
        &__main {
            display: block;
            position: relative;
            overflow: hidden;
            z-index: 10;
            padding: 10px;
            line-height: 1.1;
            font-size: 16px;
            margin-left: -10px;
            margin-right: -10px;
            @include mq(phablet) {
                padding: 10px 20px;
                margin-left: auto;
                margin-right: auto;
            }
            @include mq(tablet) {
                font-size: 24px;
            }
            &, &:hover {
                text-decoration: none;
            }
            .btn {
                display: inline-block;
                vertical-align: top;
                position: relative;
                top: 1px;
                line-height: 30px;
                height: 24px;
                border-radius: 100%;
                border: 1px solid #ececec;
                svg {
                    height: 100%;
                    width: 100%;
                    display: block;
                    path {
                        fill: #ececec;
                    }
                }
            }
            &:hover {
                .btn {
                    background-color: #4BC6DF;
                    border-color: transparent;
                    svg path {
                        fill: #F6F6F6;
                    }
                }
            }
        }
    }
}
