// Default breakpoints from Frontend
$mq-breakpoints: (
  mobile: 320px,
  mobileLandscape: 480px,
  phablet: 660px,
  tablet: 740px,
  desktop: 980px,
  leftCol: 1140px,
  wide: 1300px
);
$pink: #ec2991;
$green: #aad801;
$bg: #2A2A2A;
@import 'shared/_imports';
@include base('nextgen17', #2A2A2A);
@include rule('nextgen17', $green);

#nextgen17.fc-container--thrasher {
  background: #333;
  color: #fff;
}

.nextgen17__wrapper {
  height: 220px;
  @include mq(desktop) {
    height: 200px;
  }

  .nextgen17 {
    &__logo {
      position: absolute;
      z-index: 10;
      width: 250px;
      top: -5px;
      left: 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 36px;
      display: inline-block;
      @include mq(phablet) {
        width: 300px;
        font-size: 38px;
        line-height: 42px;
      }
      @include mq(desktop) {
        font-size: 42px;
        line-height: 48px;
        width: 260px;
        bottom: auto;
      }

      span {
        color: $green;
        font-size: 65px;
        font-weight: 200;
        @include mq(phablet) {
          font-size: 70px;
        }
        @include mq(desktop) {
          font-size: 80px;
        }
      }
    }

    &__bg {
      position: absolute;
      margin: auto;
      left: -20px;
      opacity: 0.65;
      height: 200px;
      top: 0;
      opacity: 0.2;
      @include mq(tablet) {
        opacity: 0.4;
        height: 400px;
        animation: nextgen17__slide 20s linear;
      }
    }

    &__hero {
      position: absolute;
      right: 0;
      top: 130px;
      z-index: 1;
      height: 90px;
      left: 155px;
      @include mq(mobileLandscape) {
        left: 300px;
        top: 100px;
        height: 120px;
      }
      @include mq(phablet) {
        left: 320px;
        top: 70px;
        height: 150px;
      }
      @include mq(desktop) {
        margin: auto;
        left: 100px;
        top: 40px;
        height: 160px;
        padding-right: 200px;
      }
      @include mq(leftCol) {
        margin: auto;
        left: -50px;
        top: 10px;
        height: 200px;
        padding-right: 0;
      }
    }

    &__cta {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      @include mq(tablet) {
        font-size: 18px;
      }
      @include mq(desktop) {
        font-size: 20px;
      }

      strong {
        color: $green;
      }
    }

    &__content {
      position: relative;
      z-index: 10;
      padding-top: 100px;
      float: left;
      width: 220px;
      @include mq(phablet) {
        width: 250px;
      }
      @include mq(desktop) {
        top: 0;
        float: right;
        width: 240px;
        padding: 0 80px 70px 0;
      }
    }

    &__roundel {
      float: right;
      position: absolute;
      top: 0;
      right: 0;

      svg {
        width: 30px;
        height: 30px;
        @include mq(mobileLandscape) {
          width: 35px;
          height: 35px;
        }

      }
    }

    &__button {
      background: $green;
      color: $bg;
      border-color: transparent;
      vertical-align: middle;
      margin-top: 6px;
      margin-right: 0;
      transition: background-color 0.025s linear;
      @include mq(mobileLandscape) {
        margin-top: 10px;
      }

      svg {
        vertical-align: middle;
        transition: transform 0.25s linear;
      }

      svg path {
        fill: $bg;
      }

      &:hover {
        background-color: #c8ff00;

        svg {
          transform: translateX(3px);
        }
      }
    }

    &__padding {
      position: relative;
      margin: 6px 0;
      overflow: hidden;
      @include mq(mobileLandscape) {
        margin: 6px 20px;
      }
    }

    &__main {
      display: block;
      overflow: hidden;
      z-index: 10;
      line-height: 1.1;
      font-size: 16px;
      @include mq(tablet) {
        font-size: 24px;
      }

      &,
      &:hover {
        text-decoration: none;
      }
    }
  }
}
@keyframes nextgen17__slide {
  from {
    transform: translate(0,-40px);
  }

  to {
    transform: translate(-40px,-200px);
  }
}
@keyframes nextgen17__pan {
  from {
    transform: translate(-20px,0);
  }

  to {
    transform: translate(20px,0);
  }
}
