// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    375px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$comment-support-4: #ec6407;
$gs-baseline: 12px;

@import 'shared/_imports';
@include base(opinion-email-us, #2d3f80);

.opinion-email-us__wrapper {
    position: relative;
    height: 300px;
    border-top: 1px solid $comment-support-4;
    overflow: hidden;

    .opinion-link-us {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2000;

        &:hover {
            .opinion-email-us__button {
                background-color: darken($comment-support-4, 5%);
            }

            .arrow-icon {
                transform: translateX(3px);
            }
        }
    }

    .video {
        video {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            left: -280px;
            top: 0;
            z-index: 2;

            @include mq(mobileMedium) {
                left: -252px;
            }

            @include mq(mobileLandscape) {
                left: -148px;
            }

            @include mq(phablet) {
                top: 0px;
                left: -60px;
            }

            @include mq(tablet) {
                left: 0px;
            }
        }
    }
}

.opinion-email-us__video {
    height: 300px;
    width: 100%;
    background-image: url('@@assetPath@@/opinion-email-mobile.svg');
    position: absolute;
    z-index: 1;
    background-color: #1d265d;
    background-repeat: no-repeat;
    background-size: 1080px;
    background-position: -368px -10px;

    @include mq(phablet) {
        background-size: 1600px;
        background-position: -380px -10px;
    }

    @include mq(tablet) {
        background-image: url('@@assetPath@@/opinion-email.svg');
        background-position: -148px 0px;
    }

    @include mq(desktop){
        background-size: 1600px;
        background-position: -148px 0px;
    }
}

.opinion-email-us__button {
    position: absolute;
    left: 10px;
    bottom: 8px;
    background-color: $comment-support-4;
    font-size: 16px;
    line-height: 36px;
    width: 120px;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 6px;
    z-index: 2;
    border-radius: 32px;
    font-family: 'Guardian Text Sans Web';

    @include mq(mobileLandscape) {
        left: 20px;
    }

    @include mq(tablet) {
        width: 160px;
        bottom: 12px;
    }

    .arrow-icon {
        height: 32px;
        width: 32px;
        float: right;
        padding-top: 3px;
        fill: #ffffff;
        transition: transform 0.2s ease-out;
    }
}

.guardian__roundel {
    right: 10px;
    top: 12px;
    position: absolute;
    display: block;
    z-index: 100;

    @include mq(mobileLandscape) {
        right: 20px;
    }

    svg {
        width: 40px;
        height: 40px;
    }
}

.opinion-email-us__content {
    position: absolute;
    top: 12px;
    left: 10px;
    bottom: 0;
    width: 40%;
    max-width: 300px;
    z-index: 3;

    @include mq(mobileLandscape) {
        left: 20px;
    }
}

.opinion-email-us__copy {
    margin: 0;
    color: #fff;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 1.2;

    @include mq(desktop) {
        font-size: 18px;
    }
}
