// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$red: #e74323;

@mixin overflow-visible($folder-name) {
  ##{$folder-name} {
    &.fc-container--thrasher,
    .fc-container__inner,
    .fc-slice,
    .facia-snap {
      @include mq($from: wide) {
          overflow: visible;
      }
    }
  }
}
@include overflow-visible(header);

@include base(header, $red);

.nw-header__wrapper {
    background-color: $red;
    width: 100%;
    height: 180px;
    padding-top: 6px;
    position: relative;

    @include mq($from: tablet) {
        width: 740px;
    }

    @include mq($from: desktop) {
        width: 980px;
    }

    @include mq($from: leftCol) {
        width: 1140px;
    }

    @include mq($from: wide) {
        width: 1300px;
        height: 140px;
    }
}

.nw-logo {
    position: absolute;
    top: 6px;
    width: 100px;

    @include mq($from: tablet) {
        width: 130px;
        left: 20px;
    }

    @include mq($from: desktop) {
        width: 170px;
    }

    @include mq($from: wide) {
        width: 200px;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

.nw-text {
    position: absolute;
    width: 64%;
    right: 0px;
    top: 6px;

    @include mq($from: tablet) {
        width: 40%;
        right: 20px;
    }

    @include mq($from: desktop) {
        width: 36%;
        right: 366px;
    }

    @include mq($from: leftCol) {
        width: 24%;
        right: 563px;
    }

    @include mq($from: wide) {
        width: 22%;
        right: 567px;
        top: 55px;
    }

    p {
        font-size: 16px;
        font-weight: 900;
        line-height: 18px;
        color: #fff;

        @include mq($from: desktop) {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.nw-dog, .nw-nav {
    position: absolute;
    width: 90px;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.nw-logos {
    position: absolute;
    bottom: -1px;
    right: 0px;
    max-width: 290px;
    width: 64%;

    @include mq($from: tablet) {
        width: 25%;
        right: 20px;
    }

    @include mq($from: wide) {
        width: 22%;
        right: 100px;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.nw-dog {
    bottom: 0px;
    left: -50px;

    @include mq($from: tablet) {
        width: 130px;
        left: 0px;
    }

    @include mq($from: tablet) {
        left: 190px;
        width: 150px;
    }

    @include mq($from: wide) {
        left: 240px;
        width: 152px;
    }
}

.nw-nav {
    left: 30px;
    bottom: -3px;

    @include mq($from: tablet) {
        width: 127px;
        left: 136px;
        top: 0px;
        bottom: auto;
    }

    @include mq($from: desktop) {
        right: 270px;
        left: auto;
    }

    @include mq($from: leftCol) {
        right: 340px;
    }

    @include mq($from: wide) {
        width: 146px;
        right: 380px;
        top: -70px;
        overflow: hidden;
        height: 216px;
        pointer-events: none;
    }
}
