// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    375px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$features-support-3: #fdadba;
$gs-baseline: 12px;

#guardian {
  .tone-news--item.fc-item {
    border-top: 1px solid #46bcdf;
    background-color: #ffffff;
    padding-top: 2px;
  }
}

#guardian.fc-container--thrasher {
  //background-color: transparent;
  background-color: #ffffff;
}


#guardian-jobs-2 {
  background-color: #ffffff;


  @include mq($from: mobileLandscape) {
    padding: 0px 10px;

  }

  @include mq($from: phablet) {
    padding: 0px 20px;

  }

  @include mq($from: tablet) {
    padding: 0px;
  }

  @include mq($from: desktop) {
    padding: 0px;
  }


	.guardian-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2000;
		&:hover {
			.cta__button {
        color: inherit;
        background-color: #ffffff;
			}
      .arrow-icon {
        fill: inherit;
      }
		}
		.cta__button {
			position: absolute;
			left: 6px;
			bottom: 12px;
			border: thin solid #ffffff;
			background-color: transparent;
			height: 40px;
			line-height: 38px;
			display: block;
			width: 194px;
			color: #ffffff;
			padding-left: 16px;
			padding-right: 8px;
		}
		.arrow-icon {
			height: auto;
			width: auto;
			float: right;
			padding-top: 3px;
			fill: #ffffff;
		}
	}

  .section {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 138px;
    top: 4px;

    @include mq($from: mobileMedium) {
      height: 120px;
    }

    @include mq($from: tablet) {
      width: 400px;
      left: 20px;
    }

    @include mq($from: leftCol) {
      width: 152px;
      height: 0px;
    }

    @include mq($from: wide) {
      width: 220px;
    }

    &__header {
      @include fs-header(4);
        color: #005689;

    }
    &__description {
      @include fs-bodyCopy(2);
        color: #767676;
        line-height: 19px;
    }

  }

	.container {
    position: relative;
    display: inline-block;
    height: 270px;
    margin-top: -64px;
    border-top: 1px solid #5FC0BB;
    overflow: hidden;
    width: 100%;
    z-index: 1;

    @include mq($from: tablet) {
      margin-left: 20px;
      width: 698px;
    }

    @include mq($from: desktop) {
      width: 940px;
    }

    @include mq($from: leftCol) {
      margin-top: -86px;
      margin-left: 180px;
      width: 940px;
    }

    @include mq($from: wide) {
      margin-top: -60px;
      margin-left: 260px;
    }

    &__image--one {
      height: 270px;
      width: 100%;
      background-image: url('@@assetPath@@/jobs-image-mobile-2.jpg');
      background-size: 446px;
      background-position: right;
      position: absolute;
      z-index: -10;
      background-color: #000;
      background-repeat: no-repeat;

      @include mq($from: mobileLandscape) {
        background-size: 670px;
        background-position: 0px 0px;
      }
      @include mq($from: tablet) {
        background-image: url('@@assetPath@@/jobs-image-1.jpg');
        background-size: 940px;
        background-position: -60px 0px;
      }

      @include mq($from: desktop) {
        background-image: url('@@assetPath@@/jobs-image-1.jpg');
        background-size: 940px;
        background-position: 0px 0px;
      }


    }
    &__card {
      display: block;
      position: absolute;
      z-index: -5;
      height: 116px;
      background: rgba(25,124,170,0.7);
      width: 100%;
      bottom: 0px;

      @include mq($from: tablet) {
        height: 100%;
        width: 220px;
      }
    }

		.text {
			top: 160px;
			left: 6px;
			position: absolute;
			color: #a8dce7;

      br {
        display: block;

        @include mq($from: tablet) {
        display: none;
        }
          }

        @include mq($from: tablet) {
          top: 6px;
        }
			&__intro {
				@include fs-header(5);
				font-size: 24px;
				line-height: 24px;

				@include mq($from: tablet) {
          width: 220px;
					font-size: 32px;
          line-height: 32px;
					top: 12px;
				}
			}
      &__colorchange{color: #ffffff; }
		}


	}
	.guardian__roundel {
		position: absolute;
		right: 6px;
		top: 4px;
    opacity: 0.8;
	}
}
