// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-neutral-2: #767676;

@import 'shared/_imports';

@include full-width(media100, $c-neutral-2);

@include keyframes(flip) {
    0% {
        @include transform(rotateY(0));
    }

    20% {
        @include transform(rotateY(180deg));
    }

    50% {
        @include transform(rotateY(180deg));
    }

    70% {
        @include transform(rotateY(0));
    }
}

.media100__wrapper {
    height: 200px;
}

.media100__content {
    position: relative;
    z-index: 2;
}

.media100__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    perspective: 1000;
}

.media100__face {
    display: block;
    position: relative;
    height: 100px;
    width: 100px;
    float: left;

    transform-style: preserve-3d;

    @include animation(flip 10s ease-in-out infinite);

    &:before,
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        content: '';
        background-repeat: no-repeat;
        background-size: 200px 100px;
    }

    &:before { // front
        z-index: 2;
        transform: rotateY(0deg);
        background-position: 0 0;
    }

    &:after { // back
        transform: rotateY(180deg);
        background-position: -100px 0;
    }
}

.media100__cat--1 {
    @include animation-delay(-10s);

    &:before,
    &:after {
        background-image: url('http://interactive.guim.co.uk/thrashers/media100/source/cat--1.png');
    }
}
.media100__cat--2 {
    @include animation-delay(-2s);

    &:before,
    &:after {
        background-image: url('http://interactive.guim.co.uk/thrashers/media100/source/cat--2.png');
    }
}
.media100__cat--3 {
    @include animation-delay(-16s);

    &:before,
    &:after {
        background-image: url('http://interactive.guim.co.uk/thrashers/media100/source/cat--3.png');
    }
}
.media100__cat--4 {
    @include animation-delay(-5s);

    &:before,
    &:after {
        background-image: url('http://interactive.guim.co.uk/thrashers/media100/source/cat--4.png');
    }
}
.media100__cat--5 {
    @include animation-delay(-14s);

    &:before,
    &:after {
        background-image: url('http://interactive.guim.co.uk/thrashers/media100/source/cat--5.png');
    }
}
.media100__cat--6 {
    @include animation-delay(-4s);

    &:before,
    &:after {
        background-image: url('http://interactive.guim.co.uk/thrashers/media100/source/cat--6.png');
    }
}
.media100__cat--7 {
    @include animation-delay(-11s);

    &:before,
    &:after {
        background-image: url('http://interactive.guim.co.uk/thrashers/media100/source/cat--7.png');
    }
}
.media100__cat--8 {
    @include animation-delay(-1s);

    &:before,
    &:after {
        background-image: url('http://interactive.guim.co.uk/thrashers/media100/source/cat--8.png');
    }
}
