// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-neutral-2: #767676;

@import 'shared/_imports';

@include full-width(media100, $c-neutral-2);

@include keyframes(flip) {
    0% {
        @include transform(rotateY(0));
    }

    20% {
        @include transform(rotateY(180deg));
    }

    50% {
        @include transform(rotateY(180deg));
    }

    70% {
        @include transform(rotateY(0));
    }
}

.media100__wrapper {
    height: 200px;
}

.media100__content {
    position: relative;
    z-index: 2;
}

.media100__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    perspective: 1000;
}

.media100__face {
    display: block;
    position: relative;
    height: 100px;
    width: 100px;
    float: left;

    transform-style: preserve-3d;

    @include animation(flip 10s ease-in-out infinite);

    &:before,
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        backface-visibility: hidden;
        content: '';
    }

    &:before { // front
        z-index: 2;
        transform: rotateY(0deg);
    }

    &:after { // back
        transform: rotateY(180deg);
    }
}

.media100__cat--1 {
    background-color: #a9af2b;
    @include animation-delay(-10s);
}
.media100__cat--2 {
    background-color: #298422;
    @include animation-delay(-2s);
}
.media100__cat--3 {
    background-color: #ffbb00;
    @include animation-delay(-16s);
}
.media100__cat--4 {
    background-color: #5ebfba;
    @include animation-delay(-5s);
}
.media100__cat--5 {
    background-color: #fdadba;
    @include animation-delay(-15s);
}
.media100__cat--6 {
    background-color: #e6711b;
    @include animation-delay(-14s);
}
.media100__cat--7 {
    background-color: #4e0375;
    @include animation-delay(-4s);
}
.media100__cat--8 {
    background-color: #b82266;
    @include animation-delay(-11s);
}
.media100__cat--9 {
    background-color: #197caa;
    @include animation-delay(-1s);
}
