// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-background: #dac7b5;
$c-accent: #ff9b0b;
$c-text: #ffffff;
$c-panel: #393d3d;

@include base(keep-it-in-the-ground-podcast, $c-background);
@include base(keep-it-in-the-podcast, $c-background);

.keep-it-in-the-podcast__wrapper {
    position: relative;
    background: url('http://interactive.guim.co.uk/thrashers/keep-it-in-the-podcast/hashed/bg.jpg') no-repeat;
    background-size: cover;
    background-position: right center;
    @include box-sizing(border-box);

    @include mq(tablet) {
        min-height: 230px;
        padding: 10px 20px;
    }
}

.keep-it-in-the-podcast__content {
    position: relative;
    padding: 4px 10px 10px;
    overflow: auto;
    background: rgba($c-panel, 0.8);
    font-family: $f-serif-headline;
    width: 60%;

    @include mq($until: tablet) {
        overflow: hidden;
    }
}

.keep-it-in-the-podcast__descriptor {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    color: $c-accent;

    @include mq(tablet) {
        font-size: 20px;
    }
}

.keep-it-in-the-podcast__tone-type {
    @include mq($until: tablet) {
        display: none;
    }
}

.keep-it-in-the-podcast__title {
    font-weight: 600;
    color: $c-text;
    font-size: 20px;
    line-height: 1;

    @include mq(tablet) {
        font-size: 26px;
    }

    @include mq(desktop) {
        font-size: 32px;
    }

    br {
        @include mq($until: desktop) {
            display: none;
        }
    }
}

.keep-it-in-the-podcast__attribution {
    font-size: 14px;
    line-height: 1.3;
    color: $c-text;

    @include mq($until: mobileLandscape) {
        margin-bottom: 2em;
    }

    @include mq(tablet) {
        font-size: 20px;
    }
}

.keep-it-in-the-podcast__job-title {
    @include mq($until: mobileLandscape) {
        display: none;
    }
}

.keep-it-in-the-podcast__button {
    border-color: $c-accent;
    background-color: $c-accent;
    line-height: 2.5;

    @include mq(tablet) {
        float: right;
        clear: both;
    }
}

.keep-it-in-the-podcast__label {
    color: $c-panel;

    @include mq($until: tablet) {
        display: none;
    }
}

.keep-it-in-the-podcast__alt-label {
    @include mq(tablet) {
        display: none;
    }
}

.keep-it-in-the-podcast__arrow-icon {
    height: auto !important;
    width: auto !important;
    float: right;
}

.keep-it-in-the-podcast__marque {
    position: absolute;
    top: 10px;
    right: 20px;

    @include mq($until: tablet) {
        display: none;
    }
}

.keep-it-in-the-podcast__logo {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 60px;
    height: auto;

    @include mq($until: tablet) {
        right: 10px;
    }
}

.keep-it-in-the-podcast__anchor {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}
