// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-background: #253940;
$c-mediaYellow: #ffbb00;
$c-lightGrey: #dadada;
$c-darkGray: #333333;

@import 'shared/_imports';

@include full-width(off-the-page-part-five, $c-background);

.off-the-page-part-five__anchor {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    position: absolute !important;
    z-index: 4 !important;
    cursor: pointer;

    &:hover ~ .off-the-page-part-five__content .button.off-the-page-part-five__button--watch {
        background-color: darken($c-mediaYellow, 10%) !important;
    }
}

.off-the-page-part-five__wrapper {
    width: 100%;
    background-color: $c-background;
    position: relative;
    overflow: hidden;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    background-image: url('http://interactive.guim.co.uk/thrashers/off-the-page-part-five/source/off-the-grid-screen.jpg');
    background-position: center center;
    background-size: cover;

    @include mq($until: mobileLandscape) {
        background-size: 250%;
        background-position-y: 0px;
    }

    @include mq(mobileLandscape, phablet) {
        background-size: 165%;
    }

    @include mq(phablet, desktop) {
        background-size: 145%;
        background-position-x: -22px;
    }

    @include mq(desktop, wide) {
        background-size: 127%;
        background-position-y: -80px;
    }
}

.off-the-page-part-five__content {
    color: white;
    padding: 10px 20px;
    height: 200px;
    position: relative;

    @include mq(phablet) {
        height: 200px;
    }

    @include mq(desktop) {
        height: 220px;
    }

    @include mq(leftCol) {
        height: 260px;
    }
}

// Headlines & Copy

.off-the-page-part-five__copy {
    position: absolute;

    @include mq(phablet) {
        bottom: 10px;
    }
}

.off-the-page-part-five__series,
.off-the-page-part-five__headline,
.off-the-page-part-five__trail {
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    margin: 0;
    padding: 0;
}

.off-the-page-part-five__series {
    font-weight: 500;
    color: $c-mediaYellow;

    @include mq($until: phablet) {
        display: none;
    }
}

.off-the-page-part-five__series,
.off-the-page-part-five__trail {
    font-size: 12px;
    line-height: 14px;

    @include mq(mobileLandscape) {
        font-size: 14px;
        line-height: 16px;
    }

    @include mq(desktop) {
        font-size: 18px;
        line-height: 20px;
    }
}

.off-the-page-part-five__headline {
    font-size: 50px;
    line-height: 45px;

    @include mq($until: phablet) {
        float: left;
        margin-right: 6px;
        color: $c-mediaYellow;
    }
    
    @include mq(mobileLandscape, phablet) {
        font-size: 37px;
        line-height: 36px;
    }

    @include mq(phablet) {
        font-size: 48px;
        line-height: 50px;
    }

    @include mq(desktop) {
        font-size: 54px;
        line-height: 58px;
        margin-top: -6px;
    }
}

.off-the-page-part-five__trail {
    font-weight: 500;
    width: 60%;

    @include mq($until: phablet) {
        float: left;
    }

    @include mq(tablet, desktop) {
        width: 250px;
        margin-top: -6px;
    }

    @include mq(desktop) {
        margin-top: -8px;
    }
}

// Buttons

.off-the-page-part-five__buttons {
    position: absolute;
    bottom: 0;
    @include mq(phablet) {
        right: 10px;
    }
}

.button.off-the-page-part-five__button {
    margin-left: -4px;
    cursor: pointer;

    @include mq(tablet) {
        height: 26px !important;
        width: 200px;
        display: block;
    }

    .off-the-page-part-five__button__icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;

        @include mq(tablet) {
            margin-top: 5px;
            float: right;
        }
    }
}

.button.off-the-page-part-five__button--watch {
    background-color: $c-mediaYellow;
    color: $c-darkGray;
    border: none;
    margin-bottom: 10px;

    &:hover {
        background-color: darken($c-mediaYellow, 10%);
    }
}

.button.off-the-page-part-five__button--more {
    background-color: transparent;
    color: $c-mediaYellow;
    border: 1px solid $c-mediaYellow;

    @include mq($until: mobileLandscape) {
        display: none;
    }

    &:hover {
        background-color: darken($c-mediaYellow, 10%);
        color: $c-darkGray;
        border-color: darken($c-mediaYellow, 10%);
        
        .off-the-page-part-five__button__icon path {
            fill: $c-darkGray;
        }
    }
}

// Guardian Logo

.off-the-page-part-five__guardian-logo {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 10px;

    @include mq($until: phablet) {
        display: none;
    }

    @include mq(leftCol) {
        bottom: 10px;
    }
}