// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$features-support-3: #fdadba;
$gs-baseline: 12px;


#unforgettable-holiday {

 .unforgettable-link {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2000;

   &:hover {
     .cta__button {
          color: inherit;

          svg {
            fill: inherit;
          }
        }
     }


   .cta__button {
     position: absolute;
     left: 16px;
     bottom: 6px;
     border: thin solid #ffffff;
     background-color: transparent;
     height: 40px;
     line-height: 38px;
     display: block;
     width: 194px;
     color: #ffffff;
     padding-left: 16px;
     padding-right: 8px;

     @include mq($from: tablet) {
       bottom: $gs-baseline;
       left: 20px;
     }

     @include mq($from: leftCol) {
       left: 172px;
     }

     @include mq($from: wide) {
       left: 258px;
     }
   }

     .arrow-icon {
       height: auto;
       width: auto;
       float: right;
       padding-top: 3px;
       fill: #ffffff;
     }
   }
 }

 .container {
     position: relative;
     height: 306px;

     @include mq($from: tablet) {
       width: 740px;
     }

     @include mq($from: desktop) {
       width: 980px;
     }

     @include mq($from: leftCol) {
       width: 1140px;
     }

     @include mq($from: wide) {
       width: 1300px;
     }

     &__image {
       height: 306px;
       width: 100%;
       background-image: url('@@assetPath@@/holiday-pic-1.png');
       position: absolute;
       z-index: -10;
       background-color: #000;
       background-repeat: no-repeat;
       background-position: -190px 0px;

       @include mq($from: tablet) {
         background-position: 0px 0px;
     }
   }

   .text {
     top: 40px;
     left: 6px;
     position: absolute;
     color: #333333;

     @include mq($from: tablet) {
       top: 12px;
       left: 20px;
     }

     @include mq($from: leftCol) {
       left: 172px;
     }

     @include mq($from: wide) {
       left: 258px;
     }

     &__intro {
       @include fs-header(5);
       font-size: 24px;
       line-height: 24px;

       @include mq($from: tablet) {
           font-size: 36px;
           top: 12px;
       }
     }

     &__strapline {
       @include fs-header(5);
       font-size: 44px;
       line-height: 44px;
       min-width: 240px;
       max-width: 750px;

       @include mq($from: tablet) {
           @include fs-header(5);
           font-size: 72px;
           line-height: 72px;
          }
        }
      }
    }

    .guardian__roundel {
      position: absolute;
      right: 6px;
      bottom: 0px;

      svg {
        @include mq($until: tablet) {
          display: none;
        }
      }


    }

    .guardian__logo {
      position: absolute;
      right: 12px;
      top: 6px;

      svg {
        width: 200px;
        height: 21px;
      }

      @include mq($from: tablet) {
        right: 6px;

    }
}
