// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.docs-series-page-header__wrapper {
    // 88px is header height, plus some to see the beginning of the page
    position: relative;
    color: #F6F6F6;
    margin-left: -10px;
    width: 100vw;
    height: calc(100vh - 88px - 72px);
    min-height: 360px;
    max-height: 540px;

    @include mq(tablet) {
        height: 380px;
        min-height: none;
        max-height: none;
    }

    .still {
        top: 0;
        z-index: 10;
        background-size: cover;
        background-position: 40% 24%;
        &,
        &:after {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:after {
            content: '';
            height: 40%;
            min-height: 180px;
            background: -moz-linear-gradient(top, rgba(22,22,22,0) 0%,rgba(22,22,22,0.75) 50%,rgba(22,22,22,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(22,22,22,0) 0%,rgba(22,22,22,0.75) 50%,rgba(22,22,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(22,22,22,0) 0%,rgba(22,22,22,0.75) 50%,rgba(22,22,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16161600', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
        }
    }
    .logo,
    .meta {
        position: absolute;
        left: 10px;
        right: 10px;
        z-index: 20;
        max-width: 620px;
        margin: 0 auto;
        @include mq(mobileLandscape) {
            left: 20px;
            right: 20px;
        }
        @include mq(tablet) {
            max-width: none;
            margin-left: 10px;
        }
        @include mq(leftCol) {
            margin-left: 170px;
        }
        @include mq(wide) {
            margin-left: 250px;
        }    }
    .logo {
        top: 5px;
        svg {
            width: 164px;
            height: 92px;
            transform-origin: top left;
            transform: scale(0.8);
            @include mq(tablet) {
                transform: scale(0.9);
            }
            @include mq(desktop) {
                transform: scale(1);
            }
        }
    }
    .meta {
        bottom: 12px;
        font-size: 18px;
        line-height: 22px;
        font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
        font-weight: 900;



        &__title,
        &__synopsis {
            max-width: 480px;
        }
        &__title {
            font-size: 44px;
            line-height: 44px;
            position: relative;
            &:before {
                content: 'Latest release';
                position: absolute;
                display: block;
                font-size: 18px;
                line-height: 22px;
                height: 22px;
                top: -22px;
                left: 0;
                font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
                opacity: 0.75;
            }
        }
        &__play {
            display: inline-block;
            margin-top: 6px;
            font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            color: #fb0;
            text-decoration: none;
            line-height: 34px;
            padding: 0 10px;
            margin-left: -9px; // overhangs by 1px
            &:before {
                content: '';
                display: inline-block;
                margin-right: 5px;
                vertical-align: top;
                width: 32px;
                height: 32px;
                background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%20120%2032%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%2F%3E%3Cmask%20id%3D%22b%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fmask%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(0%20120)%22%3E%3Cuse%20stroke%3D%22%23FB0%22%20mask%3D%22url(%23b)%22%20stroke-width%3D%222%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cpath%20fill%3D%22%23FB0%22%20d%3D%22M25%2016.36v-.67L10.53%209.5l-.53.43v12.2l.53.37%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                transition: scale 600ms;
                background-repeat: no-repeat;
            }
            &:hover:before {
                transform: scale(1.07);
            }
        }
    }
}
