// Default breakpoints from Frontend
$mq-breakpoints: (
  mobile: 320px,
  mobileLandscape: 480px,
  phablet: 660px,
  tablet: 740px,
  desktop: 980px,
  leftCol: 1140px,
  wide: 1300px
);
$c-background: #00b2ff;
$c-background-circles:;
@import 'shared/_imports';
@include base(football-weekly, $c-background);

.world-cup-podcast__wrapper {
  width: 100%;
}

section#world-cup-daily.fc-container--thrasher {
  background-color: $c-background;

  .fc-container__inner {
    overflow: visible;

    .fc-container__body {
      .fc-slice-wrapper {
        ul {
          overflow: visible;
        }

        .facia-snap {
          overflow: visible;
          background-color: $c-background;
        }
      }
    }
  }
}

section#world-cup-daily a.fc-trail__count.fc-trail__count--commentcount {
  display: none !important;
}

#football-daily-euro-2016-podcast-thrasher {
  background-color: $c-background;
  width: auto;
  position: relative;
  padding: 12px;
  min-height: 130px;
  overflow: hidden;

  .logo {
    position: absolute;
    top: 0;
    @include mq($until: leftCol) {
      display: none;
    }
  }

  .branding {
    position: absolute;
    top: 0;
    right: 10px;
    width: 52px;
    height: 33px;
    @include mq(phablet) {
      top: 10px;
    }
    @include mq(tablet) {
      top: 0;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .figure img {
    position: absolute;
    top: 0;
    right: 16%;
    z-index: 99999;
    width: 145px;
  }

  .player {
    height: 140px;
    width: 362px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 96px; // margin: 0 80px 28px auto;
    background-color: transparent;

    .player__circle {
      padding: 1px;
      display: inline-block;
      width: 140px;
      position: absolute;
      top: 0;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    .player__name {
      left: 0;
      z-index: 310;
    }

    .player__illustration {
      display: none;
      left: 29%;
      z-index: 300;
    }

    .player__playing {
      left: 59.5%;
      z-index: 19;
      transform: scale(0.97, 0.97);
      opacity: 0;
      transition: opacity 160ms, transform 160ms;
    }

    .player__play {
      cursor: pointer;
      left: 59.5%;
      z-index: 310;
      opacity: 1;
      transform: scale(1, 1);
      transition: opacity 240ms, transform 240ms;

      &:hover {
        opacity: 0.95;
      }

      svg {
        path {
          fill: #121212;
        }
      }
    }
  }

  &[data-playing] .player {
    .player__play {
      transform: scale(0.92, 0.92);
      opacity: 0;
    }

    .player__playing {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  .episode-info {
    // position: absolute;
    max-width: 310px;
    margin-top: -15px;
    margin-left: 240px;
    position: relative;
    line-height: 20px;
    z-index: 300;

    @include mq(phablet) {
      margin-top: -5px;
    }

    @include mq(tablet) {
      margin-top: -15px;
    }

    .episode-info__heading {
      display: block;
      font-family: 'Guardian Egyptian Web', serif;
      font-weight: bolder;

      .episode-info__kicker {
        font-size: 40px;
        line-height: 40px;
        display: block;
        color: #FFE500;
        margin-bottom: 5px;
        @include mq($until: tablet) {
          font-size: 32px;
          line-height: 32px;
        }
        @include mq($until: leftCol) {
          margin-bottom: 0;
        }
      }

      .episode-info__title {
        font-size: 16px;
        line-height: 16px!important;
        font-weight: lighter;
        color: #121212;
        margin-top: 6px;
        @include mq($until: mobileLandscape) {
          font-size: 15px;
        }
      }
    }
  }

  .episode-info_full {
    position: relative;
    right: 0;
    display: inline-block;
    height: 26px;
    line-height: 28px;
    overflow: hidden;
    font-size: 13px;
    padding-left: 12px;
    padding-right: 30px;
    margin: 12px 0 24px;
    border-radius: 15px;
    background-color: #FFE501;
    color: #121212;
    text-decoration: none;
    border: solid 0.55px #FFE500;
    font-family: 'Guardian Text Sans Web';

    .episode-info__arrow {
      position: absolute;
      right: 10px;
      top: 2px;
      width: 1em;
      height: 1em;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    #right-arrow {
      fill: #121212;
    }

    &:hover {
      background-color: #121212;
      color: $c-background;
      text-decoration: none;
      border: solid .55px #121212;

      #right-arrow {
        fill: $c-background;
      }
    }
  }

  .subscription {
    position: absolute;
    bottom: 0;
    left: 12px;
    font-family: 'Guardian Text Sans Web';
    font-size: 13px;
    padding-bottom: 2px;
    color: #fff;
    z-index: 300;
    margin-left: 240px;

    &__download,
    &__feed,
    &__icon,
    &__itunes {
      display: inline-block;
    }

    &__icon {
      position: relative;
      top: 2px;
      margin-right: 1px;
    }

    &__download,
    &__itunes {
      &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: #ccc;
        opacity: 0.8;
        vertical-align: top;
        position: relative;
        top: 2px;
        margin: 0 6px;
      }
    }
  }

  .circles-wrapper {
    position: absolute;
    z-index: 100;
    left: -300px;
    top: 0;
    bottom: 0;
    right: -300px;
    overflow: hidden;
  }

  .outer {
    position: absolute;
    width: 1;
    height: 1;
    opacity: 0;
    top: 51%;
    transform-origin: center;
    animation-name: scale-one;
    animation-duration: 12000ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    @for $i from 0 through 100 {
      &:nth-child(#{$i}) {
        left: random(100) + %;
        animation-delay: random(16000) + ms;
      }
    }

    &__yellow circle {
      stroke: #121212;
    }

    &__blue circle {
      stroke: #97AC21;
    }

    &__white circle {
      stroke: #fff;
    }

    &__disc circle {
      stroke: #97AC21;
      fill: #97AC21;
    }

    &__disc-yellow circle {
      stroke: #121212;
      fill: #121212;
    }

    &__disc-white circle {
      stroke: #fff;
      fill: #fff;
    }
  }
  @include mq($until: wide) {
    .branding {
      // right: 20px;
    }

    .figure img {
      right: 17%;
    }

    .player {
      right: 80px;
    }

    .episode-info,
    .subscription {
      margin-left: 170px;
    }
  }
  @include mq($until: leftCol) {
    .branding {
      left: auto;
      right: 18px;
    }

    .player {
      right: 64px;
    }

    .episode-info,
    .subscription {
      margin-left: 10px;
    }
  }
  @include mq($until: desktop) {
    min-height: 120px;

    .branding {
      right: 16px;
      width: 41px;
      height: 26px;
    }

    .figure img {
      display: none;
    }

    .player {
      right: 51px;
      height: 130px;
      width: 336px;

      .player__illustration {
        display: block;
      }

      .player__name {
        left: 0;
      }

      .player__circle,
      .player__illustration img {
        width: 145px;
      }
    }

    .episode-info {
      .episode-info__heading {
        font-size: 26px;

      }
    }

    .subscription {
      font-size: 12px;
      padding-bottom: 1px;
    }
  }
  @include mq($until: tablet) {
    min-height: 105px;

    .branding {
      right: 20px;
      width: 35px;
    }

    .player {
      top: 8px;
      right: 50px;
      height: 110px;
      width: 284px;

      .player__circle,
      .player__illustration img {
        width: 110px;
      }
    }

    .episode-info {
      .episode-info__heading {
        font-size: 22px;
        line-height: 22px;
      }
    }

    .episode-info_full {
      font-size: 12px;
      height: 24px;
      line-height: 24px;
      padding-left: 12px;
      padding-right: 28px;
      margin: 12px 0 26px;
      @include mq($until: tablet) {
        margin-bottom: 20px;
      }
      border-radius: 15px;

      .episode-info__arrow {
        top: 1px;
        right: 8px;
      }
    }

    .subscription {
      font-size: 11px;
      padding-bottom: 0;

      &__icon {
        width: 12px;
        height: 16px;
        top: 4px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &__download,
      &__itunes {
        &:after {
          height: 18px;
          top: 1px;
          margin: 0 5px;
        }
      }
    }
  }
  @include mq($until: phablet) {
    height: auto;
    min-height: auto;
    width: auto;
    padding: 12px;

    .branding {
      top: 10px;
      right: 0;
    }

    .player {
      top: 45px;
      left: 0px;
      right: 0;
      bottom: auto;
      height: 140px;
      width: 362px;
      margin: 24px 0 16px;
      @include mq($until: tablet) {
        top: 75px;
      }
      @include mq($from: mobileLandscape) {
        left: 10px;
      }

      .player__circle,
      .player__illustration img {
        width: 145px;
      }
    }

    .episode-info {
      position: static;
      top: 140px;
      left: 0;
      padding-top: 0;
      width: auto;
      margin-top: -3px;
      margin-left: 0;
    }

    .episode-info_full {
      margin-top: 170px;
      z-index: 400;
    }

    .subscription {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .circles {
      top: 140px;
      left: -120px;
      right: -120px;
    }
  }
  @include mq($until: mobileLandscape) {
    .player {
      top: 70px;
      height: 115px;
      width: 300px;
      margin: 24px 0 16px;

      .player__circle,
      .player__illustration img {
        width: 115px;
      }
    }

    .episode-info {
      margin-left: -12px;
    }

    .episode-info_full {
      margin-top: 145px;
    }

    .subscription {
      left: 2px;
      margin-left: 0;
    }

    .circles {
      top: 125px;
    }
  }

  h1,
  h2 {
    display: inline;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
}
/****** Animation *******/
@keyframes scale-one {
  0% {
    transform: scale(1.0);
    opacity: 0;
  }

  25% {
    opacity: 0.055;
  }

  100% {
    transform: scale(14.0);
    opacity: 0;
  }
}
