// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@mixin transition($seconds){
	-webkit-transition: all $seconds ease-in-out;		  	
	-moz-transition: all $seconds ease-in-out;
	-o-transition: all $seconds ease-in-out;
	transition: all $seconds ease-in-out;
}

@mixin backgroundimage($background, $url, $size){
	background: $background;
	background-image: $url;
	background-size: $size;
}

$opacity:1;

@mixin flagLine($opacity){
		height: 40px;
		background-color: red;
		position: absolute;
		opacity: $opacity;	
		
		@include mq($until: desktop){
					height: 30px;
				}
		
}



@import 'shared/_imports';
@include base(us-election, #005689);

#us-election.fc-container--thrasher{
		.fc-container__inner{
			overflow: visible;
						  
			.fc-container__body{
				.fc-slice-wrapper{
					ul{
						overflow: visible
					}
					
					.facia-snap{
						overflow: visible;
					}
				}
			}			
		}
	}
	
	

	.the__minute--wrapper{
		font-family: $f-serif-headline;
		width: 1200px;
		height: 350px;
		
		@include mq($until: desktop){
					height: 280px;
				}
		@include mq($until: tablet){
					width: 100%;
				}
		@include mq($until: mobileLandscape){
					height: 320px;
				}		
				
		
		.flag__line{
			  	
				&--one{
				bottom: 0px;
				right: -1%;
				z-index: 60;
				width: 59.5%;
				@include flagLine($opacity);
				
				@include mq($until: wide){
						width: 47.5%;
					}
				
				@include mq($until: mobileLandscape){
					display: none;
				}
					
					
				}
				
				
				
				&--two{
			    top: 161px;
				z-index: 30;
				width: 33%;
				left: -14%;
				z-index: -10;
				@include flagLine($opacity);
				
				@include mq($until: desktop){
							top: 127px;
					}
				@include mq($until: tablet){
					display: none;
				}	
				@include mq($until: mobileLandscape){
							z-index: -50;
							top: 223px;
							display: block;
					}	
				}
				
				&--three{
				top: 43px;
				z-index: -30;
				width: 20%;
				left: 17%;
				@include flagLine(0.1);
				}
				
				&--four{
				top: 213px;
				right: 36%;
				z-index: 3 0;
				width: 22%;
				@include flagLine(0.1);
				}
				
				&--five{
				top: 0px;
				z-index: -30;
				width: 24%;
				right: 25%;
				@include flagLine($opacity);
				
				@include mq($until: mobileLandscape){
							display: none;
					}
				}
				
				&--six{
				bottom: 50px;
				z-index: -30;
				width: 28%;
				left: -11%;
				@include flagLine(0.1);
				@include mq($until: mobileLandscape){
							display: none;
					}
				
				}
				
				&--seven{
				top: 110px;
				z-index: -30;
				width: 34%;
				right: -4%;
				@include flagLine($opacity);
				@include mq($until: mobileLandscape){
							top:180px;
					}
				}
		}
		
		.guardian__roundel{
			right: 10px;
			top: 6px;
			position: absolute;
			
			svg{
				@include mq($until: tablet){
					display: none;
				}
			}
			
			.roundel{
				display: none;
				height: 50px;
				width: 80px;
				
				@include mq($until: tablet){
					display: block;
					background: no-repeat url('@@assetPath@@/the_minute_roundel@1x.png');
					background-size: 100%;
				}
				
			}
			
		}
		
		.guardian__election__logo{
			left: 10px;
			position: absolute;
			@include backgroundimage(no-repeat, url('@@assetPath@@/election_2016.svg'), 100%);
			height: 50px;
			width: 100px;
			top: 6px;
			}
		
		
		.the__minute__tablet__mobile{
			
			display: none;
			
			@include mq($until: tablet){
					display: block;
					width: 68%;
					height: 280px;
				}
				
			@include mq($until: mobileLandscape){
					display: block;
					width: 85%;
					height: 280px;
				}
				
					
			h1{
				color: white;
				font-size: 33px;
				line-height: 33px;
				font-weight: 600;
				width: 65%;
				margin-top: 52px;
				
				@include mq($until: phablet){
					font-size: 22px;
					line-height: 26px;
					width: 120%;
				
				}
				
			}
			
				
			
			h2{	
				color: white;
				font-weight: 200;
				font-size: 22px;
				line-height: 24px;
				width: 55%;
				margin-bottom: 8px;
				margin-top: 2px;
				
				@include mq($until: phablet){
					font-size: 18px;
					line-height: 20px;
					width: 280px;
				}
				
				@include mq($until: mobile){
				}
				
			}
			
			a{
				color: white;
				
				svg{
				    width: 28px;
					height: 28px;
					fill: white;
					margin-bottom: -9px;
					margin-left: 10px;
				}
			}
			
			
		}
		
		.the__minute--left{
			position: relative;
			float: left;
			width: 50%;
			height: 350px;
			
			@include mq($until: leftCol){
						width: 44%;
					}
					
			@include mq($until: desktop){
				width: 33%;
				height: 280px;
			}
				
			@include mq($until: tablet){
					display: none;
				}	
			
			.the__minute--title{
				position: absolute;
				left: 20px;
				top: 70px;
				
				h1{
					font-weight: 100;
					font-size: 70px;
					color: white;
					
					@include mq($until: leftCol){
						font-size: 60px;
					}
					
					@include mq($until: desktop){
						font-size: 45px;	
					}
				}
				
			}
			
			.the__minute--standfirst{
				position: absolute;
				bottom: 25px;
				left: 20px;
				
				h2{
			  	    font-size: 18px;
					line-height: 20px;
					width: 275px;
					color: white;
					margin-bottom: 10px;
					
					@include mq($until: desktop){
							width: 230px;
							font-size: 15px;
							line-height: 17px;
					}
				}
				
				a{
					color: white;
				}
				
				svg{
					height: 30px;
					width: 30px;
					stroke: white;
					fill: white;
					margin-bottom: -9px;
					margin-left: 5px;
				}
				
			}
			
			.the__minute__logo{
				position: absolute;
				top: 58px;
				left: 375px;
				
					@include mq($until: leftCol){
						left: 321px;
					}
					
					@include mq($until: desktop){
						left: 252px;	
					}
				
				.type{
					position: absolute;
					top: 72px;
					width: 530px;
					left: -104px;
					
					@include mq($until: leftCol){
						left: -91px;
					}
					
					@include mq($until: desktop){
						left: -73px;
						top:56px;
					}
					
					p{
						float: left;
						font-size: 70px;
						font-weight: 100;
						float: left;
						margin-right: 25px;
						color: white;
						
						@include mq($until: leftCol){
						font-size: 60px;
					}
					
						@include mq($until: desktop){
						font-size: 45px;
					}
					}
				}
				
				svg{
					width: 247px;
					height: 247px;
					
					@include mq($until: leftCol){
						width: 212px;
						height: 231px;
					}
					
					@include mq($until: desktop){
						width: 166px;
						height: 185px;
					}
				}
				
			}
			
		}
		
		.the__minute--right{
			float: left;
			overflow: hidden;
			height:330px;
			width: 48%;
			position: relative;
			
			@include mq($until: desktop){
					height: 280px;
				}
				
			@include mq($until: tablet){
					width: 100%;
				}	
			
			@include mq($until: mobileLandscape){
					height: 320px;
				}		
				
				
			
			.the__minute__col{
				position: absolute;
				overflow: auto;
				
				&.cruz{
					height: 330px;
					width: 158px;
					@include backgroundimage(no-repeat, url('@@assetPath@@/cruz.png'), 100%); 
					right: 22px;
					bottom: -38px;
					@include mq($until: wide){
							right: 51px;
					}
					
					@include mq($until: leftCol){
							width: 152px;
							bottom: -56px;
							right: 121px;
					}
					
					@include mq($until: desktop){
							width: 109px;
							bottom: -117px;
							right: 237px;
					}
					
					@include mq($until: tablet){
							width: 139px;
							bottom: -88px;
							left: auto;
							right: 10px;
					}
					
					@include mq($until: phablet){
							width: 110px;
							bottom: -162px;
							left: auto;
							right: 16px;
					}
					
					@include mq($until: mobileLandscape){
							width: 100px;
							bottom: -179px;
							left: auto;
							right: 1px;
					}
					@include mq($until: mobile){
						z-index: -40;
					}
				}
				
				&.clinton{
					height: 330px;
					width: 176px;
					@include backgroundimage(no-repeat, url('@@assetPath@@/clinton.png'), 100%); 
					left: 150px;
					bottom: -41px;
					z-index: -10;
					@include mq($until: wide){
							left: 137px;
					}
					
					@include mq($until: leftCol){
							width: 168px;
							bottom: -44px;
							left: 110px;
					}
					
					@include mq($until: desktop){
							width: 118px;
							bottom: -115px;
							left: 81px;
					}
					
					@include mq($until: tablet){
							width: 146px;
							left: auto;
							bottom: -82px;
							right:180px;
					}
					
					@include mq($until: phablet){
							width: 116px;
							bottom: -164px;
							left: auto;
							right: 190px;
					}
					
					@include mq($until: mobileLandscape){
							width: 106px;
							bottom: -170px;
							left: auto;
							right: 124px;
					}
					@include mq($until: mobile){
						z-index: -40;
					}
				}
				
				&.trump{
					height: 330px;
					width: 176px;
					@include backgroundimage(no-repeat, url('@@assetPath@@/trump.png'), 100%); 
					left: 17px;
					bottom: -49px;
					z-index: -30;
					
					@include mq($until: wide){
							left: 4px;
					}
					
					@include mq($until: leftCol){
							width: 160px;
							bottom: -53px;
							left: 0px;
					}
					
					@include mq($until: desktop){
							width: 110px;
							bottom: -123px;
							left: 6px;
					}
					
					@include mq($until: tablet){
							width: 151px;
							bottom: -88px;
							left: auto;
							right: 269px;
					}
					@include mq($until: phablet){
							width: 121px;
							bottom: -168px;
							left: auto;
							right: 280px;
					}
					
					@include mq($until: mobileLandscape){
							width: 111px;
							bottom: -180px;
							left: auto;
							right: 204px;
					}
					
					@include mq($until: mobile){
						z-index: -40;
					}
				}
				
				&.sanders{
					height: 330px;
					width: 163px;
					@include backgroundimage(no-repeat, url('@@assetPath@@/sanders.png'), 100%); 
					right: 134px;
					bottom: -49px;
					z-index: -20;
					
					@include mq($until: wide){
							right: 157px;
					}
					
					@include mq($until: leftCol){
							width: 150px;
							bottom: -58px;
							left: 209px;
					}
					
					@include mq($until: desktop){
							width: 115px;
							bottom: -119px;
							left: 152px;
					}
					
					@include mq($until: tablet){
							width: 140px;
							bottom: -85px;
							left: auto;
							right: 94px;
					}
					@include mq($until: phablet){
							width: 121px;
							bottom: -165px;
							left: auto;
							right: 100px;
					}
					
					@include mq($until: mobileLandscape){
							width: 111px;
							bottom: -180px;
							left: auto;
							right: 56px;
					}
					@include mq($until: mobile){
						z-index: -50;
					}
				}
				
				
			}
			
		}	
		
		$a-duration: 10s;
		$a-total-lines: 62;

		.the__minute__line {
			stroke: white;
			opacity: 0;
			animation: line 10s linear;
			animation-iteration-count: infinite;
			animation-fill-mode: forwards;
		}

		@keyframes line {
			0% {
				opacity: 0;
			}
			2% {
				opacity: 1;
			}
			50% {
				opacity: 1;
			}
			52% {
				opacity: 0;
			}
			100% {
				opacity: 0;
			}
		}

		@for $i from 1 to $a-total-lines {
			.the__minute__line--#{$i} {
				animation-delay: (($a-duration / 2) / $a-total-lines) * $i;
			}
		}
		
		.play__store__cta{
			position: absolute;
			right: 202px;
			color: #fff;
			font-weight: 500;
			font-size: 14px;
			line-height: 15px;
			bottom: -4px;
			width: 209px;
			z-index: 100;
			
			@include mq($until: desktop){
						display: none;
					}
			
		}

		.play__store {
			    position: absolute;
				right: 13px;
				bottom: 40px;
				z-index: 100;
				
				svg{
					width: 95px;
					height: 33px;
					fill:white;
				}
				
			@include mq($until: desktop){
						bottom: 30px;
					}	
			
			@include mq($until: mobileLandscape){
						bottom: 0px;
					}		
				
		}
		
		.app__store{
			    position: absolute;
				right: 120px;
				bottom: 40px;
				z-index: 100;
				
				svg{
					width: 95px;
					height: 33px;
				}
				
				@include mq($until: desktop){
						bottom: 30px;
					}
				@include mq($until: mobileLandscape){
						bottom: 0px;
					}	
		}
	}	