// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$amp: '&';

#food-#{$amp}-drink {
  margin-top: -9px !important;
  @include mq($from: tablet) {
    margin-top: -6px !important;
  }
  .fc-item {
    @include mq($from: tablet) {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}
.recipe-header {
  height: auto;
  position: relative;
  overflow: hidden;

  @include mq($from: desktop){
    width: 980px;
  }
  @include mq($from: leftCol){
    width: 1140px;
  }
  @include mq($from: wide){
    width: 1300px;
  }

  &__image {
    height: 190px;
    overflow: hidden;
    position: relative;
    background-color: #212121;

    @include mq($from: tablet) {
      height: 208px;
    }
    @include mq($from: desktop) {
      height: 244px;
    }
    @include mq($from: leftCol) {
      height: 270px;
    }

    img {
      height: 130%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      bottom: 0px;

      @include mq($from: tablet) {
        height: 260%;
      }

      @include mq($from: leftCol) {
        height: 100%;
        object-position: center 88%;
      }
    }
  }

  &__title {
    bottom:0px;
    position: absolute;
    right: 20px;
    width: 50%;
    z-index: 2000;

    @include mq($from: wide) {
      width: 46%;
    }

    &.desktop {
      display: none;

      @include mq($from: tablet) {
        display: block;
      }
    }

    &.mobile {
      display: block;
      right: 10px;

      @include mq($from: tablet) {
        display: none;
      }
    }

    svg {
      width: 100%;
      height: auto;
      path {
        stroke: white;
        fill: white;

        @include mq($from: desktop) {
          stroke: none;
        }
      }
    }
  }

  &__description {
    position: absolute;
    bottom: 0px;
    left: 20px;
    z-index: 2000;

    h1{
      font-weight: 900;
      color: white;
      font-size: 18px;
      width: 130px;
      margin-left: -13px;
      margin-bottom: 4px;
      line-height: 18px;
      font-family: $f-serif-headline;
      @include mq($from: desktop){
        font-size: 32px;
        width: auto;
        margin-bottom: 16px;
        margin-left: auto;
      }
    }

    &.mobile {
      display: block;
      position: relative;

      h1 {
        width: 100%;
        color: #951c55;
        margin-top: 6px;
        font-size: 20px;
      }

      @include mq($from: tablet) {
        display: none;
      }
    }

    &.desktop {
      display: none;

      @include mq($from: tablet) {
        display: block;
      }
    }
  }

  &__links {
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      padding-bottom: 6px;
      padding-left: 8px;

      @include mq($from: tablet) {
        margin-left: 20px;
      }

      li {
        padding-top: 10px;
        line-height: 11px;
        @include mq($from: tablet) {
          padding-top: 16px;
        }
      }

      li:not(.recipe-header__label){
        float: left;
        color: #951c55;
        font-family: $f-sans-serif-text;
        margin-right: 8px;
        margin-bottom: 7px;

        &:hover {
          border-bottom: 1px solid #951c55;
          margin-bottom: 6px;
        }
      }

      li.recipe-header__label {
        float: left;
        font-family: $f-sans-serif-text;
        margin-right: 10px;
        color: #767676;
        clear: left;

        @include mq($from: tablet) {
          border-left: 1px solid #d6d6d6;
          clear: none;
          padding-left: 4px;
        }
      }

      li.recipe-header__last {
        margin-right: 16px;
        clear: right;

        @include mq($from: tablet) {
          clear: none;
        }
      }

      li.recipe-header__cta {
        color: #333;
        font-weight: 900;
        margin-right: 0px;
        display: none;
        @include mq($from: tablet) {
          margin-left: 16px;
          display: block;
        }

        @include mq($from: leftCol) {
          margin-left: 0px;
        }

        @include mq($from: wide) {
          margin-left: 16px;
        }

        &:hover {
          border-bottom: 1px solid #333;
        }
      }
    }
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
