// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.slater__header {
  height: 200px;
  position: relative;

  @include mq($from: tablet) {
    width: 740px;
    height: 270px;
  }

  @include mq($from: desktop) {
    width: 980px;
  }

  @include mq($from: leftCol) {
    width: 1140px;
  }

  @include mq($from: wide) {
    width: 1300px;
  }
}

.slater__image--foreground {
  position: absolute;
  z-index: 10;

  img {
    object-fit: cover;
    height: 100%;

    @include mq($from: desktop) {
      width: 113%;
      margin-left: -158px;
    }

    @include mq($from: leftCol) {
      width: 97%;
      margin-left: -78px;
    }

    @include mq($from: wide) {
      width: 85%;
      margin-left: 0px;
    }
  }
}

.slater__image {
  position: absolute;
  height: 200px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 20%;

    @include mq($from: mobileLandscape){
      object-position: left bottom;
    }

    @include mq($from: tablet) {
      height: 270px;
    }
  }
}

.slater__type {
  position: absolute;
  top: 40px;
  overflow: hidden;

  @include mq($from: desktop) {
    right: 20px;
  }

  @include mq($from: leftCol) {
    right: 10px;
  }

  @include mq($from: wide) {
    right: 50px;
  }

  svg {
    @include mq($from: desktop) {
      height: 160px;
      width: 580px;
      margin-top: 16px;
    }
    @include mq($from: leftCol) {
      height: 180px;
      width: 690px;
      margin-top: 0px;
    }
    @include mq($from: wide) {
      height: 200px;
      width: 730px;
    }
  }
}

.slater__type-mobile {
  font-family: $f-serif-headline;
  color: #333;
  position: absolute;
  bottom: 80px;
  right: 20px;

  @include mq($from: mobileLandscape) {
    right: 40px;
  }

  @include mq($from: tablet) {
    right: 40px;
  }

  h1 {
    font-weight: 200;
    font-size: 45px;
    text-align: left;

    @include mq($from: mobileLandscape) {
      font-size: 50px;
    }

    @include mq($from: tablet) {
      font-size: 70px;
    }

    span {
      display: block;
      line-height: 10px;
      margin-bottom: 15px;
      margin-left: 63px;

      @include mq($from: mobileLandscape) {
        margin-bottom: 30px;
        margin-left: 90px;
      }
    }
  }
}
