// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.election-night-headline {
    min-height: 80px;
    background-color: #dcdcdc;
    color: #484f53;
    font-family: $f-serif-headline;
    padding-bottom: 6px;
    font-size: 24px;
    line-height: 36px;
    position: relative;

    @include mq($from: phablet) {
        width: 100%;
        font-size: 28px;
        line-height: 40px;
    }

    @include mq($from: tablet) {
        width: 700px;
    }

    @include mq($from: desktop) {
        width: 940px;
        font-size: 36px;
        line-height: 52px;
    }

    @include mq($from: leftCol) {
        font-size: 36px;
        line-height: 52px;
        width: 940px;
    }

    &:hover {
        h1{
            opacity: 0.8;
        }
    }

    h1 {
        font-weight: 500;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10 !important;
    }

    .exit-poll {
        overflow: hidden;
        margin-top: 16px;
        margin-bottom: -6px;

        p {
            font-size: 16px;
            line-height: 26px;
            margin: 0;
            margin-right: 12px;

            &::before {
                display: block;
                content: '';
                margin-bottom: 0px;
                width: 60px;
                height: 1px;
                background-color: #969696;
            }

            @include mq($from: leftCol){
                float: left;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            margin-top: 4px;

            @include mq($from: leftCol) {
                margin-left: 12px;
            }
        }

        li {
            list-style: none;
            float: left;
            line-height: 18px;
            font-size: 18px;
            font-weight: 900;
            margin-right: 12px;
            margin-bottom: 4px;

            &::before{
                float: left;
                display: block;
                height: 40px;
                width: 6px;
                background-color: red;
            }

            .diff {
                font-weight: 400;
            }

            &.exit-pol-con {
                .party {
                    color: #005689;
                }
            }
            &.exit-pol-lab {
                .party {
                    color: #e31f26;
                }
            }
            &.exit-pol-snp {
                .party {
                    color: #fee900;
                }
            }
            &.exit-pol-lib {
                .party {
                    color: #fe9b01;
                }
            }
            &.exit-pol-other {
                .party {
                    color: #989898;
                }
            }
        }
    }
}

#general-election-2017 {
    .qqqtall-q1--election {
        .fc-item__content {
            padding-bottom: 1rem;

            .fc-item__meta {
                left: 10px;
            }
        }
    }
}

#uk-election {
    .qqqtall-q1--election {
        .fc-item__content {
            padding-bottom: 1rem;

            .fc-item__meta {
                left: 10px;
            }
        }
    }
}
