// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';
@include base(this-is-europe, #ffffff);

.tie-wrapper{
    .panel {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    h2 {
        font-weight: 900;
        font-size: 20px;
        line-height: 22px;
        color: #121212;
        max-width: 300px;

        @include mq($from: tablet) {
            max-width: 280px;
        }

        @include mq($from: desktop) {
            max-width: 300px;
        }

        @include mq($from: wide) {
            font-size: 24px;
            line-height: 26px;
            max-width: 360px;
        }

        a {
            color: #ffe500;
            text-decoration: none;
            margin-top: 12px;
            display: inline-block;
        }
    }
}

.gu-roundel {
    position: absolute;
    top: 36px;
    right: 10px;
    width: 36px;

    @include mq($from: tablet) {
        top: 22px;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

.tie-background-colour {
    position: absolute;
    top: 26px;
    bottom: 0;
    background-color: #00B2FF;
    z-index: 0;
    width: 100%;

    @include mq($from: tablet) {
        bottom: 16px;
        top: 16px;
    }
}

.tie-conent-wrapper {
    overflow: hidden;
    width: 640px;
    margin-left: auto;
    margin-right: auto;

    @include mq($from:wide) {
        width: 780px;
    }
}

.tie-label {
    position: absolute;
    left: 10px;
    top: 16px;
    font-size: 24px;
    font-weight: 900;
    display: none;
    color: #ffffff;

    @include mq($from: desktop) {
        display: block;
    }
}

.tie-wrapper {
    position: relative;
    padding-bottom: 16px;

    @include mq($from: tablet) {
        width: 740px;
        height: 150px;
    }
    @include mq($from: desktop) {
        width: 980px;
    }
    @include mq($from: leftCol) {
        width: 1140px;

    }
    @include mq($from: wide) {
        width: 1300px;
        height: 177px;
    }

    h2 {
        a {
            color: #ffe500;
        }

        svg {
            margin-bottom: -6px;
        }
    }
}

.tie-illustration-mobile {
    display: block;
    width: 270px;
    height: auto;
    margin-left: 10px;

    @include mq($from: tablet) {
        display: none;
    }
}

.tie-illustration-desktop {
    display: none;
    max-width: 330px;
    float: left;

    @include mq($from: tablet) {
        display: block;
    }

    @include mq($from: wide) {
        max-width: 400px;
    }

}

.tie-illo {
    z-index: 0;
    position: relative;
    svg {
        width: 100%;
        height: auto;
    }
}

.tie-copy {
    z-index: 0;
    position: relative;
    margin-left: 10px;
    padding-bottom: 6px;

    @include mq($from: tablet) {
        float: left;
        margin-top: 20px;
    }
}
