    // Default breakpoints from Frontend
    $mq-breakpoints: ( mobile: 320px, mobileLandscape: 480px, phablet: 660px, tablet: 740px, desktop: 980px, leftCol: 1140px, wide: 1300px);
    @import 'shared/_imports';
    #general-election-header {
        padding: 0;
        .facia-snap {
            @include mq($until: phablet) {
                padding: 0;
            }
        }
    }
    
    .general-election-header__wrapper {
        width: 100%;
    }
    
    .election-header {
        &--container {
            width: 100%;
            height: 130px;
            background-color: #f4f4f4;
            border-bottom: solid 1px #6195B3;
            @include mq($from: phablet) {
                height: 225px;
            }
        }
        &--logo {
            width: auto;
            position: absolute;
            top: 10px;
            left: 10px;
            transform-origin: top left;
            transform: scale(0.65, 0.65);
            @include mq($from: mobileLandscape) {
                left: 20px;
                transform: scale(0.7, 0.7);
            }
            @include mq($from: phablet) {
                transform: scale(0.9, 0.9);
            }
            @include mq($from: desktop) {
                transform: scale(1, 1);
            }
            #logo-copy {
                color: #333;
                display: inline-block;
                font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
                font-weight: 900;
                font-size: 28px;
                line-height: 27px;
                padding-left: 5px;
                vertical-align: top;
                margin-top: -6px;
            }
        }
        &--bars {
            height: 33.333%;
            float: right;
            animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            clear: right;
            &-wrap {
                display: none;
                height: 100%;
                width: 100%;
                float: right;
                @include mq($from: phablet) {
                    display: block;
                    width: 65%;
                }
                @include mq($from: desktop) {
                    width: 70%;
                }
                @include mq($from: leftCol) {
                    width: 75%;
                }
                @include mq($from: wide) {
                    width: 80%;
                }
            }
            &__one {
                animation: colorScale-one 10s 1s forwards;
                -webkit-animation: colorScale-one 10s 1s forwards;
                background: #AAD8F1;
                width: 0%;
            }
            &__two {
                animation: colorScale-two 10s 1s forwards;
                -webkit-animation: colorScale-two 10s 1s forwards;
                background: #C7E3F2;
                width: 0%;
            }
            &__three {
                animation: colorScale-three 10s 1s forwards;
                -webkit-animation: colorScale-three 10s 1s forwards;
                background: #DDEBF2;
                width: 0%;
            }
        }
        &--bars-mobile {
            height: 33.333%;
            float: right;
            clear: right;
            &-wrap {
                height: 100%;
                width: 100%;
                float: right;
                display: inline-block;
                @include mq($from: phablet) {
                    display: none;
                }
            }
            &__one {
                background: #005689;
                width: 40%;
            }
            &__two {
                background: #6195B3;
                width: 18%;
            }
            &__three {
                background: #AAC4D3;
                width: 100%;
            }
        }
        &--figures {
            animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            position: absolute;
            bottom: -220px;
            display: none;
            transform-origin: bottom right;
            transform: scale(.9, .9);
            @include mq($from: desktop) {
                transform: scale(1, 1);
            }
            @include mq($from: phablet) {
                display: block;
            }
            &-wrap {
                #may {
                    left: 50%;
                    animation: figures 2s 1.5s;
                    -webkit-animation: figures 2s 1.5s;
                }
                #farron {
                    left: 70%;
                    animation: figures 2s 3.5s;
                    -webkit-animation: figures 2s 3.5s;
                }
                #corbyn {
                    left: 55%;
                    animation: figures 2s 5.5s;
                    -webkit-animation: figures 2s 5.5s;
                }
                #sturgeon {
                    left: 80%;
                    animation: figures 2s 7.5s;
                    -webkit-animation: figures 2s 7.5s;
                }
                #group {
                    right: 3%;
                    animation: group 2s 10s forwards;
                    -webkit-animation: group 2s 10s forwards;
                }
                #simple {
                    right: 10%;
                    bottom: 0;
                    display: block!important;
                    transform: scale(.6, .6);
                    animation: group 2s 0s forwards;
                    -webkit-animation: group 2s 0s forwards;
                    @include mq($from: phablet) {
                        display: none!important;
                    }
                }
            }
        }
        &--copy {
            position: absolute;
            left: 20px;
            bottom: 74px;
            display: none;
            opacity: 1;
            // width: 208px;
            border-top: solid 1px #AAD8F1;
            animation: border 10s 1s forwards;
            -webkit-animation: border 10s 1s forwards;
            @include mq($from: phablet) {
                display: inline-block;
                width: 188px;
            }
            @include mq($from: desktop) {
                width: 208px;
            }
            p {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                color: #333;
                font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                margin-top: 5px;
            }
            // #may-quote {
            //     animation: fade 2s .5s;
            // }
            // #farron-quote {
            //     animation: fade 2s 2.5s;
            // }
            // #corbyn-quote {
            //     animation: fade 2s 4.5s;
            // }
            // #sturgeon-quote {
            //     animation: fade 2s 6.5s;
            // }
            #final-quote {
                opacity: 1;
                // animation: fade-hold 2s 8.5s forwards;
            }
        }
    }
    
    @keyframes figures {
        0% {
            bottom: -220px;
        }
        50% {
            bottom: 0px;
        }
        75% {
            bottom: 0px;
        }
        100% {
            bottom: -220px;
        }
    }
    
    @keyframes group {
        0% {
            bottom: -220px;
        }
        80% {
            bottom: 0;
        }
        100% {
            bottom: 0;
        }
    }
    
    @keyframes fade {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes fade-hold {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes border {
        0% {}
        20% {
            border-top: solid 1px #AAD8F1;
        }
        35% {
            border-top: solid 1px #AAD8F1;
        }
        40% {
            border-top: solid 1px #F9AF1B;
        }
        55% {
            border-top: solid 1px #F9AF1B;
        }
        60% {
            border-top: solid 1px #EC2533;
        }
        75% {
            border-top: solid 1px #EC2533;
        }
        80% {
            border-top: solid 1px #F9D918;
        }
        95% {
            border-top: solid 1px #F9D918;
        }
        100% {
            border-top: solid 1px #005689;
        }
    }
    
    @keyframes colorScale-one {
        0% {
            width: 0%;
        }
        20% {
            background: #AAD8F1;
            width: 50%;
        }
        35% {
            background: #AAD8F1;
        }
        40% {
            background: #F9AF1B;
            width: 80%;
        }
        55% {
            background: #F9AF1B;
        }
        60% {
            background: #EC2533;
            width: 60%;
        }
        75% {
            background: #EC2533;
        }
        80% {
            background: #F9D918;
            width: 40%;
        }
        95% {
            background: #F9D918;
        }
        100% {
            background: #005689;
            width: 80%;
        }
    }
    
    @keyframes colorScale-two {
        0% {
            width: 0%;
        }
        20% {
            background: #C7E3F2;
            width: 80%;
        }
        35% {
            background: #C7E3F2;
        }
        40% {
            background: #F6CA71;
            width: 60%;
        }
        55% {
            background: #F6CA71;
        }
        60% {
            background: #EF7780;
            width: 80%;
        }
        75% {
            background: #EF7780;
        }
        80% {
            background: #F6E36F;
            width: 70%;
        }
        95% {
            background: #F6E36F;
        }
        100% {
            background: #6195B3;
            width: 55%;
        }
    }
    
    @keyframes colorScale-three {
        0% {
            width: 0%;
        }
        20% {
            background: #DDEBF2;
            width: 60%;
        }
        35% {
            background: #DDEBF2;
        }
        40% {
            background: #F5DFB2;
            width: 90%;
        }
        55% {
            background: #F5DFB2;
        }
        60% {
            background: #F1B5B9;
            width: 70%;
        }
        75% {
            background: #F1B5B9;
        }
        80% {
            background: #F5EBB1;
            width: 80%;
        }
        95% {
            background: #F5EBB1;
        }
        100% {
            background: #AAC4D3;
            width: 100%;
        }
    }

    ///////// WEBKIT KEYFRAMES /////////
    
    @-webkit-keyframes figures {
        0% {
            bottom: -220px;
        }
        50% {
            bottom: 0px;
        }
        75% {
            bottom: 0px;
        }
        100% {
            bottom: -220px;
        }
    }
    
    @-webkit-keyframes group {
        0% {
            bottom: -220px;
        }
        80% {
            bottom: 0;
        }
        100% {
            bottom: 0;
        }
    }
    
    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    @-webkit-keyframes fade-hold {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes border {
        0% {}
        20% {
            border-top: solid 1px #AAD8F1;
        }
        35% {
            border-top: solid 1px #AAD8F1;
        }
        40% {
            border-top: solid 1px #F9AF1B;
        }
        55% {
            border-top: solid 1px #F9AF1B;
        }
        60% {
            border-top: solid 1px #EC2533;
        }
        75% {
            border-top: solid 1px #EC2533;
        }
        80% {
            border-top: solid 1px #F9D918;
        }
        95% {
            border-top: solid 1px #F9D918;
        }
        100% {
            border-top: solid 1px #005689;
        }
    }
    
    @-webkit-keyframes colorScale-one {
        0% {
            width: 0%;
        }
        20% {
            background: #AAD8F1;
            width: 50%;
        }
        35% {
            background: #AAD8F1;
        }
        40% {
            background: #F9AF1B;
            width: 80%;
        }
        55% {
            background: #F9AF1B;
        }
        60% {
            background: #EC2533;
            width: 60%;
        }
        75% {
            background: #EC2533;
        }
        80% {
            background: #F9D918;
            width: 40%;
        }
        95% {
            background: #F9D918;
        }
        100% {
            background: #005689;
            width: 80%;
        }
    }
    
    @-webkit-keyframes colorScale-two {
        0% {
            width: 0%;
        }
        20% {
            background: #C7E3F2;
            width: 80%;
        }
        35% {
            background: #C7E3F2;
        }
        40% {
            background: #F6CA71;
            width: 60%;
        }
        55% {
            background: #F6CA71;
        }
        60% {
            background: #EF7780;
            width: 80%;
        }
        75% {
            background: #EF7780;
        }
        80% {
            background: #F6E36F;
            width: 70%;
        }
        95% {
            background: #F6E36F;
        }
        100% {
            background: #6195B3;
            width: 55%;
        }
    }
    
    @-webkit-keyframes colorScale-three {
        0% {
            width: 0%;
        }
        20% {
            background: #DDEBF2;
            width: 60%;
        }
        35% {
            background: #DDEBF2;
        }
        40% {
            background: #F5DFB2;
            width: 90%;
        }
        55% {
            background: #F5DFB2;
        }
        60% {
            background: #F1B5B9;
            width: 70%;
        }
        75% {
            background: #F1B5B9;
        }
        80% {
            background: #F5EBB1;
            width: 80%;
        }
        95% {
            background: #F5EBB1;
        }
        100% {
            background: #AAC4D3;
            width: 100%;
        }
    }
