// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-yellow: #fb0;
$c-grey: #999;
$c-black: #333;

$face-size--mobile: 16.66667%;      // 6 per row
$face-size--phablet: 10%;           // 10 per row
$face-size--desktop: 7.1428571429%; // 14 per row
$face-size--wide: 6.25%;            // 16 per row

@import 'shared/_imports';
@include base(the-counted, #222);
@include base(the-counted-2, #222);
@include base(the-counted-2016, #222);

.the-counted__wrapper,
.the-counted-2__wrapper,
.the-counted-2016__wrapper {
    width: 100%;
    background-color: $c-black;
    font-family: $f-serif-headline;

    @include mq(desktop) {
        height: 280px;
    }

    @include mq(wide) {
        height: 325px;
    }
}

.the-counted__count,
.the-counted__content {
    z-index: 5;
    position: relative;
}

/*****************
    NUMBERS
*****************/

$number-height: 33.333%;

.the-counted__count {
    background-color: $c-black;
    width: $face-size--mobile * 3;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    opacity: 0;
    transition: opacity .2s ease-out;

    @include mq(phablet) {
        width: $face-size--phablet * 6;
    }

    @include mq(desktop) {
        position: absolute;
        top: 0;
        margin-top: $face-size--desktop;
        left: $face-size--desktop;
        width: $face-size--desktop * 6;
    }

    @include mq(wide) {
        margin-top: $face-size--wide;
        left: $face-size--wide;
        width: $face-size--wide * 6;
    }
}

.the-counted__count--threefig,
.the-counted__count--fourfig {
    opacity: 1;
}

.the-counted__count--threefig {
    .the-counted__number--thousand {
        display: none;
    }
}

.the-counted__count--fourfig {
    width: $face-size--mobile * 4;

    @include mq(phablet) {
        width: $face-size--phablet * 8;
    }

    @include mq(desktop) {
        left: 0;
        width: $face-size--desktop * 8;
    }

    @include mq(wide) {
        left: 0;
        width: $face-size--wide * 8;
    }
}

.the-counted__number {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align:top;
    text-align: center;
    width: $number-height;
    background: url('@@assetPath@@/numbers.svg') repeat-y $c-yellow;
    background-size: 100%;
    transition: background-position 2.2s cubic-bezier(0, 0, 0.04, 1.05);

    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;
        background-color: $c-black;
    }
}

.the-counted__number--thousand {
    transition-duration: 0.4s;
}

.the-counted__number--hundred {
    transition-duration: 1.6s;
}

.the-counted__number--ten {
    transition-duration: 1.9s;
}

.the-counted__number--one {
    &:after {
        display: none;
    }
}

.animate {
    @for $count from 0 to 10 {
        .number--#{$count} {
            background-position: 0 11.1111% * $count;
        }
    }

    @for $count from 0 to 10 {
        .the-counted__number--one.number--#{$count} {
            background-position: 0 (11.1111% * $count) + 2.5%;
        }
    }
}

/*****************
      CONTENT
*****************/

.the-counted__content {
    position: relative;
    background-color: $c-black;
    padding: 6px 10px;
    margin-top: $face-size--mobile * 2;

    @include mq(phablet) {
        margin-top: $face-size--phablet * 2;
    }

    @include mq(desktop) {
        position: absolute;
        top: 0;
        right: 0;
        width: $face-size--desktop * 5;
        padding-top: $face-size--desktop * 2;
        padding-bottom: 0;
        height: 0;
        box-sizing: border-box;
        margin-top: 0;
    }

    @include mq(wide) {
        width: $face-size--wide * 5;
        padding-top: $face-size--wide * 2;
    }
}

.the-counted__marque {
    position: absolute;
    top: 12px;
    right: 20px;
}

.the-counted__content-inner {
    @include mq(desktop) {
        position: absolute;
        bottom: 0;
    }
}

.the-counted__title {
    color: $c-yellow;
    font-family: $f-serif-headline;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 0;

    @include mq(leftCol) {
        font-size: 48px;
        line-height: 1;
    }
}

.the-counted__subtitle {
    color: $c-grey;
    font-family: $f-serif-text;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 1em;
    padding-right: 16%;

    @include mq(leftCol) {
        margin-bottom: 0.4em;
    }
}

/*****************
    BACKGROUND
*****************/

.the-counted__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darken(#333, 3%);
}

.the-counted__faces {
    margin: 0;
    padding: 0;
    list-style: none;
}

.the-counted__face {
    width: $face-size--mobile;
    height: 0;
    padding-top: $face-size--mobile;
    float: left;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    animation-fill-mode: both;
    transition: opacity 0.5s ease-in;

    @include mq(phablet) {
        width: $face-size--phablet;
        padding-top: $face-size--phablet;
    }

    @include mq(desktop) {
        width: $face-size--desktop;
        padding-top: $face-size--desktop;
    }

    @include mq(wide) {
        width: $face-size--wide;
        padding-top: $face-size--wide;
    }
}

// Alternate Code
@include mq(desktop, wide) {
    .the-counted__face--9,
    .the-counted__face--12 {
        margin-right: $face-size--desktop * 5;
    }

    .the-counted__face--10,
    .the-counted__face--13 {
        margin-right: $face-size--desktop * 6;
    }
}

@include mq(wide) {
    .the-counted__face--11,
    .the-counted__face--16 {
        margin-right: $face-size--wide * 5;
    }

    .the-counted__face--12,
    .the-counted__face--17 {
        margin-right: $face-size--wide * 6;
    }
}

.animate {
    @for $face from 1 to 50 {
        .the-counted__face:nth-of-type(#{$face}) {
            transition-delay: random(220) / 100 + s;
            opacity: 0.5;
        }
    }
}

a.the-counted__anchor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20 !important;
}

// National convention code

#republican-national-convention,
#democratic-national-convention,
#final-presidential-debate {
    background-image: url('@@assetPath@@/blocks.png');
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    background-position: top center;

    .fc-container__title__text {
        color: #2e4481;

        @include mq($until: tablet) {
            width: 250px;
            display: block;
        }
    }

    .fc-today,
    .fc-container__toggle {
        display: none;
    }

    .fc-container__header__description {
        float: none !important;
        text-align: left;
        clear: both;

        @include mq($until: tablet) {
            padding-right: 90px;
        }
    }

    .fc-container__header--us-election:before {
        content: '';
        max-width: 300px;
        display: block;
        margin-bottom: 4px;
        border-top: 18px solid #e91f2c;
    }

    .js-container__header:after {
        content: '';
        display: block;
        height: 80px;
        background-repeat: no-repeat;
        background-position: right bottom;
        margin-top: -40px;
        margin-right: -10px;

        @include mq(tablet) {
            height: 132px;
            margin-top: -74px;
        }

        @include mq(leftCol) {
            margin-top: 0;
            margin-right: -50px;
        }

        @include mq(wide) {
            margin-right: -20px;
        }
    }

    .fc-slice__item + .fc-slice__item:before {
        border-left-color: transparent;
    }

    .badge-slot {
        width: 2.5625rem;

        @include mq(tablet) {
            width: 2.55rem;
        }

        @include mq(desktop) {
            float: left;
            margin-right: 4px;
            width: 2.55rem;
        }

        @include mq(wide) {
            margin-right: 6px;
            width: 4.1rem;
        }
    }
}

#republican-national-convention {
    .js-container__header:after {
        background-image: url('@@assetPath@@/republicans--mobile.png');

        @include mq(tablet) {
            background-image: url('@@assetPath@@/republicans.png');
        }
    }
}

#democratic-national-convention {
    .js-container__header:after {
        background-image: url('@@assetPath@@/democrats--mobile.png');

        @include mq(tablet) {
            background-image: url('@@assetPath@@/democrats.png');
        }
    }

    .treats__container {
        width: 140px;

        @include mq(wide) {
            width: 220px;
        }
    }

    .treats__treat {
        position: relative;
        z-index: 10;
        background-color: #2e4481;
        border-color: #2e4481;
        color: white;
        height: 2rem;
        font-size: 14px;
        line-height: 2rem;
        padding: 0 .2rem 0 .6rem;
        margin-top: 6px;

        &:hover {
            background-color: #e91f2c;
            border-color: #e91f2c;
        }

        &:after {
            content: url('@@assetPath@@/arrow-right.svg');
            float: right;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .treats__container {
        &:before {
            content: "Got a Minute?";
            font-family: "Guardian Egyptian Web";
            font-weight: 900;
            display: block;
            line-height: 1.2;
        }

        &:after {
            content: "";
            position: absolute;
            top: -20px;
            left: -40px;
            bottom: -20px;
            right: 0;
            height: 135px;
            width: 135px;
            background-image: url('@@assetPath@@/minute-bg.png');
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            animation: spin 2.5s steps(60) infinite;
        }
    }

    .treats__list-item:before {
        content: "Catch up fast with today's election news, live from the Democratic convention";
        font-family: "Guardian Egyptian Web";
        display: block;
        line-height: 1.2;
    }
}


// Supertreat
$red: #ed1c24;
$blue: #214583;

.fc-container__inner--no-treats .treats__container {
    display: none;
}

.countdown {
    font-family: "Guardian Egyptian Web", Georgia, serif;
    color: $blue;
    margin-top: -18px;

    @include mq(tablet) {
        margin-top: -11px;
        width: 340px;
        float: right;
    }

    @include mq(desktop) {
        width: 460px;
    }

    @include mq(leftCol) {
        position: absolute;
        width: 140px;
        bottom: 1.5rem;
    }

    @include mq(wide) {
        width: 220px;
    }
}

.countdown__link {
    color: $blue !important;

    &:hover {
        opacity: .8;
        text-decoration: none;
    }

    #top-stories & {
        display: none;
    }
}

.countdown__logo {
    font-weight: 900;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 12px;

    @include mq(tablet, leftCol) {
        margin-bottom: 6px;
    }

    span {
        display: block;
    }
}

.countdown__image {
    height: 26px;
    margin-top: 2px;
    float: left;
    margin-right: 4px;
}

.countdown__number {
    font-weight: 900;
    font-size: 100px;
    line-height: 0.87;
    color: $red;
    width: 8rem;
    float: left;
    padding-right: 9px;

    @include mq(tablet) {
        width: auto;
    }

    @include mq(leftCol) {
        float: none;
        line-height: .7;
    }
}

.countdown__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.countdown__lead-in {
    color: $red;
    display: block;
}
