// Default breakpoints from Frontend
$mq-breakpoints: (mobile: 320px,
    mobileMedium: 360px,
    mobileLandscape: 480px,
    phablet: 660px,
    tablet: 740px,
    desktop: 980px,
    leftCol: 1140px,
    wide: 1300px);

@import 'shared/_imports';

.letters-nugget .letters-button,
.letters-nugget h1 {
    font-family: \"Guardian Egyptian Web\", Georgia, serif
}

section#letters-treat {
    height: 0;
    overflow: hidden;
    margin: 0
}

section#letters-treat,
section#letters-treat .tone-news--item.fc-item {
    background-color: #dcdcdc;
    margin-top: -12px
}

.treats__container .treat-separator {
    position: relative;
    margin-top: 12px;
    padding-top: 12px
}

.treats__container .treat-separator:before {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    height: 1px;
    background-color: #BDBDBD;
    width: 60px
}

@media all and (min-width:81.25em) {
    .treats__container .treat-separator:before {
        width: 140px
    }
}

.letters-nugget {
    width: 100%;
    overflow: hidden;
    font-size: 0;
    border-bottom: 2px solid #DFE1E4;
    padding-top: 6px;
    position: relative
}

@media all and (min-width:30em) {
    .letters-nugget {
        margin: 0 10px
    }
}

@media all and (min-width:41.25em) {
    .letters-nugget {
        max-width: 620px;
        margin: 0 auto
    }
}

@media all and (min-width:46.25em) {
    .letters-nugget {
        max-width: 700px;
        margin-left: 20px
    }
}

@media all and (min-width:61.25em) {
    .letters-nugget {
        max-width: 940px;
        padding-top: 14px
    }
}

@media all and (min-width:71.25em) {
    .letters-nugget {
        max-width: none;
        width: 140px;
        border: 0;
        padding-top: 3px;
        overflow: inherit;
        margin: 0
    }
}

.letters-nugget h1 {
    color: #005689;
    font-weight: 600;
    font-size: 25px;
    line-height: 26px
}

@media all and (min-width:81.25em) {
    .letters-nugget {
        width: 220px
    }

    .letters-nugget h1 {
        font-size: 28px;
        line-height: 28px
    }
}

.letters-nugget h1:before {
    content: '';
    display: block;
    height: 8px;
    background-color: #4bc6df;
    width: 80px;
    margin-bottom: 4px
}

.letters-nugget p {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 18px
}

.letters-nugget a:hover {
    text-decoration: none !important;
    border: none
}

.letters-nugget .culture-nugget__image {
    overflow: hidden;
    height: 69px;
    width: 63px;
    float: left
}

@media all and (min-width:61.25em) {
    .letters-nugget .culture-nugget__image {
        margin-bottom: -25px;
        height: 120px;
        width: 117px
    }
}

@media all and (min-width:81.25em) {
    .letters-nugget p {
        font-size: 14px;
        line-height: 18px
    }

    .letters-nugget .culture-nugget__image {
        width: 117px;
        margin-bottom: -10px
    }
}

.letters-nugget .culture-nugget__image img {
    width: 100%;
    height: auto
}

.letters-nugget .culture-nugget__buttons {
    float: left;
    width: 253px;
    margin-top: 6px;
    margin-left: 10px
}

.letters-nugget .culture-nugget__arrow {
    position: absolute;
    right: -10px;
    top: 6px;
    display: none
}

@media all and (min-width:61.25em) {
    .letters-nugget .culture-nugget__buttons {
        margin-left: 0;
        width: 140px
    }

    .letters-nugget .culture-nugget__arrow {
        display: block
    }
}

@media all and (min-width:81.25em) {
    .letters-nugget .culture-nugget__buttons {
        width: 168px
    }

    .letters-nugget .culture-nugget__arrow {
        right: 30px;
        top: 30px
    }
}

.letters-nugget .letters-button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 900;
    margin-bottom: 8px;
    display: block
}

.letters-nugget .letters-button.second span {
    background-color: #a1845c
}

.letters-nugget .letters-button svg {
    height: 14px;
    margin-bottom: -3px;
    margin-left: 6px
}

.letters-nugget .letters-button span {
    background-color: #121212;
    padding: 0 5px 4px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    position: relative;
    color: #fff
}