// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.ottolenghi__header {
  height: 200px;
  position: relative;
  overflow: hidden;

  @include mq($from: tablet) {
    width: 740px;
    height: 270px;
  }

  @include mq($from: desktop) {
    width: 980px;
  }

  @include mq($from: leftCol) {
    width: 1140px;
  }

  @include mq($from: wide) {
    width: 1300px;
  }
}

.ottolenghi__image--foreground {
  position: absolute;
  z-index: 10;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    @include mq($from: desktop) {
      width: 132%;
      margin-left: -157px;
    }

    @include mq($from: leftCol) {
      width: 114%;
      margin-left: -79px;
    }

    @include mq($from: wide) {
      width: 100%;
      margin-left: 0px;
    }
  }
}

.ottolenghi__image {
  position: absolute;
  height: 200px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;

    @include mq($from: tablet) {
      height: 270px;
    }

    @include mq($until: desktop) {
      object-position: 33%;
    }

    @include mq($until: mobileLandscape) {
      object-position: 40%;
    }

    @include mq($until: 321px) {
      object-position: 36%;
    }
  }
}

.ottolenghi__type {
  position: absolute;
  top: 40px;
  overflow: hidden;

  @include mq($from: desktop) {
    right: 20px;
  }

  @include mq($from: leftCol) {
    right: 10px;
  }

  @include mq($from: wide) {
    right: 95px;
  }

  svg {
    @include mq($from: desktop) {
      height: 220px;
      width: 635px;
    }
    @include mq($from: leftCol) {
      height: 220px;
      width: 730px;
    }
  }
}

.ottolenghi__type-mobile {
  font-family: $f-serif-headline;
  color: white;
  position: absolute;
  top: 0px;
  right: 20px;

  @include mq($from: tablet) {
    top: auto;
    bottom: 0px;
  }

  h1 {
    font-weight: 200;
    font-size: 30px;
    text-align: right;

    @include mq($from: mobile) {
      font-size: 44px;
    }

    @include mq($from: mobileLandscape) {
      font-size: 50px;
    }

    @include mq($from: tablet) {
      font-size: 50px;
      text-align: left;
    }

    span {
      display: block;
      line-height: 10px;
      margin-bottom: 15px;

      @include mq($from: mobileLandscape){
        margin-bottom: 30px;
      }

      @include mq($from: tablet) {
        margin-left: 60px;
      }
    }
  }
}
