// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-background: #333;

$xlarge: 120px;
$large: 100px;
$medium: 80px;
$small: 50px;
$xsmall: 30px;

$bounce-xlarge: 85px;
$bounce-large: 100px;
$bounce-medium: 115px;
$bounce-small: 125px;
$bounce-xsmall: 175px;

@import 'shared/_imports';

@include base(sos-thrasher, $c-background);
.summer-of-sport__wrapper{
	width: 100%;
  overflow: hidden;
}

#summer-of-sport .facia-snap{
      padding: 0;
    }

section#summer-of-sport.fc-container.fc-container--thrasher.fc-container--has-toggle {
  background-color: #9BD5E0;
}

section#summer-of-sport a.fc-trail__count.fc-trail__count--commentcount {
  display: none !important;
}

#sos-thrasher {
  background-color: #0D7CAD;
  width: auto;
  position: relative;
  min-height: 200px;
    .branding {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 60px;
      height: auto;
      svg {
        width: 100%;
        height: 100%;
      }
  }

  .episode-info {
    display: inline-block;
    padding-top: 10px;
    margin-left: 20px;
    position: relative;
    z-index: 300;

    .episode-info__heading {
      display: block;
      font-size: 32px;
      line-height: 32px;
      font-family: 'Guardian Egyptian Web', serif;
      font-weight: 800;

        .episode-info__kicker {
          display: block;
          color: #fff;
        }

        .episode-info__title {
          color: #BEE202;
        }
    }
  }

 
  .episode-info__links {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    width: 500px;
    
    .episode-info_title {
      font-size: 20px;
    }
    .episode-info_full {
      font-size: 16px;
      display: block;
      height: 23px;

    .episode-info__label {
      display: inline-block;
      position: absolute;
      top: -3px;
      margin-left:5px;

      &:hover {
        text-decoration: underline;
        } 
    }
    }
    .episode-info__arrow {
      display: inline-block;
      width: 18px;
      height: 18px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

.display img {
  display: none;
}
.visible{
  width: 100%;

  .all-balls {
    position:absolute;
    bottom:-200px;
  }

  #figure {
    display: block;
    width: 400px;
    position: absolute;
    right: 120px;
    bottom: -660px;
    z-index: 9;

    @include mq($until: mobileLandscape) { -webkit-animation:move-figure 3s 0s forwards ; -moz-animation:move-figure 3s 0s forwards ; animation:move-figure 3s 0s forwards ; }
    -webkit-animation:move-figure 3s 3.8s forwards ;
    -moz-animation:move-figure 3s 3.8s forwards ;
    animation:move-figure 3s 3.8s forwards ;
  }

  #all-balls{
    display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: 40px;
      opacity: 0;
      z-index: 8;

      animation-name: balls-fadein;
      animation-duration: 2s;
      animation-delay: 6.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;  
  }


    
   #tennis {
    display: block;
    @include mq($until: phablet) { display: none; }
    right:150px;
    width: $large;

    -webkit-animation: bounce-tennis 2s .5s forwards  ;
    -moz-animation: bounce-tennis 2s .5s forwards ;
    animation: bounce-tennis 2s .5s forwards ;

   }

   #tennis-two {
    display: block;
    @include mq($until: phablet) { display: none; }
    right:700px;
    width: $large;

     -webkit-animation:bounce-tennis-two 2s 3.3s forwards  ;
    -moz-animation:bounce-tennis-two 2s 3.3s forwards ;
    animation:bounce-tennis-two 2s 3.3s forwards ;

   }

   #basketball {
    display: block;
    @include mq($until: phablet) { display: none; }
    right:300px;
    width: $xlarge;

    -webkit-animation: bounce-basket 2s 1.5s forwards  ;
    -moz-animation: bounce-basket 2s 1.5s forwards ;
    animation: bounce-basket 2s 1.5s forwards ;

   }

   #pool {
    display: block;
    @include mq($until: phablet) { display: none; }
    right:300px;
    width: $medium;

    -webkit-animation:bounce-pool 2s 2.2s forwards;
    -moz-animation:bounce-pool 2s 2.2s forwards;
    animation:bounce-pool 2s 2.2s forwards;

   }

   #baseball {
    display: block;
    @include mq($until: phablet) { display: none; }
    right:10px;
    width: $medium;

    -webkit-animation:bounce-base 2s 2.5s forwards;
    -moz-animation: bounce-base 2s 2.5s forwards;
    animation: bounce-base 2s 2.5s forwards;

   }

   #football {
    display: block;
    @include mq($until: phablet) { display: none; }
    right:500px;
    width: $medium;

    -webkit-animation: bounce-foot 2s 3s forwards;
    -moz-animation: bounce-foot 2s 3s forwards;
    animation: bounce-foot 2s 3s forwards;

   }

   #golf {
    display: block;
    @include mq($until: phablet) { display: none; }
    right:600px;
    width: $small;

    -webkit-animation: bounce-golf 2s 3.1s forwards  ;
    -moz-animation: bounce-golf 2s 3.1s forwards ;
    animation: bounce-golf 2s 3.1s forwards ;
  
   } 

   #ping {
    display: block;
    @include mq($until: phablet) { display: none; }
    right:150px;
    width: $xsmall;

    -webkit-animation: bounce-ping 2s 3.5s forwards  ;
    -moz-animation: bounce-ping 2s 3.5s forwards ;
    animation: bounce-ping 2s 3.5s forwards ;
  
   }
 }



/****** Animation Keyframes *******/

/****** Tennis *******/

@-webkit-keyframes bounce-tennis {
    0%   { top:-200px;  animation-timing-function:ease-in;   }
    1%   { -webkit-transform: rotate(-360deg);   }
    50%  { top:$bounce-large; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 600px; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-tennis {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -moz-transform: rotate(-360deg);   }
    50%  { top:$bounce-large; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 600px; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-tennis {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(-360deg);   }
    50%  { top:$bounce-large; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 600px; animation-timing-function:ease-in;  }
    
}



@-webkit-keyframes bounce-tennis-two {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(-360deg);   }
    50%  { top:$bounce-large; animation-timing-function:ease-out; }
    100%  { top:-200px; right: -400px; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-tennis-two {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -moz-transform: rotate(-360deg);   }
    50%  { top:$bounce-large; animation-timing-function:ease-out; }
    100%  { top:-200px; right: -400px; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-tennis-two {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(-360deg);   }
    50%  { top:$bounce-large; animation-timing-function:ease-out; }
    100%  { top:-200px; right: -400px; animation-timing-function:ease-in;  }
    
}


/****** Basketball *******/

@-webkit-keyframes bounce-basket {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(360deg);   }
    33.333%  { top:$bounce-xlarge; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-10px; animation-timing-function:ease-out; }
}

@-moz-keyframes bounce-basket {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -moz-transform: rotate(360deg);   }
    33.333%  { top:$bounce-xlarge; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-10px; animation-timing-function:ease-out; }
}

@keyframes bounce-basket {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(360deg);   }
    33.333%  { top:$bounce-xlarge; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-10px; animation-timing-function:ease-out; }
}


/****** Pool *******/

@-webkit-keyframes bounce-pool {
    0%   { top:-2000px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(-360deg);   }
    90%  { top:$bounce-small; animation-timing-function:ease-out; }
    95%  { top:30px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:350px; animation-timing-function:ease-out; }
    
}

@-moz-keyframes bounce-pool {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -moz-transform: rotate(-360deg);   }
    33.333%  { top:$bounce-small; animation-timing-function:ease-out; }
    66.666%  { top:30px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:350px; animation-timing-function:ease-out; }
    
}

@keyframes bounce-pool {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(-360deg);   }
    33.333%  { top:$bounce-small; animation-timing-function:ease-out; }
    66.666%  { top:30px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:350px; animation-timing-function:ease-out; }
    
}


/****** Baseball *******/

@-webkit-keyframes bounce-base {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(-360deg);   }
    50%  { top:$bounce-small; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 750px; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-base {
     0%   { top:-200px; animation-timing-function:ease-in;  }
     1%   { -moz-transform: rotate(-360deg);   }
    50%  { top:$bounce-small; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 750px; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-base {
     0%   { top:-200px; animation-timing-function:ease-in;  }
     1%   { -webkit-transform: rotate(-360deg);   }
    50%  { top:$bounce-small; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 750px; animation-timing-function:ease-in;  }
    
}

/****** Football *******/

@-webkit-keyframes bounce-foot {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(-360deg);   }
    33.333%  { top:$bounce-medium; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-100px; animation-timing-function:ease-out; }
}

@-moz-keyframes bounce-foot {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -moz-transform: rotate(-360deg);   }
    33.333%  { top:$bounce-medium; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-100px; animation-timing-function:ease-out; }
}

@keyframes bounce-foot {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(-360deg);   }
    33.333%  { top:$bounce-medium; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-100px; animation-timing-function:ease-out; }
}


/****** Golf *******/

@-webkit-keyframes bounce-golf {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(360deg);   }
    50%  { top:160px; animation-timing-function:ease-out; }
    100%  { top:100px; right: -200px; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-golf {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -moz-transform: rotate(360deg);   }
    50%  { top:160px; animation-timing-function:ease-out; }
    100%  { top:100px; right: -200px; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-golf {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(360deg);   }
    50%  { top:160px; animation-timing-function:ease-out; }
    100%  { top:100px; right: -200px; animation-timing-function:ease-in;  }
    
}


/****** Ping *******/

@-webkit-keyframes bounce-ping {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(360deg);   }
    50%  { top:$bounce-xsmall; animation-timing-function:ease-out; }
    100%  { top:-100px; right: 600px; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-ping {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -moz-transform: rotate(360deg);   }
    50%  { top:$bounce-xsmall; animation-timing-function:ease-out; }
    100%  { top:-100px; right: 600px; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-ping {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    1%   { -webkit-transform: rotate(360deg);   }
    50%  { top:$bounce-xsmall; animation-timing-function:ease-out; }
    100%  { top:-100px; right: 600px; animation-timing-function:ease-in;  }
    
}

/****** Figure Move In *******/


@keyframes move-figure {
  from {bottom: -660px;} 
  to{bottom:-240px;}
}

@-moz-keyframes move-figure {
  from {bottom: -660px;} 
  to{bottom:-240px;}
}

@-webkit-keyframes move-figure {
  from {bottom: -660px;} 
  to{bottom:-240px;}
}

/****** Balls Fade-In *******/


@keyframes balls-fadein {
  0%   { opacity: 0; }
  100%  { opacity: 1; }
    
}

@-moz-keyframes balls-fadein {
  0%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-webkit-keyframes balls-fadein {
  0%   { opacity: 0; }
  100%  { opacity: 1; }
}


  @include mq($until: leftCol) {
    
  }

  @include mq($until: desktop) {

    .visible {
      #all-balls {
        display: none;
      }
    }

    .branding {
      width: 55px;
    }

    
    .episode-info {
      .episode-info__heading {
        font-size: 28px;
        line-height: 28px;
      }
    }

    .episode-info_title {
      font-size: 18px;
    }
    .episode-info_full {
      font-size: 16px;
      display: block;
      height: 23px;
    .episode-info__label {
      top:-2px;
      }
    }
    .episode-info__arrow {
      width: 17px;
      height: 17px;
    }


    .visible {
      #figure {
        width: 350px;
      }

    }

    @keyframes move-figure {
      to{bottom:-190px;}
    }

    @-moz-keyframes move-figure {
      to{bottom:-190px;}
    }

    @-webkit-keyframes move-figure {
      to{bottom:-190px;}
    }


    
  }

  @include mq($until: tablet) {

    .visble {
      #figure {
        right:40px;

        -webkit-animation:move-figure 3s 0s forwards ;
        -moz-animation:move-figure 3s 0s forwards ;
        animation:move-figure 3s 0s forwards ;
      }
    }
  }

  @include mq($until: phablet) {

    #sos-thrasher .branding {
      width: 40px;
    }

    .episode-info_title {
      font-size: 15px;
    }
    .episode-info_full {
      font-size: 15px;
      display: block;
      height: 23px;
    .episode-info__label {
      top:-2px;
      }
    }
    .episode-info__arrow {
      width: 15px;
      height: 15px;
    }

    .visbile {
      #figure {
        right:0px;
        width: 280px;
        bottom: -360px;

      }
     
    }
    @keyframes move-figure {
      to{bottom:-160px;}
    }

    @-moz-keyframes move-figure {
      to{bottom:-160px;}
    }

    @-webkit-keyframes move-figure {
      to{bottom:-160px;}
    }
  
  }

  @include mq($until: mobileLandscape) {


    #sos-thrasher {
      min-height: 300px!important;
    }

    .branding {
      display:none;
    }

    .episode-info {
      margin-left: 10px;
    }

    .visible {
    #figure {
      right:-35px;
      width: 190px;
      bottom: -660px;

    }
     
    }
    @keyframes move-figure {
      to{bottom:-55px;}
    }

    @-moz-keyframes move-figure {
      to{bottom:-55px;}
    }

    @-webkit-keyframes move-figure {
      to{bottom:-55px;}
    }     
  }
}

