// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-background: #333;

@import 'shared/_imports';

@include base(sos-thrasher, $c-background);
.summer-of-sport__wrapper{
	width: 100%;
}

// super specific thing that could be a mixin instead?
/*section#the-citadel.fc-container.fc-container--thrasher.fc-container--has-toggle {
  background-color: #333;
}

section#the-citadel a.fc-trail__count.fc-trail__count--commentcount {
  display: none !important;
}

#the-citadel.fc-container--thrasher{
  .fc-container__inner{
    overflow: visible;

    .fc-container__body{
      .fc-slice-wrapper{
        ul{
          overflow: visible;
        }
        .facia-snap{
          overflow: visible;
        }
      }
    }
  }
}*/


#sos-thrasher {
  background-color: #0D7CAD;
  width: auto;
  position: relative;
  min-height: 250px;
  .branding {
    position: absolute;
    top: 8px;
    right: 22px;
    width: 52px;
    height: 33px;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .episode-info {
    width: 400px;
    padding-top: 30px;
    margin-left: 30px;
    position: relative;
    z-index: 300;
    .episode-info__heading {
      display: block;
      font-size: 35px;
      line-height: 35px;
      font-family: 'Guardian Egyptian Web', serif;
      font-weight: 800;
      .episode-info__kicker {
        display: block;
        color: #BEE202;
      }
      .episode-info__title {
        color: #FFF;
      }
    }
  }
  .episode-info_full {
    position: relative;
    right: 1px;
    display: inline-block;
    height: 26px;
    line-height: 28px;
    overflow: hidden;
    font-size: 13px;
    padding-left: 12px;
    padding-right: 30px;
    margin: 14px 0 30px;
    border-radius: 15px;
    border: 1px solid currentColor;
    color: #BEE202;
    font-family: 'Guardian Text Sans Web';
    .episode-info__arrow {
      position: absolute;
      right: 10px;
      top: 2px;
      width: 1em;
      height: 1em;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      background-color: #BEE202;
      color: #444;
      text-decoration: none;
      #right-arrow {
        fill: #444;
      }
    }
  }

  .subscription {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-family: 'Guardian Text Sans Web';
    font-size: 13px;
    padding-bottom: 2px;
    color: #ddd;
    z-index: 300;
    &__icon,
    &__itunes,
    &__download,
    &__feed {
      display: inline-block;
    }
    &__icon {
      position: relative;
      top: 2px;
      margin-right: 1px;
    }
    &__itunes,
    &__download {
      &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: #ccc;
        opacity: 0.8;
        vertical-align: top;
        position: relative;
        top: 2px;
        margin: 0 6px;
      }
    }
  }

.balls-container {
  width: 100%;

  .all-balls {
    position:absolute;
    bottom:-200px;
  }

  #figure {
    width: 450px;
    position: absolute;
    right: 100px;
    bottom: -660px;

    /*-webkit-animation:move-figure 3s 9s forwards ;
    -moz-animation:move-figure 3s 9s forwards ;
    animation:move-figure 3s 9s forwards ;*/
  }


   #tennis {
    right:150px;
    width: 100px;

    /*-webkit-animation:spin 4.5s linear 2, move-one 4s linear 2 ;
    -moz-animation:spin 4.5s linear 2, move-one 4s linear 2;
    animation:spin 4.5s linear 2, move-one 4s linear 2;*/

     -webkit-animation:spin 2s linear forwards, bounce-out 2s forwards  ;
    -moz-animation:spin 2s  linear forwards, bounce-out 2s forwards ;
    animation:spin 2s linear forwards, bounce-out 2s forwards ;

   }

   #pool {
    right:450px;
    width: 80px;

    -webkit-animation:spin 4s .5s linear 2, move-one 4s .3s linear 2;
    -moz-animation:spin 4s  .5s linear 2, move-one 4s  .3s linear 2;
    animation:spin 4s .5s linear 2, move-one 4s .3s linear 2;

   }

   #golf {
    right:450px;
    width: 50px;

    -webkit-animation:spin 4s 1s linear 2, move-one 4.5s 1s linear 2;
    -moz-animation:spin 4s 1s linear  2, move-one 4.5s 1s linear 2;
    animation:spin 4s 1s linear 2, move-one 4.5s 1s linear 2;
  
   }

   #basketball {
    top:-200px;
    right:300px;
    width: 120px;

    -webkit-animation:spin 2s 1.5s linear forwards, bounce 2s 1.5s forwards  ;
    -moz-animation:spin 2s 1.5s linear forwards, bounce 2s 1.5s forwards ;
    animation:spin 2s 1.5s linear forwards, bounce 2s 1.5s forwards ;

   }

   #football {
    right:150px;
    width: 70px;

    -webkit-animation:spin 4s 2.5s linear 2, move-one 4s 2s linear 2;
    -moz-animation:spin 4s 2.5s linear  2, move-one 4s 2s linear 2;
    animation:spin 4s 2.5s linear 2, move-one 4s 2s linear 2;

   }

   #baseball {
    right:320px;
    width: 70px;

    -webkit-animation:spin 4s 2.5s linear 2, move-one 4s 2.5s linear 2;
    -moz-animation:spin 4s 2.5s linear  2, move-one 4s 2.5s linear 2;
    animation:spin 4s 2.5s linear 2, move-one 4s 2.5s linear 2;

   }

}

/****** Animatin Keyframes *******/

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg);} 
  }
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg);} 
  }
@keyframes spin { 
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);} 
  }



@-webkit-keyframes bounce {
 /*   0%   { top:-200px; animation-timing-function:ease-in;  }
    37%  { top:110px; animation-timing-function:ease-out; }
    55%  { top:-35px; animation-timing-function:ease-in;  }
    73%  { top:110px; animation-timing-function:ease-out; }
    82%  { top:55px; animation-timing-function:ease-in;  }
    91%  { top:110px; animation-timing-function:ease-out; }
    96%  { top:90px; animation-timing-function:ease-in;  }
    100% { top:110px; }*/

    0%   { top:-200px; animation-timing-function:ease-in;  }
    33.333%  { top:110px; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-10px; animation-timing-function:ease-out; }
}

@-webkit-keyframes bounce-out {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:120px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 600px; animation-timing-function:ease-in;  }
    
}

/*@keyframes move-one {
  from {bottom: -200px;} 
  to{bottom:100px;}
}
@-moz-keyframes move-one {
  from {bottom: -200px;} 
  to{bottom:100px;}
}
@-webkit-keyframes move-one {
  from {bottom: -200px;} 
  to{bottom:100px;}
}*/


@keyframes move-figure {
  from {bottom: -660px;} 
  to{bottom:-260px;}
}
@-moz-keyframes move-figure {
  from {bottom: -660px;} 
  to{bottom:-260px;}
}
@-webkit-keyframes move-figure {
  from {bottom: -660px;} 
  to{bottom:-260px;}
}






  @include mq($until: wide) {
    .branding {
      right: 20px;
    }
    .player {
      right: 80px;
    }
    .episode-info {
      margin-left: 170px;
    }
    .subscription {
      left: 182px;
    }
  }

  @include mq($until: leftCol) {
    .branding {
      right: 18px;
    }
    .player {
      right: 64px;
    }
    .episode-info {
      margin-left: 10px;
    }
    .subscription {
      left: 23px;
    }
  }

  @include mq($until: desktop) {
    min-height: 120px;
    .branding {
      right: 16px;
      width: 41px;
      height: 26px;
    }
    .player {
      right: 51px;
      height: 130px;
      width: 336px;
      .player__circle {
        height: 130px;
        width: 130px;
      }
    }
    .episode-info {
      .episode-info__heading {
        font-size: 26px;
        line-height: 26px;
      }
    }
    .subscription {
      font-size: 12px;
      padding-bottom: 1px;
    }
  }

  @include mq($until: tablet) {
    min-height: 105px;
    .branding {
      right: 19px;
      width: 35px;
      height: 22px;
    }
    .player {
      top: 8px;
      right: 50px;
      height: 110px;
      width: 284px;
      .player__circle {
        height: 110px;
        width: 110px;
      }
    }
    .episode-info {
      .episode-info__heading {
        font-size: 22px;
        line-height: 22px;
      }
    }
    .episode-info_full {
      font-size: 12px;
      height: 24px;
      line-height: 24px;
      padding-left: 12px;
      padding-right: 28px;
      margin: 12px 0 26px;
      border-radius: 15px;
      .episode-info__arrow {
        top: 1px;
        right: 8px;
      }
    }
    .subscription {
      font-size: 11px;
      padding-bottom: 0;
      &__icon {
        width: 12px;
        height: 16px;
        top: 4px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      &__itunes,
      &__download {
        &:after {
          height: 18px;
          top: 1px;
          margin: 0 5px;
        }
      }
    }
  }

  @include mq($until: phablet) {
    height: auto;
    min-height: auto;
    width: auto;
    padding: 12px;
    .branding {
      top: 8px;
      right: 9px;
    }

    .player {
      top: 45px;
      left: -1px;
      right: 0;
      bottom: auto;
      height: 140px;
      width: 362px;
      margin: 24px 0 16px;
      .player__circle {
        height: 140px;
        width: 140px;
      }
    }

    .episode-info {
      position: static;
      top: 140px;
      left: 0;
      padding-top: 0px;
      width: auto;
      margin-top: -3px;
      margin-left: 0;
    }
    .episode-info_full {
      margin-top: 170px;
      z-index: 400;
    }

    .subscription {
      position: absolute;
      bottom: 0;
      left: 12px;
    }

    .circles {
      top: 140px;
      left: -120px;
      right: -120px;
    }
  }

  @include mq($until: mobileLandscape) {
    .player {
      top: 40px;
      height: 115px;
      width: 300px;
      margin: 24px 0 16px;
      .player__circle {
        height: 115px;
        width: 115px;
      }
    }

    .episode-info {
      margin-left: -12px;
    }
    .episode-info_full {
      margin-top: 145px;
    }

    .subscription {
      left: 2px;
    }

    .circles {
      top: 125px;
    }

  }


  h1, h2 {
    display: inline;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

}

