// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-background: #333;

@import 'shared/_imports';

@include base(sos-thrasher, $c-background);
.summer-of-sport__wrapper{
	width: 100%;
  overflow: hidden;
}

// super specific thing that could be a mixin instead?
/*section#the-citadel.fc-container.fc-container--thrasher.fc-container--has-toggle {
  background-color: #333;
}

section#the-citadel a.fc-trail__count.fc-trail__count--commentcount {
  display: none !important;
}

#the-citadel.fc-container--thrasher{
  .fc-container__inner{
    overflow: visible;

    .fc-container__body{
      .fc-slice-wrapper{
        ul{
          overflow: visible;
        }
        .facia-snap{
          overflow: visible;
        }
      }
    }
  }
}*/


#sos-thrasher {
  background-color: #0D7CAD;
  width: auto;
  position: relative;
  min-height: 250px;
  .branding {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 52px;
    height: 33px;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .player {
    display: none;
    height: 140px;
    width: 362px;
    white-space: nowrap;
    position: absolute;
    top: 70px;
    right: 40px;
    // margin: 0 80px 28px auto;
    background-color: transparent;
    .player__circle {
      padding: 1px;
      display: inline-block;
      height: 110px;
      width: 110px;
      position: absolute;
      top: 0;
      svg {
        height: 100%;
        width: 100%;
      }
    }
    .player__name {
      left: 40%;
      z-index: 310;
    }

    .player__playing {
      left: 59.5%;
      z-index: 19;
      transform: scale(0.97,0.97);
      opacity: 0;
      transition: opacity 160ms, transform 160ms;
    }

    .player__play {
      cursor: pointer;
      left: 59.5%;
      z-index: 310;
      opacity: 1;
      transform: scale(1,1);
      transition: opacity 240ms, transform 240ms;
      &:hover {
        opacity: 0.95;
      }
    }
  }
  &[data-playing] .player {
    .player__play {
      transform: scale(0.92,0.92);
      opacity: 0;
    }
    .player__playing {
      transform: scale(1,1);
      opacity: 1;
    }
  }

  .episode-info {
    width: 400px;
    padding-top: 5px;
    margin-left: 20px;
    position: relative;
    z-index: 300;
    .episode-info__heading {
      display: block;
      font-size: 35px;
      line-height: 35px;
      font-family: 'Guardian Egyptian Web', serif;
      font-weight: 800;
      .episode-info__kicker {
        display: block;
        color: #fff;
      }
      .episode-info__title {
        color: #BEE202;
      }
    }
  }

  .episode-info__links {
    margin-top: 30px;
    color: #fff;
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    
    .episode-info_title {
      font-size: 22px;
    }
    .episode-info_full {
    font-size: 18px;

    &:hover {
        text-decoration: underline;
        } 
    }
    .episode-info__label {
      margin-left:28px;
    }
    .episode-info__arrow {
      position: absolute;
      left: 1px;
      top: 2px;
      width: 20px;
      height: auto;
      svg {
        width: 100%;
        height: 100%;
      }
    }
   
  }

  .subscription {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-family: 'Guardian Text Sans Web';
    font-size: 13px;
    padding-bottom: 2px;
    color: #ddd;
    z-index: 300;
    &__icon,
    &__itunes,
    &__download,
    &__feed {
      display: inline-block;
    }
    &__icon {
      position: relative;
      top: 2px;
      margin-right: 1px;
    }
    &__itunes,
    &__download {
      &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: #ccc;
        opacity: 0.8;
        vertical-align: top;
        position: relative;
        top: 2px;
        margin: 0 6px;
      }
    }
  }


.balls-container {
  width: 100%;

  .all-balls {
    position:absolute;
    bottom:-200px;
  }

  #frame {
    display: none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  #figure {
    width: 450px;
    position: absolute;
    right: 25%;
    bottom: -660px;

    -webkit-animation:move-figure 3s 4.2s forwards ;
    -moz-animation:move-figure 3s 4.2s forwards ;
    animation:move-figure 3s 4.2s forwards ;
  }


   #tennis {
    right:55%;
    width: 100px;

     -webkit-animation:spin-reverse 2s linear forwards, bounce-tennis 2s forwards  ;
    -moz-animation:spin-reverse 2s  linear forwards, bounce-tennis 2s forwards ;
    animation:spin-reverse 2s linear forwards, bounce-tennis 2s forwards ;

   }

   #tennis-two {
    right:70%;
    width: 100px;

     -webkit-animation:spin-reverse 2s 3.3s linear forwards, bounce-tennis-two 2s 3.3s forwards  ;
    -moz-animation:spin-reverse 2s 3.3s linear forwards, bounce-tennis-two 2s 3.3s forwards ;
    animation:spin-reverse 2s 3.3s linear forwards, bounce-tennis-two 2s 3.3s forwards ;

   }

   #basketball {
    right:45%;
    width: 120px;

    -webkit-animation:spin 2s 1.5s linear forwards, bounce-basket 2s 1.5s forwards  ;
    -moz-animation:spin 2s 1.5s linear forwards, bounce-basket 2s 1.5s forwards ;
    animation:spin 2s 1.5s linear forwards, bounce-basket 2s 1.5s forwards ;

   }

   #pool {
    right:40%;
    width: 80px;

    -webkit-animation:spin-reverse 2s 2.2s linear forwards, bounce-pool 2s 2.2s forwards;
    -moz-animation:spin-reverse 2s 2.2s linear forwards, bounce-pool 2s 2.2s forwards;
    animation:spin-reverse 2s 2.2s linear forwards, bounce-pool 2s 2.2s forwards;

   }

   #baseball {
    right:5%;
    width: 80px;

    -webkit-animation:spin-reverse 2s 2.5s linear forwards, bounce-base 2s 2.5s forwards;
    -moz-animation:spin-reverse 2s 2.5s linear forwards, bounce-base 2s 2.5s forwards;
    animation:spin-reverse 2s 2.5s linear forwards, bounce-base 2s 2.5s forwards;

   }

   #football {
    right:60%;
    width: 80px;

    -webkit-animation:spin-reverse 2s 3s linear forwards, bounce-foot 2s 3s forwards;
    -moz-animation:spin-reverse 2s 3s linear forwards, bounce-foot 2s 3s forwards;
    animation:spin-reverse 2s 3s linear forwards, bounce-foot 2s 3s forwards;

   }

   #golf {
    right:80%;
    width: 50px;

    -webkit-animation:spin 2s 3.1s linear forwards, bounce-golf 2s 3.1s forwards  ;
    -moz-animation:spin 2s 3.1s linear forwards, bounce-golf 2s 3.1s forwards ;
    animation:spin 2s 3.1s linear forwards, bounce-golf 2s 3.1s forwards ;
  
   } 

   #ping {
    right:25%;
    width: 30px;

    -webkit-animation:spin 2s 3.8s linear forwards, bounce-ping 2s 3.8s forwards  ;
    -moz-animation:spin 2s 3.8s linear forwards, bounce-ping 2s 3.8s forwards ;
    animation:spin 2s 3.8s linear forwards, bounce-ping 2s 3.8s forwards ;
  
   }

}

/****** Animation Keyframes *******/


/****** Rotation *******/

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg);} 
  }
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg);} 
  }
@keyframes spin { 
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);} 
  }


@-moz-keyframes spin-reverse { 
  100% { -moz-transform: rotate(-360deg);} 
  }
@-webkit-keyframes spin-reverse { 
  100% { -webkit-transform: rotate(-360deg);} 
  }
@keyframes spin-reverse { 
  100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg);} 
  }


/****** Tennis *******/

@-webkit-keyframes bounce-tennis {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:145px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 0%; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-tennis {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:145px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 0%; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-tennis {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:145px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 0%; animation-timing-function:ease-in;  }
    
}



@-webkit-keyframes bounce-tennis-two {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:145px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: -30%; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-tennis-two {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:145px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: -30%; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-tennis-two {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:145px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: -30%; animation-timing-function:ease-in;  }
    
}


/****** Basketball *******/

@-webkit-keyframes bounce-basket {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    33.333%  { top:135px; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:10%; animation-timing-function:ease-out; }
}

@-moz-keyframes bounce-basket {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    33.333%  { top:135px; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:10%; animation-timing-function:ease-out; }
}

@keyframes bounce-basket {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    33.333%  { top:135px; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:10%; animation-timing-function:ease-out; }
}


/****** Pool *******/

@-webkit-keyframes bounce-pool {
    0%   { top:-2000px; animation-timing-function:ease-in;  }
    90%  { top:175px; animation-timing-function:ease-out; }
    95%  { top:80px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:35%; animation-timing-function:ease-out; }
    
}

@-moz-keyframes bounce-pool {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    33.333%  { top:175px; animation-timing-function:ease-out; }
    66.666%  { top:80px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:35%; animation-timing-function:ease-out; }
    
}

@keyframes bounce-pool {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    33.333%  { top:175px; animation-timing-function:ease-out; }
    66.666%  { top:80px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:35%; animation-timing-function:ease-out; }
    
}


/****** Baseball *******/

@-webkit-keyframes bounce-base {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:175px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 100%; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-base {
     0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:175px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 100%; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-base {
     0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:175px; animation-timing-function:ease-out; }
    100%  { top:-200px; right: 100%; animation-timing-function:ease-in;  }
    
}

/****** Football *******/

@-webkit-keyframes bounce-foot {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    33.333%  { top:165px; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-50%; animation-timing-function:ease-out; }
}

@-moz-keyframes bounce-foot {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    33.333%  { top:165px; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-50%; animation-timing-function:ease-out; }
}

@keyframes bounce-foot {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    33.333%  { top:165px; animation-timing-function:ease-out; }
    66.666%  { top:-35px; animation-timing-function:ease-in;  }
    100%  { top:250px; right:-50%; animation-timing-function:ease-out; }
}


/****** Golf *******/

@-webkit-keyframes bounce-golf {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:225px; animation-timing-function:ease-out; }
    100%  { top:-250px; right: -40%; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-golf {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:225px; animation-timing-function:ease-out; }
    100%  { top:-250px; right: -40%; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-golf {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:225px; animation-timing-function:ease-out; }
    100%  { top:-250px; right: -40%; animation-timing-function:ease-in;  }
    
}


/****** Ping *******/

@-webkit-keyframes bounce-ping {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:220px; animation-timing-function:ease-out; }
    100%  { top:-100px; right: 80%; animation-timing-function:ease-in;  }
    
}

@-moz-keyframes bounce-ping {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:220px; animation-timing-function:ease-out; }
    100%  { top:-100px; right: 80%; animation-timing-function:ease-in;  }
    
}

@keyframes bounce-ping {
    0%   { top:-200px; animation-timing-function:ease-in;  }
    50%  { top:220px; animation-timing-function:ease-out; }
    100%  { top:-100px; right: 80%; animation-timing-function:ease-in;  }
    
}

/****** Figure Move In *******/


@keyframes move-figure {
  from {bottom: -660px;} 
  to{bottom:-260px;}
}

@-moz-keyframes move-figure {
  from {bottom: -660px;} 
  to{bottom:-260px;}
}

@-webkit-keyframes move-figure {
  from {bottom: -660px;} 
  to{bottom:-260px;}
}






  @include mq($until: wide) {
    .branding {
      right: 20px;
    }
    .player {
      right: 80px;
    }
    .episode-info {
      margin-left: 170px;
    }
    .subscription {
      left: 182px;
    }
  }

  @include mq($until: leftCol) {
    .branding {
      right: 18px;
    }
    .player {
      right: 64px;
    }
    .episode-info {
      margin-left: 10px;
    }
    .subscription {
      left: 23px;
    }
  }

  @include mq($until: desktop) {
    min-height: 120px;
    .branding {
      right: 16px;
      width: 41px;
      height: 26px;
    }
    .player {
      right: 51px;
      height: 130px;
      width: 336px;
      .player__circle {
        height: 130px;
        width: 130px;
      }
    }
    .episode-info {
      .episode-info__heading {
        font-size: 26px;
        line-height: 26px;
      }
    }
    .subscription {
      font-size: 12px;
      padding-bottom: 1px;
    }
  }

  @include mq($until: tablet) {
    min-height: 105px;
    .branding {
      right: 19px;
      width: 35px;
      height: 22px;
    }
    .player {
      top: 8px;
      right: 50px;
      height: 110px;
      width: 284px;
      .player__circle {
        height: 110px;
        width: 110px;
      }
    }
    .episode-info {
      .episode-info__heading {
        font-size: 22px;
        line-height: 22px;
      }
    }
    .episode-info_full {
      font-size: 12px;
      height: 24px;
      line-height: 24px;
      padding-left: 12px;
      padding-right: 28px;
      margin: 12px 0 26px;
      border-radius: 15px;
      .episode-info__arrow {
        top: 1px;
        right: 8px;
      }
    }
    .subscription {
      font-size: 11px;
      padding-bottom: 0;
      &__icon {
        width: 12px;
        height: 16px;
        top: 4px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      &__itunes,
      &__download {
        &:after {
          height: 18px;
          top: 1px;
          margin: 0 5px;
        }
      }
    }
  }

  @include mq($until: phablet) {
    height: auto;
    min-height: auto;
    width: auto;
    padding: 12px;
    .branding {
      top: 8px;
      right: 9px;
    }

    .player {
      top: 45px;
      left: -1px;
      right: 0;
      bottom: auto;
      height: 140px;
      width: 362px;
      margin: 24px 0 16px;
      .player__circle {
        height: 140px;
        width: 140px;
      }
    }

    .episode-info {
      position: static;
      top: 140px;
      left: 0;
      padding-top: 0px;
      width: auto;
      margin-top: -3px;
      margin-left: 0;
    }
    .episode-info_full {
      margin-top: 170px;
      z-index: 400;
    }

    .subscription {
      position: absolute;
      bottom: 0;
      left: 12px;
    }

    .circles {
      top: 140px;
      left: -120px;
      right: -120px;
    }
  }

  @include mq($until: mobileLandscape) {
    .player {
      top: 40px;
      height: 115px;
      width: 300px;
      margin: 24px 0 16px;
      .player__circle {
        height: 115px;
        width: 115px;
      }
    }

    .episode-info {
      margin-left: -12px;
    }
    .episode-info_full {
      margin-top: 145px;
    }

    .subscription {
      left: 2px;
    }

    .circles {
      top: 125px;
    }

  }


  h1, h2 {
    display: inline;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

}

