// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-black: #333;
$c-yellow: #fb0;
$c-white: #fff;

@include base(the-mother-load, $c-yellow);

#the-mother-load {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
}

.the-mother-load__wrapper {
    overflow: visible;

    @include mq(tablet) {
        height: 340px;
        display: flex;
        overflow: hidden;
    }

    @include mq(desktop) {
        height: 320px;
    }
}

.the-mother-load__content {
    position: relative;
    height: 100%;
    padding: 6px 0;
    flex-shrink: 0;
    box-sizing: border-box;

    @include mq(tablet) {
        width: 360px;
        padding: 6px 20px;
    }

    @include mq(desktop) {
        width: 500px;
    }
}

.the-mother-load__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    font-size: 28px;
    line-height: 1.1;

    @include mq(desktop) {
        font-size: 44px;
        line-height: 1.1;
    }
}

.the-mother-load__description {
    font-family: 'Guardian Text Egyptian Web';
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 24px;

    @include mq(tablet) {
        margin-bottom: 14px;
    }

    @include mq(desktop) {
        font-size: 16px;
    }
}

.the-mother-load__goal {
    margin-bottom: 4px;
}

.the-mother-load__count {
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    font-size: 24px;
    line-height: 1.1;
    color: #333;
    display: block;
}

.the-mother-load__count-label {
    font-family: 'Guardian Text Egyptian Web';
    font-size: 14px;
    line-height: 1.4;
    display: block;

    @include mq(desktop) {
        font-size: 16px;
    }
}

.the-mother-load__progress {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 6px;
}

.the-mother-load__filled-progress {
    background-color: $c-white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 3s cubic-bezier(0.25, 0.55, 0.2, 0.85);
}

.the-mother-load__progress-labels {
    position: relative;
    width: 100%;
    height: 16px;
}

.the-mother-load__label {
    font-family: 'Guardian Text Sans Web';
    font-size: 14px;
    color: $c-black;
    position: absolute;
    top: 5px;
}

.the-mother-load__label--goal {
    right: 0;
}

a.the-mother-load__button {
    font-family: 'Guardian Text Sans Web';
    font-size: 14px;
    border-radius: 16px;
    padding: 5px 32px 4px 12px;
    background-color: $c-black;
    color: $c-yellow;
    display: inline-block;
    margin-top: 6px;

    @include mq(tablet) {
        position: absolute;
        bottom: 12px;
        left: 20px;
        margin-top: 10px;
    }

    &:hover {
        background-color: darken($c-black, 5%);
        text-decoration: none;
    }
}

.the-mother-load__icon {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;

    path {
        fill: $c-yellow;
    }
}

.the-mother-load__image {
    background-image: url('@@assetPath@@/image.jpg');
    background-position: center 20%;
    background-size: cover;
    width: 100%;
    position: relative;

    @include mq($until: tablet) {
        padding-top: 60%;
        display: block;
        width: calc(100% + 20px);
        margin-left: -10px;
    }
}

.the-mother-load__caption {
    position: absolute;
    bottom: 6px;
    left: 10px;
    right: 10px;
    font-family: 'Guardian Text Sans Web';
    font-size: 14px;
    color: $c-white;
    opacity: .7;
    line-height: 1.2;
}

.the-mother-load__image-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.the-mother-load__countdown {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    padding: 4px 0px 0px;
}

.the-mother-load__countdown__number {
    color: #fff;
    font-size: 48px;
    line-height: .9;
    display: block;
}

.the-mother-load__countdown__label {
    font-size: 18px;
    line-height: 1.1;
    color: #333;
}
