// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-accent: guss-colour(neutral-1, $pasteup-palette);
$c-background: #5bbfff;
$c-button-text: #fff;
$c-text: #fff;

@include base(localthrasherhole, $c-background);
@include base(manchester-international-festival, $c-background);

a.manchester-international-festival__anchor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300 !important;
}

// BG
.manchester-international-festival__wrapper  {
    background-image: url("@@assetPath@@/noise.png");
    background-repeat: repeat-x;
    background-color: $c-background;
    height:100%;
}

// Type
.manchester-international-festival__type {
    min-height: 140px;
    position: relative;
    z-index: 2;
    padding: 10px 20px;

    @include mq($until: mobileLandscape) {
        min-height: 180px;
        margin-right: 89px;
    }

    @include mq(mobileLandscape) {
        height: 170px;
    }

    @include mq(desktop) {
        height: 220px;
    }

    @include mq(leftCol) {
        height: 250px;
    }
}

.manchester-international-festival__guide {
    font-family: $f-serif-headline;
    color: $c-accent;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    margin: 0;

    @include mq(tablet) {
        font-size: 24px;
        line-height: 28px;
    }
}

.manchester-international-festival__title {
    font-family: $f-serif-headline;
    font-size: 21px;
    line-height: 21px;
    font-weight: 900;
    color: $c-text;

    @include mq(mobileLandscape) {
        font-size: 25px;
        line-height: 25px;
    }

    @include mq(tablet) {
        font-size: 28px;
        line-height: 28px;
    }

    @include mq(desktop) {
        font-size: 42px;
        line-height: 42px;
    }

    @include mq(leftCol) {
        font-size: 50px;
        line-height: 46px;
    }
}

// Images
.cutout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 411px;
    height: 365px;

    & > * {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.cutout__top {
    z-index: 5;
}

.cutout__bottom {
    z-index: 2;
}

.cutout--1 {
    left: 150px;
    top:-50px;
    z-index: 10;
    display:none;

    @include mq(phablet) {
        display:block;
        left: 300px;
        top:-20px;
    }

    @include mq(tablet) {
        left: 310px;
        top: -70px;
    }

    @include mq(desktop) {
        left: 300px;
        top:-40px;
    }
}

.cutout--2 {
    left: 120px;
    top: 170px;
    z-index: 20;

    @include mq($until: mobileLandscape) {
        left: auto;
        right: -60px;
        bottom: 0;
        top: auto;
        width: 200px;
        height: 178px;
    }

    @include mq(mobileLandscape) {
        left: 220px;
        top: 140px;
    }

    @include mq(phablet) {
        display:block;
        left: 400px;
        top: 140px;
    }

    @include mq(tablet) {
        left: 440px;
        top: 140px;
    }

    @include mq(desktop) {
        left: 480px;
        top: 100px;
    }
}

.cutout--3 {
    left: 590px;
    z-index: 5;
    display:none;

    @include mq(desktop) {
        display:block;
    }
}

//circle
.circle {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    left: 450px;
    top: 140px;
    background-image: -moz-radial-gradient(#fff, #fbfbdf);
    background-image: -webkit-gradient(radial, center center, 0, center center, 220, from(#fff), to(#fbfbdf)); /* old */
    background-image: -webkit-radial-gradient(#fff, #fbfbdf); /* new syntax */
    background-image: radial-gradient(#fff, #fbfbdf);
    box-shadow: 0 0 10px 20px #fbfbdf;
    z-index: 1;
    display: none;

    @include mq(tablet) {
        left: 360px;
        top: 200px;
        display: block;
    }

    @include mq(desktop) {
        left: 450px;
        top: 200px;
    }
}

.manchester-international-festival__wave {
    position: absolute;
    right: -60px;
    left: -60px;
    height: 77%;
    bottom: 0;
    background: url("@@assetPath@@/wave.png") repeat-x;
    background-size: 845px;
    opacity: 0.7;
}

.manchester-international-festival__dots {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: url("@@assetPath@@/dots.png");
}

//Button
.button.manchester-international-festival__button {
    position: absolute;
    bottom: 10px;
    background-color: $c-accent;
    color: $c-button-text;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    line-height: 1.95rem;
    z-index: 198;
}

svg.manchester-international-festival__button__icon {
    display: inline-block;
    vertical-align: middle;
    width: 1.175rem;
    height: 1.675rem;
    margin-top: 6px;
    margin-right: -4px;
    margin-left: 10px;
    float: right;
}

.manchester-international-festival__marque {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 20;
}
