// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

@include base(membership-thrasher, #fff);

@mixin stripePosition($top, $left) {
  left: $left;
  top: $top;
}

#membership--thrasher {
  .membership--thrasher {
    &__sripes {
      position: absolute;
      height: 378px;
      width: 96%;

      @include mq($from: tablet) {
        width: 100%;
      }

      @include mq($from: desktop){
        width: 980px;
        height: 288px;
      }
      @include mq($from: leftCol){
        width: 1140px;
      }
      @include mq($from: wide){
        width: 1300px;
      }

      .stripe{
          height: 25px;
          background-color: #E91406;
          width: 212px;
          position: absolute;

          &.grey{
            background-color: #ececec;
          }

          &.one {
            @include stripePosition(10px, 0px);
          }

          &.two {
            @include stripePosition(0px, 395px);
          }

          &.three {
            @include stripePosition(50px, 730px);
          }

          &.four {
            @include stripePosition(50px, 1088px);
          }

          &.five {
            @include stripePosition(263px, 1000px);
          }

          &.six {
            @include stripePosition(154px, 0px);
          }

          &.seven {
            @include stripePosition(262px, -140px);
          }

          &.eight {
            @include stripePosition(202px, 560px);
          }

          &.nine {
            @include stripePosition(158px, 1160px);
          }
      }
    }
    &__wrapper {
      position: relative;
      color: #005689;
    }

    &__headline {
      font-weight: 900;
      font-size: 26px;
      line-height: 28px;
      text-indent: -16px;
      padding: 52px 0 32px 32px;
      padding-left: 32px;
      font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
      display: block;

      @include mq($from: tablet) {
        font-size: 45px;
      }

      span {
        display: block;

        &.we {
          margin-left: 40px;

          @include mq($from: tablet) {
              margin-left: 212px;
              margin-top: 10px;
          }
        }
      }
    }
    &__intro {
      width: 100%;

      @include mq($from: desktop) {
        width: 980px;
      }

      @include mq($from: leftCol) {
        width: 1140px;
      }

      @include mq($from: wide) {
        width: 1300px;
      }

      p {
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        width: 96%;
        margin-left: 4%;

        &:not(.if) {
          @include mq($from: desktop) {
            margin-left: 130px;
          }

          @include mq($from: leftCol) {
            margin-left: 230px;
          }
        }

        @include mq($from: desktop) {
          width: 322px;
          font-size: 19px;
          line-height: 23px;
          margin-left: auto;
          float: left;
        }

        &.if {
          font-weight: 600;

          @include mq($from: desktop) {
            float: right;
            margin-right: 170px;
          }
        }
      }
    }
    &__CTA {
      font-family: "Guardian Sans Web", "Guardian Text Sans Web", sans-serif;
      display: block;
      position: relative;
      height: 76px;
      margin-bottom: 15px;
      clear: both;

      @include mq($from: desktop) {
        width: 414px;
        float: right;
        margin-right: 95px;
        margin-top: -92px;
      }

      .major {
        background-color: #E91406;
        color: #fff;
        height: 36px;
        line-height: 36px;
        border-radius: 36px;
        padding-left: 16px;
        padding-right: 38px;
        position: relative;
        font-weight: 500;
        margin-left: 4%;

        @include mq($from: desktop) {
            float: left;
        }


        &:hover {
          background-color: #d31b0d;
        }
        &:after {
          content: '';
          position: absolute;
          top: 23%;
          right: 9px;
          background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%22172%20360%2020%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M191.64%20370.05l-8.53%208.55-.8-.8%206.16-7.35H172.8v-1.63h15.65l-6.14-7.34.8-.8%208.55%208.55%22%2F%3E%3C%2Fsvg%3E');
          width: 20px;
          height: 19px;
        }
      }
      .minor {
        border-bottom: 1px solid rgba(0, 86, 137, 0.5);
        position: absolute;
        bottom: 0;
        right: 50px;

        @include mq($from: desktop) {
            float: right;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: -30px;
          background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%22284%20401%2026%2026%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(285%20402)%22%3E%3Cellipse%20stroke%3D%22%23005689%22%20cx%3D%2212%22%20cy%3D%2212%22%20rx%3D%2212%22%20ry%3D%2212%22%2F%3E%3Cpath%20fill%3D%22%23005689%22%20d%3D%22M18.1%2012.36l-5.7%205.7-.53-.53%204.1-4.9H5.52v-1.08h10.43l-4.1-4.9.54-.53%205.7%205.7%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
          background-size: 24px 24px;
          background-repeat: no-repeat;
          width: 26px;
          height: 26px;
        }
      }
      .major,
      .minor {
        text-decoration: none;
        display: inline-block;

        @include mq($from: desktop) {
          position: relative;
          display: block;
        }
      }
    }
    &__brand {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

}


@font-face {
  font-family: "Guardian Egyptian Web";
  src: url("https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.eot");
  src: url("https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.ttf") format("truetype"), url("https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.svg#GuardianEgyptianWeb-BoldItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal; }
