// Default breakpoints from Frontend
$mq-breakpoints: ( mobile: 320px, mobileLandscape: 480px, phablet: 660px, tablet: 740px, desktop: 980px, leftCol: 1140px, wide: 1300px);
@import 'shared/_imports';
.fc-container__header__title {
    color: #161616;
}

.fc-container__inner {
    border-top: solid 0.0625rem #FF5B3A!important;
}

#btb-header.fc-container {
    padding-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #fff;
    .fc-container__inner {
        border-top: none;
    }
    .facia-snap {
        overflow: hidden;
        @include mq($until: leftCol) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .beyond-the-blade-header-two__wrapper {
        width: 100%;
        background-color: #f5f5f5;
    }
}

.blade-header {
    &--wrapper {
        @include mq(mobile) {
            height: 390px;
        }
        @include mq(mobileLandscape) {
            height: 310px;
        }
        @include mq(tablet) {
            height: 330px;
        }
        @include mq(desktop) {
            height: 380px;
        }
    }
    &--title {
        height: 40px;
        background-color: #FF5B3A;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        @include mq(tablet) {
            border-right: none;
        }
        @include mq(desktop) {
            border-right: solid 20px #f5f5f5;
        }
        h3 {
            color: #161616;
            font-size: 22px;
            padding-top: 8px;
            font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
            font-weight: 600;
            @include mq(mobile) {
                // display: block;
                margin-left: 10px;
            }
            @include mq(desktop) {
                // display: none;
                margin-left: 20px;
            }
        }
    }
    &--image {
        width: 100%;
        height: 100px;
        background-color: #161616;
        background-image: url('@@assetPath@@/header-bg2.png');
        background-size: cover;
        background-position-y: -13px;
        -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 65%);
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 65%);
        @include mq(tablet) {
            margin-left: 0;
        }
        @include mq(desktop) {
            margin-left: 20px;
        }
    }
    &--copy {
        height: 400px;
        background-color: #161616;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
        -webkit-clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0 100%);
        margin-top: -28px;
        @include mq(mobile) {
            padding: 60px 10px 0 10px;
        }
        @include mq(tablet) {
            padding: 55px 20px 0 20px;
            border-right: none;
        }
        @include mq(desktop) {
            border-right: solid 20px #f5f5f5;
            padding: 50px 0 0 20px;
        }
        @include mq(leftCol) {
            padding-left: 180px;
        }
        @include mq(wide) {
            padding: 52px 0 0 260px;
            padding-left: 260px;
        }
        h2 {
            color: #dcdcdc;
            font-weight: 600;
            @include mq(mobile) {
                font-size: 25px;
                line-height: 25px;
                display: inline-block;
            }
            @include mq(tablet) {
                font-size: 30px;
                line-height: 30px;
            }
            @include mq(desktop) {
                font-size: 35px;
                line-height: 35px;
                display: block
            }
            span {
                color: #FF5B3A;
            }
            &:nth-of-type(2) {
                @include mq(tablet) {
                    margin-left: 0px;
                }
                @include mq(desktop) {
                    margin-left: 159px;
                }
            }
        }
        p {
            font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
            color: #8E8E8E;
            font-size: 16px;
            line-height: 22px;
            margin: 5px 0 10px;
            max-width: 460px;
            @include mq($until: desktop) {
                font-size: 14px;
                line-height: 20px;
            }
        }
        &__CTA {
            color: #FF5B3A;
            background-color: #FF5B3A;
            display: inline-block;
            border: 1px solid #FF5B3A;
            border-radius: 25px;
            padding: 0px 3px 0px 13px;
            &:after {
                height: 30px;
                width: 30px;
                content: '';
                display: block;
                float: right;
                margin-top: -2px;
                margin-left: 0px;
                background-image: url('https://uploads.guim.co.uk/2017/03/06/arrow-black.svg');
                // background-image: url('https://uploads.guim.co.uk/2017/03/06/arrow-red.svg');
                background-size: 50%;
                background-position: center center;
                background-repeat: no-repeat;
            }
            &:hover {
                background-color: #dcdcdc;
                border: 1px solid #dcdcdc;
                & p {
                    color: #161616;
                }
                &:after {
                    height: 30px;
                    width: 30px;
                    content: '';
                    display: block;
                    float: right;
                    margin-top: -2px;
                    margin-left: 0px;
                    background-image: url('https://uploads.guim.co.uk/2017/03/06/arrow-black.svg');
                    background-size: 50%;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
            &:hover p {}
        }
        a {
            text-decoration: none;
        }
        &__CTA p {
            color: #161616;
            display: inline-block;
            margin: 0;
            margin-top: 3px;
            font-size: 14px;
            font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 600;
        }
    }
}
