// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

// @include base('australia-header', #ffffff);

.australia-header__wrapper {
  width: 100%;
}
#australia-header {
  margin-bottom: 0;
  .fc-container__inner {
    margin-top: -6px;
  }
}

#australia-election-2016-header {
  position: relative;
  height: 190px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;

  .strips__logo {
    width: 160px;
    height: 170px;
    overflow: hidden;
    position: absolute;
    left: 174px;
    bottom: 20px;

    &:after {
      position: absolute;
      content: '';
      width: 130px;
      height: 3px;
      background-color: #000;
      left: 14px;
      bottom: 0;
      z-index: 100;
    }
    .strips__logo--box {
      position: absolute;
      bottom: -10px;
      left: 5px;
      z-index: 10;
    }
    .strip__logo {
      animation: australia2016slidedown 1800ms forwards;
      transform: translate3d(0,-200%,0);
    }
    .strips__logo--2,
    .strips__logo--0,
    .strips__logo--1,
    .strips__logo--6 {
      position: absolute;
    }
    .strips__logo--2 {
      animation-delay: 0ms;
      top: 51px;
      left: 19px;
      z-index: 23;
    }
    .strips__logo--0 {
      animation-delay: 150ms;
      top: 65px;
      left: 48px;
      z-index: 22;
    }
    .strips__logo--1 {
      animation-delay: 300ms;
      top: 43px;
      left: 79px;
      z-index: 21;
    }
    .strips__logo--6 {
      animation-delay: 450ms;
      top: 55px;
      left: 110px;
      z-index: 20;
    }
  }

  .logo {
    .logo__election,
    .logo__news,
    .logo__opinion,
    .logo__campaign--trail {
      position: absolute;
      z-index: 5;
    }
    .logo__election {
      left: 334px;
      top: 76px;
    }
    .logo__news {
      top: 121px;
      left: 333px;
    }
    .logo__opinion {
      top: 121px;
      left: 437px;
    }
    .logo__campaign--trail {
      top: 121px;
      left: 576px;
    }
  }


  .illustration__parliament {
    position: absolute;
    z-index: 5;
    right: 30px;
    top: 16px;
  }

  .strips__faded {
    .strips__faded--1a,
    .strips__faded--2a,
    .strips__faded--4a,
    .strips__faded--1b,
    .strips__faded--4b {
      position: absolute;
      animation-iteration-count:infinite;
      animation-timing-function: linear;
      transform: translate3d(0,0,0);
      top: -160px !important;
    }
    .strips__faded--1a {
      animation-name: australia2016shiftdown;
      animation-duration: 9000ms;
      animation-delay: 800ms;
      left: 32px;
      // top: -40px;
    }
    .strips__faded--4a {
      animation-name: australia2016shiftdown;
      animation-duration: 10000ms;
      animation-delay: 8000ms;
      left: 112px;
      // top: 117px;
    }
    .strips__faded--2a {
      animation-name: australia2016shiftdown;
      animation-duration: 12000ms;
      animation-delay: 0;
      left: 592px;
      // top: -45px;
    }
    .strips__faded--1b {
      animation-name: australia2016shiftdown;
      animation-duration: 8000ms;
      animation-delay: 400ms;
      left: 720px;
      // top: 165px;
    }
    .strips__faded--4b {
      animation-name: australia2016shiftdown;
      animation-duration: 18000ms;
      animation-delay: 800ms;
      left: 850px;
      // top: -73px;
    }
  }



  @include mq($until: leftCol) {
    .strips__logo {
      left: 11px;
      // bottom: 20px;
    }

    .logo {
      .logo__election {
        left: 171px;
        // top: 76px;
      }
      .logo__news {
        // top: 121px;
        left: 170px;
      }
      .logo__opinion {
        // top: 121px;
        left: 274px;
      }
      .logo__campaign--trail {
        // top: 121px;
        left: 413px;
      }
    }

    .strips__faded {
      .strips__faded--1a {
        left: 200px;
        top: -60px;
      }
      .strips__faded--4a {
        display: none;
      }
      .strips__faded--2a {
        left: 470px;
        top: -33px;
      }
      .strips__faded--1b {
        left: 640px;
        // top: 165px;
      }
      .strips__faded--4b {
        left: 890px;
        // top: -73px;
      }
    }
  }


  @include mq($until: desktop) {
    // .strips__logo {
    //   left: 11px;
    //   bottom: 20px;
    // }

    // .logo {
    //   .logo__election {
    //     left: 171px;
    //     // top: 76px;
    //   }
    //   .logo__news {
    //     // top: 121px;
    //     left: 170px;
    //   }
    //   .logo__opinion {
    //     // top: 121px;
    //     left: 274px;
    //   }
    //   .logo__campaign--trail {
    //     // top: 121px;
    //     left: 413px;
    //   }
    // }


    .illustration__parliament {
      display: none;
      // right: 30px;
      // top: 16px;
    }

    .strips__faded {
      // .strips__faded--1a {
      //   left: 200px;
      //   top: -60px;
      // }
      // .strips__faded--4a {
      //   display: none;
      // }
      .strips__faded--2a {
        left: 450px;
        // top: -33px;
      }
      .strips__faded--1b {
        left: 700px;
        // top: 165px;
      }
      .strips__faded--4b {
        left: 640px;
        // top: -73px;
      }
    }
  }

  @include mq($until: tablet) {
    height: 120px;
    .strips__logo {
      svg {
        width: 100%;
      }
      width: 112px;
      height: 120px;
      bottom: 20px;

      &:after {
        width: 95px;
        height: 2px;
        left: 8px;
        bottom: 0px;
      }
      .strips__logo--box {
        bottom: -12px;
        left: 2px;
        width: 112px;
      }
      .strips__logo--2 {
        width: 24px;
        top: 17px;
        left: 15px;
      }
      .strips__logo--0 {
        width: 24px;
        top: 26px;
        left: 35px;
      }
      .strips__logo--1 {
        width: 24px;
        top: 12px;
        left: 56px;
      }
      .strips__logo--6 {
        width: 24px;
        top: 20px;
        left: 75px;
      }
    }

    .logo {
      svg {
        width: 100%;
      }
      .logo__election {
        width: 140px;
        left: 124px;
        top: 27px;
      }
      .logo__news {
        width: 68px;
        top: 58px;
        left: 122px;
      }
      .logo__opinion {
        width: 91px;
        top: 58px;
        left: 191px;
      }
      .logo__campaign--trail {
        width: 149px;
        top: 58px;
        left: 283px;
      }
    }

    .strips__faded {
      svg {
        width: 23px;
      }
      .strips__faded--1a {
        left: 170px;
        top: -73px;
      }
      .strips__faded--2a {
        left: 430px;
        top: -70px;
      }
      .strips__faded--4a {
        display: block;
        left: 343px;
        top: 43px;
      }
      .strips__faded--1b {
        left: 331px;
        top: -53px;
      }
      .strips__faded--4b {
        left: 500px;
        top: 40px;
      }
    }
  }

  @include mq($until: mobileLandscape) {
    height: 100px;
    .strips__logo {
      // svg {
      //   width: 100%;
      // }
      width: 75px;
      height: 100px;
      // bottom: 20px;
      left: 0;
      // background: tomato;

      &:after {
        width: 62px;
        height: 2px;
        left: 8px;
        bottom: 0px;
      }
      .strips__logo--box {
        bottom: -13px;
        left: 2px;
        width: 75px;
      }
      .strips__logo--2 {
        // animation-delay: 2000ms;
        // -webkit-animation-delay: -2s; /* Chrome, Safari, Opera */
        width: 16px;
        top: 7px;
        left: 11px;
      }
      .strips__logo--0 {
        width: 16px;
        top: 12px;
        left: 24px;
      }
      .strips__logo--1 {
        width: 16px;
        top: 4px;
        left: 38px;
      }
      .strips__logo--6 {
        width: 16px;
        top: 9px;
        left: 52px;
      }
    }

    .logo {
      svg {
        width: 100%;
      }
      .logo__election {
        width: 94px;
        left: 77px;
        top: 22px;
      }
      .logo__news {
        width: 48px;
        top: 45px;
        left: 76px;
      }
      .logo__opinion {
        width: 63px;
        top: 45px;
        left: 125px;
      }
      .logo__campaign--trail {
        width: 103px;
        top: 45px;
        left: 189px;
      }
    }

    .strips__faded {
      svg {
        width: 16px;
      }
      .strips__faded--1a {
        left: 24px;
        top: -81px;
      }
      .strips__faded--2a {
        left: 105px;
        top: -63px;
      }
      .strips__faded--1b {
        left: 80px;
        top: 44px;
      }
      .strips__faded--4b {
        left: 270px;
        top: -43px;
      }
    }
  }

  .drops {
    // display: none;
    @include mq($until: tablet) {
      .drop svg,
      .drop {
        width: 14px;
      }
    }
    @include mq($until: mobileLandscape) {
      .drop svg,
      .drop {
        width: 10px;
      }
    }
    .drop {
      position: absolute;
      animation-name: australia2016rain;
      animation-duration: 8000ms;
      animation-timing-function: linear;
      animation-iteration-count:infinite;
      transform: translate3d(0,0,0);
      top: -20px;
      left: 45%;
      z-index: 0;

      @for $i from 0 through 12 {
        &:nth-child(#{$i}) {
          left: random(100) + %;
          animation-delay: random(8000) + ms;
        }
      }
    }
  }

}

// @mixin rain-left($value){
//   left: $value;
// }

// @include mq(phablet) {
//     width: $face-size--phablet * 6;
// }


// animation for colour voting strips ( 2 0 1 6 )
@keyframes australia2016slidedown {
  from {
    transform: translate3d(0,-200%,0);
  }

  to {
    transform: translate3d(0,0,0);
  }
}

// animation for faded voting strips
@keyframes australia2016shiftdown {
  from {
    transform: translate3d(0,0,0);
  }

  to {
    transform: translate3d(0,380px,0);
  }
}

// animation for drops
@keyframes australia2016rain {
  from {
    transform: translate3d(0,0,0);
  }

  to {
    transform: translate3d(0,220px,0);
  }
}
