// Default breakpoints from Frontend
$mq-breakpoints: ( mobile: 320px, mobileLandscape: 480px, phablet: 660px, tablet: 740px, desktop: 980px, leftCol: 1140px, wide: 1300px);
@import 'shared/_imports';
// .fc-container {
//     background-color: #333;
// }
// .fc-container__header__title {
//     color: #dcdcdc;
// }
// .fc-container__inner {
//     border-top: solid 0.0625rem #757575!important;
// }
#beyond-the-blade.fc-container {
    padding-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #333;
    .facia-snap {
        overflow: hidden;
        @include mq($until: leftCol) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .beyond-the-blade-thrasher__wrapper {
        width: 100%;
        background-color: #333;
    }
}

.blade-header {
    &--wrapper {
        background-color: #161616;
        padding: 0 20px;
        height: 350px;
        @include mq($until: desktop) {
            height: auto;
        }
        @include mq($until: tablet) {
            height: auto;
        }
        @include mq($until: mobileLandscape) {
            padding-left: 10px;
            padding-right: 10px;
        }
        h3 {
            color: #f4f4f4;
            font-size: 20px;
            margin: 0;
            padding: 10px 0 0 10px;
            border-left: solid 1px #f4f4f4;
            font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
            font-weight: 600;
        }
    }
    &--image {
        width: 510px;
        position: absolute;
        right: -115px;
        top: -35px;
        transform: scale(1, 1);
        @include mq($until: desktop) {
            top: -80px;
            right: -200px;
            transform: scale(.6, .6);
        }
        @include mq($until: tablet) {
            display: none;
        }
    }
    &--copy {
        margin: 10px 0 0 240px;
        width: 520px;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
        @include mq($until: wide) {
            margin-left: 240px;
        }
        @include mq($until: wide) {
            margin-left: 160px;
        }
        @include mq($until: leftCol) {
            margin-left: 0px;
        }
        @include mq($until: desktop) {
            width: 460px;
            padding-bottom: 20px;
            margin: 10px 0px 0px;
        }
        @include mq($until: tablet) {
            width: 100%;
        }
        h2 {
            color: #DCDCDC;
            font-weight: 600;
            font-size: 35px;
            line-height: 35px;
            margin: 0;
            @include mq($until: desktop) {
                font-size: 30px;
                line-height: 30px;
            }
            @include mq($until: phablet) {
                font-size: 25px;
                line-height: 25px;
            }
            span {
                color: #FF5B3A;
            }
            &:nth-of-type(2) {
                margin: 5px 0 10px 130px;
                @include mq($until: phablet) {
                    margin-left: 80px;
                }
                @include mq($until: tablet) {
                    margin-left: 0px;
                }
            }
        }
        p {
            font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
            color: #8E8E8E;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 15px;
            @include mq($until: desktop) {
                font-size: 14px;
                line-height: 20px;
            }
        }
        &__CTA {
            display: inline-block;
            border: 1px solid #FF5B3A;
            background-color: #FF5B3A;
            border-radius: 25px;
            padding: 0px 3px 0px 13px;
            &:after {
                height: 30px;
                width: 30px;
                content: '';
                display: block;
                float: right;
                margin-top: -2px;
                margin-left: 0px;
                background-image: url('https://uploads.guim.co.uk/2017/03/06/arrow-black.svg');
                // background-image: url('https://uploads.guim.co.uk/2017/03/06/arrow-red.svg');
                background-size: 50%;
                background-position: center center;
                background-repeat: no-repeat;
            }
            &:hover {
                background-color: #f4f4f4;
                border: 1px solid #f4f4f4;
            }
        }
        a {
            text-decoration: none;
        }
        &__CTA p {
            color: #161616;
            display: inline-block;
            margin: 0;
            margin-top: 3px;
            font-size: 14px;
            font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 600;
        }
    }
}

.int-header {
    position: relative;
    z-index: 10;
    .inner {
        padding-top: 24px;
        box-sizing: border-box;
    }
}

$animationBaseCount: 0.5;
.int-header__count__number-wrapper {
    display: inline-block;
    position: relative;
    animation-name: wrapperMove;
    animation-duration: ($animationBaseCount * 3) + s;
    animation-delay: $animationBaseCount + s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform: translateY(336px);
    @include mq(mobile) {
        margin-bottom: -66px;
    }
    @include mq(desktop) {
        margin-bottom: -54px;
    }
    .int-header__count__number h5 {
        display: block;
        height: 112px;
        animation-name: fade;
        animation-duration: ($animationBaseCount * 2) + s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        opacity: 0;
    }
    .int-header__count__number h5:nth-of-type(1) {
        animation-delay: $animationBaseCount + s;
        animation-name: firstFade;
        animation-duration: $animationBaseCount + s;
        opacity: 0.1;
    }
    .int-header__count__number h5:nth-of-type(2) {
        animation-delay: $animationBaseCount + s;
        animation-name: firstFade;
    }
    .int-header__count__number h5:nth-of-type(3) {
        animation-delay: ($animationBaseCount * 2) + s;
        animation-name: fadeTwo;
    }
    .int-header__count__number h5:nth-of-type(4) {
        animation-delay: ($animationBaseCount * 3) + s;
        animation-name: lastFade;
        animation-duration: $animationBaseCount + s;
    }
}

@keyframes wrapperMove {
    0% {
        transform: translateY(336px);
    }
    33% {
        transform: translateY(224px);
    }
    66% {
        transform: translateY(112px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes firstFade {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOne {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.35;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeTwo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

@keyframes lastFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.int-header__count {
    margin-top: -320px;
    color: #dcdcdc;
    font-family: "Guardian Egyptian Web", Georgia;
    font-size: 38px;
    line-height: 38px;
    font-weight: 900;
    @include mq(mobile) {
        max-width: 400px;
        font-size: 30px;
        line-height: 35px;
    }
    @include mq(mobileLandscape) {
        max-width: 500px
    }
    @include mq(tablet) {
        max-width: 450px
    }
    @include mq(desktop) {
        font-size: 32px;
        line-height: 32px;
    }
    @include mq(leftCol) {
        max-width: 580px;
        font-size: 35px;
        line-height: 35px;
        margin-left: 160px;
    }
    @include mq(wide) {
        margin-left: 240px;
        padding: 0;
    }
    span.int-header__count__number {
        color: #ff5b3a;
        @include mq(mobile) {
            font-size: 80px;
        }
        @include mq(desktop) {
            font-size: 100px;
        }
        @include mq(leftCol) {
            font-size: 112px;
        }
        // @include mq($until: phablet) {
        //     font-size: 80px;
        // }
    }
}

.int-header__count__words {
    position: relative;
    z-index: 2;
}
