// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#secure-drop.fc-container--thrasher,
#securedrop.fc-container--thrasher {
    background-color: #FFF280;
    // background: #ececec;
    // background-color: rgba(232, 237, 239, 0.5);
    .fc-item {
        // background: #FFFFFF;
        background-color: #ffe500;
        background-color: rgba(#ffe500, 0.5);
        background-color: #FFE500;
    }
}
.secure-drop__wrapper {
    border-top: 1px solid #E6CF00;
    position: relative;
    @include mc(desktop) {
        width: 100%;
    }
    .securedrop {
        max-width: 620px;
        margin: 0 auto;
        @include mc(mobileLandscape) {
            padding: 0 10px;
        }
        @include mc(tablet) {
            padding: 0 20px;
            max-width: none;
        }
        @include mc(leftCol) {
            margin-left: 160px;
        }
        @include mc(wide) {
            margin-left: 240px;
        }
        &__title {
            display: inline-block;
            padding-top: 2px;
            color: #121212;
            float: none;
            width: auto;
            padding-bottom: 9px;
            @include mc(leftCol) {
                padding-bottom: 0;
                position: absolute;
                top: 2px;
                left: 20px;
            }
            &:after {
                display: none;
            }
            &, &:hover {
                text-decoration-skip: ink;
                -webkit-text-decoration-skip: ink;
                -moz-text-decoration-skip: ink;
            }
        }
        &__roundel {
            float: right;
            margin-top: 3px;
            @include mc(tablet) {
                svg {
                    width: 32px;
                    height: 32px;
                }
            }
            @include mc(leftCol) {
                margin-top: 1px;
            }
        }
        &__main {
            display: block;
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            font-family: 'Guardian Egyptian Web',"Guardian Text Egyptian Web",Georgia,serif;
            padding-top: 1px;
            padding-bottom: 18px;
            margin-top: -5px;
            color: #121212;
            @include mc(tablet) {
                font-weight: 200;
                font-size: 28px;
                line-height: 30px;
            }
            @include mc(wide) {
                font-size: 32px;
                line-height: 34px;
            }
            @include mc(leftCol) {
                margin-top: 3px;
            }
            &, &:hover {
                text-decoration: none;
            }
            @include mc(desktop) {
                &:hover {
                    span {
                        border-bottom: 1px solid rgba(#121212, .5);
                    }
                }
            }
            .eyes {
                display: inline-block;
                font-size: 0;
                vertical-align: middle;
                position: absolute;
                top: -29px;
                left: 136px;
                @include mc(tablet) {
                    position: relative;
                    top: auto;
                    left: auto;
                }
                .target {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0x;
                    height: 18px;
                    z-index: 1;
                    transform: translate3d(-50%,-50%,0);
                    &:hover+.eye .inside {
                        top: 50% !important;
                        left: 75% !important;
                    }
                    &:hover+.eye+.eye .inside {
                        top: 50% !important;
                        left: 25% !important;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
                .eye {
                    display: inline-block;
                    position: relative;
                    top: 7px;

                    &+.eye {
                        margin-left: 4px;
                    }
                    .outside {
                        display: block;
                        svg path {
                            stroke: rgba(#E6CF00, .5);
                            stroke-width: 1px;
                        }
                    }
                    .inside {
                        transition: all 400ms ease-in;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate3d(-48%,-50%,0);
                    }
                    svg {
                        display: block;
                    }
                }
            }
            .cta {
                display: inline;
            }
            .btn {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                top: -1px;
                line-height: 30px;
                width: 26px;
                height: 26px;
                @include mc(tablet) {
                    width: 32px;
                    height: 32px;
                }
                border-radius: 100%;
                background-color: #ffffff;
                svg {
                    height: 100%;
                    width: 100%;
                    display: block;
                    path {
                        fill: currentColor;
                    }
                }
            }
            &:hover {
                .btn {
                    background-color: #ffffff;
                    border-color: transparent;
                    // svg path {
                    //     fill: #11212;
                    // }
                }
            }
        }
    }
}