// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#secure-drop.fc-container--thrasher,
#securedrop.fc-container--thrasher {
  & {
    background-color: #3F464A;
  }
    .fc-item {
        background-color: #3F464A;
    }
    @include mc(tablet) {
      margin-bottom: 78px;
      overflow: visible;
      .fc-item,
      .fc-container__inner {
        overflow: visible;
      }
    }
}

.caf-header {
  padding-top: 6px;
  margin: 0 -10px;
  position: relative;
  z-index: 0;
  &:after {
    content: '';
    position: absolute;
    z-index: 5;
    background-color: #fff; 
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
  }
  @include mc(tablet) {
    min-height: 144px;
    margin: 0;
    &:after {
      display: none;
    }
  }
  @include mc(desktop) {
    height: 170px;
  }

  &__logo,
  &__title,
  &__box {
    position: relative;
    z-index: 10;
  }
  &__logo {
    float: right;
    width: 79px;
    margin-right: 10px;
    @include mc(mobileLandscape) {
      margin-right: 20px;
    }
    @include mc(tablet) {
      float: none;
      width: 90px;
      position: absolute;
      top: 6px;
      left: 19px;
    }
    @include mc(desktop) {
      width: 98px;
    }
    @include mc(wide) {
      width: 128px;
    }
  }
  &__title {
    width: 160px;
    margin-left: 10px;
    @include mc(mobileLandscape) {
      margin-left: 20px;
    }
    @include mc(tablet) {
      margin-left: 0;
      width: 197px;
      position: absolute;
      top: 6px;
      left: 128px;
    }
    @include mc(desktop) {
      width: 254px;
      left: 140px;
    }
    @include mc(leftCol) {
      left: 130px;
    }
    @include mc(wide) {
      left: 208px;
    }
  }
  &__box {
    margin: 24px 20px 0 10px;
    @include mc(mobileLandscape) {
      margin: 24px 30px 0 20px;
    }
    border: 3px solid #3F464A;
    background-color: #FFE500;
    font-size: 16px;
    line-height: 20px;
    padding: 3px 5px 12px;
    font-weight: bold;

    @include mc(tablet) {
      margin: 0 20px 0 380px;
      padding-bottom: 6px;
      transform: translateY(54px);
    }

    @include mc(desktop) {
      margin-top: 48px;
      margin-left: 500px;
    }
    @include mc(leftCol) {
      margin-left: 660px;
      width: 444px;
    }
    @include mc(wide) {
      margin-left: 740px;
    }
    &__more {
      @include mc(tablet) {
        display: none;
      }
      cursor: pointer;
      font-family: 'Guardian Text Sans Web', sans-serif;
      font-size: 14px;
      font-weight: bold;
      i {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        display: inline-block;
        background-color: currentColor;
        vertical-align: middle;
        margin-right: 3px;
        position: relative;
        bottom: 1px;
        &:before,
        &:after {
          content: '';
          position: absolute;
          background-color: #ffe500;
          display: block;
        }
        &:before {
          width: 9px;
          height: 1px;
          top: 7px;
          left: 3px;
        }
        &:after {
          width: 1px;
          height: 9px;
          top: 3px;
          left: 7px;
        }
      }
    }
  }
}