// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-background: #e3e3e3;

@mixin backgroundimage($background, $url, $size){
    background: $background;
    background-image: $url;
    background-size: $size;
}

@import 'shared/_imports';

@include base(voices-of-america, $c-background);

.voices-of-america__wrapper{
    width: 100%;

    @include mq($until: phablet){
            overflow: visible;
        }
}

section#voices-of-america a.fc-trail__count.fc-trail__count--commentcount {
  display: none !important;
}

section#voices-of-america .fc-container__inner .fc-container__body {
  margin-top: 0;
}

#voices-of-america {
    padding-top: 0;
    margin-bottom: 0;
}

section#voices-of-america.fc-container--thrasher {
    .fc-container__inner{
        overflow: visible;

        .fc-container__body .fc-slice-wrapper{
            ul{
                overflow: visible;
            }

            .facia-snap{
                overflow: visible;

                @include mq($until: tablet) {
                    padding:0;
                }
            }
        }
    }
}

.voices-of-america--wrapper {
    @include backgroundimage(no-repeat, url('@@assetPath@@/texture.png'), cover); 
    background-position: center;
    font-family: $f-serif-headline;
    width: 1300px;
    height: 350px; 

    @include mq($until: desktop){
        height: 280px;
    }

    @include mq($until: tablet){
        width: 100%;
    }

    @include mq($until: phablet){
        height: 93px;
    }  

    @include mq($until: mobileLandscape){
        height: 88px;
    }

    .voices-of-america__header {
        display: inline-block;
        vertical-align: top;
        margin: 20px 0 0 20px;
        width: 400px;

        @include mq($until: leftCol){
            width: 330px;
        }

        @include mq($until: desktop){
            width: 270px;
            margin-top: 40px;
        }

        @include mq($until: tablet){
            width: 220px;
            margin:60px 0 0 30px;
        }

        @include mq($until: phablet){
            width: 100%;
            margin: 10px 0 0 10px;
        }

        .voices-of-america__logo {
            width: 80%;

            @include mq($until: phablet){ 
                display:inline-block;
                width:160px;
            }

            @include mq($until: mobileLandscape){ 
                display:inline-block;
                width:130px;
            }
        }

        .star-1, .star-2, .star-3 {
            -webkit-animation: fadeinout 1.5s linear infinite;
            animation: fadeinout 1.5s linear infinite;
        }

        .star-2 {
            -webkit-animation-delay: .2s; /* Chrome, Safari, Opera */
            animation-delay: .2s;
        }

        .star-3 {
            -webkit-animation-delay: .4s; /* Chrome, Safari, Opera */
            animation-delay: .4s;
        }

        h2 {
            width: 75%;
            margin-left: 60px;
            margin-top: -20px;
            font-size: 20px;
            line-height: 22px;

            @include mq($until: leftCol){
                width: 90%;
            }
            
            @include mq($until: desktop){
                font-size: 16px;
                line-height: 18px;
                margin-left: 50px;
                width: 90%;
            }
            
            @include mq($until: tablet){
                margin-left: 35px;
                width: 105%;
            }
        
            
            @include mq($until: phablet){
                margin: 0 0 0 10px;
                width: 50%;
                display: inline-block;
                vertical-align: top;
            }

            @include mq($until: mobileLandscape){
                font-size: 14px;
                line-height: 16px;
                margin: 0 0 0 10px;
                width: 48%;
                display: inline-block;
                vertical-align: top;
            }
        }
    }

    .voices-of-america__map {
        display: inline-block;
        margin: -10px 0 0 80px;
        width: 585px;

        @include mq($until: leftCol){
            width: 500px;
            margin: 20px 0 0 50px;
        }
        
        @include mq($until: desktop){
            width: 400px;
            margin-left: 25px;
        }
        
        @include mq($until: tablet){
            width: 350px;
            margin: 32px 0 0 30px;
        }
        @include mq($until: phablet){
            display: none;
        }
        
    }

}
@keyframes fadeinout {
    0%,100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}

/******** Title and page overrides     ********/
.fc-container__header__title  {
    color: #fff;
}

.fc-container__header__title span {
    display: inline-block;
    @include backgroundimage(no-repeat center, url('@@assetPath@@/slant.png'), 100% 100%);
    padding: 5px 10px;
    margin-left: -10px;
}

.fc-container__header__title a:hover span{
    color: #fff;
    text-decoration: underline;
}

.fc-container .fc-container__inner,
.fc-container .facia-container__inner {
    border-top: 0.0625rem solid #214583;
}

.fc-container--thrasher .fc-container__inner,
.fc-container--thrasher .facia-container__inner {
    border-top: none;
}
