// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$sport-dark: #005689;
$sport-main: #0084C6;
$sport-invert: #00B2FF;
$sport-light: #90DCFF;

.wc-2018-next-up__wrapper {
  background-color: #fff;
  margin: 0 -10px;
  padding: 0 10px;
  @include mq(mobileLandscape) {
    padding: 0 20px;
  }
  @include mq(tablet) {
    width: 100%;
    margin: 0;
  }
}

section#world-cup-2018-next-up,
section#world-cup-2018-upcoming-fixtures {
  position: relative;
  z-index: 1030;
  background-color: transparent;
  .fc-container__inner,
  .facia-snap,
  .fc-slice {
    overflow: visible !important;
  }
  section[id*=world-cup] + & {
    margin-top: -6px;
  }
  section[id*=world-cup].fc-container--rolled-up + & {
    display: none;
  }
}


.wc-next-up {
  position: relative;
  font-size: 16px;
  font-family: 'Guardian Egyptian Web', 'Guardian Text Egyptian Web', Georgia, serif;
  padding-top: 12px;
  @include mq(leftCol) {
    padding-top: 6px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -10px;
    height: 8px;
    background-image: url(https://uploads.guim.co.uk/2018/06/08/classy-sports-bar.svg);
    @include mq(mobileLandscape) {
      right: -20px;
    }
    @include mq(leftCol) {
      left: 160px;
    }
    @include mq(wide) {
      left: 240px;
    }
  }

  &__title {
    user-select: none;
    @include mq(leftCol) {
      position: absolute;
      margin-top: 9px;
    }
    
    &__next-up {
      display: inline-block;
      color: #fff;
      background-color: $sport-dark;
      line-height: 22px;
      padding: 0 3px 2px 4px;
      font-weight: 700;
    }
    
    &__selected-team {
      display: inline-block;
      margin-left: 1px;
      cursor: pointer;
      @include mq($from: leftCol, $to: wide) {
        display: block;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: $sport-dark;
        border-radius: 100%;
        background-image: url(https://uploads.guim.co.uk/2018/06/12/chev.svg);
        margin-left: 3px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 1px;

      }
      &.open:after {
        transform: rotate(180deg);
        background-color: $sport-main;
      }
      &:hover:after {
        background-color: $sport-main;
      }
    }
    
    &__team-select {
      z-index: 1020;
      width: 144px;
      height: 264px;
      background-color: #fff;
      box-shadow: 0 0 1px rgba(0,0,0,0.5);
      position: absolute;
      border-radius: 3px;
      transform: translate(32px, 3px);
      font-family: 'Guardian Text Sans Web', 'Guardian Sans Web', sans-serif;
      padding: 3px 0;
      font-size: 16px;
      color: #767676;
      overflow-y: scroll;
      display: none;
      .wc-next-up__title__selected-team.open + & {
        display: block;
      }
      &__option {
        line-height: 28px;
        padding-bottom: 8px;
        padding-left: 28px;
        position: relative;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          top: -1px;
          left: 28px;
          right: 0;
          width: auto;
          display: block;
          height: 1px;
          background-color: #ededed;
          pointer-events: none;
        }
        &:first-child:before {
          display: none;
        }
        &:hover {
          background-color: rgba($sport-light, 0.5);
          color: #333;
          &:before {
            display: none;
          }
        }
        
        &.selected {
          color: $sport-dark;
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(https://uploads.guim.co.uk/2018/06/12/chek.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 26px;
            height: 26px;
          }
        }
      }
    }
    
    
  }
  
  &__matches {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq(desktop) {
      justify-content: flex-start;
    }
    @include mq(leftCol) {
      margin-left: 160px;
    }
    @include mq(wide) {
      margin-left: 240px;
    }
  }
  
  &__match {
    margin-top: 12px;
    flex-basis: calc(50% - 7px);
    border-top: 1px solid #EDEDED;
    border-left: 1px solid #ededed;
    padding: 0 3px 0;
    background-color: #fff;
    position: relative;
    z-index: 1;

    @include mq(tablet) {
      flex-basis: calc(25% - 20px);
      border-left: 0;
    }
    @include mq(desktop) {
      flex-basis: 134px;
      margin-right: 20px;
    }
    
    &:hover {
      // background-color: #f6f6f6;
      // border-color: $sport-light;
      // border-color: #999;
    }
    
    &__timing {
      font-size: 12px;
      font-family: 'Guardian Text Sans Web', 'Guardian Sans Web', sans-serif;
      &[class*=weekday] {
        color: #767676;
      }
      &:before {
        content: attr(data-time);
      }
      &:after {
        color: #767676;
      }
      &.today:after {
        content: ' today';
      }
      &.tomorrow:after {
        content: ' tomorrow';
      }
      &.weekday_1:after {
        content: ' on Monday';
      }
      &.weekday_2:after {
        content: ' on Tuesday';
      }
      &.weekday_3:after {
        content: ' on Wednesday';
      }
      &.weekday_4:after {
        content: ' on Thursday';
      }
      &.weekday_5:after {
        content: ' on Friday';
      }
      &.weekday_6:after {
        content: ' on Saturday';
      }
      &.weekday_7:after {
        content: ' on Sunday';
      }
    }

    &__teams {
      font-style: italic;
      font-weight: 400;
      line-height: 16px;
      em {
        font-weight: 700;
        font-style: normal;
        &:first-child {
          margin-right: 1px;
        }
        &:last-child {
          margin-left: 1px;
        }
      }
    }
    
    &:last-child {
      margin-right: 0;
    }
    
    &:nth-child(n+5) {
      display: none;
      @include mq(desktop) {
        display: block;
      }
    }
    
    &.live {
      border-color: $sport-invert;
      .wc-next-up__match__timing {
        color: $sport-main;
        font-weight: 700;
        &:before {
          color: #121212;
        }
        &:after {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: $sport-main;
          animation: slow-blink 2.2s linear infinite;
          position: relative;
          top: 0;
          z-index: 2;
          @keyframes slow-blink {
            0%, 50% {
              opacity: 1;
            }
            10%, 40% {
              opacity: 0;
            }
          }
        }
      }
    }
    
    &__link.link {
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      &:hover ~ .wc-next-up__match__teams {
        color: $sport-main;
      }
    }
  }
  
  &__full-schedule.link {
    display: inline-block;
    color: $sport-dark;
    font-weight: 700;
    margin-top: 12px;
    &:after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      background-color: currentColor;
      border-radius: 100%;
      position: relative;
      left: 3px;
      top: 6px;
      background-image: url(https://uploads.guim.co.uk/2018/06/08/a.svg);
      background-repeat: no-repeat;
      background-position: 5px 5px;
    }
    &:hover {
      color: $sport-main;
      text-decoration: none;
    }

    @include mq(leftCol) {
      margin-left: 160px;
    }
    @include mq(wide) {
      margin-left: 240px;
    }
  }
  
}

