// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#email-sign-up.fc-container--thrasher {
	background: #fff
}
.guardian-today-au__wrapper {
	background: #fff;
	height: 280px;
	width: 100%
}
@media all and (min-width:46.25em) {
	.guardian-today-au__wrapper {
		height: 190px
	}
}
@media all and (min-width:61.25em) {
	.guardian-today-au__wrapper {
		height: 220px
	}
}
.ZCK-GT--wrapper {
	background-color: #00B2FF;
	color: #fff;
	display: block;
	font-family: 'Guardian Egyptian Web';
	font-weight: 900;
	height: 280px;
	overflow: hidden;
	position: relative;
	transition: background-color .3s ease-in-out
}
.ZCK-GT--wrapper:hover {
	background-color: #00a0e6
}
@media all and (min-width:46.25em) {
	.ZCK-GT--wrapper {
		height: 190px
	}
}
@media all and (min-width:61.25em) {
	.ZCK-GT--wrapper {
		height: 160px;
		margin-top: 60px;
		overflow: visible
	}
}
.ZCK-GT--link {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	background: 0 0;
	position: absolute!important;
	opacity: 0;
	z-index: 5!important
}
.ZCK-GT--logo {
	bottom: 6px;
	left: 10px;
	position: absolute;
	z-index: 3
}
@media all and (min-width:30em) {
	.ZCK-GT--logo {
		left: 20px
	}
}
@media all and (min-width:46.25em) and (max-width:61.24em) {
	.ZCK-GT--logo {
		top: 6px
	}
}
@media all and (min-width:61.25em) {
	.ZCK-GT--logo {
		bottom: 6px;
		left: 30px
	}
}
.ZCK-GT--logo svg {
	height: 36px;
	width: 97px
}
.ZCK-GT--envelope {
	display: block;
	bottom: 0;
	right: -50px;
	position: absolute;
	height: 103px;
	width: 220px
}
@media all and (min-width:30em) {
	.ZCK-GT--envelope {
		right: 20px
	}
}
@media all and (min-width:46.25em) {
	.ZCK-GT--envelope {
		left: 20px;
		right: auto
	}
}
@media all and (min-width:61.25em) {
	.ZCK-GT--envelope {
		height: 216px;
		width: 460px
	}
}
@media all and (min-width:71.25em) {
	.ZCK-GT--logo {
		left: 20px
	}
	.ZCK-GT--logo svg path {
		fill: #fff
	}
	.ZCK-GT--envelope {
		left: 180px
	}
}
@media all and (min-width:81.25em) {
	.ZCK-GT--envelope {
		left: 260px
	}
}
.ZCK-GT--blue, .ZCK-GT--white {
	height: auto;
	width: 220px
}
@media all and (min-width:61.25em) {
	.ZCK-GT--blue, .ZCK-GT--white {
		width: 460px
	}
}
.ZCK-GT--white {
	position: absolute;
	bottom: -1px;
	z-index: 2
}
.ZCK-GT--countdown {
	background-color: #ffe500;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	top: 6px;
	text-align: center;
	height: 160px;
	width: 160px;
	z-index: 1;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: -webkit-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
	-webkit-backface-visibility: hidden
}
.ZCK-GT--wrapper.animated .ZCK-GT--countdown {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}
@media all and (min-width:61.25em) {
	.ZCK-GT--countdown {
		height: 260px;
		margin-left: -130px;
		width: 260px
	}
}
.ZCK-GT--countdown h2 {
	color: #121212;
	font-size: 32px;
	line-height: .95;
	margin: 10%
}
.ZCK-GT--content {
	position: absolute;
	left: 10px;
	right: 90px;
	top: 6px;
	max-width: 360px;
	width: auto
}
@media all and (min-width:30em) {
	.ZCK-GT--content {
		left: 20px
	}
}
@media all and (min-width:46.25em) {
	.ZCK-GT--content {
		left: 260px;
		max-width: none
	}
}
@media all and (min-width:61.25em) {
	.ZCK-GT--countdown h2 {
		font-size: 63px;
		margin: 15% 10%
	}
	.ZCK-GT--content {
		left: 500px
	}
}
@media all and (min-width:71.25em) {
	.ZCK-GT--content {
		left: 660px
	}
}
@media all and (min-width:81.25em) {
	.ZCK-GT--content {
		left: 740px
	}
}
.ZCK-GT--content p {
	font-size: 18px;
	line-height: 1.2;
	margin: 0
}
@media all and (min-width:46.25em) {
	.ZCK-GT--content p {
		font-size: 23px
	}
}
a.ZCK-GT--cta {
	background-color: #FFF000;
	border-radius: 9999px;
	box-sizing: border-box;
	color: #121212;
	display: inline-block;
	font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	line-height: 36px;
	margin-top: 18px;
	min-width: 160px;
	padding: 0 40px 0 18px;
	position: relative;
	text-decoration: none
}
a.ZCK-GT--cta svg {
	fill: currentColor;
	height: 40px;
	position: absolute;
	right: 5px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 40px;
	transition: -webkit-transform .3s;
	transition: transform .3s
}
.ZCK-GT--wrapper:hover a.ZCK-GT--cta svg {
	-webkit-transform: translate(5px, -50%);
	transform: translate(5px, -50%)
}
.ZCK-GT--highlight {
	color: #121212;
	box-shadow: -.1875rem 0 0 0 #ffe500, .1875rem 0 0 0 #ffe500;
	display: inline;
	margin: 0 2px
}
.ZCK-GT--highlight span {
	background: #ffe500
}
.ZCK-GT--roundel {
	position: absolute;
	right: 10px;
	top: 6px
}

@media all and (min-width:30em) {
	.ZCK-GT--roundel {
		right: 20px
	}
}

@media all and (min-width:51.25em) and (max-width:81.25em) {
	.ZCK-GT--content p {
		font-size: 21px
	}

	a.ZCK-GT--cta {
		margin-top: 10px;
	}
}
