// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';


.election-treat {
    &__container {

    }

    &__bar {
      width: 24.5%;

      &.tories {
        background-color: blue;
      }
      &.labour {
        background-color: red;
      }
      &.lib-dem {
        background-color: orange;
      }
      &.snp {
        background-color: grey;
      }
    }
}
