// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/guss';

$background: #ffe500;
$highlight: #212121;

.good-morning-australia__wrapper {
  background-color: $background;
  border-top: 1px solid darken($background, 10%);
  margin: 0 -10px;
  padding: 0 10px;

  &:hover {
    background-color: darken($background, 5%);
  }

  @include mq(mobileLandscape) {
    padding: 0 20px;
  }

  @include mq(tablet) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

section#email-sign-up,
section#email-sign-up- {
  background-color: $background;
  &:hover {
    background-color: darken($background, 5%);
  }
  .fc-container__inner,
  .fc-slice,
  .facia-snap {
    overflow: visible;
    background-color: $background !important;
  }
}

.good-morning-australia {
  position: relative;
  padding: 2px 0 12px;
  @include mq(tablet) {
    padding: 2px 20px 12px;
  }
  @include mq(desktop) {
    padding: 2px 20px 15px;
  }
  @include mq(leftCol) {
    margin-left: 160px;
  }
  @include mq(wide) {
    margin-left: 240px;
  }
  &__roundel {
    position: absolute;
    top: 9px;
    right: 0;
    width: 32px;
    height: 32px;
    svg {
      width: 100%;
      height: 100%;
    }
    @include mq(tablet) {
      width: 44px;
      height: 44px;
      right: 20px;
    }
  }
  & .good-morning-australia-icon{
    width: 58px;
    height: 40px;
    padding-top: 20px;

    @include mq($until: desktop) {
      display: none;
    }
  }
  & .good-morning-australia-icon img {
    height:40px;
  }
  &__heading,
  &__copy {
    padding-right: 32px;
  }
  &__heading {
    font-size: 31px;
    line-height: 34px;
    font-weight: 600;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    color: $highlight;
  }
  &__copy {
    font-family: "Guardian Text Egyptian Web",Georgia,serif;
    color: $highlight;
    font-weight: 500;
    margin-top: 9px;
    font-size: 16px;
    line-height: 20px;
    p {
      margin: 0;
      display: inline;
    }
    @include mq(tablet) {
      margin-top: 6px;
      p {
        display: block;
      }
    }
    &__arrow {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background-color: $highlight;
      position: absolute;
      vertical-align: middle;
      transform: translate(5px, -1px);
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        fill: white;
        transform: translate(-50%, -50%);
      }
    }
  }
  .good-morning-australia &__cta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20000;
    opacity: 0;
  }
}
