// Base
// Description: A few base rules to get us started
@mixin base($containerName, $c-background: #dedede) {
    ##{$containerName}.fc-container--thrasher {
        background-color: $c-background;

        .fc-item {
            background-color: $c-background;
        }
    }

    .#{$containerName}__wrapper {
        width: 100%;
        background-color: $c-background;
        position: relative;
        overflow: hidden;
        font-family: $f-serif-headline;
    }
}

// Rule
// Description: Place a rule on top of the thrasher on all breakpoints
@mixin rule($containerName, $c-rule: #005689) {
    ##{$containerName}.fc-container--thrasher {
        @include mq($until: tablet) {
            border-top: 1px solid $c-rule;
        }
    }

    ##{$containerName} .fc-container__inner {
        @include mq(tablet) {
            border-top: 1px solid $c-rule;
        }
    }
 }

// Page skin fix
// Use mc() in place of mq() so your thrashers don't get broken
// when a page skin ad is present
@mixin mc($from) {
    @if (map-get($mq-breakpoints, $from) < map-get($mq-breakpoints, leftCol)) {
        @include mq($from) {
            @content;
        }
    } @else {
        body:not(.has-active-pageskin) & {
            @include mq($from) {
                @content;
            }
        }
    }
}
