// Base
// Description: A few base rules to get us started
@mixin base($containerName, $c-background: #dedede) {
    ##{$containerName} {
        background-color: $c-background;
    }

    .#{$containerName}__wrapper {
        width: 100%;
        background-color: $c-background;
        position: relative;
        overflow: hidden;
        font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    }
}

// Rule
// Description: Place a rule on top of the thrasher on all breakpoints
@mixin rule($containerName, $c-rule: #005689) {
    ##{$containerName} {
        @include mq($until: tablet) {
            border-top: 1px solid $c-rule;
        }
    }

    ##{$containerName} .fc-container__inner {
        @include mq(tablet) {
            border-top: 1px solid $c-rule;
        }
    }
 }
