// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';


.hope-downunder__wrapper {
	background-color: #ffe500;
	height: 320px;
	width: 100%;
	transition: background-color .3s ease-in-out;
	position: relative;
	display: inline-block;

	&:focus, &:hover {
		background-color: #E6CE00
	}

	#hope-is-power.fc-container--thrasher {
		background-color: #fff
	}
	#hope-is-power.fc-container--thrasher .facia-snap {
		padding: 0
	}

	.hope-is-power__inner-wrapper {
		box-sizing: border-box;
		padding: 12px 10px;
		width: 100%;
		height: 320px;
		display: -ms-flexbox;
		display: flex
	}
	.hip-text {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: column;
		flex-flow: column
	}
	.change-is-possible {
		width: 222px;
		height: 95px
	}
	@media all and (min-width:46.25em) {
		.hope-is-power__inner-wrapper {
			border: 1px solid #dcdcdc;
			border-bottom: 0;
			border-top: 0
		}
		.change-is-possible {
			width: 350px;
			height: 150px
		}
	}
	@media all and (min-width:61.25em) {
		.hip-text {
			-ms-flex-flow: row;
			flex-flow: row
		}
		.change-is-possible {
			width: 421px;
			height: 180px
		}
	}
	.hope-is-power {
		margin: -10px 0 0 6px;
		width: 160px;
		height: 95px
	}
	@media all and (min-width:46.25em) {
		.hope-is-power {
			margin: -18px 0 0 9px;
			width: 251px;
			height: 150px
		}
	}
	@media all and (min-width:61.25em) {
		.hope-is-power {
			width: 303px;
			height: 180px;
			margin: 108px 0 0 14px
		}
	}
	.hip-link {
		position: absolute!important;
		z-index: 3;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0
	}
	.butterfly {
		width: 80px;
		height: 66px
	}
	@media all and (max-width:22.49em) {
		.butterfly {
			position: absolute;
			bottom: 80px;
			left: 174px
		}
	}
	@media all and (min-width:22.5em) {
		.butterfly {
			margin: 100px 0 0 -50px
		}
	}
	@media all and (min-width:46.25em) {
		.butterfly {
			margin: 111px 0 0 10px;
			width: 135px;
			height: 111px
		}
	}
	@media all and (min-width:61.25em) {
		.butterfly {
			margin: 31px 0 0 -110px
		}
	}
	@media all and (min-width:71.25em) {
		.butterfly {
			margin: 111px 0 0 10px
		}
	}
	.support-the-guardian {
		width: 107px;
		height: 46px;
		position: absolute;
		bottom: 12px;
		right: 10px
	}
	@media all and (min-width:30em) {
		.hope-is-power__inner-wrapper {
			padding: 12px 20px
		}
		.support-the-guardian {
			right: 20px
		}
	}
	@media all and (min-width:46.25em) {
		.support-the-guardian {
			width: 170px;
			height: 73px
		}
	}


}

