// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileSneaky:    375px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';


// Page takeover
body {
  .l-side-margins:before, .l-side-margins:after {
    background: #302426;
  }
  .facia-page  {
    background-color: #241C1E;
  }
  .fc-container__header__title,
  .fc-date-headline,
  .fc-container__toggle,
  .fc-container__toggle:hover {
    color: #DDDBD7;
  }

  .fc-container .fc-container__inner,
  .fc-slice__item+.fc-slice__item:before {
    border-color: #484848;
  }
  .close-encounters-header__wrapper {
    overflow: visible;
    // margin-top: -10px;
  }
  .fc-item__link .headline-list__body {
    color: #dddbd7;
  }
  .tone-media--most-popular .fc-item__kicker {
    color: #FEBB00;
    &:after {
      opacity: 0.5;
    }
  }
  .headline-list__item:before {
    background-color: #666;
  }
  .tabs__tab,
  .tabs__tab--selected+.tabs__tab {
    border-bottom-color: #DDDBD7 !important;
    a {
      background: #DDDBD7 !important;
      color: #241C1E !important;
    }
  }
  .tabs__tab--selected {
    border-bottom-color: #241C1E !important;
    a {
      background: #241C1E !important;
      color: #DDDBD7 !important;
    }
  }
  .submeta .keyword-list .js-more-tags.more-tags .button--more {
    color: #DDDBD7;
  }
  .submeta hr {
    border-color: #666;
  }
}

@include base(close-encounters-header, #240D12);
#close-encounters-header {
  padding-top: 0;
}

@mixin overflow-visible($folder-name) {
  ##{$folder-name} {
    &.fc-container--thrasher,
    .fc-container__inner,
    .fc-slice,
    .facia-snap {
      overflow: visible;
      // overflow-y: visible !important;
      // overflow-x: hidden !important;
    }
  }
}
@include overflow-visible(close-encounters-header);


//
// .close-encounters-header__wrapper {
//   overflow: visible;
//   width: 100%;
// }



#close-encounters-header-inner {
  // margin: 30px 0;
  position: relative;
  height: 210px;
  width: 100%;
  @include mq($until: desktop) {
    height: 178px;
  }
  @include mq($until: phablet) {
    height: 308px;
  }
  @include mq($until: mobileLandscape) {
    height: 306px;
  }
  @include mq($until: mobileSneaky) {
    height: 286px;
  }
  color: #F7E4D5;
  // overflow-x: hidden !important;
  // overflow-y: visible !important;
  overflow: visible;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -500px;
    right: -500px;
    top: 0;
    bottom: 0;
    background-color: #2B1D20;
    @include mq($until: tablet) {
      background-color: #240D12;
    }
    z-index: -1;
  }
  .branding {
    height: 34px;
    width: 56px;
    position: absolute;
    top: 9px;
    right: 17px;
    transform: scaleX(1);
    @include mq($until: desktop) {
      transform-origin: top right;
      transform: scaleX(0.7) scaleY(0.7);
      top: 13px;
      width: 39px;
      height: 24px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .illustration {
    position: absolute;
    top: -30px;
    left: 580px;
    pointer-events: none;
    width: 411px;
    height:276px;

      // wide:            1300px,
      // leftCol:         1140px,
      // desktop:         980px,
      // tablet:          740px,
      // phablet:         660px,
      // mobileLandscape: 480px,
      // mobile:          320px,
    @include mq($until: wide) {
      left: 582px;
    }
    @include mq($until: leftCol) {
      left: 568px;
    }
    @include mq($until: desktop) {
      transform-origin: top left;
      transform: scale(0.7);
      top: 10px;
      left: 230px;
    }
    @include mq($until: phablet) {
      transform: scale(1);
      top: 144px;
      left: 200px;
      right: auto;
      width: 275px;
      height: 186px;
      svg {
        transform: scaleX(-1);
      }
    }
    @include mq($until: mobileLandscape) {
      top: 143px;
      left: 165px;
    }
    @include mq($until: mobileSneaky) {
      top: 137px;
      width: 251px;
      height: 170px;
      left: 164px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .close-encounters-logo {
    position: absolute;
    top: 10px;
    left: 19px;
    @include mq($until: desktop) {
      transform-origin: top left;
      transform: scale(0.85);
    }
    @include mq($until: phablet) {
      left: 12px;
    }
    &__word {
      display: inline-block;
    }
    .encounters {
      position: relative;
      top: 1px;
      left: 9px;
      animation-name: connectLogo;
      animation-duration: 300ms;
      animation-timing-function: cubic-bezier(.42, 0, .58, 1);
      animation-fill-mode: forwards;
      animation-delay: 6200ms;
    }
  }
  .subscribe {
    width: 192px;
    position: absolute;
    left: 961px;

      // wide:            1300px,
      // leftCol:         1140px,
      // desktop:         980px,
      // tablet:          740px,
      // phablet:         660px,
      // mobileLandscape: 480px,
      // mobile:          320px,
    @include mq($until: wide) {
      left: 863px;
    }
    @include mq($until: leftCol) {
      left: auto;
      right: 307px;
    }
    @include mq($until: desktop) {
      right: auto;
      left: 500px;
      transform-origin: top left;
      transform: scale(0.9);
    }
    @include mq($until: tablet) {
      left: auto;
      right: 3px;
      transform-origin: top left;
      transform: scale(0.9);
    }
    @include mq($until: phablet) {
      left: 10px;
      top: 187px;
      transform: scale(1);
    }
    @include mq($until: mobileLandscape) {
      top: 183px;
    }
    @include mq($until: mobileSneaky) {
      top: 160px;
    }
    top: 16px;
    // color: #CC8F79;
    &__headline {
      font-size: 22px;
      font-weight: 600;
      line-height: 20px;
      padding-bottom: 4px;
      // color: #F7E4D5;
    }
    &__option {
      font-size: 16.5px;
      font-weight: 700;
      padding-left: 23px;
      position: relative;
      display: block;
      line-height: 24px;
      height: 24px;
      color: #F6B60B;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 18px;
        height: 18px;
        background-image: url(@@assetPath@@/arrow.svg);
        background-repeat: no-repeat;
      }
    }
    &__google_play {
      display: none;
    }
  }
  .description {
    position: absolute;
    top: 44px;
    left: 260px;
    width: 402px;
    height: 125px;

      // wide:            1300px,
      // leftCol:         1140px,
      // desktop:         980px,
      // tablet:          740px,
      // phablet:         660px,
      // mobileLandscape: 480px,
      // mobile:          320px,
    @include mq($until: wide) {
      left: 180px;
    }
    @include mq($until: leftCol) {
      left: 20px;
    }
    @include mq($until: desktop) {
      transform: scale(0.7);
      transform-origin: top left;
    }
    @include mq($until: phablet) {
      left: 10px;
      top: 33px;
      transform: scale(0.95);
    }
    @include mq($until: mobileLandscape) {
      left: 9px;
      top: 43px;
      transform: scale(0.84);
    }
    @include mq($until: mobileSneaky) {
      left: 9px;
      top: 50px;
      transform: scale(0.71);
    }
    &__word {
      position: absolute;
      font-size: 34px;
      line-height: 34px;
      font-weight: 600;
      z-index: 10;
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 1800ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
    .full-tone {
      color: #F7E4D5;
    }
    .mid-tone {
      color: #AF998F;
    }
    .low-tone {
      color: #6D5754;
    }
    .honest {
      top: 2px;
      left: 214px;
      animation-delay: 0;
    }
    .unguarded {
      top: 31px;
      left: 2px;
      animation-delay: 700ms;
    }
    .conversations {
      top: 31px;
      left: 180px;
      animation-delay: 1300ms;
    }
    .about {
      top: 60px;
      left: 119px;
      animation-delay: 2500ms;
    }
    .sex {
      top: 60px;
      left: 216px;
      animation-delay: 3000ms;
    }
    .and {
      top: 90px;
      left: 1px;
      animation-delay: 3700ms;
    }
    .relationships {
      top: 90px;
      left: 69px;
      animation-delay: 4400ms;
    }
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes connectLogo {
  0% { left: 9px; }
  100% { left: -9px; }
}
