// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$container-bg: #939A9D;
$card-bg: #535658;
$kicker: #FEC8D3;


section#beirut-explosion-style-helper {
  height: 0;
  overflow: hidden;
  margin: 0;
}


section#coronavirus {
  &+.fc-container__mpu--mobile {
    background-color: $container-bg;
    margin-top: -12px;
    padding-bottom: 20px;
  }
}

section#beirut-explosion {
  background-color: $container-bg;
  // margin-top: -25px;
  // padding-top: 16px;

  // @include mq($from: leftCol) {
  //   margin-top: -12px;
  //   padding-top: 0;
  // }


  &.fc-container--story-package .fc-item--live-updates.fc-item--full-media-100-tablet .fc-item__liveblog-block__time:before,
  &.fc-container--story-package .fc-item--live-updates.fc-item--three-quarters-tall-tablet .fc-item__liveblog-block__time:before {
    border: 0.0625rem solid $kicker;
  }

  &.fc-container--story-package .fc-item--live-updates.fc-item--full-media-100-tablet .fc-item__liveblog-block__time,
  &.fc-container--story-package .fc-item--live-updates.fc-item--three-quarters-tall-tablet .fc-item__liveblog-block__time {
    color: #dcdcdc;
  }

  &.fc-container--story-package .fc-item--live-updates.fc-item--full-media-100-tablet:hover .fc-item__liveblog-block__text,
  &.fc-container--story-package .fc-item--live-updates.fc-item--full-media-100-tablet .fc-item__liveblog-block__text
  &.fc-container--story-package .fc-item--live-updates.fc-item--three-quarters-tall-tablet:hover .fc-item__liveblog-block__text,
  &.fc-container--story-package .fc-item--live-updates.fc-item--three-quarters-tall-tablet .fc-item__liveblog-block__text {
    border-color: $card-bg;
    color: #dcdcdc;
  }

  &.fc-container--story-package .fc-item--live-updates.fc-item--full-media-100-tablet .u-faux-block-link--hover .fc-item__liveblog-block__text,
  &.fc-container--story-package .fc-item--live-updates.fc-item--three-quarters-tall-tablet .u-faux-block-link--hover .fc-item__liveblog-block__text {
    border-color: darken($card-bg, 5%);

  }

  &.fc-container--story-package .fc-item--live-updates.fc-item--full-media-100-tablet .fc-item__liveblog-blocks,
  &.fc-container--story-package .fc-item--live-updates.fc-item--three-quarters-tall-tablet .fc-item__liveblog-blocks {
    padding-left: 5px;
  }

  &.fc-container--story-package .fc-item--live-updates.fc-item--full-media-100-tablet .fc-item__liveblog-block__text:after,
  &.fc-container--story-package .fc-item--live-updates.fc-item--three-quarters-tall-tablet .fc-item__liveblog-block__text:after {
    color: #dcdcdc;
    background-color: $card-bg;
    box-shadow: -0.3125rem 0 0.3125rem -0.125rem $card-bg;
  }

  &.fc-container--story-package .fc-item--live-updates.fc-item--full-media-100-tablet .u-faux-block-link--hover .fc-item__liveblog-block__text:after,
  &.fc-container--story-package .fc-item--live-updates.fc-item--three-quarters-tall-tablet .u-faux-block-link--hover .fc-item__liveblog-block__text:after {
    background-color: darken($card-bg, 5%);
    box-shadow: -0.3125rem 0 0.3125rem -0.125rem darken($card-bg, 5%);
  }

  &.fc-container--story-package .fc-item--pillar-news .fc-item__container:before {
    background-color: $kicker;
  }

  &.fc-container--story-package .fc-item--dynamic-layout .fc-item__content:before {
    background-color: #172026;
  }

  .fc-item--three-quarters-tall-tablet .fc-item__header {
    padding-left: 5px;
  }

  .fc-today .fc-today__sub {
    color: #121212;
  }

  &.fc-container--story-package .fc-item--pillar-news .live-pulse-icon:before {
    background-color: $kicker;
  }

  .fc-item--pillar-news .fc-item__media-meta .inline-icon {
    background-color: $kicker;
    path {
      fill: #121212;
    }
  }
  .fc-item--pillar-news .fc-item__media-meta {
    color: #dcdcdc;
  }
  .fc-item--pillar-news .vjs-big-play-button .vjs-control-text {
    background-color: $kicker;
    path {
      fill: #121212;
    }
  }

  &+.fc-container__mpu--mobile {
    background-color: $container-bg;
    margin-top: -12px;
    padding-bottom: 20px;
  }

  .treats__treat {
    background-color: $container-bg;
    border-color: #121212;
  }

  .fc-container__header__title:after {
    background-color: #929698;
  }

  .fc-container__header__title {

    h2 {
      color: #121212;
    }

  }

  .fc-item {

    background-color: $card-bg;

    .fc-item__headline {
      color: #fff;
      font-weight: 900;
    }

    .fc-item__kicker {
      color: $kicker;
    }
    .fc-sublink {
      background-color: $card-bg;
    }

    .u-faux-block-link--hover .fc-sublink {
      background-color: darken($card-bg, 5%);
    }

    .fc-sublink__title {
      color: #fff;

      .fc-sublink__kicker {
        color: $kicker;
      }
    }

    &.fc-item--type-comment .fc-item__container>.fc-item__meta {
      $line-colour: #808A9B; // #fff at 50% on blue, #506991 is too soft
      background-image: repeating-linear-gradient(to bottom, $line-colour, $line-colour 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    }

    // Comment count in opinion cards
    &.fc-item--type-comment.fc-item--pillar-news.fc-item--type-comment:not(.fc-item--pillar-special-report):not(.fc-item--dynamic-layout) .fc-trail__count--commentcount,
    &.fc-item--type-comment.fc-item--pillar-news.fc-item--type-comment .fc-trail__count--commentcount,
    &.fc-item--pillar-opinion.fc-item--type-comment:not(.fc-item--pillar-special-report):not(.fc-item--dynamic-layout) .fc-item__timestamp,
    &.fc-item--pillar-opinion.fc-item--type-comment:not(.fc-item--pillar-special-report):not(.fc-item--dynamic-layout) .fc-trail__count--commentcount {
      background-color: $card-bg;
      color: #DCDCDC;
    }

    &.fc-item--type-comment.fc-item--pillar-news .fc-item__meta,
    &.fc-item--type-live.fc-item--pillar-news .fc-item__meta {
      color: #DCDCDC;
    }

    &.fc-item--type-comment.fc-item--pillar-news.fc-item--type-comment:not(.fc-item--pillar-special-report):not(.fc-item--dynamic-layout) .fc-trail__count--commentcount .inline-icon,
    &.fc-item--type-comment .fc-item__container>.fc-item__meta .fc-trail__count .inline-icon,
    &.fc-item--pillar-opinion.fc-item--type-comment:not(.fc-item--pillar-special-report):not(.fc-item--dynamic-layout) .fc-trail__count--commentcount .inline-icon {
      fill: #DCDCDC;
    }

    // Hover state
    &.fc-item--pillar-opinion.fc-item--type-comment:not(.fc-item--pillar-special-report):not(.fc-item--dynamic-layout):hover .fc-trail__count--commentcount {
      background-color: #061532;
    }
  }

  .u-faux-block-link--hover {
    background-color: darken($card-bg, 5%);
  }

  .fc-item__link:visited,
  .fc-sublink__link:visited {
    color: #f6f6f6;
  }

  .u-faux-block-link--hover {
    background-color: darken($card-bg, 5%);
  }

  .fc-item__title--quoted .inline-quote {
    fill: #f6f6f6;
  }

  .fc-item__title {
    color: white;
  }

  .fc-item__byline {
    color: #ff9b0b;
  }

  .fc-item__standfirst {
    color: white;
  }
}
