// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$redLight:#ffbac8;
$redDark: #ff4e36;

section#election-countdown {
  position: relative;
  background-color: $redDark;
  color: #fff;
  padding: 0 !important;
  overflow: hidden;

  .fc-container__inner,
  .fc-slice,
  .facia-snap {
    overflow: visible;
  }

  .facia-snap {
    padding: 0;
  }
}



.election-countdown {   
    background-color: $redDark;
    min-width:1300px;
    a {
        // display:block;
        position:static;
    }

    a:hover {
        h1:hover {
            border-bottom:1px solid #fff;
        }
        .election-countdown__component-button {
            background-color: $redLight;
            .icon {
                transform: translateX(3px);
            }
        }
    }


    &__component-button {
        @include component-button(#fff, #000, $redLight);
        position:relative;
        padding: 11px;
        top:7px;
        left:1038px;
        .icon {
            margin:0;
        }
    }

    h1 {
        position:absolute;
        color:#fff;
        left:498px;
        // margin-top:-2px;

        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size:36px;
        font-weight:200;
        line-height:135%;

        font-variant-numeric: ordinal;
    }

    div.election-countdown:hover {
        h1 {
            border-bottom:1px solid #fff;
        }
    }
    
    h2 {
        position:absolute;

        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size:1.5rem;
        line-height: 1.6875rem;

        padding:6px 0 0 20px;
        color:#fff;
    }
    
    &__black-strip {
        position: absolute;
        bottom:0;
        background-color:#121212;
        width:100%;
        height:35px;
        z-index:0;
    }

    a {
        z-index:200;
    }
    
    img.vote-image {
        position:relative;
        left: 258px;
        margin-top:-32px;
        margin-bottom:6px;
        bottom:1px;
        z-index:2;
        // padding-top:6px;
    }
    
    

    &__roundel {
        position: absolute;
        top: 8px;
        right: 10px;
        width: 42px;
        height: 42px;
        z-index: 5;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    @media only screen and (max-width: 1299px) {
        img.vote-image {
            left: 171px;
        }
        h1 {
            left:338px;
        }
        &__component-button {
            left:879px;
        }
    }
    @media only screen and (max-width: 1139px) {
        img.vote-image {
            position:relative;
            height:auto;
            width:15%;
            left:132px;
            bottom:-3px;
        }
        h1 {
            left:286px;
        }
        &__component-button {
            top:7px;
            left:826px;
        }
        &__black-strip {
            height:26px;
        }
    }
    @media only screen and (max-width: 979px) {
        h1 {
            font-size:32px;
            left:19px;
            padding-top:22px;
        }
        &__component-button {
            left:503px;
            top:26px;
        }
        &__roundel {
            right:18px;
        }
        h2 {
            padding-top: 3px;
            font-size: 18px;
        }
        img.vote-image {
            left:auto;
            right:-532px;
            z-index:2;
        }
    }
    @media only screen and (max-width: 739px) {
        h1 {
            width:380px;
            line-height:115%;
            padding-top:30px;
        }
        h1:hover {
            border-bottom:none;
        }
        &__component-button {
            left:125px;
            top:66px;
        }
        img.vote-image {
            padding-top: 21px;
            width:18%;
            left:auto;
            right:-392px;
        }
    }
    @media only screen and (max-width: 660px) {
        h1 {
            width:400px;
            line-height:115%;
            padding-top:30px;
        }
        img.vote-image {
            padding-top:23px;
            width: 18%;
            left:auto;
            right:-384px;
        }
        &__component-button {
            left:125px;
            top:66px;
        }
    }
    @media only screen and (max-width:600px) {
        img.vote-image {
            left:auto;
            right:-282px;
            padding-top:28px;
        }
        h1 {
            width:370px;
            padding-top:30px;
        }
        &__component-button {
            left:233px;
            top:66px;
        }
    }
    @media only screen and (max-width:530px) {
        img.vote-image {
            left:auto;
            right:-254px;
        }
    }

    @media only screen and (max-width:480px) {
        h1 {
            left:10px;
        }
        h2 {
            padding-left:10px;
        }
        &__roundel {
            top:6px;
            right:3px;
        }
        &__component-button {
            top:66px;
            left:225px;
        }
        img.vote-image {
            // width:15%;
            padding-top:28px;
            left:auto;
            right:-252px;;
        }
    }
    @media only screen and (max-width:420px) {
        h1 {
            width:270px;
            font-size:24px;
        }
        &__component-button {
            width:26px;
            height:26px;
            padding:5px;
            top:58px;
            left:171px;
        }
        img.vote-image {
            padding-top:37px;
            padding-bottom:1px;
            width: 14%;
            left:auto;
            right:-215px;
        }
    }
    @media only screen and (max-width:340px) {
        img.vote-image{
            right:-190px;
            padding-bottom:15px;
            padding-top:30px;
        }
    }

    
}
