// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

.missing-something__wrapper {
  background-color: #1E8DCD;
  margin: 0 -10px;
  padding: 0 10px;
  @include mq(mobileLandscape) {
    padding: 0 20px;
  }
  @include mq(tablet) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

section#email-sign-up,
section#email-sign-up- {
  background-color: #fff;
  .fc-container__inner,
  .fc-slice,
  .facia-snap {
    overflow: visible;
  }
}

.missing-something {
  position: relative;
  padding: 6px 0 12px;
  @include mq(tablet) {
    padding: 6px 20px 12px;
  }
  @include mq(desktop) {
    padding: 6px 20px 15px;
  }
  @include mq(leftCol) {
    margin-left: 160px;
  }
  @include mq(wide) {
    margin-left: 240px;
  }
  &__roundel {
    position: absolute;
    top: 9px;
    right: 0;
    @include mq(tablet) {
      right: 20px;
    }
  }
  &__heading {
    width: 280px;
    max-width: 100%;
    svg {
      width: 100%;
      height: auto;
      display: block;
    }
    @include mq(tablet) {
      width: 520px;
    }
  }
  &__copy {
    font-family: "Guardian Egyptian Web",Georgia,serif;
    color: #fff;
    font-weight: 500;
    margin-top: 9px;
    font-size: 20px;
    line-height: 21px;
    @include mq(tablet) {
      margin-top: 6px;
    }
    @include mq(desktop) {
      width: 720px;
    }
  }
  &__cta {
    margin-left: -1px;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    padding-top: 2px;
    padding: 0 14px;
    background-color: #ffe500;
    color: #121212;
    margin: 12px 0 0;
    border-radius: 14px;
    display: inline-block;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    &:hover {
      text-decoration: none;
      background-color: #EED600;
    }
    svg {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      left: 8px;
      @include mq(tablet) {
        right: 10px;
      }
    }
  }
  @include mq(mobileMedium) {
    &__copy {
      padding-right: 140px;
    }
    .missing-something &__cta {
      position: absolute;
      bottom: 12px;
      right: 0;
    }
  }
  .missing-something &__cta {
    @include mq(tablet) {
      font-size: 16px;
      line-height: 30px;
      height: 30px;
      border-radius: 15px;
      right: 20px;
    }
    @include mq(desktop) {
      right: 20px;
      bottom: 10px;
    }
    @include mq(wide) {
      right: 100px;
    }
  }

  &__marker {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: tomato;
    top: 5px;
    left: 52px;
    @include mq(tablet) {
      top: 6px;
      left: 75px;
    }
    .number,
    .outline,
    .i-dot-cover {
      position: absolute;
      top: 0;
      left: 0;
    }
    .outline,
    .i-dot-cover {
      z-index: 8;
      background-color: #1E8DCD;
    }
    .outline {
      width: 18px;
      height: 18px;
      border-radius: 0 0 0 100%;
      transform: translate(-100%, 0);
    }
    .i-dot-cover {
      width: 18px;
      height: 11px;
      border-radius: 0 0 20% 0;
    }
    .number {
      z-index: 9;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 14px;
      text-align: center;
      line-height: 24px;
      font-weight: 700;
      transform: translate(-50%,-50%);
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background-color: #ff4e36;
      color: #fff;
      text-align: center;
      overflow: hidden;
      &:before {
        content: attr(data-num);
        transform: translateY(1px);
        display: block;
      }
    }
  }

  .mob-only {
    display: block;
    @include mq(tablet) {
      display: none;
    }
  }
  .dsk-only {
    display: none;
    @include mq(tablet) {
      display: block;
    }
  }
}

