// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

section#election-opinion-style {
    height: 0;
    overflow: hidden;
    margin: 0;
}

section#election-opinion {
    background-color: #dcdcdc;
    margin-top: -25px;
    padding-top: 16px;

    @include mq($from: leftCol) {
        margin-top: -12px;
        padding-top: 0;
    }

    .fc-container__header__title {
        color: #197caa;

        &::before {
            content: '';
            display: block;
            background-image: url('@@assetPath@@/opinion-speech-bubble.png');
            background-repeat: no-repeat;
            background-size: 100%;
            height: 64px;
            width: 110px;

            @include mq($from: leftCol) {
                height: 82px;
                width: 136px;
            }
        }
    }

    .fc-item {
        background-color: #484f53;
    }

    .u-faux-block-link--hover {
        background-color: darken(#484f53 , 10%);
    }

    .fc-item__link:visited, .fc-sublink__link:visited {
        color: #f6f6f6;
    }

    .u-faux-block-link--hover {
        background-color: darken(#484f53 , 10%);
    }

    .fc-item__title--quoted .inline-quote {
        fill:#f6f6f6;
    }

    .fc-item__title {
        color: white;
    }

    .fc-item__byline {
        color: #ff9b0b;
    }

    .fc-item__standfirst {
        color: white;
    }
}
