// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-neutral-1: #333;
$c-neutral-2: #767676;
$c-news-main-1: #005689;
$c-news-main-2: #4bc6df;
$c-comment-main-1: #c05303;
$c-comment-support-1: #7d7569;
$c-comment-support-2: #efefec;
$c-comment-support-3: #ffce4b;
$c-comment-support-4: #e6711b;
$c-multimedia-main-2: #fb0;

@import 'shared/_imports';

@include base(football100, $c-neutral-1);

// .fc-container--thrasher {
//     background-color: #ff0000!important;
// }


.football100__anchor {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4 !important;
    background: transparent;
    cursor: pointer;

   

    &:hover ~ .football100__wrapper .football100__content .football100__button.button {
        background-color: $c-multimedia-main-2;
        border-color: $c-multimedia-main-2;
    }
}

.football100__wrapper {
    height: 148px;
   
    @include mq(desktop) {
        height: 140px;
        
    }

    @include mq(leftCol) {
        height: 152px;
        width: 1140px;
    }

    @include mq(wide) {
        height: 200px;
        width: 1300px;
    }
}


// Content
.football100__content {
    @include box-sizing(border-box);
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 100%;
    padding: 6px 10px;
    

    @include mq(mobileLandscape) {
        padding: 6px 20px;
    }
}

.football100__title {
    float: left;
    overflow: hidden;
    height: 100%;
    //background: url('http://interactive.guim.co.uk/thrashers/football100/source/logo.png') no-repeat center;
    background: url('@@assetPath@@/logo.png') no-repeat center;
    background-position: left top;
    background-size: contain;
    text-indent: -200%;
    width: 30%;

    @include mq(desktop) {
        width: 25%;
    }
}

.football100__subtitle {
    @include box-sizing(border-box);
    float: left;
    width: 70%;
    color: $c-multimedia-main-2;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1;
    padding-left: 10px;

    @include mq(mobileLandscape) {
        font-size: 1.5em;
    }

    @include mq(tablet) {
        padding-right: 15%;
        font-size: 1.75em;
    }

    @include mq(desktop) {
        width: 75%;
        font-size: 2em;
    }

    @include mq(wide) {
        font-size: 2.5em;
    }
}

.football100__button.button {
    position: absolute;
    bottom: 8px;
    left: 30%;
    color: $c-neutral-1;
    background-color: $c-comment-support-3;
    border-color: $c-comment-support-3;
    margin-left: 10px;

    @include mq(mobileLandscape) {
        margin-left: 20px;
    }

    @include mq(desktop) {
        left: 25%;
    }
}

.football100__marque {
    position: absolute;
    right: 20px;
    bottom: 6px;
    z-index: 2;

    @include mq($until: phablet) {
        display: none;
    }
}


// Background
@include keyframes(flip) { // MINE
   0% {
       @include transform(rotateY(0));
    //    opacity: 0.5;
   }

   20% {
       @include transform(rotateY(180deg));
    //    opacity: 1;
   }

   50% {
       @include transform(rotateY(180deg));
    //    opacity: 1;
   }

   70% {
       @include transform(rotateY(0));
    //    opacity: 0.5;
   }
   
}





.football100__faces {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    @include mq(leftCol) {
        perspective: 1000;
    }
    opacity: 0.5;
    

    @include mq($until: tablet) {
        left: -48px;
        right: -48px;
    }
}

.football100__face {
    display: block;
    position: relative;
    height: 74px;
    width: 74px;
    float: left;
    //border-radius: 50%;
    overflow: hidden;
    @include mq(leftCol) {
        transform-style: preserve-3d; // MINE
        @include animation(flip 15s ease-in-out infinite); // MINE
        //@include animation(fadeIn 15s ease-in-out infinite); // MINE
    }

    @include mq(desktop) {
        height: 70px;
        width: 70px;
    }

    @include mq(leftCol) {
        height: 76px;
        width: 76px;
    }

    @include mq(wide) {
        height: 100px;
        width: 100px;
    }

    &:before,
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        //border-radius: 50%; // MINE
        overflow: hidden;   // MINE
        content: '';
        background-color: #000;
        //background-image: url('http://interactive.guim.co.uk/thrashers/football100/source/faces.png');
        background-image: url('@@assetPath@@/faces2.png');
        background-repeat: no-repeat;
        background-size: 800% 200%;
        @include mq(leftCol) {
            backface-visibility: hidden;  // MINE
            -webkit-backface-visibility: hidden;  // MINE
        }
    }

    &:before {
        z-index: 2;
        transform: rotateY(0);
        background-position: 0 0;
    }

    &:after {
        transform: rotateY(180);
       z-index: 3;
       opacity: 0.3;
       background-image: none;
       background-color: #767676;
    }

    // @include mq(desktop) {
    //     &:nth-of-type(16) {
    //     margin-left: 38px; // MINE
    //     }
    // }

    // @include mq(wide) {
    //     &:nth-of-type(14) {
    //     margin-left: 48px; // MINE
    //     }
    // }

    
}

$face-delay: -2s, -3s, -5s, -7s, -11s, -13s, -17s, -19s;

@for $i from 1 through 8 {
    $position: $i - 1;

    .football100__face--#{$i} {
        @include mq(leftCol) {
       @include animation-delay(nth($face-delay, $i));
        }

        &:before {
            background-position: percentage($position/7) 0;
        }

        &:after {
            background-position: percentage($position/7) 100%;
        }
    }
}

@for $i from 9 through 16 {
    $index: $i - 8;
    $position: $i - 9;
   $face-delay: -2s, -4s, -6s, -9s, -13s, -1s, -15s, -12s;

    .football100__face--#{$i} {
        @include mq(leftCol) {
       @include animation-delay(nth($face-delay, $index));
        }

        &:before {
            background-position: percentage($position/7) 100%;
        }

        &:after {
            background-position: percentage($position/7) 0;
        }
    }
}
