// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$yellow: #FAB817;
$blue: #1A60A9;
$red: #E32729;

.voices-and-votes {
  @include mq($from: tablet) {
    height: 162px;
    width: 740px;
  }
  @include mq($from: desktop) {
    height: 220px;
    width: 980px;
  }
  @include mq($from: leftCol) {
    height: 250px;
    width: 1140px;
  }
  @include mq($from: wide) {
    height: 290px;
    width: 1300px;
  }


  .election-logo {
    width: 60px;
    height: auto;
    float: left;
    margin-right: 10px;

    @include mq($from: tablet) {
      float: none;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.voices-and-votes__images-container {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }

  @include mq($from: tablet) {
    width: 578px;
    height: 162px;
    position: absolute;
    right: 0px;
  }

  @include mq($from: desktop) {
    width: 770px;
    height: 220px;
  }
  @include mq($from: leftCol) {
    width: 900px;
    height: 250px;
  }
  @include mq($from: wide) {
    width: 1020px;
    height: 290px;
  }
}

.voices-and-votes__logo {
  position: absolute;
  width: 200px;
  top: 0px;
  left: 0px;
  display: none;

  @include mq($from: tablet) {
    display: block;
    width: 253px;
    top: -64px;
    left: 47.4%;
  }

  @include mq($from: desktop) {
    width: 323px;
    top: -79px;
  }

  @include mq($from: leftCol) {
    width: 384px;
    top: -96px;
  }

  @include mq($from: wide) {
    width: 460px;
    top: -124px;

  }

  svg {
    width: 100%;
    height: auto;
  }
}

@keyframes voices{
  0%{
    transform: translateX(346px) translateY(-294px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.voices {
  transform: translateX(346px) translateY(-294px);
  animation-name: voices;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-iteration-count: once;
  -webkit-animation-name: voices;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: once;
  -moz-animation-name: voices;
  -moz-animation-fill-mode: forwards;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: once;
}
.and {
  transform: translateX(346px) translateY(-294px);
  animation-name: voices;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
  animation-duration: 0.5s;
  animation-iteration-count: once;
  -webkit-animation-name: voices;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: once;
  -moz-animation-name: voices;
  -moz-animation-fill-mode: forwards;
  -moz-animation-delay: 0.25s;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: once;
}

.votes {
  transform: translateX(346px) translateY(-294px);
  animation-name: voices;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: once;
  -webkit-animation-name: voices;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: once;
  -moz-animation-name: voices;
  -moz-animation-fill-mode: forwards;
  -moz-animation-delay: 0.5s;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: once;
}

.voices-and-votes__image-one,
.voices-and-votes__image-two,
.voices-and-votes__image-three,
.voices-and-votes__image-four,
.voices-and-votes__image-five,
.voices-and-votes__image-six,
.voices-and-votes__image-seven {
  position: absolute;
  overflow: hidden;

  &:before{
    display: block;
    content: '';
    height: 100%;
    width: 8px;
    position: absolute;
    top: 0;
    background-color: inherit;
    z-index: 10;
  }

  &:after{
    display: block;
    content: '';
    height: 8px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: inherit;
  }

  img {
    transform: rotate(40deg);
    width: 150%;
    height: auto;
    margin-left: -25%;
    margin-top: -20%;
  }
}

.voices-and-votes__image-one {
  display: none;

  @include mq($from: tablet) {
    display: block;
    background-color: $red;
    transform: rotate(-40deg);
    left: 3.4%;
    height: 55px;
    width: 55px;
    top: 46px;
  }

  @include mq($from: desktop) {
    height: 74px;
    width: 74px;
    top: 59px;
  }

  @include mq($from: leftCol) {
    top: 71px;
    height: 86px;
    width: 86px;
  }

  @include mq($from:wide){
    height: 98px;
    width: 98px;
    top: 81px;
  }
}

.voices-and-votes__image-two {
  display: none;

  @include mq($from: tablet) {
    display: block;
    transform: rotate(-40deg);
    background-color: $blue;
    left: 12.2%;
    top: -6px;
    height: 87px;
    width: 87px;
  }

  @include mq($from: desktop) {
    top: -11px;
    height: 116px;
    width: 116px;
  }

  @include mq($from: leftCol) {
    top: -9px;
    height: 135px;
    width: 135px;
  }

  @include mq($from: wide) {
    top: -11px;
    height: 153px;
    width: 155px;
  }
}
.voices-and-votes__image-three {
    display: none;

  @include mq($from: tablet) {
    display: block;
    top: 85px;
    left: 20.5%;
    background-color: $red;
    height: 40px;
    width: 40px;
    transform: rotate(-40deg);
  }
  @include mq($from: desktop) {
    top: 110px;
    height: 52px;
    width: 52px;
  }
  @include mq($from: leftCol) {
    height: 62px;
    width: 62px;
    top: 128px;
  }
  @include mq($from: wide) {
    top: 146px;
    height: 70px;
    width: 70px;
  }
}

.voices-and-votes__image-four {
  display: none;
  @include mq($from: tablet) {
    display: block;
    top: 30px;
    left: 28.4%;
    width: 103px;
    height: 103px;
    background-color: $yellow;
    transform: rotate(-40deg);
  }
  @include mq($from: desktop) {
    top: 36px;
    width: 137px;
    height: 137px;
  }
  @include mq($from: leftCol) {
    top: 43px;
    width: 160px;
    height: 160px;
  }
  @include mq($from: wide) {
    top: 47px;
    width: 184px;
    height: 184px;
  }

}
.voices-and-votes__image-five {
  display: none;
  @include mq($from: tablet) {
    display: block;
    top: 3px;
    left: 43.5%;
    height: 47px;
    width: 47px;
    background-color: $blue;
    transform: rotate(-40deg);
  }
  @include mq($from: desktop) {
    top: 7px;
    height: 60px;
    width: 60px;
  }
  @include mq($from: leftCol) {
    top: 9px;
    height: 70px;
    width: 70px;
  }
  @include mq($from: wide) {
    top: 10px;
    height: 77px;
    width: 77px;
  }
}
.voices-and-votes__image-six {
  display: none;
  @include mq($from: tablet) {
    display: block;
    top: 63px;
    left: 67.4%;
    background-color: $red;
    width: 53px;
    height: 53px;
    transform: rotate(-40deg);
  }
  @include mq($from: desktop) {
    top: 82px;
    width: 72px;
    height: 72px;
    left: 66.7%;
  }
  @include mq($from: leftCol) {
    top: 96px;
    width: 83px;
    height: 83px;
  }
  @include mq($from: wide) {
    top: 111px;
    width: 93px;
    height: 93px;
    left: 67.7%;
  }
}
.voices-and-votes__image-seven {
  display: none;
  @include mq($from: tablet) {
    display: block;
    top: 5px;
    left: 76.8%;
    height: 102px;
    width: 102px;
    background-color: $yellow;
    transform: rotate(-40deg);
  }
  @include mq($from: desktop) {
    top: 4px;
    height: 138px;
    width: 138px;
    left: 76%;
  }
  @include mq($from: leftCol) {
    top: 6px;
    height: 160px;
    width: 160px;
  }
  @include mq($from: wide) {
    top: 8px;
    height: 182px;
    width: 182px;
    left: 77%;
  }
}

.voices-and-votes__text-container {
  position: relative;

  @include mq($from: tablet) {
    position: absolute;
    left: 10px;
    top: 6px;
  }

  h1 {
    font-family: $f-serif-headline;
    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
    max-width: 350px;
    color: #5C6268;

    @include mq($from: tablet) {
      font-size: 20px;
      line-height: 20px;
      max-width: 180px;
    }

    @include mq($from: desktop) {
      font-size: 20px;
      line-height: 20px;
      max-width: 220px;
    }

    @include mq($from: wide) {
      margin-bottom: 40px;
      font-size: 36px;
      line-height: 34px;
      max-width: 290px;
    }
  }

  p {
    font-family: $f-serif-headline;
    margin-top: 10px;
    font-size: 15px;
    line-height: 17px;
    max-width: 350px;
    color: #5C6268;

    @include mq($from: tablet) {
      display: none;
    }
    @include mq($from: desktop) {
      display: block;
      max-width: 250px;
    }
  }
}

.voices-and-votes__data-container {
  width: 100%;
  z-index: 0;

  @include mq($from: leftCol) {
    position: absolute;
    bottom: 60px;
  }

  ul {
    margin: 0;
    margin-left: 10px;

    @include mq($from: leftCol) {
      width: 150px;
    }

    @include mq($from: wide) {
      width: 200px;
    }

    li {
      list-style: none;
      margin: 0;
      font-size: 32px;
      line-height: 24px;
      margin-bottom: 12px;
      border-top: 1px solid #c7c7c7;
      font-weight: 200;
      padding-top: 6px;
      letter-spacing: -0.5px;
      color: #5C6268;
      font-family: $f-serif-headline;

      &:first-child{
        font-family: $f-sans-serif-text;
        font-size: 16px;
        line-height: 16px;
      }

      span {
        display: block;
        font-family: $f-sans-serif-text;
        font-size: 16px;

        &.con {
          color: #1a60a9;
        }

        &.lab {
          color: #e42729;
        }

        &.snp {
          color: rgb(250, 184, 23);
        }
      }
    }
  }

  .voices-and-votes__data-label {
    margin-left: 10px;
    font-family: $f-serif-headline;
    font-size: 22px;
    line-height: 24px;
    color: #5C6268;
    margin-bottom: 18px;
    font-weight: 900;
  }
}

.fc-item__container {
    z-index: 10;
}
