// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

@include keyframes(fade) {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.football-stadia__wrapper {
    width: 100%;
    @include flex-display();
    @include flex();

    .fc-item__image-container {
        background-image: url('//interactive.guim.co.uk/thrashers/football-stadia/source/anfield--old.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        .responsive-img {
            opacity: 1 !important;
            @include animation(fade 15s ease-in-out infinite);
        }
    }
}
