// Default breakpoints from Frontend
$mq-breakpoints: (
  mobile: 320px,
  mobileMedium: 360px,
  mobileLandscape: 480px,
  phablet: 660px,
  tablet: 740px,
  desktop: 980px,
  leftCol: 1140px,
  wide: 1300px
);
@import 'shared/_imports';

#million-thrasher {
  &.fc-container--thrasher,
  .facia-snap,
  .fc-container__inner,
  .fc-slice {
    background-color: #42AAE1;
    overflow: hidden;
    // overflow-y: visible !important;
    // overflow-x: hidden !important;
  }
}

.million-thrasher__wrapper {
  width: 100%;
}

#million-thrasher,
#million-wrap {
  .playing & {
    animation: backgroundChange 1s ease-in-out 3s forwards;
  }
}

#million-thrasher {
  // background: #FFE500;
  background: #42AAE1;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#million-wrap-thanks {
  height: 500px;
}

#million-wrap-sell {
  height: 500px;

  @include mc(tablet) {
    height: 450px;
  }
}

#million-wrap-sell,
#million-wrap-thanks {
  width: 100%;
  // background: #FFE500;
  background: #42AAE1;

  h2 {
    font-size: 50px;
    font-family: "Guardian Titlepiece";
    line-height: 0.9;

    @include mc(mobileMedium) {
      font-size: 60px;
    }

    @include mc(tablet) {
      font-size: 70px;
    }

    @include mc(desktop) {
      font-size: 90px;
    }
  }

  .roundel {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 50px;
    transform: scale(0.7);
    transform-origin: top right;

    @include mc(mobileLandscape) {
      right: 20px;
      transform: scale(0.9);
    }

    @include mc(tablet) {
      transform: scale(1);
    }

    @include mc(leftCol) {
      left: 20px;
    }
  }

  .copy {
    margin-left: 260px;
  }

  .type-one,
  .type-three,
  .type-two,
  .type-four {
    position: absolute;
    top: 0;
    left: 10px;
    opacity: 0;
    z-index: 9;

    @include mc(mobileLandscape) {
        left: 20px;
    }

    @include mc(leftCol) {
        left: 180px;
    }

    @include mc(wide) {
        left: 260px;
    }
  }

  .type-one {
    max-width: 315px;
    opacity: 1;

    @include mc(tablet) {
      max-width: 600px;
    }
    .playing & {
        // animation: headlineAnimate 4s ease-in-out forwards;
    }

  }

  .type-two {
    max-width: 700px;
    .playing & {
      // animation: headlineAnimate 4s ease-in-out 4s forwards;
    }

  }

  .type-three {
    max-width: 700px;
    .playing & {
      // animation: headlineAnimate 4s ease-in-out 8s forwards;
    }
  }

  .type-four {
    max-width: 700px;
    .playing & {
      // animation: headlineAnimateHold 4s ease-in-out 12s forwards;
    }
  }


  .cta,
  .pitch {
    position: absolute;
  }

  .pitch {
    width: 90%;
    left: 10px;
    font-size: 15px;
    line-height: 21px;
    font-family: $f-serif-headline;
    z-index: 8;
    bottom: 60px;

    a {
      text-decoration: underline;

      &:after {
        content: url('@@assetPath@@/arrow.svg');
        width: 16px;
        position: relative;
        top: 3px;
        left: 6px;
        padding: 3px 4px 1px;
        border: solid 1px #121212;
        border-radius: 100px;
      }

      &:hover {
        transform: color .1s;
        color: rgba(0, 0, 0, 0.7)!important;
        &:after {
          transition: margin-left .1s;
          margin-left: 3px;
        }
      }
    }
    @include mc(mobileLandscape) {
        left: 20px;
        width: 415px;
        font-size: 16px;
        line-height: 22px;
    }

    @include mc(tablet) {
        width: 415px;
    }

    @include mc(desktop) {
      width: 530px;
      bottom: 16px;
    }

    @include mc(leftCol) {
        left: 180px;
    }

    @include mc(wide) {
        left: 260px;
    }
  }

  .cta {
    left: 10px;
    font-family: $f-sans-serif-text;
    font-size: 14px;
    font-weight: bold;
    bottom: 16px;

    @include mc(mobileLandscape) {
      left: 20px;
    }

    @include mc(desktop) {
      left: auto;
      right: 20px;
    }

    @include mc(wide) {
      right: 100px;
    }

    a {
      background: #fff;
      padding: 8px 18px;
      border-radius: 100px;
      display: inline-block;

      &:after {
        content: url('@@assetPath@@/arrow.svg');
        width: 16px;
        position: relative;
        top: 3px;
        left: 6px;
      }

      &:hover {
        text-decoration: none;
        transition: background-color .3s ease-in-out;
        background-color: #E5E5E5;

        &:after {
          transition: left .1s;
          left: 8px;
        }
      }
    }

    .subscibe {
      background: #FFE500;
      margin-right: 5px;

      &:hover {
        transition: background-color .3s ease-in-out;
        background-color: #E5CD00;
      }
    }
  }

  .yellow {
    color: #FFE500;
  }

  .white {
    color: #FFFFFF;
  }

  .dots {
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    z-index: 5;
    .playing & {
      animation: hideGif 1s ease-in-out 7s forwards;
    }
  }
}

@keyframes headlineAnimate {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes headlineAnimateHold {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes hideGif {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundChange
   {
     0%   {background: #42AAE1;}
     100%  {background: #FFE500;}
     100%  {background: #42AAE1;}
   }

@font-face {
  font-family: "Guardian Titlepiece";
  src: url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
