// Default breakpoints from Frontend
$mq-breakpoints: (
  mobile: 320px,
  mobileMedium: 360px,
  mobileLandscape: 480px,
  phablet: 670px,
  tablet: 740px,
  desktop: 980px,
  leftCol: 1140px,
  wide: 1300px
);

@import 'shared/_imports';

#million-thrasher {
  &.fc-container--thrasher,
  .facia-snap,
  .fc-container__inner,
  .fc-slice {
    background-color: #42AAE1;
    overflow: hidden;
    
    @include mc(tablet) {
      background-color: #f4f4f4;
    }
  }
}

.million-thrasher__wrapper {
  width: 100%;
}

#million-thrasher {
  background: #42AAE1;
}

#million-wrap-thanks,
#million-wrap-sell {
  height: 550px;
  .aus & {
    height: 590px;
  }

  @include mc(phablet) {
    height: 430px;
    .aus & {
      height: 478px;
    }
  }
}

#million-wrap-sell,
#million-wrap-thanks {
  width: 100%;
  background: #42AAE1;

  h2 {
    font-size: 43px;
    font-family: "Guardian Titlepiece";
    line-height: 0.9;

    @include mc(mobileMedium) {
      font-size: 50px;
    }

    @include mc(mobileLandscape) {
      font-size: 60px;
    }

    @include mc(tablet) {
      font-size: 70px;
    }

    @include mc(desktop) {
      font-size: 90px;
    }
  }

  .roundel {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 50px;
    transform: scale(0.6);
    transform-origin: top right;
    z-index: 7;

    @include mc(mobileLandscape) {
      right: 20px;
      transform: scale(0.8);
    }

    @include mc(tablet) {
      transform: scale(1);
    }

    @include mc(leftCol) {
      left: 20px;
    }
  }

  .copy {
    margin-left: 260px;
  }

  .type-one,
  .type-three,
  .type-two,
  .type-four {
    position: absolute;
    margin-top: 3px;
    left: 10px;
    opacity: 0;
    z-index: 9;

    @include mc(mobileLandscape) {
        left: 20px;
    }

    @include mc(leftCol) {
        left: 180px;
    }

    @include mc(wide) {
        left: 260px;
    }
  }

  .type-one {
    max-width: 250px;

    @include mc(mobileMedium) {
      max-width: 315px;
    }

    @include mc(tablet) {
      max-width: 480px;
    }

    @include mc(desktop) {
      max-width: 600px;
    }

    .playing & {
      webkit-animation: headlineAnimate 3s ease-in-out forwards;
      -moz-animation: headlineAnimate 3s ease-in-out forwards;
      -o-animation: headlineAnimate 3s ease-in-out forwards;
      animation: headlineAnimate 3s ease-in-out forwards;
    }
  }

  .type-one__thanks {
    max-width: 300px;

    @include mc(mobileMedium) {
      max-width: 350px;
    }

    @include mc(mobileLandscape) {
      max-width: 430px;
    }

    @include mc(tablet) {
      max-width: 500px;
    }

    @include mc(desktop) {
      max-width: 600px;
    }

  }

  .type-two {
    max-width: 280px;

    @include mc(mobileMedium) {
      max-width: 330px;
    }

    @include mc(mobileLandscape) {
      max-width: 400px;
    }

    @include mc(tablet) {
      max-width: 450px;
    }

    @include mc(desktop) {
      max-width: 540px;
    }

    .playing & {
      webkit-animation: headlineAnimate 3s ease-in-out 3s forwards;
      -moz-animation: headlineAnimate 3s ease-in-out 3s forwards;
      -o-animation: headlineAnimate 3s ease-in-out 3s forwards;
      animation: headlineAnimate 3s ease-in-out 3s forwards;
    }

  }

  .type-three {
    max-width: 315px;

    @include mc(tablet) {
      max-width: 500px;
    }

    @include mc(desktop) {
      max-width: 700px;
    }

    .playing & {
      webkit-animation: headlineAnimate 3s ease-in-out 6s forwards;
      -moz-animation: headlineAnimate 3s ease-in-out 6s forwards;
      -o-animation: headlineAnimate 3s ease-in-out 6s forwards;
      animation: headlineAnimate 3s ease-in-out 6s forwards;
    }
  }

  .type-three__thanks {
    max-width: 213px;

    @include mc(mobileMedium) {
      max-width: 248px;
    }

    @include mc(mobileLandscape) {
      max-width: 410px;
    }

    @include mc(tablet) {
      max-width: 500px;
    }

    @include mc(desktop) {
      max-width: 700px;
    }
  }

  .type-four {
    max-width: 315px;

    @include mc(mobileLandscape) {
      max-width: 400px;
    }

    @include mc(tablet) {
      max-width: 480px;
    }

    @include mc(desktop) {
      max-width: 700px;
    }

    .playing & {
      webkit-animation: headlineAnimateHold 3s ease-in-out 9s forwards;
      -moz-animation: headlineAnimateHold 3s ease-in-out 9s forwards;
      -o-animation: headlineAnimateHold 3s ease-in-out 9s forwards;
      animation: headlineAnimateHold 3s ease-in-out 9s forwards;
    }
  }

  .background-mobile {
    background: #42AAE1;
    border-top: solid 1px #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;

    height: 240px;
    .aus & {
      height: 262px;
    }


    @include mc(mobileMedium) {
      height: 220px;
      .aus & {
        height: 250px;
      }
    }

    @include mc(mobileLandscape) {
      height: 203px;
    }

    @include mc(phablet) {
      display: none;
    }
  }


  .cta,
  .pitch {
    position: absolute;
  }

  .pitch {
    width: 90%;
    left: 10px;
    font-size: 15px;
    line-height: 21px;
    font-family: $f-serif-headline;
    z-index: 8;
    bottom: 60px;

    a {
      text-decoration: underline;

      &:after {
        @include mc(desktop) {
          content: url('@@assetPath@@/arrow.svg');
          width: 16px;
          height: 20px; // needs to be 20 for a perfect circle
          position: absolute;
          // top: 3px;
          // left: 6px;
          padding: 3px 4px 1px;
          border: solid 1px #121212;
          border-radius: 100px;
          margin-left: 5px;
          transition: margin-left .1s;
        }
      }

      &:hover {
        transform: color .1s;
        color: rgba(0, 0, 0, 0.7)!important;
        &:after {
          margin-left: 8px;
        }
      }
    }
    @include mc(mobileLandscape) {
        left: 20px;
        width: 415px;
        font-size: 16px;
        line-height: 22px;
    }

    @include mc(tablet) {
        width: 415px;
    }

    @include mc(desktop) {
      width: 475px;
      bottom: 16px;
      bottom: 10px;
    }

    @include mc(leftCol) {
        left: 180px;
    }

    @include mc(wide) {
        left: 260px;
    }
  }

  .pitch-potential {
    @include mc(desktop) {
      width: 490px;
    }
  }

  .cta {
    left: 10px;
    font-family: $f-sans-serif-text;
    font-size: 14px;
    font-weight: bold;
    bottom: 16px;
    z-index: 8;

    @include mc(mobileLandscape) {
      left: 20px;
    }

    @include mc(desktop) {
      left: auto;
      right: 20px;
    }

    @include mc(wide) {
      right: 100px;
    }

    a {
      background: #fff;
      padding: 8px 18px;
      border-radius: 100px;
      display: inline-block;

      &:after {
        content: url('@@assetPath@@/arrow.svg');
        width: 16px;
        position: relative;
        top: 3px;
        left: 6px;
      }

      &:hover {
        text-decoration: none;
        transition: background-color .1s ease-in-out;
        background-color: #E5E5E5;

        &:after {
          transition: left .1s;
          left: 8px;
        }
      }
    }

    .subscibe {
      background: #FFE500;
      margin-right: 5px;

      &:hover {
        transition: background-color .1s ease-in-out;
        background-color: #E5CD00;
      }
    }
  }

  .yellow {
    color: #FFE500;
  }

  .white {
    color: #FFFFFF;
  }

  .dots {
    position: absolute;
    width: 600px;
    z-index: 4;
    left: 10px;
    transform: rotate(180deg);
    width: 400px;
    opacity: 1;
    .playing & {
      webkit-animation: hideGif .5s ease-in-out 8.5s forwards;
      -moz-animation: hideGif .5s ease-in-out 8.5s forwards;
      -o-animation: hideGif .5s ease-in-out 8.5s forwards;
      animation: hideGif .5s ease-in-out 8.5s forwards;
    }

    bottom: 210px;
    .aus & {
      bottom: 248px;
    }

    @include mc(mobileMedium) {
      bottom: 160px;
      .aus & {
        bottom: 196px;
      }
      width: 500px;
    }

    @include mc(mobileLandscape) {
      left: 30px;
      bottom: 135px;
      width: 520px;
    }

    @include mc(phablet) {
      top: 0;
      bottom: auto;
      left: auto;
      right: -155px;
      transform: rotate(0);
      width: 600px;
    }

    @include mc(desktop) {
      top: 0;
      bottom: auto;
      right: 0;
      transform: rotate(0);
      width: 530px;
    }

    @include mc(leftCol) {
      width: 550px;
    }

    @include mc(wide) {
      width: 600px;
    }
  }
}

.dot-world {
  width: 500px;
  height: 500px;
  background-color: #FFE500;
  border-radius: 100%;
  position: absolute;
  z-index: 4;
  transform-origin: center;
  opacity: 0;
  width: 100%;
  height: auto;
  padding-top: 100%;
  bottom: -10px;
  left: 0;
  .playing & {
    webkit-animation: scaleWorldInverse 1.5s ease 9s forwards;
    -moz-animation: scaleWorldInverse 1.5s ease 9s forwards;
    -o-animation: scaleWorldInverse 1.5s ease 9s forwards;
    animation: scaleWorldInverse 1.5s ease 9s forwards;
  }

  @include mc(mobileMedium) {
    width: 375px;
    height: 375px;
    padding-top: 0;
    left: 0;
  }

  @include mc(phablet) {
    width: 450px;
    height: 450px;
    left: auto;
    top: auto;
    top: -225px;
    right: -180px;
    .playing & {
      webkit-animation: scaleWorld 1.5s ease 9s forwards;
      -moz-animation: scaleWorld 1.5s ease 9s forwards;
      -o-animation: scaleWorld 1.5s ease 9s forwards;
      animation: scaleWorld 1.5s ease 9s forwards;
    }
  }

  @include mc(desktop) {
    top: -230px;
    width: 460px;
    height: 460px;
    right: -50px;
  }

  @include mc(leftCol) {
    top: -225px;
    width: 450px;
    height: 450px;
  }

  @include mc(wide) {
    top: -250px;
    width: 500px;
    height: 500px;
  }
}

.hide {
  display: none!important;
}

.show {
  display: block!important;
}

// •••••••••• HEADLINE ANIMATION ••••••••••

@-webkit-keyframes headlineAnimate {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@-moz-keyframes headlineAnimate {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@-o-keyframes headlineAnimate {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes headlineAnimate {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@-webkit-keyframes headlineAnimateHold {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-moz-keyframes headlineAnimateHold {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-o-keyframes headlineAnimateHold {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes headlineAnimateHold {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

// •••••••••• HIDE GIF ANIMATION ••••••••••

@-webkit-keyframes hideGif {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes hideGif {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes hideGif {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideGif {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// •••••••••• WORLD ANIMATION ••••••••••

@-webkit-keyframes scaleWorld {
  0% {
    opacity: 0;
    top: -500px;
  }

  3% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: -180px;
  }
}

@-moz-keyframes scaleWorld {
  0% {
    opacity: 0;
    top: -500px;
  }

  3% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: -180px;
  }
}

@-o-keyframes scaleWorld {
  0% {
    opacity: 0;
    top: -500px;
  }

  3% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: -180px;
  }
}

@keyframes scaleWorld {
  0% {
    opacity: 0;
    top: -500px;
  }

  3% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: -180px;
  }
}

@-webkit-keyframes scaleWorldInverse {
  0% {
    opacity: 0;
    bottom: -300px;
  }

  3% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: -10px;
    }
}

@-moz-keyframes scaleWorldInverse {
  0% {
    opacity: 0;
    bottom: -300px;
  }

  3% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: -10px;
    }
}

@-o-keyframes scaleWorldInverse {
  0% {
    opacity: 0;
    bottom: -300px;
  }

  3% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: -10px;
    }
}

@keyframes scaleWorldInverse {
  0% {
    opacity: 0;
    bottom: -300px;
  }

  3% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: -10px;
    }
}

@font-face {
  font-family: "Guardian Titlepiece";
  src: url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
