// Default breakpoints from Frontend
$mq-breakpoints: (
  mobile: 320px,
  mobileMedium: 360px,
  mobileLandscape: 480px,
  phablet: 660px,
  tablet: 740px,
  desktop: 980px,
  leftCol: 1140px,
  wide: 1300px
);
@import 'shared/_imports';

.million-thrasher__wrapper {
  width: 100%;
}

#million-thrasher,
#million-wrap {
  .playing & {
    animation: backgroundChange 1s ease-in-out 3s forwards;
  }
}

#million-thrasher {
  // background: #FFE500;
  background: #42AAE1;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#million-wrap-thanks {
  height: 500px;
}

#million-wrap-sell {
  height: 450px;
}

#million-wrap-sell,
#million-wrap-thanks {
  width: 100%;
  // background: #FFE500;
  background: #42AAE1;

  h2 {
    font-size: 90px;
    font-family: "Guardian Titlepiece";
    line-height: 0.9;
  }

  .roundel {
    position: absolute;
    left: 20px;
    top: 6px;
    width: 50px;
  }

  .copy {
    margin-left: 260px;
  }

  .type-one,
  .type-three,
  .type-two,
  .type-four {
    position: absolute;
    top: 0;
    left: 10px;
    opacity: 0;
    z-index: 9;
    @include mc(mobileLandscape) {
        left: 20px;
    }

    @include mc(leftCol) {
        left: 180px;
    }

    @include mc(wide) {
        left: 260px;
    }
  }

  .type-one {
    max-width: 600px;
    .playing & {
        animation: headlineAnimate 4s ease-in-out forwards;
    }

  }

  .type-two {
    max-width: 700px;
    .playing & {
      animation: headlineAnimate 4s ease-in-out 4s forwards;
    }

  }

  .type-three {
    max-width: 700px;
    .playing & {
      animation: headlineAnimate 4s ease-in-out 8s forwards;
    }
  }

  .type-four {
    max-width: 700px;
    .playing & {
      animation: headlineAnimateHold 4s ease-in-out 12s forwards;
    }
  }


  .cta,
  .pitch {
    position: absolute;
    bottom: 16px;
  }

  .pitch {
    width: 530px;
    left: 10px;
    font-size: 16px;
    line-height: 22px;
    font-family: $f-serif-headline;
    z-index: 8;
    @include mc(mobileLandscape) {
        left: 20px;
    }

    @include mc(leftCol) {
        left: 180px;
    }

    @include mc(wide) {
        left: 260px;
    }
  }

  .cta {
    right: 100px;
    font-family: $f-sans-serif-text;
    font-size: 14px;
    font-weight: bold;

    span {
      background: #fff;
      padding: 8px 18px;
      border-radius: 100px;
      display: inline-block;

      &:after {
        content: url('@@assetPath@@/arrow.svg');
        width: 16px;
        position: relative;
        top: 3px;
        left: 6px;
      }
    }

    .subscibe {
      background: #FFE500;
      margin-right: 5px;
    }
  }

  .yellow {
    color: #FFE500;
  }

  .white {
    color: #FFFFFF;
  }

  .dots {
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    z-index: 5;
    .playing & {
      animation: hideGif 1s ease-in-out 7s forwards;
    }
  }
}

@keyframes headlineAnimate {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes headlineAnimateHold {
  0% {
    top: 40px;
    opacity: 0;
  }

  15%,
  85% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes hideGif {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundChange
   {
     0%   {background: #42AAE1;}
     100%  {background: #FFE500;}
     100%  {background: #42AAE1;}
   }

// @mixin overflow-visible($container-name) {
//   ##{$container-name} {
//     &.fc-container--thrasher,
//     .facia-snap,
//     .fc-container__inner,
//     .fc-slice {
//       overflow: visible;
//       // overflow-y: visible !important;
//       // overflow-x: hidden !important;
//     }
//   }
// }
// @include overflow-visible(nhs-header);
@font-face {
  font-family: "Guardian Titlepiece";
  src: url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
