// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

section#general-election-countdown {
    position: relative;
    background-color: #e0e4e8;
    padding: 0 !important;
    overflow: hidden;
    margin-bottom: -1px!important;

    margin-top:-30px;

    @include mc(desktop) {
        margin-top: 0;
    }


    @include mc(mobileLandscape) {
        overflow: visible;
    }

    .fc-container__inner,
    .fc-slice,
    .facia-snap {
        overflow: visible;
    }

    .facia-snap {
        padding: 0;
    }
}

.general-election-countdown {
    background-color:#e0e4e8;
    width:100%;
    // height:200px;
    height:345px;
    color:#121212;

    position: relative;

    box-sizing:border-box;
    // border-left:1px solid rgba(118,118,118,0.3);
    // border-right:1px solid rgba(118,118,118,0.3);

    @include mc(mobileMedium) {
        // height:145px;
        height:230px;
    }
    @include mc(mobileLandscape) {
        // height:110px;
        height:125px;
    }
    @include mc(phablet) {
        height:125px;
    }
    @include mc(tablet) {
        width: 740px;
        margin-top: -4px;
        border-left:1px solid rgba(118,118,118,0.3);
        border-right:1px solid rgba(118,118,118,0.3);
        // height:125px;
        height:130px;
    }
    @include mc(desktop) {
        width:980px;
        // height:105px;
        height:128px;
    }
    @include mc(leftCol) {
        width:1140px;
        // height:80px;
        height:136px;
    }
    @include mc(wide) {
        width:1300px;
        height:140px;
    }

    .general-election-countdown__headline {
      overflow: hidden;
      width: 100%;
      margin-bottom: 20px;
    }

    .exit {
      float: none;
      display: block;
      margin-bottom: 6px;

      @include mq($from: desktop) {
        margin-bottom: 20px;
      }
    }

    .poll {
      float: left;
      margin-right: 10px;
      border-right: 1px solid #a0a0a0;
      padding-right: 10px;
      margin-bottom: 10px;
      strong {
        display: block;
      }

      &.con {
        color: #005689;
      }

      &.lab {
        color: #c70000;
      }

      &.lib {
        color: #e05e00;
      }

      &.pc {
        color: #69d1ca;
      }

      &.snp {
        color: #ffbb50;
      }

      &.green {
        color: #3db540;
      }

      &.brx {
        color: #00b2ff;
      }

      &.oth {
        color: #767676;
      }

      @include mq($from: desktop) {
        margin-right: 20px;
        padding-right: 20px;
      }
    }


    &__headline {
        &:before {
            content: '';
            visibility: hidden;
            display: none;
            position: absolute;
            top: -12px;
            bottom: 0;
            width: 1px;
            background-color: #929698;
            margin-left: -11px;
            @include mc(desktop) {
                visibility: visible;
                display:block;
            }
        }


        font-family:"Guardian Egyptian Web",Georgia,serif;
        font-size: 28px;
        font-weight:300;
        line-height:115%;
        color:#121212;

        // width:70%;
        width:80%;
        margin-left:10px;
        margin-top:4px;

        @include mc(mobileMedium) {
            width:90%;
        }
        @include mc(mobileLandscape) {
            // width:47%;
            width:53%;
            margin-left:20px;
        }
        @include mc(phablet) {
            width: 72%;
            font-size:27px;
        }
        @include mc(tablet){
            width:65%;
        }
        @include mc(desktop) {
            font-size:30px;
            width:66%;
            margin-left:260px;
            margin-top: -24px;
        }
        @include mc(leftCol) {
            width:80%;
            margin-left: 180px;
        }
        @include mc(wide) {
            margin-left: 260px;
        }

    }

    &__link {
        display:inline-flex;
        margin-left:10px;
        margin-top: 4px;
        color:#121212;

        font-family:"Guardian Egyptian Web",Georgia,serif;
        // font-size:22px;
        font-weight:700;
        line-height:115%;
        svg {
            fill:white;
            background-color:#121212;
            border-radius: 50%;
            padding:7px 6px;
            transform:scale(0.5);
            margin-top: -8px;
            margin-left: -4px;
            @include mc(phablet) {
                transform: scale(.6);
                margin-top: -6px;
                margin-left: -2px;
            }
        }
        @include mc(mobileLandscape) {
            margin-left:20px;
        }
        @include mc(phablet) {
            font-size:20px;
        }
        @include mc(desktop) {
            margin-left:260px;
        }
        @include mc(leftCol) {
            margin-left:180px;
        }
        @include mc(wide) {
            margin-left: 260px;
        }
    }

    &__cat {
        position:absolute;
        bottom:0;
        right:10px;
        height:140px;
        svg {
            bottom:-5px;
            height:160px;
            @include mc(mobileMedium){
                height:164px;
            }
            @include mc(mobileLandscape){
                height:149px;
            }
            @include mc(desktop){
                height:149px;
            }
            @include mc(leftCol){
                height:124px;
            }
            @include mc(wide){
                height: 168px;
            }
        }
        @include mc(mobileMedium){
            right:20px;
            height:143px;
        }
        @include mc(mobileLandscape){
            right:3px;
            height:123px;
        }
        @include mc(tablet){
            right:11px;
        }
        @include mc(desktop){
            right:none;
            left:15px;
            height:123px;
        }
        @include mc(leftCol){
            left:-15px;
            height:103px;
        }
        @include mc(wide){
            left: 25px;
            height: 140px;
        }
    }



    &__people {
        position:absolute;
        width:auto;
        height: 100px;
        bottom:-5px;
        right:10px;
        justify-content:bottom;
        svg {
            height:100%;
            width:auto;
            margin-left:-10px;
        }
        @include mc(mobileMedium) {
            bottom:-10px;
            right:-4px;
        }
        @include mc(mobileLandscape) {
            bottom:0;
        }
        @include mc(phablet) {
            height: 115px;
            right:10px;
        }
        @include mc(tablet) {
            right:20px;
            height:95px;
        }
        @include mc(desktop) {
            right:unset;
            left:0px;
            transform:scaleX(-1);
            height: 95px;
            margin-left:20px;
            overflow:visible;
        }
        @include mc(leftCol) {
            height:80px;
            right:unset;
            left: -10px;
        }
        @include mc(wide) {
            height:109px;
        }

    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        // IE10+ CSS here
        &__people {
            visibility: hidden;
        }

    }
}

.larrys_paw {
    transform-origin:left;
    @keyframes rotation {
        15% {
            transform: rotate(0deg);
        }
        30% {
            transform: rotate(6.5deg);
        }
        60%{
            transform: rotate(6.5deg);
        }
        85% {
            transform: rotate(0deg);
        }
    }
}

.red-voting-box {
    margin-bottom:-5px;
}

.general-election-countdown__cat {
  display: none;

  @include mq($from: tablet) {
    display: block;
  }
}
