// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    375px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$comment-support-4: #e6711b;

$gs-baseline: 12px;


@import 'shared/_imports';

#opinionemail {
  .tone-news--item.fc-item {
    border-top: 1px solid #46bcdf;
    background-color: #ffffff;
    padding-top: $gs-baseline;
  }
}

#opinionemail.fc-container--thrasher {
  background-color: transparent;
}

#opinion-email {

  .opinion-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;

    &:hover {
      .cta__button {
           background-color: darken($comment-support-4, 10%);
           border-color: darken($comment-support-4, 10%);
           color: #ffffff;

           svg {
             fill: #ffffff;
           }
         }
      }


    .cta__button {
      position: absolute;
      left: 18px;
      bottom: 8px;
      background-color: $comment-support-4;
      border-color: $comment-support-4;
      color: inherit;
      height: 36px;
      font-size: 14px;
      line-height: 40px;
      display: block;
      width: 120px;
      color: #ffffff;
      padding-left: 16px;
      padding-right: 8px;

      @include mq($from: tablet) {
        height: 40px;
        width: 160px;
        bottom: $gs-baseline;
        left: 26px;
      }

      .arrow-icon {
        height: auto;
        width: auto;
        float: right;
        padding-top: 3px;
        fill: #ffffff;
      }
    }
  }

  .container {
    position: relative;
    height: 300px;
    border-top: 1px solid $comment-support-4;
    overflow: hidden;

    @include mq($from: phablet) {
      height: 270px;
    }

    @include mq($from: tablet) {
      margin-left: 20px;
      width: 698px;
    }

    @include mq($from: desktop) {
      width: 940px;
    }

    @include mq($from: leftCol) {
      width: 1100px;
    }

    @include mq($from: wide) {
      width: 1180px;
    }

    .video {
      video {
        position: absolute;
        max-height: 180px;
        left: -280px;
        top: -10px;

        @include mq($from: mobileMedium) {
          left: -252px;
        }

        @include mq($from: mobileLandscape) {
          left: -148px;
        }

        @include mq($from: phablet) {
          top: 0px;
          max-height: 270px;
          left: -60px;
        }

        @include mq($from: tablet) {
          left: 0px;
        }

        @include mq($from: desktop){
          max-height: 100%;
        }
      }
    }

    &__image {
      height: 300px;
      width: 100%;
      // background-image: url('@@assetPath@@/trump.jpg');
      // http://media.guim.co.uk/1dbe79ce1bb6e4b5d9adfe4029a907da1457bc33/0_0_3858_2315/2000.jpg
      background-image: url('@@assetPath@@/opinion-email-mobile.svg');
      position: absolute;
      z-index: -10;
      background-color: #1d265d;
      background-repeat: no-repeat;

      background-size: 1080px;
      background-position: -368px -10px;


      @include mq($from: phablet) {
        height: 270px;
        background-size: 1600px;
        background-position: -380px -10px;
      }

      @include mq($from: tablet) {
        background-image: url('@@assetPath@@/opinion-email.svg');
        background-position: -148px 0px;

      }

      @include mq($from: desktop){
        background-size: 1600px;
        background-position: -148px 0px;
      }
    }
  }

  .guardian__roundel {
    right: 18px;
    top: 18px;
    position: absolute;
    display: block;
    z-index: 100;
    opacity: 0.8;

    @include mq($from: tablet){
      right: 30px;
    }

    @include mq($from: wide) {
      right: 106px;
    }
  }

  .logo {
    position: absolute;
    bottom: 86px;
    left: 18px;

    @include mq($from: phablet) {
      top: 18px;
    }

    @include mq($from: tablet) {
        top: 24px;
        left: 26px;

        svg {
          height: 38px;
          width: 321px;
        }
    }

  }


  .text {
    color: #ffffff;

    .mobile-heading {
      @include mq($from: tablet) {
        display: none;
      }

    }

    &__intro {
      @include fs-header(2);
      font-size: 16px;
      line-height: 18px;
      position: absolute;
      bottom: 56px;
      left: 18px;
      width: 60%;

      @include mq($from: mobileLandscape) {
        max-width: 38%;
      }

      @include mq($from: phablet) {
        top: 54px;
        max-width: 220px;
      }

      @include mq($from: tablet) {
          @include fs-header(3);
          top: 60px;
          left: 26px;
          width: 80%;
          min-width: 240px;
          max-width: 750px;
      }
    }

    &__paragraph {
      @include fs-bodyCopy(2);
      position: absolute;
      top: 92px;
      left: $gs-baseline;
      width: 80%;
      min-width: 240px;
      max-width: 360px;
      display: none;

      @include mq($from: tablet) {
        display: block;
        left: 26px;
        width: 22%;
      }
    }
  }
}
