// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

#weekly-anniversary {
    background-color: #001522;
	color: #fff;
	overflow: hidden;
	z-index: 5;

	& * {
		box-sizing: border-box;
	}
	
	&.fc-container--thrasher,
	.weekly-100__wrapper {
		background-color: #001522;
		overflow: hidden;
	} 
	
	.weekly-100__wrapper {
		width: 100%;
	}

    .fc-container__inner,
    .fc-slice,
    .facia-snap {
        overflow: visible;
	}

	.fc-container__inner {
		padding-right: 0;
	}

    .facia-snap {
        padding: 0;
	}
	
	.fc-container--thrasher {
		background-color: #001522;
	}

    @include mq(phablet) {
		min-height: 180px;
		
		.weekly-100__wrapper {
			width: 100%;
			min-height: 180px;
		}
    }
}

.weekly-100 {
    background-color: #001522;
	color: #fff;
	padding: 0.375rem 0.625rem 0;
	width: 100%;

	@include mq(phablet) {
		min-height: 180px;
		padding: 0.375rem 0 1.125rem 1.25rem;
	}
	
	@include mq(tablet) {
		padding-left: 0;
	}
	
	@include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

.weekly-100__content-inner {
	position: relative;
	z-index: 5;

	p {
		margin-bottom: 1rem;
	}

	@include mq(phablet) {
		max-width: 400px;
	}
	
	@include mq(desktop) {
		max-width: 460px;
	}
}

.weekly-100__title {
	line-height: 1;
	font-size: 1.5em;
    font-weight: 600;
    font-family: "Guardian Egyptian Web",Georgia,serif;
	margin-bottom: 0.75rem;
	
	// @include mq($until: tablet) {
	// 	padding-right: 70px;
	// }

	@include mq(desktop) {
		font-size: 2.125em;
    }
}

.weekly-100__component-button {
	@include component-button(#fff, #000, #00B2FF);

	&:hover {
		color: #fff !important;

		.icon path {
			fill: #fff;
		}
	}
}

.weekly-100__roundel {
	position: absolute;
    bottom: 0.75rem;
	right: 20px;
	
	@include mq(phablet) {
		top: 8px;
		bottom: auto;
	}

}

.weekly-100__img {
	position: relative;
	height: 50vw;
	background: url('@@assetPath@@/weekly-100-mobile.png') no-repeat center bottom;
	background-size: contain;
	min-height: 200px;

	@include mq(phablet) {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: url('@@assetPath@@/weekly-100-desktop.png') no-repeat left;
		background-size: contain;
	}
	
	@include mq($from: phablet, $to: tablet) {
		right: -350px;
	}
	
	@include mq($from: tablet, $to: desktop) {
		right: -350px;
	}

	@include mq(desktop) {
		background: url('@@assetPath@@/weekly-100-desktop.png') no-repeat right;
		background-size: contain;
	}

	@include mq($from: desktop, $until: wide) {	
		right: -50px;
	}
}