// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    400px,
    mobileLandscape: 480px,
    mobileLong:      580px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

section#documentaries {
    background-color: #eeeeee;
}

.xmas-appeal__wrapper {
    position: relative;
    margin: 0 -10px;
    background-color: #eeeeee;
    color: #000000;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    font-size: 21px;
    line-height: 23px;
    font-weight: 300;
    overflow: hidden;
    @include mq(tablet) {
        width: 100%;
        margin: 0;
    }
    @include mq(desktop) {
        font-size: 22px;
        line-height: 24px;
    }
    .background {
        position: relative;
        z-index: 10;
        height: 216px;
        @include mq(phablet) {
          height: 280px;
        }
        @include mq(desktop) {
          //height: 320px;
          height: 280px;
        }
        .image {
            height: 100%;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100px;
                z-index: 11;

                @include mq(mobile) {
                    // height: 100%;
                    // width: 280px;
                    visibility: hidden;
                }

                @include mq(phablet) {
                    height: 100%;
                    width: 480px;
                }
                @include mq(desktop) {
                    width: 620px;
                }
                @include mq(leftCol) {
                    opacity: 0.6;
                    width: 680px;
                }
                @include mq(wide) {
                    width: 820px;
                }
            }
            img,
            video {
                height: 100%;
                width: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                transform: translateX(0);

                @include mq(mobile) {
                  transform: translateX(-44%);
                  // height:90%;
                  // width: auto;
                  top:-10px;
                }

                @include mq(mobileMedium) {
                    transform: translateX(-39%);
                }

                @include mq(mobileLandscape) {
                    transform: translateX(-43%);
                    height: 100%;
                    width: auto;
                    top: 0;
                }

                @include mq(mobileLong) {
                    transform: translateX(-10%);
                }

                @include mq(phablet) {
                    transform: translateX(-16%);
                }

                @include mq(desktop) {
                    transform: translateX(0%);
                }

                @include mq(leftCol) {
                    transform: translateX(20%);
                }
                @include mq(wide) {
                    transform: translateX(22%);
                    //width: 100%;
                    //height: auto;
                }
            }
            img {
                z-index: 11;
            }
            video {
                z-index: 12;
            }
        }
        .docs-logo {
            position: absolute;
            right: 6px;
            top: 4px;
            opacity: 1;
            z-index: 15;
            // svg {
            //     width: 140px;
            //     height: 79px;
            // }
            @include mq(tablet) {
                right: 19px;
            }
            @include mq(desktop) {
                transform-origin: top right;
                transform: scale(1.15);
            }
        }
        .key-logo {
            position: absolute;
            bottom: 5px;
            right: 9px;
            z-index: 80;
            // svg {
            //     width: 140px;
            //     height: 79px;
            // }
            // @include mq(tablet) {
            //     right: 19px;
            // }
            @include mq(desktop) {
                transform-origin: bottom right;
                transform: scale(1.15);
            }
        }
    }
    .foreground {
        position: relative;
        z-index: 10;
        padding: 7px 10px 18px;
        perspective: 1000;

        @include mq(phablet) {
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
        }
        @include mq(tablet) {
            padding: 7px 20px 18px;
        }
        @include mq(leftCol) {
            top: 40px;
            padding-left: 180px;
        }
        @include mq(wide) {
            padding-left: 260px;
        }
        .title {
          font-size: 28px;
          line-height: 30px;
            font-weight: bold;
            color: #ee695c;
            margin-top: 6px;
            padding-bottom: 8px;
            -webkit-animation-name: fade;
            -webkit-animation-duration: .3s;
            -webkit-animation-delay: 0.5s;
            -webkit-animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
            -webkit-animation-fill-mode: both;

            animation-name: fade;
            animation-duration: .3s;
            animation-delay: 0.5s;
            animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
            animation-fill-mode: both;

            .spanstyle{
              color: #000000;
            }
        }

        .strapline {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1s;
          -webkit-animation-delay: 1s;
          -webkit-animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
          -webkit-animation-fill-mode: both;

          animation-name: fade;
          animation-duration: 1s;
          animation-delay: 1s;
          animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
          animation-fill-mode: both;
        }

        .strapline,
        .play {
            color: #000000;
        }
        .strapline {
          font-weight: 100;
          max-width: 70%;

          @include mq(mobile) {
              margin-top: -3px;
              margin-bottom: -7px;
              max-width: 90%;
          }

            @include mq(phablet) {
                margin-top: -3px;
                margin-bottom: -7px;
                max-width: 70%;
            }
            @include mq(desktop) {
                margin-top: 3px;
                margin-bottom: -10px;
            }

            br {
                display: none;
                @include mq(mobile) {
                    display: none;
                }

                @include mq(mobileLandscape) {
                    display: block;
                }

                @include mq(mobileLong) {
                    display: none;
                }

                @include mq(phablet) {
                    display: none;
                }

                @include mq(desktop) {
                    display: none;
                    max-width: 60%;
                }

                @include mq(wide) {
                    display: none;
                    max-width: 60%;
                }
            }
        }
        .play {
            //font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            //font-size: 20px;

            //line-height: 24px;
            font-weight: bold;
            margin-top: 20px;
            margin-left: -2px;
            position: relative;
            // &:after {
            //     cosntent: '';
            //     //width: 42px;
            //     //height: 42px;
            //     //border-radius: 100%;
            //     //background-color: #cccccc;
            //     display: inline-block;
            //     vertical-align: middle;
            //     position: relative;
            //     bottom: 2px;
            //
            // }
            @include mq(desktop) {
                font-size: 22px;
                line-height: 24px;
            }
            img {
              vertical-align: middle;
              padding-left: 6px;
              margin-top: -1px;

            }
            // svg {
            //     position: absolute;
            //
            //     // width: 7px;
            //     // height: 14px;
            //     top: 10px;
            //     left: 12px;
            //     vertical-align: middle;
            // }
        }
    }

    .full-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 15 !important;
        color: transparent;
        &:hover ~ .foreground div,
        &:hover ~ .background {
            opacity: 0.9;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
