// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    360px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';


#caf-support-the-guardian.fc-container--thrasher,
#support-the-guardian.fc-container--thrasher {
  background-color: #eff1f2;
  .fc-item {
    overflow: hidden;
    background-color: #eff1f2;
  }
}

.caf-supporter__wrapper {
  overflow: hidden;
}

.caf-support-the-g {
  padding: 60px 0 40px;
  &__box {
    position: relative;
    z-index: 10;
    border: 2px solid #3F464A;
    background-color: #FFE500;
    max-width: 444px;
    padding: 3px 6px 32px;
    @include mq(tablet) {
      margin-left: 20px;
      max-width: none;
      width: 502px;
    }
    @include mq(desktop) {
      width: 442px;
    }
    @include mq(leftCol) {
      margin-left: 180px;
    }
    @include mq(wide) {
      margin-left: 260px;
    }
    p {
      font-family: 'Guardian Display Egyptian Web', 'Guardian Egyptian Web', serif;
      font-size: 22px;
      line-height: 26px;
      font-weight: bold;
      @include mq(desktop) {
        padding-right: 20px;
      }
    }
    a {
      position: absolute;
      left: 3px;
      margin-right: 5px;
      bottom: -20px;
      background-color: #3F464A;
      display: inline-block;
      line-height: 38px;
      height: 40px;
      border-radius: 20px;
      color: #FFE500;
      padding: 2px 42px 0 19px;
      font-family: 'Guardian Text Sans Web', 'Guardian Sans Web', sans-serif;
      font-size: 16px;
      &:hover {
        background-color: #5D5F5F;
        text-decoration: none;
      }
      &:after {
        content: '';
        position: absolute;
        top: 10px;
        right: 9px;
        background-image: url(https://uploads.guim.co.uk/2018/03/23/y-arrow.svg);
        background-position: right center;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
      }
      @include mq(mobileLandscape) {
        font-size: 18px;
      }
      .dsk {
        display: none;
        @include mq(mobileLandscape) {
          display: inline;
        }
      }
    }
  }
  
  &__background {
    position: absolute;
    z-index: 9;
    top: -12px;
    left: -430px;
    @include mq(tablet) {
      left: -200px;
      top: -7px;
    }
    @include mq(desktop) {
      left: -42px;
      top: 32px;
    }
    @include mq(leftCol) {
      left: 20px;
      top: 30px;
    }
    @include mq(wide) {
      left: 120px;
      top: 30px;
    }
  }
  
}
