// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-black: #333;
$c-yellow: #fb0;
$c-white: #fff;

@include base(this-land-is-your-land, $c-yellow);

#this-land-is-your-land {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
}

.this-land-is-your-land__wrapper {
    display: flex;

    @include mq(desktop) {
        height: 300px;
    }
}

.this-land-is-your-land__content {
    position: relative;
    height: 100%;
    padding: 0 10px;
    flex-shrink: 0;
    box-sizing: border-box;

    @include mq(mobileLandscape) {
        padding: 6px 20px;
    }

    @include mq(desktop) {
        width: 500px;
    }
}

.this-land-is-your-land__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    font-size: 44px;
    line-height: 1.1;
}

.this-land-is-your-land__description {
    font-family: 'Guardian Text Egyptian Web';
    font-size: 16px;
    line-height: 1.4;
}

.this-land-is-your-land__goal {
    position: absolute;
    left: 20px;
    bottom: 56px;
    right: 20px;
}

.this-land-is-your-land__count {
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    font-size: 28px;
    line-height: 1.1;
    color: $c-white;
    display: block;
}

.this-land-is-your-land__count-label {
    font-family: 'Guardian Text Egyptian Web';
    font-size: 16px;
    line-height: 1.4;
    display: block;
}

.this-land-is-your-land__progress {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    margin-top: 6px;
}

.this-land-is-your-land__filled-progress {
    background-color: $c-white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-30%);
}

a.this-land-is-your-land__button {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    border-radius: 16px;
    padding: 5px 32px 4px 12px;
    background-color: $c-black;
    color: $c-yellow;
    display: inline-block;

    @include mq(desktop) {
        position: absolute;
        bottom: 12px;
        left: 20px;
    }

    &:hover {
        text-decoration: none;
    }
}

.this-land-is-your-land__icon {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;

    path {
        fill: $c-yellow;
    }
}

.this-land-is-your-land__image {
    background-image: url('@@assetPath@@/image.jpg');
    background-position: center 20%;
    background-size: cover;
    width: 100%;
}