// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

section#summer-food-special-style {
    display: none;
}

section#summer-food-special {
  .fc-container__inner:after {
    content: '';
    display: block;
    width: 111px;
    height: 214px;
    background-image: url(@@assetPath@@/summer-food.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 12px;
    bottom: 28px;
  }
}
