// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-background: #6bb8ee;
$c-accent: #194377;
$c-text: #FFF;

@include base(generation-y, $c-background);

@include keyframes(fade) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#generation-y {
    padding-top: 0;
}

.generation-y-sponsor__wrapper {
    overflow: auto;
    padding: 12px 10px;
    background: $c-background;
    color: $c-text;
    @include box-sizing(border-box);
}

.generation-y__image {
    width: 100%;

    @include mq(tablet) {
        width: 50%;
        float: left;
    }
}

.generation-y__content {
    @include mq(tablet) {
        width: 50%;
        float: right;
        padding-left: 20px;
        @include box-sizing(border-box);
    }
}

.generation-y__quote {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.3;

    @include mq(tablet) {
        float: left;
        width: 60%;
        font-size: 23px;
        line-height: 1.1;
    }

    @include mq(desktop) {
        font-size: 30px;
    }

    @include mq(leftCol) {
        font-size: 36px;
    }

    @include mq(wide) {
        font-size: 40px;
    }
}

.generation-y__title {
    @include animation-delay(1s);

    @include mq(tablet) {
        display: block;
    }
}

.generation-y__title--1 {
    color: darken($c-accent, 10%);
}

.generation-y__title--2 {
    @include animation-delay(3s);
    color: $c-text;
}

.generation-y__title--3 {
    @include animation-delay(5s);
    color: lighten($c-text, 10%);
}

.generation-y__title--4 {
    @include animation-delay(5s);
    color: lighten($c-text, 20%);
}

.generation-y__title--byline {
    display: block;
    color: $c-text;
    font-weight: normal;
    @include animation-delay(6s);
}

.generation-y__marque {
    position: absolute;
    right: 20px;
    top: 12px;
    display: none;

    @include mq(desktop) {
        display: block;
    }
}

a.generation-y__button {
    display: block;
    color: #fff;
    background-color: $c-accent;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0px 9px 10px 0px;
    line-height: 1.1;
    text-align: center;
    margin-top: 3px;

    @include mq($until: tablet) {
        position: absolute;
        right: 0px;
        top: 2px;
    }

    @include mq(desktop) {
        width: 26px;
        height: 26px;
        padding: 5px 9px 10px 5px;
    }
}

.generation-y__cta {;
    @include animation-delay(8s);
    font-size: 12px;
    padding-top: 2px;
    border-top: 1px solid mix($c-background, $c-text, 80%);
    margin-top: 12px;

    @include mq($until: tablet) {
        position: relative;
    }

    @include mq(tablet) {
        width: 140px;
        float: right;
        border: 0;
        margin: 0;
    }

    @include mq(desktop) {
        width: 140px;
        padding-right: 20px;
        font-size: 14px;
    }

    @include mq(leftCol) {
        padding: 0 20px;
    }
}

.generation-y__label {
    color: $c-text;
    font-family: $f-sans-serif-text;
    font-weight: bold;
    line-height: 1.4;
    display: block;
    padding-right: 36px;
    min-height: 3em;

    @include mq(tablet) {
        padding-right: 15%;
    }

    @include mq(desktop) {
        padding-right: 26%;
    }
}

.generation-y__attribution {
    display: block;
    color: $c-text;
   // color: mix($c-text, $c-background, 80%);
    font-family: $f-sans-serif-text;
    line-height: 1.4;
    height:auto;

    @include mq($until: tablet) {
        margin-top: 12px;
        border-top: 1px dotted mix($c-background, $c-text, 80%);
        padding-top: 2px;
    }

    @include mq(tablet) {
        position: absolute;
        top: 60px;
    }

    @include mq(desktop) {
        position: absolute;
        top: 180px;
    }

    @include mq(leftCol) {
        position: absolute;
        top: 276px;
    }
}

a.generation-y__anchor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5 !important;

    &:hover ~ .generation-y__content .generation-y__button {
        background-color: mix($c-accent, $c-background, 85%);
    }
}

.generation-y-header__logo {
    fill: white;
    width: 80px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 0;

    @include mq(phablet, desktop) {
        left: 20px;
        top: 8px;
        width: 70px;
    }

    @include mq(desktop) {
        left: 0;
        top: auto;
        width: 100px;
        bottom: 12px;
    }
}

.generation-y__label {
    color: $c-text;
    font-family: $f-sans-serif-text;
    font-weight: bold;
    line-height: 1.4;
    display: block;
    padding-right: 36px;
    min-height: 3em;

    @include mq(tablet) {
        padding-right: 15%;
    }

    @include mq(desktop) {
        padding-right: 26%;
    }
}

a.generation-y___sponsor {
    display: block;
    border: 0;
    width: 140px;
    height: 90px;
    padding: 0px;
    margin-top: 3px;

    @include mq($until: tablet) {
        position: absolute;
        right: 0px;
        top: 2px;
    }

    @include mq(desktop) {

    }
}
