// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-title: #fb0;
$c-subtitle: #fff;
$c-names: #999;
$c-background: #333;

@import 'shared/_imports';
@include base(special-report-the-counted, #222);
@include base(the-counted, #222);

.the-counted__wrapper {
  height:180px;
  width:100%;
  background-color: $c-background;
  font-family: $f-serif-headline;

  @include mq(desktop) {
    height:230px;
  }
}



/*
a.the-counted__anchor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20 !important;
}
*/
